<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


  
  <div ng-controller="OrganizationCtrl" ng-cloak >
    <div class="panel panel-primary">
	<div class="panel-heading" translate="researcher_organization.title">	 
	</div>
	<div class="panel-body">
	<p ng-show="error && !error.field" translate="{{error.code || error}}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	<p ng-show="!isMasterUser()" class="alert alert-info" translate="researcher_organization.master_user"></p>
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="editorg()" role="form">
	  <formrow myid="name" label="researcher_organization.name"> 
		<input type="text" class="form-control" id="name" ng-readonly="!isMasterUser()" ng-change="formChange()" name="name" ng-model="org.name" ng-required="true">
		<formerror myid="name" type="exists" message="error.exists.research"></formerror> 
      </formrow>
      <formrow myid="description" label="researcher_organization.description">
        <textarea class="form-control" id="description" ng-readonly="!isMasterUser()" ng-change="formChange()" name="description" rows="5" ng-model="org.description" ng-required="true"></textarea>
      </formrow>
      <formrow myid="x" label="">
        <button type="submit" ng-disabled="!isMasterUser()" class="btn btn-primary" translate="common.submit_btn"></button>
         <span class="text-success" ng-show="saveOk"><span class="fas fa-check"></span> <span translate="common.save_ok"></span></span>
      </formrow>
    </form>	
         
    </div>
    </div>
    
    <div class="panel panel-primary">
	<div class="panel-heading" translate="researcher_organization.researchers">	 
	</div>
	<div class="panel-body">
	  <table class="table table-striped">
	    <tr>
	      <td translate="common.user.firstname" sortby="firstname"></td>
	      <td translate="common.user.lastname" sortby="lastname"></td>
	      <td translate="common.user.email" sortby="email"></td>
	    </tr>
	    <tr ng-repeat="person in persons|orderBy:sortby">
	      <td>{{ person.firstname }}</td>
	      <td>{{ person.lastname }}</td>
	      <td>{{ person.email }}</td>
	    </tr>
	  </table>
	  
	  <button class="btn btn-default" type="button" ng-disabled="!isMasterUser()" ui-sref="research.addresearcher" translate="researcher_navbar.addresearcher"></button>	  
	</div>
	</div>
    
    
  </div>
 