<div ng-controller="ParticipantCtrl" ng-cloak>   
   <div class="panel panel-primary">
   <div class="panel-heading">{{ participation.ownerName }}</div>
   <div class="panel-body">
	
	<p ng-show="error && !error.field" translate="{{error.code}}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	<div>
	<span translate="studyparticipant.participant"></span> {{ participation.ownerName }}<br>
	<span translate="studyparticipant.gender"></span> {{ participation.gender }}<br>
	<span translate="studyparticipant.year"></span> {{ participation.yearOfBirth }}<br>
	<span translate="studyparticipant.country"></span> <span translate="{{ 'enum.country.'+participation.country }}"></span><br>
	</div>
	<div ng-show="member">
	<address>	
	  <strong>{{ member.firstname }} {{ member.lastname }}</strong><br>
	{{ member.address1 }}<br>
	{{ member.address2 }}<br>
	{{ member.zip }} {{ member.city }}<br>
	{{ member.country }}<br>
	  <span ng-show="member.phone"><span translate="common.user.phone"></span>: {{ member.phone }}</span><br>
	  <span ng-show="member.mobile"><span translate="common.user.mobile"></span>: {{ member.mobile }}</span><br>
    </address>		
    </div>
    <p><span translate="studyparticipant.status"></span> <span translate="{{ 'enum.participationstatus.'+participation.pstatus }}"></span></p>
    <p><span translate="studyparticipant.group"></span>{{ participation.group }}</p>
    
    <div class="btn-group">
     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
     </button>
						<ul class="dropdown-menu">
							<li ng-hide="me_menu.length"><a href="javascript:" ng-click="showApp('fhir-observation');" translate="dashboard.observations"></a></li>							
							<li ng-repeat="entry in me_menu"><a href="javascript:" ng-click="showSpace(entry)" translate="{{entry.name}}"></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:" ng-click="addSpace()"  translate="dashboard.install_btn"></a></li>
						</ul>
	</div>
    
    
    </div>
    </div>	
    <div class="panel panel-primary">
	    <div class="panel-heading" translate="studyparticipant.history"></div>
	    <div class="panel-body">
	      <auditlog entity="{{ participation._id }}"></auditlog>
	    </div>	      
    </div>
    
    <div ng-include="'/views/shared/dashboard/dashboard.html'"></div> 
    
    <a ui-sref="research.study.participants" class="btn btn-default" translate="common.back_btn"></a>
</div>
