<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="MemberAddressCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_address.title">Member Address</div>
		<div class="body">		    		           
            <loader busy="status.isBusy !== false">              
              <address>
              {{ member.firstname }} {{ member.lastname }}<br>            
			  {{ member.address1 }}<br>
			  {{ member.address2 }}<br>
			  {{ member.zip }} {{ member.city }}<br>
			  {{ member.country }}<br><br>
			  <span translate="common.user.email"></span>: {{ member.email }}<br>
			  <span translate="common.user.phone"></span>: {{ member.phone }}
			  </address>
			  <div class="extraspace">
			    <a class="btn btn-danger btn-sm" translate="admin_address.change_email_btn" ui-sref="^.changeemail({ userId : member._id })"></a>
			    <a class="btn btn-danger btn-sm" translate="admin_address.change_address_btn" ui-sref="^.changeaddress({ userId : member._id })"></a>
			  </div>
			  <div class="extraspace" ng-show="member.role=='DEVELOPER' || member.role=='ADMIN'">
			     <a href="javascript:" ui-sref="^.yourapps({creator:member.email})" translate="admin_address.show_apps_created"></a>
			  </div>
			  <table class="table table-striped table-bordered">
			  <tr>
			  <td translate="admin_address.midata_id"></td><td>{{ member.midataID }}</td>
			  </tr><tr>
			  <td translate="admin_address.role"></td><td translate="{{ 'enum.userrole.'+ member.role }}"></td>
			  </tr><tr>
			  <td translate="admin_address.subroles"></td><td>
			    <div ng-repeat="subrole in member.subroles" translate="{{ 'enum.subuserrole.'+subrole }}"></div>
			    <button ng-show="(member.role=='PROVIDER' || member.role=='RESEARCH') && member.subroles.indexOf('MASTER') < 0" ng-click="addSubRole('MASTER')" class="btn btn-default btn-sm" translate="admin_address.make_master_btn"></button>
			    <button ng-show="(member.role=='PROVIDER' || member.role=='RESEARCH') && !(member.subroles.indexOf('MASTER') < 0)" ng-click="removeSubRole('MASTER')" class="btn btn-default btn-sm" translate="admin_address.remove_master_btn"></button>
			  </td>
			  </tr><tr ng-show="member.coach">
			  <td translate="registration.coach"></td><td>{{ member.coach }}</td>
			  </tr><tr ng-show="member.reason">
			  <td translate="registration.reason"></td><td>{{ member.reason }}</td>
			  </tr><tr ng-show="member.developer">
			  <td translate="admin_address.developer"></td><td>{{ member.developerName }}</td>
			  </tr><tr>
			  <td translate="admin_address.security"></td><td><span translate="{{ 'admin_address.security_type.'+member.security }}"></span></td>			  
			  </tr><tr>
			  <td translate="admin_address.auth_type"></td><td>
			   <select ng-change="changeUser(member);" ng-model="member.authType" class="form-control" ng-options="authType as ('enum.secondaryauthtype.'+authType)|translate for authType in authTypes"></select>			  
              </td>			  
			  </tr><tr>
			  <td translate="admin_address.status"></td><td><select ng-change="changeUser(member);" ng-model="member.status" class="form-control" ng-options="status as 'enum.userstatus.'+status | translate for status in stati"></select></td>
			  </tr><tr>
			  <td translate="admin_address.agb_status"></td><td><select ng-change="changeUser(member);" ng-model="member.agbStatus" class="form-control" ng-options="status as 'enum.contractstatus.'+status | translate for status in contractStati"></select></td>
			  </tr><tr>
			  <td translate="admin_address.contract_status"></td><td><select ng-change="changeUser(member);" ng-model="member.contractStatus" class="form-control" ng-options="status as 'enum.contractstatus.'+status | translate for status in contractStati"></select></td>
			  </tr><tr>
			  <td translate="admin_address.email_status"></td><td><span translate="{{ 'enum.emailstatus.'+member.emailStatus }}"></span>  <button ng-show="member.emailStatus != 'VALIDATED'" ng-click="confirmEmail(member);" class="btn btn-sm btn-danger" translate="admin_address.email_confirm_btn"></button></td>
			  </tr><tr>
			  <td translate="admin_address.mobile_status"></td><td><span translate="{{ 'enum.emailstatus.'+(member.mobileStatus || 'UNVALIDATED') }}"></span></td>
			  </tr><tr>
			  <td translate="admin_address.marketing_email"></td><td><span translate="{{ 'enum.channeluse.'+(member.marketingEmail || 'NULL') }}"></span></td>
			  </tr><tr>
			  <td translate="admin_address.confirmation_code"></td><td><b>{{ member.confirmationCode }}</b></td>
			  </tr><tr>
			  <td translate="admin_address.confirmation_date"></td><td>{{ member.confirmedAt | date : 'dd.MM.yy' }}</td>
			  </tr><tr>
			  <td translate="admin_address.registration_date"></td><td>{{ member.registeredAt | date : 'dd.MM.yy' }}</td>
			  </tr><tr>
			  <td translate="admin_address.last_login"></td><td>{{ member.login | date : 'dd.MM.yy' }}</td>
			  </tr>
			  </table>
			  <button ui-sref="^.members" class="btn btn-default" translate="common.back_btn"></button>
			  <button ng-show="member.status == 'DELETED'" class="btn btn-danger" ng-disabled="status.action=='wipe'" ng-click="wipe()" translate="admin_address.wipe_btn"></button>
			</loader>
		</div>
	</div>
	
	<div class="panel panel-primary">
    <div class="panel-heading">History</div>
    <div class="panel-body">
    <auditlog patient="{{ member._id }}"></auditlog>   
    <form class="form">
      <div class="form-group">
        <label for="comment" translate="admin_address.comment"></label>
        <textarea class="form-control" rows="3" id="comment" ng-model="comment"></textarea>
      </div>  
      <button type="button" class="btn btn-default" ng-click="addComment();" translate="admin_address.add_comment_btn"></button>
    </form>    
    </div>
    </div>
</div>