<div ng-controller="MemberSearchCtrl" ng-cloak>	
	<div class="panel panel-primary">
	   <div class="panel-heading" translate="provider_patientsearch.title">    
       </div>
		<div class="panel-body">
			<form name="myform" novalidate class="css-form form-horizontal" ng-submit="dosearch()" role="form">
				<formrow myid="midataID" label="Midata ID">
				<input type="text" class="form-control" id="midataID" name="midataID" ng-model="criteria.midataID"></formrow>
				<formrow myid="birthday" label="Birthday">
				<input type="text" class="form-control" id="birthday" name="birthday" ng-model="criteria.birthday"></formrow>
				
				<button type="submit" class="btn btn-primary">Search</button>
				</formrow>
			</form>
			<p ng-show="status.isBusy === true">Searching...</p>
		</div>
	</div>
	<div ng-show="member">
		<div class="panel panel-primary">
			<div class="panel-body">
				<address>
					<strong>{{ member.firstname }} {{ member.lastname }}</strong><br> {{ member.address1 }}<br> {{ member.address2 }}<br> {{
					member.zip }} {{ member.city }}<br> {{ member.country }}<br> <span ng-show="member.phone">Phone: {{ member.phone }}</span><br>
					<span ng-show="member.mobile">Mobile: {{ member.mobile }}</span><br> <span ng-show="member.ssn">SSN: {{ member.ssn }}</span><br>
					<span ng-show="member.email">Email: {{ member.email }}</span><br>
				</address>
				<div ng-show="consents.length > 0">
					<p>Consents with this patient:</p>
					<ul>
						<li ng-repeat="consent in consents">{{ consent.name }}</li>
					</ul>
				</div>
				<button class="btn btn-primary" ng-show="consents.length>0" ng-click="selectPatient();">Show Patient</button>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">Add new consent</div>
			<div class="panel-body">
				<form>
					<formrow myid="name" label="Title">
					   <div class="input-group">
					     <input id="name" type="text" class="form-control" ng-model="newconsent.name">
					     <span class="input-group-btn">
					        <button ng-click="addConsent();" ng-disabled="status.isBusy == 'createconsent'" class="btn btn-default">Add new consent</button>
					     </span>
					   </div> 
					 </formrow>					
				</form>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">Add consent using passcode</div>
			<div class="panel-body">
				<form>
					<formrow myid="passcode" label="Optional Access Passcode">
					   <div class="input-group">
				          <input type="text" class="form-control" id="passcode" name="passcode" ng-model="criteria.passcode">
				          <span class="input-group-btn">
				             <button ng-click="usePasscode();" ng-disabled="status.isBusy == 'usepasscode'" class="btn btn-default">Use passcode</button>
				          </span>
				       </div>
				    </formrow>				    					
				</form>
			</div>
		</div>
	</div>
</div>
