<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="MemberSearchCtrl" ng-cloak>	
	<div class="panel panel-primary">
	   <div class="panel-heading" translate="provider_patientsearch.title">    
       </div>
		<div class="panel-body">
			<form name="myform" novalidate class="css-form form-horizontal" ng-submit="dosearch()" role="form">
			  <div class="row">
			    <div class="col-sm-6">
			    <formrow myid="email" label="provider_patientsearch.email">
				   <input type="text" class="form-control" id="midataID" name="midataID" ng-change="changedCriteria()" ng-model="criteria.email" ng-required="!criteria.midataID">
				</formrow>
			    </div>
			    <div class="col-sm-1">
			      <p class="form-control-plaintext" translate="provider_patientsearch.or"></p>
			    </div>
			    <div class="col-sm-5">
				<formrow myid="midataID" label="provider_patientsearch.midataid">
				   <input type="text" class="form-control" id="midataID" name="midataID" ng-change="changedCriteria()" ng-model="criteria.midataID" ng-required="!criteria.email">
				</formrow>
				<formrow myid="birthday" label="provider_patientsearch.birthday">
				   <input type="text" class="form-control" id="birthday" name="birthday" ng-change="changedCriteria()" ng-model="criteria.birthday" ng-required="criteria.midataID">
				</formrow>
				</div>
			</div>
			
			<div ng-show="searched">
		
				    <formrow myid="team" label="provider_patientsearch.usergroup">
				      <select class="form-control" ng-model="newconsent.usergroup" ng-options="ug._id as ug.name for ug in usergroups"></select>
				    </formrow>
				    <formrow myid="passcode" label="provider_patientsearch.passcode">
					   <div class="input-group">
				          <input type="text" class="form-control" id="passcode" name="passcode" ng-model="criteria.passcode">				          
				       </div>
				    </formrow>				    					
				    					 						
			</div>		
			
				<button type="submit" class="btn btn-primary" translate="common.search_btn"></button>
				<button ng-show="searched && !member._id" ui-sref="^.addpatient({ email : criteria.email })" class="btn btn-default" translate="provider_patientsearch.add_new_account_btn"></button>
				<button ng-show="searched" ng-click="addConsent();" ng-disabled="status.isBusy == 'createconsent'" class="btn btn-default" translate="provider_patientsearch.add_new_consent_btn"></button>
				
			</form>
			<p ng-show="status.isBusy === true" translate="provider_patientsearch.searching"></p>
		</div>
	</div>
	<div ng-show="member">
	   <div class="row">
	     <div class="col-sm-6">
		<div class="panel panel-primary">
		   <div class="panel-heading" translate="provider_patientsearch.address">
		   </div>
			<div class="panel-body">
			  			   
				<address>
					<strong>{{ member.firstname }} {{ member.lastname }}</strong><br> {{ member.address1 }}<br> {{ member.address2 }}<br> {{
					member.zip }} {{ member.city }}<br> {{ member.country }}<br> <span ng-show="member.phone"><span translate="common.user.phone"></span>: {{ member.phone }}</span><br>
					<span ng-show="member.mobile"><span translate="common.user.mobile_phone"></span>: {{ member.mobile }}</span><br> <span ng-show="member.ssn"><span translate="common.user.ssn"></span>: {{ member.ssn }}</span><br>
					<span ng-show="member.email"><span translate="common.user.email"></span>: {{ member.email }}</span><br>
				</address>
																
				<button class="btn btn-primary" ng-show="consents.length>0" ng-click="selectPatient();" translate="provider_patientsearch.show_patient_btn"></button>
			</div>
		</div>
		</div>
		<div class="col-sm-6">
		   <div class="panel panel-primary">
		    <div class="panel-heading" translate="provider_patientsearch.consents">		      
		    </div>
			<div class="panel-body">
			   
			  	<ul>
					<li ng-repeat="consent in consents"><a href="javascript:" ui-sref="^.editconsent({consentId:consent._id})">{{ consent.name }} (<span translate="{{'enum.consentstatus.'+consent.status}}"></span>)</a></li>
				</ul>							
			
		    </div>
		   </div>
		</div>
		</div>
	</div>
	
</div>
