<ul class="nav nav-tabs">
  <li ui-sref-active="active"><a ui-sref=".overview">Overview</a></li>
  <li ui-sref-active="active"><a ui-sref=".fields">Details</a></li>
  <li ui-sref-active="active"><a ui-sref=".rules">Rules</a></li>
  <li ui-sref-active="active"><a ui-sref=".actions">Actions</a></li>
  <li ui-sref-active="active"><a ui-sref=".participants">Participants</a></li>
  <!--  <li ui-sref-active="active"><a ui-sref=".messages">Messages</a></li> -->
  <li ui-sref-active="active"><a ui-sref=".records">Records</a></li>
  <li ui-sref-active="active"><a ui-sref=".results">Results</a></li>
</ul>
<div ui-view></div>