
<div ng-controller="ResearchListStudiesCtrl" ng-cloak>
    <div class="panel panel-primary">
		<div class="panel-heading" translate="studies.title"></div>
		<div class="body">
    
	<loader busy="status.isBusy !== false">	
	<table ng-show="results.length > 0" class="table table-hover">
	  <thead>
	    <tr>
	      <th translate="studies.name"></th>
	      <th translate="studies.validation"></th>
	      <th translate="studies.participants"></th>
	      <th translate="studies.execution"></th>
	      <th translate="studies.creation_date"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="study in results">
	      <td><a ui-sref="research.study.overview({ studyId : study._id})">{{ study.name }}</a></td>	  
	      <td translate="{{ 'enum.studyvalidationstatus.'+study.validationStatus }}"></td>
	      <td translate="{{ 'enum.participantsearchstatus.'+study.participantSearchStatus }}"></td>
	      <td translate="{{ 'enum.studyexecutionstatus.'+study.executionStatus }}"></td>
	      <td>{{ study.createdAt | date }}</td>	         
	    </tr>
	  </tbody>
	</table>
	<p ng-hide="results.length" translate="studies.empty"></p>
	<a class="btn btn-primary" ui-sref="research.createstudy" translate="studies.create_btn"></a>
	</loader>
	</div>
	</div>
</div>	
