<ul class="nav nav-tabs">
  <li ui-sref-active="active"><a ui-sref=".overview" translate="studynav.overview">Overview</a></li>
  <li ui-sref-active="active"><a ui-sref=".fields" translate="studynav.details">Details</a></li>
  <li ui-sref-active="active"><a ui-sref=".rules" translate="studynav.rules">Rules</a></li>
  <li ui-sref-active="active"><a ui-sref=".actions" translate="studynav.actions">Actions</a></li>
  <li ui-sref-active="active"><a ui-sref=".participants" translate="studynav.participants">Participants</a></li>
  <!--  <li ui-sref-active="active"><a ui-sref=".messages">Messages</a></li> -->
  <li ui-sref-active="active"><a ui-sref=".records" translate="studynav.records">Records</a></li>
  <!-- <li ui-sref-active="active"><a ui-sref=".results" translate="studynav.results">Results</a></li> -->
</ul>
<div ui-view></div>