<ul class="borderless nav nav-tabs">
  <li class="nav-item"><a ui-sref-active="active" class="nav-link" ui-sref=".overview" translate="studynav.overview">Overview</a></li>
  <li class="nav-item"><a ui-sref-active="active"  class="nav-link" ui-sref=".info" translate="studynav.info">Info</a></li>
  <li class="nav-item"><a ui-sref-active="active"  class="nav-link" ui-sref=".team" translate="studynav.team">Team</a></li>
  <li class="nav-item"><a ui-sref-active="active"  class="nav-link" ui-sref=".fields" translate="studynav.details">Details</a></li>
  <li class="nav-item"><a ui-sref-active="active"  class="nav-link" ui-sref=".rules" translate="studynav.rules">Rules</a></li>
  <li class="nav-item"><a ui-sref-active="active"  class="nav-link" ui-sref=".actions" translate="studynav.actions">Actions</a></li>
  <li class="nav-item"><a ui-sref-active="active"  class="nav-link" ui-sref=".codes" translate="studynav.codes">Codes</a></li>  
  <li class="nav-item"><a ui-sref-active="active"  class="nav-link" ui-sref=".sharing" translate="studynav.sharing">Sharing</a></li>  
 
</ul>
<div ui-view></div>