<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="ResearchListStudiesCtrl" ng-cloak>
    <div class="panel panel-primary">
		<div class="panel-heading" translate="studies.title"></div>
		<div class="body">
    
	<loader busy="status.isBusy !== false">	
	<table ng-show="results.length > 0" class="table table-hover">
	  <thead>
	    <tr>
	      <th sortby="name" translate="studies.name"></th>
	      <th sortby="validationStatus" translate="studies.validation"></th>
	      <th sortby="participantSearchStatus" translate="studies.participants"></th>
	      <th sortby="executionStatus" translate="studies.execution"></th>
	      <th sortby="createdAt" translate="studies.creation_date"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="study in results | orderBy : sortby">
	      <td><a ui-sref="{{ nav+'.study.overview({ studyId : study._id})' }}">{{ study.name }}</a></td>	  
	      <td translate="{{ 'enum.studyvalidationstatus.'+study.validationStatus }}"></td>
	      <td translate="{{ 'enum.participantsearchstatus.'+study.participantSearchStatus }}"></td>
	      <td translate="{{ 'enum.studyexecutionstatus.'+study.executionStatus }}"></td>
	      <td>{{ study.createdAt | date : 'dd.MM.yy' }}</td>	         
	    </tr>
	  </tbody>
	</table>
	<p ng-hide="results.length" translate="studies.empty"></p>
	<a class="btn btn-primary" ui-sref="^.createstudy" translate="studies.create_btn"></a>
	<div class="extraspace"></div>
	</loader>
	</div>
	</div>
</div>	
