<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Tracker</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/shared/css/app.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="/shared/js/midata.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
	</head>
	<body>
		<div class="container" ng-app="tracker" ng-controller="CreateCtrl" ng-cloak>
		  
		  <div class="alert alert-success alert-dismissable" ng-show="success">
			<button type="button" class="close" ng-click="success=false" aria-hidden="true">&times;</button>
			Data successfully added.
		  </div>
		  <form class="form-horizontal" ng-hide="mode=='edit'">
		    <div class="form-group"> 
		      <label class="col-sm-4 control-label" for="what">What:</label>
		      <div class="col-sm-8">
		        <div ng-repeat="code in codes">
		          <label class="checkbox">
		            <input type="checkbox" ng-model="code.selected" >{{ code.display }}
		          </label>
		        </div>		        
		      </div>
		    </div>
		     	
		    <div class="form-group">
		      <label class="col-sm-4 control-label" for="date">Date:</label>
		      <div class="col-sm-8">
		         <input id="date" class="form-control" ng-model="newentry.date" type="date">
		      </div>
		    </div>		    
		    		   		    
		    <button class="btn btn-primary" ng-disabled="isBusy || !isValid" ng-click="add()">Add</button>
		    <button class="btn btn-default" ng-disabled="isBusy || !isValid" ng-click="mode='edit'">Edit Observations</button>
		  </form>
		  
		  <form class="form-horizontal" ng-show="mode=='edit'">		    		      
		        <div class="row" ng-repeat="code in codes">		        
		          <div class="col-sm-8">  
		            <input type="text" ng-model="code.display" class="form-control">
		          </div>		        
		          <div class="col-sm-4">
		            <button class="btn btn-default" ng-click="removeCode($index)">Remove</button>
		          </div>  
		        </div>		        		      
		        <div class="row">
		        <div class="col-sm-8">  
		            <input type="text" ng-model="newcode.display" class="form-control">
		          </div>		        
		          <div class="col-sm-4">
		            <button class="btn btn-default" ng-click="addCode()">Add</button>
		          </div>
		        </div>
		      <button class="btn btn-primary" ng-disabled="isBusy || !isValid" ng-click="saveCodes()">Done</button>
		      <button class="btn btn-default" ng-disabled="isBusy || !isValid" ng-click="reset()">Cancel</button>
		  </form>
		</div>		
	</body>
</html>
