/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

// adjust at will to decrease/increase whitespace between text and button border
$horizontal-text-button-padding: 50px;
$vertical-text-button-padding: 10px;

.mi-mo-flat_button {
	@include reset-button;
	position: relative;
	height: 52px;
	display: inline-block;
	line-height: 52px;

	.mi-at-icon {
		display: inline-block;
		position: relative;
		top: 2px;
		padding-left: 10px;

		svg {
			width: 16px;
			height: 16px;
		}
	}

	&--rounded,
	&--submit {
		.mi-at-text {
			color: $color-brand-white;
			@extend %mi-x-uppercase;
		}
	}

	&--submit {
		@extend %mi-x-colored_gradient_background;
		width: 100%;
	}

	&--rounded {
		height: auto;
		padding-top: $vertical-text-button-padding;
		padding-bottom: $vertical-text-button-padding;
		padding-bottom: 10px;
		min-height: 30px;
		line-height: initial;
		display: inline-block;

		border-radius: 8px;
		padding-left: $horizontal-text-button-padding;
		padding-right: $horizontal-text-button-padding;
		border: solid 1px;
		border-color: $color-brand-white;
		transition: 0.2s ease all;

		.mi-at-text {
			text-align: center;
			left: 50%;
			top: 50%;
			width: 100%;
			font-family: $font-bold;
			letter-spacing:  $letter-spacing-airy;
			transform: translate(-50%, -50%);
			margin-top: 1px; // without it, the text does not look like vertically centered
		}

		&:hover {
			background-color: $color-brand-white;
			
			.mi-at-text {
				color: $color-brand-blue-primary;
			}
		}
	}

	@media (max-width: $min-fidelity-menu-width) {
		align-items: center;

		.mi-at-icon {
			padding-left: 2px;
		}
	}
}
