<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Demo Kardiologische Risikoauswertung</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
	</head>
	<body>
		<div class="container" ng-app="jsonRecords" ng-controller="CreateCtrl" ng-cloak>
			<div class="col-xs-7 col-xs-offset-5 page-header">
				<h1>Demo Kardiologische Risikoauswertung (Arzt)</h1>
			</div>
			<div class="col-xs-7 col-xs-offset-5">
				<div class="alert alert-success alert-dismissable" ng-show="success">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{success}}
				</div>
				<div class="alert alert-danger alert-dismissable" ng-show="errors.server">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<p>{{errors.server}}</p>
				</div>
			</div>
			<form class="form-horizontal">
				<div class="form-group" ng-class="{'has-error has-feedback': errors.ldl}">
					<label for="ldl" class="col-xs-5 control-label">LDL Cholesterin [mg/dl]</label>
					<div class="col-xs-7">
						<input type="number" id="ldl" class="form-control" placeholder="" ng-model="data.ldl" autofocus>
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.ldl}}" ng-show="errors.ldl"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.hdl}">
					<label for="hdl" class="col-xs-5 control-label">HDL Cholesterin [mg/dl]</label>
					<div class="col-xs-7">
						<input type="number" id="hdl" class="form-control" placeholder="" ng-model="data.hdl">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.hdl}}" ng-show="errors.hdl"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.glucose}">
					<label for="glucose" class="col-xs-5 control-label">Glucose [mg/dl]</label>
					<div class="col-xs-7">
						<input type="number" id="glucose" class="form-control" placeholder="" ng-model="data.glucose">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.glucose}}" ng-show="errors.glucose"></span>
					</div>
				</div>				
				
				<div class="col-xs-7 col-xs-offset-5">
					<a href="" class="btn btn-primary" ng-class="{disabled: loading}" ng-click="validate()">Create</a>
				</div>
			</form>
		</div>
	</body>
</html>
