.mi-mo-menu_footer {
	position: absolute;
	left: 0;
	height: 60px;
	width: calc(100% - 65px);
	padding-bottom: 22px;
	padding-left: 20px;

	background-color: white;

	&::before {
		content: '';
		position: absolute;
		top: 20px;

		border: 1px solid $color-brand-grey-separator;
		overflow: hidden;
		width: 100%;
	}

	.mi-at-text {
		position: relative;
		top: 38px;
		margin-right: 30px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}
