<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Performance Tester</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
		<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="app.js" defer></script>
	</head>
	<body>
		<div class="container" ng-app="jsonRecords" ng-controller="CreateCtrl" ng-cloak>
		  <h2>Performance Tester</h2>
		  
		  <form>
		    <div class="form-group"> 
		      <label for="server">Target Server</label>
		      <input type="text" ng-model="server.baseurl" >
		    </div>
		    <div class="form-group"> 
		      <label for="usersCreate">Number of Users to create:</label>
		      <input type="text" ng-model="setup.usersCreate" >
		    </div>
		    <div class="form-group"> 
		      <label for="numCreate">Number of Records per User to create:</label>
		      <input type="text" ng-model="setup.numCreate" >
		    </div>		    
		    <div class="form-group"> 
		      <label for="numCreate">Requests parallel:</label>
		      <input type="text" ng-model="setup.numSync" >
		    </div>
		    <button class="btn btn-primary" ng-click="execute()">Create Users</button>
		    <button class="btn btn-primary" ng-click="execute2()">Create Records</button>
		    <button class="btn btn-primary" ng-click="execute3()">Wipe Users</button>
		    <div style="margin-top:20px">
		    <div>{{ server.requests }} req : {{ server.time }} ms ( {{ (server.time / server.requests) | number : 0  }} ms )</div>
		    <div style="max-width:800px; word-wrap:break-word">{{ server.out }}</div>
		    </div>
		  </form>
		</div>
	</body>
</html>
