
	<div class="container" ng-controller="PostRegisterCtrl" ng-cloak>
		<div class="row">
			
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:600px; padding-top:20px; margin:0 auto;">
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		<h3 class="panel-title" translate="postregister.title"></h3>
		            	</div>
		            	<div class="panel-body">
		            	    <p ng-show="resentSuccess" class="alert alert-success" translate="postregister.resent_success"></p>
		            	    <p ng-show="codeSuccess" class="alert alert-success" translate="postregister.address_success"></p>
		            	    <p ng-show="mailSuccess" class="alert alert-success" translate="postregister.email_success"></p>
			            	<p ng-show="error" class="alert alert-danger" translate="{{ error.code }}"></p>
			            	<!-- 						
							<p translate="postregister.description"></p>
							<ul class="list-group">
							  <li class="list-group-item" ng-class="{ 'list-group-item-success' : progress.emailStatus == 'VALIDATED', 'list-group-item-warning' : progress.emailStatus=='UNVALIDATED' }"><span ng-show="progress.emailStatus == 'VALIDATED'" class="glyphicon glyphicon-ok"></span><span ng-hide="progress.emailStatus == 'VALIDATED'" class="glyphicon glyphicon-remove"></span> <span translate="postregister.email_confirmed"></span></li>
							  <li class="list-group-item" ng-class="{ 'list-group-item-success' : progress.agbStatus == 'SIGNED', 'list-group-item-warning' : progress.agbStatus!='SIGNED' }"><span ng-show="progress.agbStatus=='SIGNED'" class="glyphicon glyphicon-ok"></span><span ng-hide="progress.agbStatus=='SIGNED'" class="glyphicon glyphicon-remove"></span> <span translate="postregister.contract_signed"></span></li>
							  <li class="list-group-item" ng-class="{ 'list-group-item-success' : progress.confirmationCode, 'list-group-item-warning' : !progress.confirmationCode }"><span ng-show="progress.confirmationCode" class="glyphicon glyphicon-ok"></span><span ng-hide="progress.confirmationCode" class="glyphicon glyphicon-remove"></span> <span translate="postregister.code_entered"></span></li>							  
							</ul>
							 -->
							
							<div ng-show="progress.emailStatus=='UNVALIDATED'">
							<p translate="postregister.email_instructions"></p>							
							<button  class="btn btn-default" ng-click="resend()" translate="postregister.resend_btn"></button>
							<button  class="btn btn-default" ng-click="retry()" ng-show="isoauth" translate="postregister.retry_btn"></button>
							<hr>
							<p translate="postregister.email_code"></p>
							<div class="input-group">
							 <input class="form-control" ng-model="passphrase.code" type="text">
							 <div class="input-group-btn">
							   <button class="btn btn-primary" ng-click="enterMailCode(passphrase.code)" translate="postregister.enter_now_btn"></button>
							 </div>							 
							</div>
							</div>
							
							<div ng-show="progress.agbStatus!='NEW'">
							<div class="extraspace"></div>
							<p translate="postregister.contract_instructions"></p>
                            <div class="extraspace"></div>		
							<p translate="postregister.code_intructions"></p>
							
							<div class="alert alert-info" ng-hide="progress.emailStatus=='VALIDATED' && progress.agbStatus=='SIGNED'" translate="postregister.code_later">
							</div>	
							<div class="input-group" ng-show="progress.emailStatus=='VALIDATED' && progress.agbStatus=='SIGNED'">
							 <input class="form-control" ng-model="passphrase.passphrase" type="text">
							 <div class="input-group-btn">
							   <button class="btn btn-primary" ng-click="sendCode()" translate="postregister.enter_now_btn"></button>
							 </div>							 
							</div>
							</div>
							
		            	</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
