/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

.mi-or-chat {
	position: relative;
	margin-left: 22px;
	margin-right: 22px;

	// add 'mi-or-chat--scrolled' class using JS 
	// to add a fading background effect on top of chat window
	&.mi-x-is_scrolled::before {
		position: absolute;
		content: "";
		height: 100px;
		width: 100%;
		@extend %mi-x-fading_white_background;
	}
}
