<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


<div  ng-controller="AppDebugCtrl">
		
	<div class="panel panel-primary">
		<div class="panel-heading"><span translate="appdebug.title"></span>: <b>{{ app.name }}</b> ({{ app.filename }})		  	
		</div>
		<div class="body">
        
        <form class="form">
        
        <div ng-show="saved.length">
        <label>Saved Requests:</label>
       <div class="list-group">
        <a ng-repeat="ext in saved" class="list-group-item clearfix" href="javascript:" ng-click="doload(ext);">[{{ ext.type }}] <b>{{ ext.url }}</b> (<span class="small text-info">{{ ext.body }}</span>)<div class="float-right"><button class="btn btn-sm btn-default" ng-click="dodelete(ext);">delete</button></div></a>
       </div>
       
       </div>
        
       <div class="row extraspace" ng-show="app.type=='mobile'">
         <div class="col-2">
           <label translate="appdebug.oauth_login">OAuth-Login:</label>
           <div>
           <a class="btn btn-default" ng-click="doOauthLogin();" href="javascript:" translate="appdebug.login"></a>
           </div>
         </div>
         <div class="col-2">
           <label translate="appdebug.device">Device:</label>
           <input type="text" class="form-control" ng-model="device">
         </div>
         
         <div class="col-8">
           <label translate="appdebug.refresh_token">Refresh-Token:</label>
           <input type="text" class="form-control" ng-model="refreshToken">
         </div>
       </div>
       
       <div class="row extraspace" ng-show="app.type=='visualization'">
      
         <div class="col-3">
           <label translate="appdebug.portal_username">Username:</label>
           <input type="text" class="form-control" ng-model="portal.username">
         </div>
         
         <div class="col-3">
           <label translate="appdebug.portal_password">Password:</label>
           <input type="password" class="form-control" ng-model="portal.password">
         </div>
         <div class="col-3">
           <label translate="appdebug.portal_role">Role:</label>
           <select ng-model="portal.role" class="form-control" ng-options="role.value as role.name|translate for role in roles"></select>
         </div>
         <div class="col-3">
           <label><span translate="appdebug.portal_login"></span> {{ app.name }}</label>
           <div>
           <a class="btn btn-default" ng-click="portalLogin()" translate="appdebug.portal_login_btn"></a>
           </div>
         </div>
        </div>
        <div class="row extraspace" ng-show="error">
         <div class="col-12" >
           <div class="alert alert-danger" translate="{{ error.code || error}}"></div>           
         </div>
       </div>
       
       <div class="row extraspace" ng-show="app.defaultSubscriptions.length">
         <div class="col-2">
          <label translate="appdebug.backend_services">Backend Services:</label>
        <button class="btn btn-default" ng-click="startDebug()" ng-hide="app.debugHandle" translate="appsubscriptions.debug.start_btn"></button>
		  <button class="btn btn-default" ng-click="stopDebug()" ng-show="app.debugHandle" translate="appsubscriptions.debug.stop_btn"></button>
		 </div>
		  <div class="col-8">
		  <label ng-show="app.debugHandle" translate="appsubscriptions.debug.cmd_to_run"></label>
		  <pre ng-show="app.debugHandle">npx midata-tester {{ server }} {{ app.debugHandle }}</pre>
		  </div>
        </div>
        

        
        <div class="row extraspace">
         <div class="col-12"><label>Request to backend: {{ server }}</label></div>
         <div class="col-2">           
           <select class="form-control" ng-model="fhirRelease" ng-options="rel.header as rel.name for rel in releases"></select>
         </div>
         <div class="col-2">           
           <select class="form-control" ng-model="type"><option>GET</option><option>POST</option><option>PUT</option><option>DELETE</option></select>
         </div>
         <div class="col-8">
         <input type="text" class="form-control" ng-model="url">
         </div>
        </div>

        <div class="row">          
          <div class="col-12 extraspace">
          <label>Authorization:</label>
          <input class="form-control" ng-model="authheader" >
          </div>
        </div>

        <div class="row" ng-show="type != 'GET'">
          <div class="col-12 extraspace">
          <label>Body:</label>
          <textarea class="form-control" ng-model="body" rows="10"></textarea>
          </div>
        </div>
        
        <div class="row">
        <div class="col-12 extraspace">
        <a href="javascript:" ui-sref="^.manageapp({appId:appId})" class="btn btn-default" translate="common.back_btn"></a>
        <button class="btn btn-primary" type="button" ng-click="dosubmit();">submit</button> 
        <button class="btn btn-default" type="button" ng-click="dosave();">save</button>
        </div>
        </div>
       
      </form>
      
      <div class="row">
      <div class="col-12">
      <label>Request Results:</label>
      <textarea class="form-control" ng-model="results" rows="40"></textarea>
      </div>
      </div>
      
		</div>
    </div>
</div>