<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="TestUsersCtrl">
		
  <div class="panel panel-primary">
		<div class="panel-heading" translate="developer_testusers.title"></div>
		<div class="body">
		    		            
            <loader busy="status.isBusy !== false">
						
			<table class="table table-striped" ng-show="members.length">

				<tr>
				    <th translate="common.user.email"></th>					
					<th translate="common.user.firstname"></th>
					<th translate="common.user.lastname"></th>					
					<th translate="developer_testusers.role"></th>
					<th></th>					
				</tr>
								
				<tr ng-repeat="member in members">
				    <td>{{ member.email }}</td>					
					<td>{{ member.firstname }}</td>
					<td>{{ member.lastname }}</td>					
					<td translate="{{ 'enum.userrole.'+member.role }}"></td>
					<td><button class="btn btn-sm btn-default" ng-click="resetPassword(member);" translate="developer_testusers.resetpw"></button></td>					
				</tr>
			</table>

            <p ng-show="members.length === 0" translate="developer_testusers.empty"></p>
			
			<div class="alert alert-info" translate="developer_testusers.description"></div>
			
			<a class="btn btn-default" ui-sref="^.member_registration({ developer : userId })" translate="developer_testusers.register_member_btn"></a>
			<a class="btn btn-default" ui-sref="^.provider_registration({ developer : userId })" translate="developer_testusers.register_hp_btn"></a>
			<a class="btn btn-default" ui-sref="^.research_registration({ developer : userId })" translate="developer_testusers.register_researcher_btn"></a>
			
			</loader>
		</div>
	</div>	

		  	
</div>
	