/.settings
logs/
activator
activator*/
elasticsearch
elasticsearch*/
!dump/elasticsearch/
mongodb
mongodb*/
!dump/mongodb/
lighttpd
node
node*/
ssl-certificate/
portal/node_modules
portal/dest
platform/conf/application.conf
platform/conf/secret.conf.gz.nc
.classpath
.project
nginx/sites-available/*
portal/.tmp/*
**/package-lock.json
