
<div ng-controller="StudyOverviewCtrl" ng-cloak>

	<div class="tab-content">	
	<div class="tab-pane active">
	<loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" translate="{{ error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	
	 <div class="alert alert-info">
	  <p><strong translate="studyoverview.workflow"></strong></p>
 	  <div ng-if="lastCheck"> 	  
 	    <p><span translate="studyoverview.lastdone"></span>: <a href="javascript:" ng-click="go(lastCheck);" class="alert-link" translate="{{lastCheck.title}}"></a></p>
 	    <p><i translate="{{lastCheck.title + '_help' }}"></i></p>
 	                   
 	  </div>
	  <div ng-if="primaryCheck">
	  <p><span translate="studyoverview.nextstep"></span>: <a href="javascript:" ng-click="go(primaryCheck);" class="alert-link" translate="{{primaryCheck.title}}"></a></p>
      <p><i translate="{{primaryCheck.title + '_help' }}"></i></p>
      <a ng-show="primaryCheck.page != '.'" href="javascript:" ng-click="go(primaryCheck);" class="btn btn-default" translate="studyoverview.visitnow_btn" ></a>               
      <button ng-show="primaryCheck.flag && !primaryCheck.done" ng-click="addProcessTag(primaryCheck.flag)" class="btn btn-default" translate="studyoverview.markdone_btn"></button>
      <button ng-click="primaryCheck.action()" class="btn btn-default" ng-show="primaryCheck.action && primaryCheck.check()" translate="studyoverview.donow_btn"></button>
      </div>
      

     </div>
	
	<table class="table">
	  <tr>
	    <td translate="studyoverview.name"></td>
	    <td>{{ study.name }}
	    <a ng-show="readyForValidation()" class="btn btn-default btn-xs" ui-sref="^.description" translate="studyoverview.edit_description_btn"></button>
	    </td>
	  </tr>
	  <tr>
        <td translate="studyoverview.created_at"></td>
        <td>{{ study.createdAt | date }}</td>
      </tr>
      <tr>
        <td translate="studyoverview.created_by"></td>
        <td>{{ study.creatorName }}</td>
      </tr>
      <tr>
        <td translate="studyoverview.description"></td>
        <td>{{ study.description }}
        <a ng-show="readyForValidation()" class="btn btn-default btn-xs" ui-sref="^.description" translate="studyoverview.edit_description_btn"></button>
        </td>
      </tr>      
      <tr>
	    <td translate="studyoverview.code"></td>
	    <td>{{ study.code }}</td>
	  </tr>
      <tr>
        <td translate="studyoverview.validation_status"></td>
        <td translate="{{ 'enum.studyvalidationstatus.'+study.validationStatus }}"></td>
      </tr>
      <tr>
        <td translate="studyoverview.participant_search_status"></td>
        <td translate="{{ 'enum.participantsearchstatus.'+study.participantSearchStatus }}"></td>
      </tr>
      <tr>
        <td translate="studyoverview.execution_status"></td>
        <td translate="{{ 'enum.studyexecutionstatus.'+study.executionStatus }}"></td>
      </tr>
    </table>	
    </loader>
    </div>
    </div>
    
    <div class="panel panel-primary">
    <div class="panel-heading" translate="studyoverview.checklist"></div>
    <div class="panel-body">
      <table class="table table-hover">
        <tr class="clickable"  ng-repeat="item in checklist" ng-class="{ 'success' : item.done, 'danger' : item.required && !item.done, 'warning' : !item.required && !item.done && !item.heading, 'heading' : item.heading }">
          <td ui-sref="{{item.page}}">
            <span uib-tooltip="{{item.title+'_help' | translate }}" translate="{{item.title}}"></span>
          </td><td>
            <div class="pull-right">           
            <span ng-show="item.done" class="glyphicon glyphicon-ok"></span>
            <span ng-show="!item.done && item.required" class="glyphicon glyphicon-exclamation-sign"></span>
            <span ng-show="!item.done && !item.required && !item.heading" translate="study_checklist.optional"></span>
            </div>  
          </td>          
        </tr>
      </table>
    </div>
    </div>
    
    <div class="panel panel-primary">
    <div class="panel-heading" translate="studyoverview.history"></div>
    <div class="panel-body">
      <auditlog entity="{{ study._id }}" api="auditlog"></auditlog>  
    </div>
    </div>
    
  
    <a class="btn btn-default" ui-sref="research.studies" translate="common.back_btn"></a>
     
    <button ng-show="readyForValidation()" class="btn btn-primary" ng-click="startValidation()" translate="studyoverview.start_validation_btn"></button>
    <button ng-show="readyForParticipantSearch()" class="btn btn-primary" ng-click="startParticipantSearch()" translate="studyoverview.start_participant_search_btn"></button>
    <button ng-show="readyForEndParticipantSearch()" class="btn btn-primary" ng-click="endParticipantSearch()" translate="studyoverview.end_participant_search_btn"></button>
    <button ng-show="readyForStartExecution()" class="btn btn-primary" ng-click="startExecution()" translate="studyoverview.start_study_execution_btn"></button>
    <button ng-show="readyForFinishExecution()" class="btn btn-primary" ng-click="finishExecution()" translate="studyoverview.finish_study_btn"></button>
    <button ng-show="readyForDelete()" class="btn btn-danger" ng-click="delete()" translate="studyoverview.delete_study_btn"></button>
    <button ng-show="readyForAbort()" class="btn btn-danger" ng-click="abortExecution()" translate="studyoverview.abort_study_btn"></button>
    
</div>
