
<div ng-controller="StudyOverviewCtrl" ng-cloak>

	<div class="tab-content">	
	<div class="tab-pane active">
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	<table class="table">
	  <tr>
	    <td>Name</td>
	    <td>{{ study.name }}</td>
	  </tr>
	  <tr>
        <td>Created At:</td>
        <td>{{ study.createdAt | date }}</td>
      </tr>
      <tr>
        <td>Created By:</td>
        <td></td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ study.description }}</td>
      </tr>
      <tr>
        <td>Validation Status</td>
        <td>{{ study.validationStatus }}</td>
      </tr>
      <tr>
        <td>Participant Search Status</td>
        <td>{{ study.participantSearchStatus }}</td>
      </tr>
      <tr>
        <td>Execution Status</td>
        <td>{{ study.executionStatus }}</td>
      </tr>
    </table>	
    </div>
    </div>
    <div ng-show="study.history.length" class="panel panel-primary">
    <div class="panel-heading">History</div>
    <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Event</th>
          <th>Who</th>
          <th>When</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in study.history">
          <td>{{ entry.event }}</td>
          <td>{{ entry.whoName }}</td>
          <td>{{ entry.timestamp | date }}</td>
          <td>{{ entry.message }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  
    <a class="btn btn-default" ui-sref="research.studies">Back</a> 
    <button ng-show="readyForValidation()" class="btn btn-primary" ng-click="startValidation()">Request Study Validation</button>
    <button ng-show="readyForParticipantSearch()" class="btn btn-primary" ng-click="startParticipantSearch()">Start to search for participants</button>
    <button ng-show="readyForEndParticipantSearch()" class="btn btn-primary" ng-click="endParticipantSearch()">End Participant Search</button>
    <button ng-show="readyForStartExecution()" class="btn btn-primary" ng-click="startExecution()">Start Study Execution</button>
    
</div>
