
<div ng-controller="ChangePasswordCtrl">

	<div ng-cloak class="panel panel-primary">
		<div class="panel-heading" translate="changepassword.title"></div>
		<div class="panel-body">
			<p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	            
	        </p>	
	        <div class="alert alert-success" ng-show="success" translate="changepassword.success">			   
			</div>
			<form name="myform" novalidate class="css-form form-horizontal" ng-submit="changePassword()" role="form">
			   <input type="text" style="display: none" id="fakeUsername" name="fakeUsername" value="" />
               <input type="password" style="display: none" id="fakePassword" name="fakePassword" value="" />
	
				<formrow myid="oldPassword" label="changepassword.old_password">
				<input type="password" class="form-control" id="oldPassword" name="oldPassword" translate translate-attr-placeholder="changepassword.old_password" ng-model="pw.oldPassword"
					required autocomplete="off"></formrow>
				<formrow myid="password" label="changepassword.new_password"> 
				   <input type="password" class="form-control" id="password" name="password"
					translate translate-attr-placeholder="changepassword.new_password" ng-model="pw.password" required autocomplete="off">
				   <formerror myid="password" type="compare" message="error.invalid.password_repetition"></formerror>
				   <formerror myid="password" type="tooshort" message="error.tooshort.password"></formerror>
				   <formerror myid="password" type="tooweak" message="error.tooweak.password"></formerror>
			    </formrow>
				<formrow myid="password2" label="changepassword.repeat_password">
				<input type="password" class="form-control" id="password2" name="password2" translate translate-attr-placeholder="changepassword.new_password" ng-model="pw.password2"
					required autocomplete="off"></formrow>
				
				<button type="submit" ng-disabled="status.action=='changePassword'" class="btn btn-primary" translate="changepassword.change_btn"></button>				
				
			</form>

		</div>
	</div>
</div>
