<div ng-controller="ResourceCtrl" ng-cloak>
	<script type="text/ng-template"  id="empty.html"></script>
	
	<script type="text/ng-template"  id="simple.html">
     <span><b>{{resource}}</b></span>
    </script>
    
    <script type="text/ng-template"  id="date.html">
     <span><b>{{resource | date : 'dd.MM.yyyy HH:mm:ss' }}</b></span>
    </script>
    
    <script type="text/ng-template"  id="period.html">
     <span><b>{{resource.start | date : 'dd.MM.yyyy HH:mm:ss' }} - {{ resource.end | date : 'dd.MM.yyyy HH:mm:ss' }}</b></span>
    </script>
    
    <script type="text/ng-template"  id="identifier.html">
       <div class="row">
        <div class="col-sm-2 col-xs-4">{{ resource.system | translate }}</div>
        <div class="col-sm-10 col-xs-8"><b>{{ resource.value }}</b></div>
       </div>     
    </script>
    
    <script type="text/ng-template"  id="cc.html">
     <span><b>{{makeLabelFromCC(resource)}}</b></span>
    </script>
    
    <script type="text/ng-template"  id="ref.html">
     <span><b>{{resource.display || resource.reference }}</b></span>
    </script>
    
    <script type="text/ng-template"  id="quantity.html">
     <span><b>{{resource.comparator}} {{resource.value}} {{resource.unit || resource.code }}</b></span>
    </script>
    
    
    
     <script type="text/ng-template"  id="address.html">
     <div>{{ resource.use | translate }} {{ resource.type | translate }}</div>
     <div ng-repeat="l in resource.line"><b>{{ l }}</b></div>
     <div><b>{{ resource.postalCode }} {{ resource.city }}</b></div>
     <div ng-show="resource.district"><b>{{ resource.district }}</b></div>
     <div><b>{{ resource.country }}</b></div>
     <div ng-if="resource.period">{{ resource.period.start | date }} - {{ resource.period.end | date }}</div>     
    </script>
    
    <script type="text/ng-template"  id="humanname.html"> 
     <div ng-show="resource.use">{{ resource.use | translate }}</div>     
     <div><b><span ng-repeat="p in resource.prefix">{{ p }}</span> <span ng-repeat="g in resource.given">{{ g }}</span> {{ resource.family }} <span ng-repeat="su in resource.suffix">{{ su }}</span></b>
     </div>
     
     <div ng-if="resource.period">{{ resource.period.start | date }} - {{ resource.period.end | date }}</div>     
    </script>
       
    
    <script type="text/ng-template"  id="array.html">
      <div ng-repeat="entry in resource" class="row" style="margin-bottom:10px">
        <div class="col-xs-12" ng-init="resource=entry;" ng-include="getTemplate(field, true)">        
      </div>    
    </script>
    
	<script type="text/ng-template"  id="object.html">      
      <div ng-repeat="field in resource._fields" class="row">
        <div ng-include="getLabelTemplate(field)"></div>        
      </div>
    </script>
    
    <script type="text/ng-template"  id="default.html">            
        <div class="col-sm-2 col-xs-4">{{ field.label | translate }}</div>
        <div class="col-sm-10 col-xs-8" ng-if="true" ng-init="resource=resource[field.id]" ng-include="getTemplate(field)"></div>      
    </script>
    
    <script type="text/ng-template"  id="default2.html">            
        <p class="col-sm-2 col-xs-4">{{ field.label | translate }}</p>
        <p class="col-sm-10 col-xs-8" ng-if="true" ng-init="resource=resource[field.id]" ng-include="getTemplate(field)"></p>      
    </script>
    
    <script type="text/ng-template"  id="toplabel.html">            
        <div class="col-sm-12"><b>{{ field.label | translate }}:</b></div>
        <p class="col-sm-12" ng-if="true" ng-init="resource=resource[field.id]" ng-include="getTemplate(field)"></p>      
    </script>
    
    <script type="text/ng-template"  id="nolabel.html">                    
        <div class="col-xs-12" ng-if="true" ng-init="resource=resource[field.id]" ng-include="getTemplate(field)">      
    </script>
		
			
	<div class="">	 
	 
	  <p ng-hide="resource.code" class="lead">{{ makeLabel(resource.resourceType) | translate }}</p>
	  <p ng-if="resource.code" class="lead">{{ makeLabelFromCC(resource.code) | translate }}</p>
	  <div ng-repeat="field in resource._fields" class="row">
	    <div ng-include="getLabelTemplate(field, true)"></div>	   
      </div>
	  
	  
	</div>
		
</div>