<div ng-controller="SummaryCtrl" ng-cloak class="container">

 <script type="text/ng-template"  id="empty.html">-</script>
	
  <script type="text/ng-template"  id="simple.html">
     {{resource}}
    </script>
    
    <script type="text/ng-template"  id="date.html">
     {{resource | date : 'dd.MM.yyyy HH:mm:ss' }}
    </script>
    
    <script type="text/ng-template"  id="period.html">
     {{resource.start | date : 'dd.MM.yyyy HH:mm:ss' }} - {{ resource.end | date : 'dd.MM.yyyy HH:mm:ss' }}
    </script>
    
    <script type="text/ng-template"  id="identifier.html">
       {{ resource.system | translate }} {{ resource.value }}
    </script>
    
    <script type="text/ng-template"  id="cc.html">
      {{makeLabelFromCC(resource)}}
    </script>
    
    <script type="text/ng-template"  id="ref.html">
     {{resource.display || resource.reference }}
  </script>
  
  <script type="text/ng-template"  id="idref.html">
     {{resource.display || resource.identifier.value }}
  </script>

  <div ng-repeat="section in sections" ng-show="section.entries.length">
    <p class="lead">{{ makeLabel(section.resource) | translate }}</p>
    <table class="table table-striped table-hover table-condensed">
    <tr>
     <th ng-repeat="field in section.fields" translate="{{ makeLabel(getFieldName(null, field)) }}"></th>
    </tr>
    <tr ng-repeat="entry in section.entries" ng-click="go(entry)" class="clickable">
      <td ng-repeat="field in section.fields">
        <span ng-init="fieldname = getFieldName(entry, field);resource = entry[fieldname];">
          <span ng-include="getTemplate(resource, fieldname)"></span>
        </span>        
      </td>      
    </tr>
    </table>
  </div>
  
  <p ng-show="empty" translate="allempty"></p>
</div>