
<div  ng-controller="AppReviewsCtrl">
		
	<div class="panel panel-primary">
		<div class="panel-heading">
		  	<span translate="appreviews.title"></span>		  	
		</div>
		<div class="body">
		  <p ng-show="error && !error.field" translate="{{ error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
	      </p>
	      
		  <form name="myform" novalidate class="css-form form-horizontal" ng-submit="submit()">
		   <loader busy="status.isBusy !== false">		    
		    <formrow myid="name" label="appreviews.name">
		      <p class="form-control-plaintext">{{ app.name }}</p>
		    </formrow>
		
		    <table ng-show="reviews.length" class="table">
		      <tr>
		        <th translate="appreviews.date"></th>
		        <th translate="appreviews.check"></th>
		        <th translate="appreviews.status"></th>
		        <th translate="appreviews.userLogin"></th>
		        <th translate="appreviews.comment"></th>
		      </tr>
		      <tr ng-repeat="review in reviews">
		        <td>{{ review.timestamp | date : 'dd.MM.yy' }}</td>
		        <td>{{ 'appreviews.'+review.check | translate }}</td>
		        <td>{{ 'appreviews.'+review.status | translate }}</td> 
		        <td>{{ review.userLogin }}</td>
		        <td>{{ review.comment }}</td>
		      </tr>
		    </table>
		    
		    <p ng-hide="reviews.length" translate="appreviews.noreviews"></p>
		
		    <div ng-show="allowReview">
		    <formrow myid="check" label="appreviews.check">
		      <select class="form-control" ng-model="newreview.check" ng-options="check as 'appreviews.'+check | translate for check in checks" required></select>
		    </formrow>
		    <formrow myid="check" label="appreviews.status">
		      <select class="form-control" ng-model="newreview.status" ng-options="status as 'appreviews.'+status | translate for status in stati" required></select>
		    </formrow>
		    <formrow myid="comment" label="appreviews.comment">
		      <input type="text" class="form-control" ng-model="newreview.comment">
		    </formrow>
		    </div>
		    <formrow myid="x" label="">
		      <a href="javascript:" ui-sref="^.manageapp({appId:appId})" class="btn btn-default" translate="common.back_btn"></a>
		      <button ng-show="allowReview" class="btn btn-primary" type="submit" translate="common.submit_btn"></button>
		    </formrow>
		     </loader>
		  </form>
		 
		 </div>
    </div>
  
</div>