<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Data Entry</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="../js/app.js" defer></script>
	</head>
	<body>
	  <div ng-app="jsonRecords" ng-controller="CreateCtrl" ng-cloak>
		<div class="container" >		 
		  <div class="alert alert-success alert-dismissable" ng-show="success">
			<button type="button" class="close" ng-click="success=false" aria-hidden="true">&times;</button>
			Data successfully added.
		  </div>
		  <form class="form-horizontal" ng-hide="success">
		    <div class="form-group"> 
		      <label class="col-sm-4 control-label" for="what">What:</label>
		      <div class="col-sm-8">
		        <select id="what" class="form-control" ng-model="newentry.format" ng-options="format.label for format in formats"></select>
		      </div>
		    </div>
		     <div class="form-group">
		      <label class="col-sm-4 control-label" for="value">Value:</label>
		      <div class="col-sm-8">
		        <div class="input-group">
		           <input id="value" class="form-control" ng-model="newentry.value" type="number">
		           <span class="input-group-addon">{{ newentry.format.unit }}</span>
		         </div>
		      </div>
		    </div>		    
		    <div class="form-group">
		      <label class="col-sm-4 control-label" for="date">Date:</label>
		      <div class="col-sm-8">
		         <input id="date" class="form-control" ng-model="newentry.date" type="date">
		      </div>
		    </div>		    
		    		   		    
		    
		  </form>		  
		  
		</div>
		<div ng-hide="success" class="text-center" style="position:absolute;bottom:0px;width:100%;top:auto;margin:0px;padding:15px">
		     <button class="btn btn-primary" ng-disabled="isBusy" ng-click="add()">Add</button>
		</div>
		</div>
	</body>
</html>
