<div class="mi-at-avatar{{ modifier_classes }}">
	{{#if picture }}
		<img
			class="mi-at-avatar__picture"
			src="{{ path picture }}"
			alt="{{ username }}"
		/>
	{{/if}}
	<div class="mi-at-avatar__initial">
		{{ initial }}
	</div>
</div>
