<div ng-controller="AuditLogCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="auditlog.title"></div>
		<div class="body">
		    <form class="form-inline">
		    <div class="form-group">
		    <label>From:</label>
		    <div class="form-control-static">{{ criteria.from | date : "dd.MM.yyyy" }}</div>
		   
            
            <div class="form-group">
            <label>Days:</label>
            <input type="number" ng-change="recalc()" ng-model="criteria.days">
            </div>
            <div class="form-group">
            <label>Until:</label>
             <div class="input-group">
				  <input type="text" id="date" ng-change="recalc()" is-open="datePickers.dateOpened" datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="dd.MM.yyyy" class="form-control" placeholder="Date" autofocus ng-model="criteria.to">
				  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="datePickers.dateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
             </div>
             </div>
            </div> 
              	    	    
             </form>            
		        
		    <auditlog api="auditlog" from="criteria.from" to="criteria.to"></auditlog>
		    <button class="btn btn-default" translate="auditlog.refresh_btn" ng-click="refresh();"></button>
        </div>
	</div>
</div>