<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="AuditLogCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="auditlog.title"></div>
		<div class="body">
		    <form class="form-inline">
		    <div class="form-group">
		    <label>From:</label>
		    <div class="form-control-plaintext">{{ criteria.from | date : "dd.MM.yyyy" }}</div>
		    </div>
            
            <div class="form-group">
            <label>Days:</label>
            <input type="number" ng-change="recalc()" ng-model="criteria.days">
            </div>
            
            <div class="form-group">
            <label>Until:</label>
             <div class="input-group">
				  <input type="text" id="date" ng-change="recalc()" is-open="datePickers.dateOpened" datepicker-options="dateOptions" close-text="Close" no-time uib-datepicker-popup="dd.MM.yyyy" class="form-control" placeholder="Date" autofocus ng-model="criteria.to">
				  <span class="input-group-append">
                      <button type="button" class="btn btn-default" ng-click="datePickers.dateOpened=true;"><i class="fas fa-calendar"></i></button>
                  </span>
             </div>             
            </div> 
              	    	    
             </form>            
		        
		    <auditlog api="auditlog" from="criteria.from" to="criteria.to"></auditlog>
		    <button class="btn btn-default" translate="auditlog.refresh_btn" ng-click="refresh();"></button>
        </div>
	</div>
</div>