
	<div  ng-controller="Spaces2Ctrl">
		
		
		<div ng-cloak>
			<button class="btn btn-default" ng-click="goBack();"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
			<div class="panel panel-primary">
			  <div class="panel-body">	
			
						<div class="row">
							<div ng-class="{'col-lg-6': space.compare}">
								<!-- Visualization -->
								<p ng-hide="space.trustedUrl">Loading space...</p>
								<div id="iframe-placeholder">
									<iframe id="iframe" height="600px" width="100%" ng-src="{{space.trustedUrl}}" ng-show="space.trustedUrl"></iframe>
								</div>
							</div>
							<div class="col-lg-6" ng-show="space.compare">
								<!-- Visualization -->
								<p ng-hide="space.copy.trustedUrl">Loading space...</p>
								<div id="iframe-placeholder-copy">
									<iframe id="iframe-copy" height="600px" width="100%" ng-src="{{space.copy.trustedUrl}}" ng-show="space.copy.trustedUrl"></iframe>
								</div>
							</div>
						</div>
						
						<!-- Space controls -->
						<button class="btn btn-default" ng-hide="space.compare" ng-click="startCompare(space)">
							<span class="glyphicon glyphicon-adjust"></span> Compare
						</button>
						<button class="btn btn-default" ng-show="space.compare" ng-click="endCompare(space)">
							<span class="glyphicon glyphicon-ban-circle"></span> Finished comparing
						</button>
						<!-- <button data-toggle="modal" data-target="#recordModal-{{space._id.$oid}}" class="btn btn-primary">
							<span class="glyphicon glyphicon-plus-sign"></span> Add a record to this space
						</button> -->
						<button class="btn btn-danger" ng-click="deleteSpace(space)">
							<span class="glyphicon glyphicon-remove-sign"></span> Delete this space
						</button>
						<a class="btn btn-primary" ng-href="/members/records/spaces/{{space._id.$oid}}">
						    <span class="glyphicon glyphicon-share"></span>Used records...
						</a>
						<button class="btn btn-primary" ng-hide="space.compare" ng-click="startShare(space)">
						    <span class="glyphicon glyphicon-share"></span>Share...
						</button>
						
				</div>
			 </div>							 				
		
		<modal>
	       <div ng-include="def.template"></div>
	    </modal>
		
		
		</div>
	</div>
