<div ng-controller="PwRecoverCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_pwrecover.title"></div>
		<div class="body">
		    		           
            <loader busy="status.isBusy !== false">

            <form class="css-form form-horizontal">
               <formrow myid="me" label="admin_pwrecover.myid">
            </form>
            <input class="form-control" type="text" ng-model="criteria.me">
            </formrow>
            <p translate="admin_pwrecover.instr1"></p>
            <p translate="admin_pwrecover.instr2"></p>
            <input class="form-control" readonly ng-click="copyToClip($event)" value='read -p "Enter Share:" x;printf $x| base64 -d |openssl rsautl -decrypt -inkey recoverkey.pem;echo'">
            </pre>
			<div ng-if="members.length > 10">
              <dir-pagination-controls pagination-id="recovertable" current-page="page.nr"></dir-pagination-controls>
             </div>
           
			<table class="table table-striped" ng-show="members.length">

				<tr>
					<th translate="admin_pwrecover.name"></th>
					<th translate="admin_pwrecover.started"></th>
					<th translate="admin_pwrecover.share"></th>
					<th translate="admin_pwrecover.decrypted"></th>						
					<th>&nbsp;</th>
				</tr>
								
				<tr dir-paginate="member in members | itemsPerPage : 10" pagination-id="recovertable" current-page="page.nr">
					<td><a href="javascript:" ui-sref="^.address({ userId : member._id })">{{ member.name || 'none' }}</a></td>
					<td>{{ member.started | date : 'dd.MM.yy' }}</td>
					<td>
					  <input type="text" style="width:70px" readonly ng-click="copyToClip($event)" class="form-control" ng-model="member.encShares[criteria.me]">
					</td><td>
					  <input type="text" class="form-control" ng-model="member.shares[criteria.me]">
                    </td>
					<td><button ng-click="commit(member)" class="btn btn-sm btn-default">ok</button></td>					
				</tr>
			</table>

            <p ng-show="members.length === 0" translate="admin_pwrecover.empty"></p>
			
			</loader>
		</div>
	</div>
</div>