<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FHIR</title>
		<link rel="stylesheet" href="/shared/css/app.css">
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style>
		  table .checkbox { margin:0px; }
		</style>
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js" defer></script>
		
		<!-- Ignoring locales for now -->		
		<script type="text/javascript" src="/shared/js/midata.js" defer></script>
		<script type="text/javascript" src="js/controller.js" defer></script>
	</head>
	<body>	
		<div ng-app="fhir" ng-controller="FHIRCtrl" ng-cloak>
		<script type="text/ng-template"  id="empty.html"></script>
		
		<script type="text/ng-template"  id="single.html">
           <label class="col-sm-2 control-label">{{ field.label }}</label>
           <div class="col-sm-10" ng-init="access=resource;idx=field.field;" ng-include="getDetailTemplate(field)">                            
           </div>
        </script>
		
		<script type="text/ng-template"  id="multi.html">
           <label class="col-sm-2 control-label">{{ field.label }}</label>
           <div class="col-sm-10">
              <span class="col-sm-3" ng-repeat="entry in resource[field.field] track by $index">
                <span ng-init="access=resource[field.field];idx=$index" ng-include="getDetailTemplate(field)"></span>              
              </span>
              <a class="btn btn-default" ng-click="addResource(resource, field)">add</a>
           </div>
        </script>
				
		<script type="text/ng-template"  id="string.html">
           <input type="text" class="form-control" ng-model="access[idx]" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}">                         
        </script>
                        
        <script type="text/ng-template"  id="dateTime.html">
           <input type="text" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}" class="form-control" ng-model="access[idx]">           
        </script>
        
        <script type="text/ng-template"  id="date.html">           
           <input type="text" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}" class="form-control" ng-model="access[idx]">           
        </script>
        
        <script type="text/ng-template"  id="code.html">           
           <select class="form-control" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}" ng-model="access[idx]" ng-options="v.value as v.label for v in getOptions(field)">
           </select>           
        </script>
        
        <script type="text/ng-template"  id="CodeableConceptVS.html">           
           <select class="form-control" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}" ng-model="access[idx].coding[0].code" ng-options="v.value as v.label for v in getOptions(field)">
           </select>          
        </script>
        
        <script type="text/ng-template"  id="Period.html">
           <label class="col-sm-2 control-label">{{ field.label }}</label>
           <div class="col-sm-5" >
             <div class="input-group">
                <span class="input-group-addon">Start</span>
                <input type="text" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}" class="form-control" ng-model="resource[field.field].start">
             </div>
           </div><div class="col-sm-5">
             <div class="input-group">
                <span class="input-group-addon">End</span>
                <input type="text" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}" class="form-control" ng-model="resource[field.field].end">
             </div>              
           </div>
        </script>
        
        <script type="text/ng-template"  id="boolean.html">           
           <div class="checkbox">
             <label tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}">
                <input type="checkbox" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}"ng-model="access[idx]">
                {{ field.label }}
             </label>
           </div>                      
        </script>
        
        <script type="text/ng-template"  id="subform.html">                     
             <div class="form-horizontal" ng-init="currentDefinition = getDefinition(field); resource=getResource(resource, field)">
                  <div ng-repeat="field in currentDefinition.fields">
		            <div class="form-group" ng-if="!isEmpty(resource, field)" ng-include="getTemplate(field, resource)">                   
                    </div>
		          </div>
                  <span ng-repeat="field in currentDefinition.fields">
                    <button tooltip="{{ field.description }}" tooltip-animation="false" tooltip-placement="top" ng-show="isEmpty(resource, field)" class="btn btn-default btn-xs" ng-click="addResource(resource, field)">{{ field.label }}</button> 
                  </span>
             </div>
        </script>
        
        <script type="text/ng-template"  id="msubform.html">          
           <div ng-init="parentResource = resource">                        
             <div ng-repeat="resource in resource[field.field]" class="well well-sm">           
                <button type="button" class="close" aria-label="Close" ng-click="removeResource(parentResource, field, resource)"><span aria-hidden="true">&times;</span></button>
                <div class="clearfix"></div>                              
                <div class="form-horizontal" ng-init="currentDefinition = getDefinition(field)">                                                                           
                  <div ng-repeat="field in currentDefinition.fields">
		            <div class="form-group" ng-if="!isEmpty(resource, field)" ng-include="getTemplate(field, resource)">                   
                    </div>
		          </div>
                  <span ng-repeat="field in currentDefinition.fields">
                    <button tooltip="{{ field.description }}" tooltip-animation="false" tooltip-placement="top" ng-show="isEmpty(resource, field)" class="btn btn-default btn-xs" ng-click="addResource(resource, field)">{{ field.label }}</button> 
                  </span>
                </div>
             </div>
             <p ng-show="mayAddResource(resource, field)"><button ng-click="addResource(resource, field)" class="btn btn-default btn-xs">add</button></p>            
           </div>
        </script>
        
        <script type="text/ng-template"  id="inlinesubform.html">        
           <div ng-init="parentResource = resource">                        
             <div ng-repeat="resource in resource[field.field]" class="well well-sm">
                <button type="button" class="close" aria-label="Close" ng-click="removeResource(parentResource, field, resource)"><span aria-hidden="true">&times;</span></button>                                         
                <div class="form-inline" ng-init="currentDefinition = getDefinition(field)">                                 
                  <span ng-repeat="field in currentDefinition.fields">
		            <div class="form-group" ng-include="getTemplate(field, resource)">                   
                    </div>
		          </span>
                  <div>
                  <span ng-repeat="field in currentDefinition.fields">
                    <button tooltip="{{ field.description }}" tooltip-animation="false" tooltip-placement="top" ng-show="isEmpty(resource, field)" class="btn btn-default btn-xs" ng-click="addResource(resource, field)">{{ field.label }}</button> 
                  </span>
                  </div>
                </div>
             </div>
             <p ng-show="mayAddResource(resource, field)"><button uib-tooltip="test" ng-click="addResource(resource, field)" class="btn btn-default btn-xs">add more</button></p>            
           </div>
        </script>
        
        <script type="text/ng-template"  id="reference.html">
           
              <div class="input-group" >
                <input type="text" class="form-control" ng-model="access[idx].display" tooltip-animation="false" tooltip-placement="top" tooltip="{{ field.description }}">
                <span class="input-group-btn">
                  <button ng-show="access[idx].reference" ng-click="followReference(access[idx], field)" class="btn btn-default">follow</button>
                  <div class="btn-group" ng-hide="access[idx].reference">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Create <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                       <li ng-repeat="type in field.resource"><a href="#" ng-click="createReference(access[idx], field, type)">{{ uriCache[type].resourceType }}</a></li>                       
                     </ul>
                 </div>
                </span>              
              </div>
          
        </script>
		
		
		   <div class="container">
		     <div ng-if="currentDefinition">
		     <h3>{{ currentDefinition.resourceType }}</h3>
		     <form class="form-horizontal">
		       <div ng-repeat="field in currentDefinition.fields">
		          <div class="form-group" ng-if="!isEmpty(resource, field)" ng-include="getTemplate(field, resource)">                   
                  </div>                  
		       </div>
		       <span ng-repeat="field in currentDefinition.fields">
                 <button tooltip="{{ field.description }}" tooltip-animation="false" tooltip-placement="top" ng-show="isEmpty(resource, field)" class="btn btn-default btn-xs" ng-click="addResource(resource, field)">{{ field.label }}</button> 
               </span>
		     </form>
		     <div class="extraspace"></div>
		     <button class="btn btn-primary" ng-click="returnToPrevious()">Return</button>
		     <div class="extraspace"></div>
		     <pre>
{{ getFHIR() | json }}
		     </pre>
		     </div>
		     <div ng-hide="currentDefinition">
		     <h3>Select type of resource to create</h3>
		     <div class="list-group">
		       <a class="list-group-item" ng-repeat="res in allResources" href="javascript:" tooltip="{{ res.description }}" tooltip-animation="false" tooltip-placement="top" ng-click="makeResource(res)">
		         <h4>{{ makeLabel(res.resourceType) }}</h4>
		         <p class="list-group-item-text">{{ res.short }}</p>
		       </a>
		     </div>
		     </div>
		   </div>
		</div>
	</body>
</html>