@import views.html.help.formrow
@import views.html.help.formerror
@import views.html.details.dashboard
@main("Studies") {
<div ng-app="participation">
<div ng-controller="StudiesCtrl" ng-cloak>
  
    <div class="page-header">
	<h1>Studies</h1>
	</div>
	
    @dashboard("studies")

<script type="text/javascript" src="@routes.Assets.at("javascripts/views.js")" defer></script></div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/dashboards.js")" defer></script></div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/members/participation.js")" defer></script>
}