@main("Study Details") {
<div ng-app="participation" ng-controller="StudyDetailCtrl" ng-cloak>
	<h1>Study Details</h1>
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	<p>{{ study.name }}</p>
	<p>{{ study.description }}</p>
	<h2>Organisation</h2>
	<p>{{ research.name }}</p>
	<p>{{ research.description }}</p>
	<h2>Information that must be shared for participation</h2>
	<div class="alert alert-info">
	<ul>
	  <li ng-show="!needs('FULLNAME')">An anonymized ID to identify you</li>
	  <li ng-show="needs('FULLNAME')">Your name</li>
	  <li ng-show="needs('GENDER')">Your gender</li>	  
	  <li ng-show="needs('AGE') && !needs('BIRTHDAY')">Your age</li>
	  <li ng-show="needs('BIRTHDAY')">Your birthday</li>
	  <li ng-show="needs('ADDRESS')">Your full postal address</li>
	  <li ng-show="needs('COUNTRY') && !needs('ADDRESS')">The country you live in</li>
	  <li ng-show="needs('EMAIL')">Your email address</li>
	  <li ng-show="needs('PHONE')">Your phone number</li>	  
	</ul>
	</div>
	<div ng-show="participation.history.length">
	    <h2>Participation History</h2>
	    <table class="table">
	      <thead>
	        <tr>
	          <th>Event</th>
	          <th>Who</th>
	          <th>When</th>
	          <th>Comment</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="entry in participation.history">
	          <td>{{ entry.event }}</td>
	          <td>{{ entry.whoName }}</td>
	          <td>{{ entry.timestamp | date }}</td>
	          <td>{{ entry.message }}</td>
	        </tr>
	      </tbody>
	    </table>
    </div>
	
	<button ng-show="mayRequestParticipation()" ng-click="requestParticipation()" class="btn btn-success">Request Participation</button>
	<button ng-show="mayDeclineParticipation()" ng-click="noParticipation()" class="btn btn-danger">Do not participate</button>
	
</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/members/participation.js")" defer></script>
}