   
   	<div class="welcome" ng-controller="OAuth2LoginCtrl" ng-cloak >	 
		<div id="mainheader" ng-hide="view.active">
		<div class="container" ng-show="pleaseConfirm"><div class="row">
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:330px; padding-top:30px; margin:0 auto;">
				  <div class="panel panel-primary">
					  <div class="panel-body">
					     <p translate="oauth2.please_confirm" translate-value-consent="{{ consent }}"></p>
					  </div>
				  </div>
				</div>
			</div>
		</div></div>
		
		<div class="container" ng-hide="acceptConsent"><div class="row">
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:330px; padding-top:30px; margin:0 auto;">
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		<h3 class="panel-title"><span translate="oauth2.sign_in"></span> <strong>{{ app.i18n[translate.use()].name || app.name }}</strong></h3>
		            	</div>
		            	<div class="panel-body">
			            	<p translate="{{ error.code }}" ng-show="error" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                           
	                        </p>
	                        <p ng-show="offline" class="alert alert-danger" translate="error.offline"></p>
							<form ng-submit="dologin()" role="form" ng-hide="offline">
							    
								<input type="email" class="form-control" translate translate-attr-placeholder="login.email_address" ng-model="login.email" style="margin-bottom:5px;" autofocus>
								<input type="password" class="form-control" translate translate-attr-placeholder="login.password" ng-model="login.password" style="margin-bottom:5px;">
								<select class="form-control" ng-show="app.targetUserRole=='ANY'" ng-model="login.role" ng-options="role.value as role.name | translate for role in roles"></select>
								<div class="extraspace"></div>
								<button type="submit" ng-disabled="status.action=='login'" class="btn btn-lg btn-primary btn-block" translate="oauth2.sign_in_btn"></button>
								<div class="margin-top">
								 <div class="pull-right text-muted">
								   <span translate="oauth2.device" translate-value-device="{{ device }}"></span>
								 </div>
								  <a href="javascript:" ng-click="showRegister(true);" translate="member_login.register_now"></a>
								</div>
								
							</form>
		            	</div>
					</div>
				</div>				
			</div>
		
			
		</div>
	  </div>
	  <div class="container" ng-show="acceptConsent"><div class="row">
		   <div class="col-sm-12">
				<div class="panel-container" style="max-width:330px; padding-top:30px; margin:0 auto;">
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		<h3 class="panel-title" translate="oauth2.requesting_app"></h3>
		            	</div>
		            	<div class="panel-body">
		            	  <p><strong>{{ app.i18n[translate.use()].name || app.name }}</strong></p>
		            	  <p>{{ app.i18n[translate.use()].description || app.description }}</p>
		            	  <div class="required" ng-if="app.unlockCode">
		            	    <hr>
                            <label for="unlockCode" translate="registration.unlock_code"></label>
                            <input type="text" class="form-control" id="unlockCode" name="unlockCode" translate translate-attr-placeholder="registration.unlock_code" ng-model="login.unlockCode" required></formrow>                            
                          </div>
		            	  <hr>
		            	  <p translate="oauth2.reshares_data" ng-show="app.resharesData"></p>
		            	  <p translate="oauth2.allows_user_search" ng-show="app.allowsUserSearch"></p>
		            	  <p translate="oauth2.requests_access"></p>
		            	  <div ng-repeat="group in app.defaultQuery.group" translate="oauth2.shares_group" translate-value-group="{{ group }}"></div>
		            	  <div ng-repeat="format in app.defaultQuery.format" translate="oauth2.shares_format" translate-value-format="{{ format }}"></div>
		            	  <div ng-repeat="content in app.defaultQuery.content" translate="oauth2.shares_content" translate-value-content="{{ content }}"></div>
		            	  
		            	  
		            	  
		            	  <div ng-show="app.termsOfUse">
		            	    <hr>
		            	    <div class="checkbox">
                               <label>
                                  <input type="checkbox" id="appAgb" name="appAgb" ng-model="login.appAgb">
                                  <span translate="registration.app_agb2"></span>
                                  <a ng-click="terms({which : app.termsOfUse })" href="javascript:" translate="registration.app_agb3"></a>
                               </label>
                            </div>
		            	  </div>
		            	  
		            	  <div ng-show="app.linkedStudy">
		            	    <hr>
		            	    <label>
		            	      <input type="checkbox" ng-model="login.confirmStudy">
		            	      <span translate="oauth2.confirm_study"></span>:
		            	    </label>
		            	    <p ng-show="app.linkedStudyTermsOfUse">
		            	      <a ng-click="terms({which : app.linkedStudyTermsOfUse })" href="javascript:" translate="registration.study_agb"></a>
		            	    </p>
		            	    <p>{{ app.linkedStudyName }}</p>
		            	    <p>{{ app.linkedStudyDescription }}</p>
		            	   
		            	  </div>
		            	  <p translate="{{ error.code }}" ng-show="error" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                           
	                        </p>
		            	  <button type="button" ng-disabled="app.termsOfUse && !login.appAgb" class="btn btn-primary" translate="oauth2.confirm_btn" ng-click="confirm();"></button>
		            	</div>
		            </div>
		         </div>
		    </div>			
			
		  </div>
		  <!--  <pre>{{ params | json }}</pre>  --> 
		</div>
	 
	</div>
	<div ng-show="view.active">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">	        
	         <div ng-include="'/views/shared/public/terms/terms-modal.html'"></div>
	       </div>
	   </div>
	   </div>	    	  
	</div>		
</div>
