
	<div  ng-controller="Spaces2Ctrl" class="midata-overlay borderless">
	<div class="overlay-body">
		
		<div ng-cloak>
		    
			<div class="panel panel-primary">
			  <div class="panel-heading"><span translate="{{ title || 'spaces.title' }}"></span>
			    <a ng-click="goBack()" href="javascript:" class="close-icon float-right" ng-show="notLocked()"><span class="fas fa-times"></span></a> 
			  </div>
			  <div class="panel-body">	
			
						<div class="row">
							<div class="col-12" ng-class="{'col-lg-6': space.compare}">
								<!-- Visualization -->
								<loader busy="!space.trustedUrl">
								<div id="iframe-placeholder">
									<pluginframe id="iframe" height="600px" width="100%" mysrc="{{space.trustedUrl}}"></pluginframe>
								</div>
								</loader>
							</div>
							<div class="col-lg-6" ng-show="space.compare">
								<!-- Visualization -->
								<loader busy="!space.copy.trustedUrl">
								<div id="iframe-placeholder-copy">
									<pluginframe id="iframe-copy" height="600px" width="100%" mysrc="{{space.copy.trustedUrl}}" ng-show="space.copy.trustedUrl"></pluginframe>
								</div>
								</loader>
							</div>
						</div>
						
						<!-- 
						<button class="btn btn-default" ng-hide="space.compare" ng-click="startCompare(space)">
							<span class="fas fa-adjust"></span> <span translate="spaces.compare_btn"></span>
						</button>
						<button class="btn btn-default" ng-show="space.compare" ng-click="endCompare(space)">
							<span class="fas fa-ban-circle"></span> <span translate="spaces.finish_comparing_btn"></span>
						</button>
						<button class="btn btn-danger" ng-click="deleteSpace(space)">
							<span class="fas fa-times-sign"></span> <span translate="spaces.delete_btn"></span>
						</button>
						<a class="btn btn-primary" ui-sref="^.recordsharing({ selectedType : 'spaces', selected : space._id})">
						    <span class="fas fa-share"></span> <span translate="spaces.used_btn"></span>
						</a>
						<button class="btn btn-primary" ng-hide="space.compare" ng-click="startShare(space)">
						    <span class="fas fa-share"></span><span translate="spaces.share_btn"></span>
						</button> 
						-->
						
				</div>
			 </div>							 				
		
		<modal>
	       <div ng-include="def.template"></div>
	    </modal>
		
		
		</div>
	</div>
	</div>
