
	<div  ng-controller="Spaces2Ctrl">
		
		
		<div ng-cloak>
		    <div class="extraspace">
			  <button class="btn btn-default" ng-click="goBack();"><span class="glyphicon glyphicon-chevron-left"></span><span translate="common.back_btn"></span></button>
			</div>
			<div class="panel panel-primary">
			  <div class="panel-heading" translate="spaces.title"></div>
			  <div class="panel-body">	
			
						<div class="row">
							<div ng-class="{'col-lg-6': space.compare}">
								<!-- Visualization -->
								<loader busy="!space.trustedUrl">
								<div id="iframe-placeholder">
									<pluginframe id="iframe" height="600px" width="100%" mysrc="{{space.trustedUrl}}" ng-show="space.trustedUrl"></pluginframe>
								</div>
								</loader>
							</div>
							<div class="col-lg-6" ng-show="space.compare">
								<!-- Visualization -->
								<loader busy="!space.copy.trustedUrl">
								<div id="iframe-placeholder-copy">
									<pluginframe id="iframe-copy" height="600px" width="100%" mysrc="{{space.copy.trustedUrl}}" ng-show="space.copy.trustedUrl"></pluginframe>
								</div>
								</loader>
							</div>
						</div>
						
						<!-- Space controls -->
						<button class="btn btn-default" ng-hide="space.compare" ng-click="startCompare(space)">
							<span class="glyphicon glyphicon-adjust"></span> <span translate="spaces.compare_btn"></span>
						</button>
						<button class="btn btn-default" ng-show="space.compare" ng-click="endCompare(space)">
							<span class="glyphicon glyphicon-ban-circle"></span> <span translate="spaces.finish_comparing_btn"></span>
						</button>
						<button class="btn btn-danger" ng-click="deleteSpace(space)">
							<span class="glyphicon glyphicon-remove-sign"></span> <span translate="spaces.delete_btn"></span>
						</button>
						<a class="btn btn-primary" ui-sref="^.recordsharing({ selectedType : 'spaces', selected : space._id.$oid})">
						    <span class="glyphicon glyphicon-share"></span> <span translate="spaces.used_btn"></span>
						</a>
						<button class="btn btn-primary" ng-hide="space.compare" ng-click="startShare(space)">
						    <span class="glyphicon glyphicon-share"></span><span translate="spaces.share_btn"></span>
						</button> 
						
				</div>
			 </div>							 				
		
		<modal>
	       <div ng-include="def.template"></div>
	    </modal>
		
		
		</div>
	</div>
