
	<div  ng-controller="ManageTermsCtrl">
		
		<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_manageterms.pagetitle">		  	
		</div>
		<div class="body">
		
		<form class="form-horizontal" ng-submit="addTerms()" novalidate role="form">
		  <formrow myid="name" label="admin_manageterms.name">
		    <input type="text" id="name" name="name" class="form-control" ng-model="newTerms.name" autofocus required>
		  </formrow>
		
		  <formrow myid="version" label="admin_manageterms.version">
		    <input type="text" id="version" name="version" class="form-control" ng-model="newTerms.version" required>
		  </formrow>		  
		
		  <formrow myid="language" label="admin_manageterms.language">
		    <select id="language" class="form-control" ng-model="newTerms.language" ng-options="lang.value as lang.name | translate for lang in languages"></select>		    
		  </formrow>
		
		  <formrow myid="title" label="admin_manageterms.title">
		    <input type="text" id="title" name="title" class="form-control" ng-model="newTerms.title" required>
		  </formrow>
		
		  <formrow myid="text" label="admin_manageterms.text">
		    <textarea rows="10" id="text" class="form-control" ng-model="newTerms.text"></textarea>
		  </formrow>		  		  
		  		
		  <formrow myid="x" label="">
		    <button type="submit" ng-disabled="status.action=='submit'" class="btn btn-primary" translate="common.submit_btn"></button>		    		  
		  </formrow>
	     </form>	  
		  
		
	</div>
	</div></div>