<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="StudyDetailCtrl" ng-cloak class="midata-overlay borderless">
	
 <div class="overlay-body" ng-hide="view.active">

		
    <div class="panel panel-primary">
				<div class="panel-heading">
				  <span translate="{{ 'enum.studytype.'+study.type }}"></span>
				  <a ng-click="goBack()" href="javascript:" class="close-icon float-right"><span class="fas fa-times"></span></a>
				</div>
				<div class="panel-body">
		
	<p ng-show="error && !error.field" translate="{{ error.code }}"
		ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert"></p>
	
				
	<div class="row">
		<div class="col-sm-4 infopanel">

          <div class="panel panel-primary">
				<div class="panel-heading" translate="studydetails.duration"></div>
				<div class="panel-body">

					<div class="lead">{{ study.startDate | date : 'dd.MM.yy' }} - {{ study.endDate | date: 'dd.MM.yy' }}</div>					
				</div>
			</div>



			<div class="panel panel-primary">
				<div class="panel-heading" translate="studydetails.information_that_needs_sharing"></div>
				<div class="panel-body">

                    <span ng-repeat="label in labels">
					   {{ label }}, 
					</span>
					<span ng-show="needs('RESTRICTED')" translate="studydetails.information_restricted"></span>
					<span ng-show="needs('DEMOGRAPHIC')" translate="studydetails.information_demographic"></span>
					<span ng-show="needs('NONE')" translate="studydetails.information_none"></span>

				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading" translate="studydetails.status"></div>
				<div class="panel-body">
                    
                    <div class="" ng-hide="!participation.pstatus || participation.pstatus == 'MATCH'" translate="{{ 'enum.participationstatus.'+participation.pstatus }}"></div>
					<div class="" ng-show="!participation.pstatus || participation.pstatus == 'MATCH'" translate="{{ 'enum.participantsearchstatus.'+study.participantSearchStatus }}"></div>
					<div class="" translate="{{ 'enum.studyexecutionstatus.'+study.executionStatus }}"></div>
					<div class="extraspace">&nbsp;</div>
					    <div ng-show="mayRequestParticipation()">
   				    
   				      
   				      
   				      <p translate="studydetails.request_participation_help"></p>
					  <button  ng-click="requestParticipation()" class="btn btn-primary"
		                translate="studydetails.request_participation_btn"></button>
		                
		              
		            </div>
		            <div ng-show="mayDeclineParticipation()">
		            
		             
		            
		              <p translate="studydetails.do_not_participate_help"></p>
	                <button  ng-click="noParticipation()" class="btn btn-danger"
		                translate="studydetails.do_not_participate_btn"></button>
		                
		              
		            </div>
		            <div ng-show="mayRetreatParticipation()">
		            
		              
		            
		              <p translate="studydetails.retreat_help"></p>
				    <button  ng-click="retreatParticipation()" class="btn btn-danger"
		                translate="studydetails.retreat_btn"></button>
		                
		             
                    </div>
                     <div ng-show="maySkip()" class="margin-top">		            		              		            		              
				    <button  ng-click="skip()" class="btn btn-default"
		                translate="common.skip_btn"></button>		                		             
                    </div>
				</div>
			</div>

		</div>

		

		<div class="col-sm-8">
				
			<div class="alert alert-info" ng-show="pleaseReview">
                 <h4 class="alert-heading" translate="studydetails.please_review1"></h4>
                 <p translate="studydetails.please_review2"></p>
            </div>
				    
				    <div class="panel panel-primary" ng-if="study.infosPart.length">
				        <div class="panel-heading" translate="studydetails.for_participants"></div>
				        <div class="panel-body">
					
					    <div ng-repeat="info in study.infosPart | filter : { 'type' : '!SUMMARY' }">
					       <h4 ng-hide="info.type=='DESCRIPTION'" translate="{{ 'enum.infos.'+info.type }}"></h4>
					       <p>{{ info.value[lang] || info.value.int }}</p>
					    </div> 
					
					</div></div>
				    
				    <p class="lead">{{ study.name }}</p>
				    <div class="line"></div>	
				    		
					<p ng-hide="study.infos.length">{{ study.description }}</p>
															
					<div ng-repeat="info in study.infos | filter : { 'type' : '!SUMMARY' } | filter : { 'type' : '!ONBOARDING' }">
					  <h4 ng-hide="info.type=='DESCRIPTION'" translate="{{ 'enum.infos.'+info.type }}"></h4>
					  <p>{{ info.value[lang] || info.value.int }}</p>
					</div>
					
					
				
					
                    <p ng-show="study.termsOfUse">
					  <a href="javascript:" ui-sref="^.terms({ which : study.termsOfUse })" translate="registration.study_agb"></a>
					</p>
                    
                    <div class="extraspace">&nbsp;</div><div class="extraspace">&nbsp;</div>
   				
                    <div ng-show="links.length">
                      <div class="extraspace">&nbsp;</div><div class="extraspace">&nbsp;</div>
                      <p class="lead" translate="studydetails.recommended_apps"></p>
                      <div ng-repeat="link in links">
                        <div><b>{{ link.app.i18n[translate.use()].name || link.app.name }}</b></div>
                        <div>{{ link.app.i18n[translate.use()].description || link.app.description }}</div>
                        <div ng-show="link.app.type != 'mobile'">
                          <button class="btn btn-default" ng-click="installApp(link.app)" translate="studydetails.use_app"></button>
                        </div>
                        <div class="extraspace"></div>
                      </div>
                    </div>
           


		</div>
	</div>
	</div>
	</div>

	<div class="panel panel-primary" ng-show="participation && study.assistance=='HCPROFESSIONAL'">
		<div class="panel-heading" translate="studydetails.providers_monitoring"></div>
		<div class="panel-body">
			<p ng-show="providers.length == 0" translate="studydetails.no_providers"></p>
			<div ng-repeat="prov in providers">
				<address>
					<strong>{{ prov.firstname }} {{ prov.lastname }}</strong><br> {{ prov.address1 }}<br> {{ prov.address2 }}<br> {{
					prov.zip }} {{ prov.city }}<br> {{ 'enum.country'+prov.country | translate }}<br> <span ng-show="prov.phone"><span
						translate="common.user.phone"></span>: {{ prov.phone }}</span><br> <span ng-show="prov.mobile"><span
						translate="common.user.mobile_phone"></span>: {{ prov.mobile }}</span><br> <span ng-show="prov.email"><span
						translate="common.user.email"></span>: {{ prov.email }}</span><br>
				</address>
				<button class="btn btn-danger btn-sm" ng-click="removeProvider(prov);" translate="studydetails.provider_remove_btn"></button>
			</div>
			<div class="extraspace"></div>
			<button class="btn btn-default" ng-click="addProvider()" translate="studydetails.provider_add_btn"></button>
		</div>
	</div>

	<div class="panel panel-primary" ng-if="participation">
		<div class="panel-heading" translate="studydetails.participation_history"></div>
		<div class="panel-body">
			<auditlog entity="{{ participation._id }}"></auditlog>
		</div>
	</div>



	

	<div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
</div>

  <div ng-show="view.active">      
	     <div ng-include="'/views/shared/public/terms/terms-modal.html'"></div>	    	  
  </div>
   
</div>
