
	<div ng-controller="RecordsCtrl">
		
	<div class="panel panel-primary">
	  <div class="panel-heading" translate="records.title"></div>
	  
	   
		  <div style="margin:10px">
		  
		  <div class="alert alert-info" ng-show="consent">
		    <span translate="records.share_instructions1"></span><strong>{{ consent.name }}</strong>.<br>
		    <span translate="records.share_instructions2"></span><strong>{{ consent.authorized.length }}</strong> <span translate="records.share_instructions3"></span><br><br>	
		    <a class="btn btn-default btn-sm" ui-sref="^.editconsent({ consentId : selectedAps._id })">Done</a>	     
		  </div>
		  
		  <div class="alert alert-info" ng-show="allowDelete">
		    <p><span translate="records.delete_instructions1"></span> <b translate="records.delete_instructions2">delete</b> <span translate="records.delete_instructions3"></span> <b translate="records.delete_instructions4"></b> <span translate="records.delete_instructions5"></span></p>
		    <p translate="records.delete_instructions6"></p>	     
		  </div>
		  		  
		<div class="row">	
			<div class="pull-right col-sm-4" ng-show="displayAps.owner && compare!=null">
			   <label for="selectedAps" translate="records.shared_with"></label>
			  <select class="form-control" id="selectedAps" ng-model="selectedAps" ng-options="c as c.i18n | translate:{ name : c.name } for c in compare" ng-change="loadSharingDetails()"></select>
	        </div>	
	        <div class="pull-right col-sm-4" ng-show="compare==null && selectedAps!=null && selectedType=='spaces'">
			  <label for="selectedAps" translate="records.records_used_for_app"></label>	
			  <a class="btn btn-default" ui-sref="^.spaces({ spaceId : selectedAps._id })" translate="records.back_to_plugin"></a>		  
	        </div>		        
	        <div class="col-sm-4">
	           <label for="owner" ng-dblclick="showDebug()" translate="records.show"></label>
	           <select class="form-control" id="owner" ng-model="displayAps" ng-options="c as c.i18n | translate:{ name : c.name } for c in availableAps" ng-change="selectSet()"></select>
	        </div>			
        </div>	
        
        <div class="row"><div class="col-sm-12">
          <form class="form">
		    <div class="radio">
		      <label>
                <input type="radio" name="treetype" value="group" checked ng-click="setTreeMode('group');"> <span translate="records.by_group"></span> 
              </label>
            </div>
            <div class="radio">
              <label class="radio-inline">
                <input type="radio" name="treetype" value="plugin" ng-click="setTreeMode('plugin');"> <span translate="records.by_plugin"></span>
              </label>
            </div>
          </form>
        
        </div></div>
        </div>
        <loader busy="status.isBusy !== false">					
		<script type="text/ng-template"  id="tree_item_renderer.html">
           <div class="pull-right sharebox" ng-show="selectedAps">	                				  
				<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-click="unshareGroup(data);" ng-show="isSharedGroup(data)">
					<span class="glyphicon glyphicon-picture"></span><span translate="records.unshare"></span>
				</button>
				<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-hide="isSharedGroup(data)" ng-click="shareGroup(data);">
					<span class="glyphicon glyphicon-share"></span><span translate="records.share"></span>
			    </button>
		   </div>	
           <h1>
              <span ng-show="data.children.length">
              <span ng-click="setOpen(data,true);" ng-hide="data.open" class="treehandle glyphicon glyphicon-plus"></span>
              <span ng-show="data.open && !data.type" ng-click="setOpen(data,false);" class="treehandle glyphicon glyphicon-minus"></span>
              </span>
              <span ng-hide="data.children.length" class="treehandle glyphicon">&nbsp;</span>
              <a href="javascript:" ng-click="showRecords(data);" ng-class="{ 'text-success' : isSharedGroup(data), 'format': data.type == 'content', 'nodata' : data.count == 0 }">{{data.fullLabel}}</a> <small>(<span ng-show="selectedAps">{{ data.countShared }} / </span>{{ data.count }})</small><button class="btn btn-xs btn-danger" ng-show="allowDelete" ng-dblclick="deleteGroup(data)" translate="records.delete_all_btn"></button></h1>
           <div ng-show="data.open">          
           
            
           <div class="subtree">
            <div ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"></div>
           </div>
           </div>
        </script>
        
        <div class="tree" ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></div>       		 
			
			<!-- Records -->
			
			<div class="panel-body" ng-show="tree.length === 0" translate="records.empty"></div>
			
			</loader>
	    </div>
	
	    <div id="recdetailmodal" class="modal fade"> 
          <div class="modal-dialog modal-lg"> 
            <div class="modal-content"> 
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h4 class="modal-title">{{selectedData.fullLabel}}</h4> 
              </div>
              <div class="container" ng-if="selectedData.allRecords.length > 10">
              <dir-pagination-controls pagination-id="selectedData.id"></dir-pagination-controls>
              </div>

           <ul class="list-group nospaceafter" ng-if="selectedData.allRecords.length > 0">
				<li class="list-group-item" dir-paginate="record in selectedData.allRecords | itemsPerPage : 10" pagination-id="selectedData.id" ng-class="{ 'list-group-item-success' : ( isShared(record)) }">
					<span class="label label-info">{{record.created | date}}</span>
					<span ng-show="record.owner != userId" class="label label-info">{{ record.ownerName }}</span>
					<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>
                    <button ng-show="allowDelete && isOwnRecord(record)" ng-dblclick="deleteRecord(record, selectedData)" class="btn btn-danger btn-xs" translate="records.delete"></button>
                    <div class="pull-right" ng-hide="selectedAps==null">					   
						<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-click="unshare(record, selectedData);" ng-show="isShared(record)">
							<span class="glyphicon glyphicon-picture"></span><span translate="records.unshare"></span>
						</button>
						<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-hide="isShared(record)" ng-class="{'disabled': !isOwnRecord(record)}" ng-click="share(record, selectedData);">
							<span class="glyphicon glyphicon-share"></span><span translate="records.share"></span>
						</button>
					</div>										
				</li>
			</ul>
			<div class="container" ng-show="selectedData.allRecords.length === 0" translate="records.empty"></div>
			<div class="modal-footer">			  
			  <button class="btn btn-default" data-dismiss="modal" translate="records.close_btn"></button>
			</div> 
            </div>
           
          </div> 
        </div>
		
	</div>
		
	
	