<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Record List</title>
		
		<!-- build:css app.min.css -->
		<link rel="stylesheet" href="components/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="components/midata-css/index.css">
		<!-- endbuild -->
		
		<!-- build:js app.min.js -->
		<script type="text/javascript" src="components/angular/angular.js" defer></script>		
		<script type="text/javascript" src="components/midata-js/index.js" defer></script>
		<script type="text/javascript" src="app.js" defer></script>
		<!-- endbuild -->
		
	</head>
	<body>
		<div class="container" style="max-height:250px;overflow:auto"ng-app="recordList" ng-controller="RecordListPreviewCtrl" ng-cloak>
			 <div class="text-center lead">{{ summary.count }} Entries</div> 
             <div ng-show="summary.newest" class="text-center">Last entry at <b>{{ summary.newest | date }}</b>.</div>
             <hr/>		
             <div ng-show="summary.count === 0">
               <p><strong>Start taking notes now!</strong></p>
               <p>Use this as a diary or to document whatever you want.</p>
               <p>Your notes may also be viewed using the calendar.</p> 
             </div>
			 <strong>{{record.name}}</strong>							
			 <div style="white-space: pre-line;">{{record.data.valueString}}</div>
						
		</div>
	</body>
</html>
