<div>

<form class="form-inline">
  <div class="form-group" ng-show="reports.length > 1">
    <label for="report">Report:</label>
    <select id="report" class="form-control" ng-model="report" ng-options="report.name for report in reports" ng-change="prepareReport()"></select>
  </div>
  <div class="form-group" ng-show="report.timeUnits">
     <label for="timeUnit">Time Unit:</label>
     <select id="timeUnit"  class="form-control" ng-model="timeUnit" ng-options="tu.name as tu.name for tu in timeUnits" ng-change="prepareFilter()"></select>
  </div>
  <div class="form-group" ng-show="report.filter">
     <label for="filter">{{ report.filterLabel }}</label>
     <select id="filter"  class="form-control" ng-model="selectedFilter" ng-options="f for f in filter" ng-change="prepareFilter()"></select>
  </div>
  <div class="form-group" ng-show="report.filter2">
     <label for="filter2">{{ report.filterLabel2 }}</label>
     <select id="filter2" class="form-control" ng-model="selectedFilter2" ng-options="f for f in filter2" ng-change="update()"></select>
  </div>
  <div style="margin-left:5px" class="form-group" ng-show="!readonly && (reports.length > 1 || report.filter || report.filter2)">
    <button class="btn btn-default" ng-hide="saving" ng-click="saveConfig()">Save Setting</button>    
    <button class="btn btn-default" disabled="true" ng-show="saving">Saving...</button>
  </div>
  <div class="form-group" ng-show="!readonly && (reports.length > 1 || report.filter || report.filter2)">
    <div class="input-group">
    <input class="form-control" type="text" ng-model="name" placeholder="Name for new chart">
    <div class="input-group-btn">
      <button ng-click="add(name)" ng-disabled="!name" ng-hide="saving2" class="btn btn-default">Add</button>
      <button class="btn btn-default" disabled="true" ng-show="saving2">Saving...</button>
    </div>
    </div>    
  </div>
</form>
<p ng-show="report.unit">Unit: {{ report.unit }}</p>
<div ng-show="entries.length==0" class="alert alert-warning">
  <strong>Nothing to display!</strong> There must be at least one record with known format assigned to this visualization.  
</div>

<div class="alert alert-info" ng-show="chartType=='calculation'">
  Please wait, chart is calculated... 
</div>


<div ng-if="chartType=='line'">
<canvas id="line" class="chart chart-line" data="data"
  labels="labels" legend="true" series="series"
  click="onClick">
</canvas> 
</div>

<div ng-if="chartType=='bar'">
<canvas id="bar" legend="true" class="chart chart-bar" data="data" labels="labels" series="series"></canvas>
</div>

<div ng-if="chartType=='pie'">
<canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels"></canvas>
</div>

<div ng-if="chartType=='radar'">
<canvas id="radar" class="chart chart-radar" data="data" labels="labels" series="series"></canvas>
</div>
   
<div ng-if="chartType=='simple'">
  <div class="text-center text-primary">Measure: <b>{{ entry.format }}</b></div>
  <div ng-show="entry.context" class="text-center">Context: <i>{{ entry.context }}</i></div>
  <div class="text-center lead"><span style="color: #1c4982;display: block;font-size: 100px;">{{ entry.value }}</span>{{ entry.unit }}</div>
  <div class="text-center">Date: <strong>{{ entry.dateTime }}</strong></div>
</div>
</div>