
<div ng-if="chartType==line">
<canvas id="line" class="chart chart-line" data="data"
  labels="labels" legend="true" series="series"
  click="onClick">
</canvas> 
</div>

<div ng-if="chartType==bar">
<canvas id="bar" legend="true" class="chart chart-bar" data="data" labels="labels"></canvas>
</div>

<div ng-if="chartType==pie">
<canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels"></canvas>
</div>

<div ng-if="chartType==radar">
<canvas id="radar" class="chart chart-radar" data="data" labels="labels"></canvas>
</div>
 