<div>
    <h2 translate="measures.title"></h2>
    <p translate="measures.description"></p>
 
     <div class="checkbox" ng-repeat="f in baseInfo.content">
      <label >
       <input type="checkbox" ng-checked="isSelected('content', f)" ng-click="toggleSelection('content', f);" >
       {{ getLabel("content", f) | translate }}
      </label>
     </div>
  
    <button class="btn btn-primary" ng-disabled="reportInfo.content.length===0" ng-click="next('timeframe' , 'measures')" translate="next_btn"></button>  
 </div>