 <div>
   <h2 translate="timeframe.title"></h2>
   <p translate="timeframe.description"></p>
   
   <div class="radio" ng-repeat="t in timings">
     <label>
       <input type="radio" name="timeframe" ng-value="t.value" ng-model="reportInfo.timing">
       <span translate="{{ t.label }}"></span>
     </label>
   </div>
  
  <div ng-show="reportInfo.timing >= 90 || reportInfo.timing == 0">
   <p translate="timeframe.unit"></p>
   <div class="radio" ng-repeat="t in timeUnits" ng-show="t.name !== 'year' || reportInfo.timing === 0">
     <label>
       <input type="radio" name="timeUnit" ng-value="t.name" ng-model="reportInfo.timeUnit">
       <span translate="{{ t.name || 'day' }}"></span>
     </label>
   </div>
 </div>
   
  <div class="form-inline" ng-show="reportInfo.timing==0">
  <div class="form-group">
    <label for="minDate" translate="from"></label>
  </div><div class="form-group">
  <div class="input-group">
     <input id="minDate" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="reportInfo.minDate" is-open="datePickers.fromTimeOpened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
     <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datePickers.fromTimeOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
     </span>
  </div>
  </div>
  
  <div class="form-group separator">
  <label for="maxDate" translate="to"></label>
  </div><div class="form-group">
  <div class="input-group">
     <input id="maxDate" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="reportInfo.maxDate" is-open="datePickers.toTimeOpened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
     <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datePickers.toTimeOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
     </span>
  </div>
  </div>
  </div>
  
  
   
   <button class="btn btn-primary" ng-click="next('charttype', 'timeframe')" translate="next_btn"></button>  
      
  </div>