<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


<div class="ignore autosize" ng-controller="AddUsersCtrl">
  <div class="body">
		
	<div ng-show="contacts.length > 0">
	   <p translate="addusers.contacts"></p>
		<div class="form-check" ng-repeat="contact in filteredContacts = (contacts | filter:isntMember)">
			<label class="form-check-label"> <input class="form-check-input" type="checkbox" ng-model="contact.checked"> <span class="margin-left">{{contact.firstname}} {{contact.lastname}} &lt;{{contact.email}}&gt;</span>
			</label>
		</div>
		<p ng-show="filteredContacts.length === 0" translate="addusers.no_contacts_to_add"></p>
	</div>
	<hr>
	<form class="form-horizontal" ng-submit="searchUsers()">
	   <p translate="addusers.search_by_email"></p>
		<div class="form-group form-row">
			<div class="col-10">
				<input type="text" class="form-control" translate translate-attr-placeholder="addusers.search_user" ng-model="crit.userQuery" autofocus>
			</div>
			<div class="col-2">
				<button type="submit" ng-disabled="!crit.userQuery" class="btn btn-primary form-control" translate="common.search_btn"></button>
			</div>
		</div>
	</form>
	<p ng-show="searching" translate="addusers.searching"></p>
	<p ng-show="!searching && foundUsers.length === 0" translate="addusers.no_matching_users"></p>
	<div ng-show="!searching && foundUsers.length > 0">
		<div class="form-check" ng-repeat="user in filteredUsers = (foundUsers | filter:isntMember)">
			<label class="form-check-label"> <input class="form-check-input" type="checkbox" ng-model="user.checked"> {{user.name}}
			</label>
		</div>
		<p ng-show="filteredUsers.length === 0" translate="addusers.no_new_found"></p>
	</div>
	
</div>
<div class="footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addUsers(circle)" translate="common.add_btn"></button>
	<button type="button" class="btn btn-default" data-dismiss="modal" translate="common.cancel_btn"></button>
</div>
</div>