<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="NewsConfigCtrl" class="ignore autosize">        

  <loader busy="status.isBusy !== false">
  <div class="body">
  
  <div ng-if="view.setup.icon" class="float-left themeicon">
    <img ng-src="{{ view.setup.icon }}" >
  </div>		  
  <div ng-bind-html="view.setup.text"></div>
  <p><a ng-href="{{ view.setup.url }}">{{ view.setup.urlText }}</a></p>
  </div>
   <div ng-if="view.setup.link" class="footer">			  
	  <a ui-sref="{{ view.setup.link }}" class="btn btn-primary">{{ view.setup.button }}</a>
  </div>	
  </loader>
</div>