<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Record List</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
	</head>
	<body>
		<div class="" ng-app="recordList" ng-controller="RecordListCtrl" ng-cloak>
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{error}}</p>
			</div>
			<div ng-show="loading">
				<p>Loading records...</p>
			</div>
			<div ng-hide="loading">
			    <div class="alert alert-warning" ng-show="skipped.wrongFormat">{{ skipped.wrongFormat }} record(s) were ignored due to wrong data format.</div>
			    <div class="alert alert-warning" ng-show="skipped.outdated">{{ skipped.outdated }} record(s) were outdated and have been ignored.</div>
				<div class="alert alert-info" ng-hide="records.length">There are no records to display.</div>
				<div class="panel-group" ng-show="records.length">
					<div class="panel panel-default" ng-repeat="pair in records">
						<div class="panel-heading">
							<h4 class="panel-title">
							    <div class="pull-right">
							      <span ng-if="pair.part1" class="badge">Patient: {{ pair.part1.created.split(" ")[0] }}</span>
							      <span ng-if="pair.part2" class="badge">Arzt: {{ pair.part2.created.split(" ")[0] }}</span>
							    </div>
								
									{{pair.ownerName}}
								
							</h4>
						</div>
						<div class="panel-collapse">
							<div class="panel-body">
							   <table class="">
							     <tbody>							         
								     <tr ng-if="pair.part1">
								       <td>Blutdruck, diastolischer</td>
								       <td>{{ pair.part1.data.bloodpressureDia }}</td><td>[mmHg]</td>								       
								     </tr>
								     <tr ng-if="pair.part1">
								       <td>Blutdruck, systolischer</td>
								       <td ng-class="{ 'text-danger' : pair.part1.data.bloodpressureSys > 160 }">{{ pair.part1.data.bloodpressureSys }}</td><td>[mmHg]</td>								       
								     </tr>
								     <tr ng-if="pair.part1">
								       <td>Gewicht</td>
								       <td>{{ pair.part1.data.weight }}</td><td>[kg]</td>								       
								     </tr>
								     <tr ng-if="pair.part1">
								       <td>Herzfrequenz (Ruhepuls am Morgen)&nbsp;&nbsp;</td>
								       <td>{{ pair.part1.data.heartrate }}</td><td>[1/min]</td>								       
								     </tr>								     							     
							         <tr ng-if="pair.part2">
								       <td>LDL Cholesterin</td>
								       <td ng-class="{ 'text-danger' : pair.part2.data.ldl > 160 }">{{ pair.part2.data.ldl }}</td><td>[mg/dl]</td>								       
								     </tr>
								     <tr ng-if="pair.part2">
								       <td>HDL Cholesterin</td>
								       <td>{{ pair.part2.data.hdl }}</td><td>[mg/dl]</td>								       
								     </tr>
								     <tr ng-if="pair.part2">
								       <td>Glucose</td>
								       <td>{{ pair.part2.data.glucose }}</td><td>[mg/dl]</td>								       
								     </tr>								     
							     </tbody>
							   </table>
							   <div style="margin-top:10px"></div>
							   <div class="alert alert-danger" ng-hide="pair.part1">Record des Patienten fehlt!</div>
							   <div class="alert alert-danger" ng-hide="pair.part2">Record des Arztes fehlt!</div>
							   <div ng-show="isComplete(pair)">
							   <div class="alert alert-danger" ng-show="hasRisk(pair)">Patient sollte einen Termin mit dem Arzt vereinbaren!</div>
							   <div class="alert alert-success" ng-hide="hasRisk(pair)">Kein Risiko identifiziert</div>
							   </div>
							   
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
