<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

    <div ng-show="isReady" class="dashboard" ng-controller="DashboardCtrl">
    
    <div ng-if="layout.addmore && !layout.page.length">
	  <div class="clearfix">
	    <a ui-sref="{{ layout.addmore.link }}" class="btn btn-default float-right"><span class="fas fa-plus"></span><span translate="{{ layout.addmore.button }}"></span></a>
	  </div>
	  <div class="extraspace"></div>	  
	</div>
	
    
    <div class="bigline" ng-repeat="def in layout.page">
      <div class="midata-overlay borderless">
      <div class="overlay-body">
      <div class="panel panel-primary">
	    <div class="panel-heading">
	      <span ng-click="makeSmall(def)" translate="{{ def.title }}"></span>
	      <a ng-show="def.actions.remove" ng-click="remove(def)" class="float-right" href="javascript:"><span class="fas fa-times-circle"></span></a>
	      <a ng-show="def.actions.big" ng-href="{{def.actions.big}}" class="float-right"><span class="fas fa-plus-sign"></span></a>
	      <a ng-click="layout.page=[];" href="javascript:" class="close-icon float-right"><span class="fas fa-times"></span></a>
	    </div>
        <div class="ignore" ng-include="def.template"></div>		  
	  </div>
	  </div>
	  </div>
	</div>
    
    <div ng-hide="layout.page.length">
    
    <div ng-repeat="def in layout.full">
   
      <div class="panel panel-primary" ng-show="def.active">
	    <div class="panel-heading">
	      <span ng-click="makeSmall(def)" translate="{{ def.title }}"></span>
	      <a ng-show="def.actions.remove" ng-click="remove(def)" class="float-right" href="javascript:"><span class="fas fa-times-circle"></span></a>
	      <a ng-show="def.actions.big" ng-href="{{def.actions.big}}" class="float-right"><span class="fas fa-plus-sign"></span></a>
	    </div>
        <div class="ignore" ng-include="def.template"></div>		  
	  </div>
	
	</div>
	
	<div ng-repeat="def in layout.line">
   
      <div class="panel panel-primary" ng-show="def.active">
	    <div class="panel-heading">
	      <span ng-click="makeSmall(def)" translate="{{ def.title }}"></span>
	      <span class="ignore" ng-include="def.template"></span>
	      <a ng-show="def.actions.remove" ng-click="remove(def)" class="float-right" href="javascript:"><span class="fas fa-times-circle"></span></a>
	      <a ng-show="def.actions.big" ng-href="{{def.actions.big}}" class="float-right"><span class="fas fa-plus-sign"></span></a>
	    </div>        	
	  </div>
	
	</div>
	
	<div class="row">
	  
	     <div ng-repeat="def in layout.small | orderBy : 'order'" class="col-lg-4 col-md-6"  ng-show="def.active">
	          
		      <div class="panel panel-primary">
			    <div class="panel-heading">
			      <span ng-click="makeBig(def)" translate="{{ def.title }}"></span>
			      <a ng-show="def.actions.remove" ng-click="remove(def)" href="javascript:" class="float-right"><span class="fas fa-times-circle"></span></a>
			      <a ng-show="def.actions.big" ng-href="{{def.actions.big}}" class="float-right"><span class="fas fa-plus-sign"></span></a>
			    </div>
		        <div class="smallpanel ignore" ng-include="def.template"></div>		  
			  </div>	
	    
	     </div>	  
	</div>
	
	
	
	</div>
	
	<div ng-repeat="def in layout.modal">	  
      <modal>
	     <div ng-include="def.template"></div>
	  </modal>	          
	
	</div>
		
   </div>         
