
  <div class="page-header">
    <h1>Studies</h1>
  </div>
  <div ng-controller="CreateStudyCtrl" ng-cloak class="panel panel-primary">
	<div class="panel-heading">Create new study</div>
	<div class="panel-body">
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="createstudy()" role="form">
	  @formrow("name","Study name") { 
		<input type="text" class="form-control" id="name" name="name" placeholder="Study Name" ng-model="study.name" ng-required="true">
		@formerror("name","exists","A study with this name already exists.") 
      }
      @formrow("description", "Study description") {
        <textarea class="form-control" id="description" name="description" rows="5" ng-model="study.description" ng-required="true"></textarea>
      }
      @formrow("x", "") {
        <button type="submit" class="btn btn-primary">Create</button>
      }
    </form>	
    </div>
  </div>
 