<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Daily Training</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="../js/app.js" defer></script>
	</head>
	<body>
		<div class="container-fluid" ng-app="planCreator" ng-controller="PreviewTrainingCtrl" ng-cloak>
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{error}}</p>
			</div>
			
			<div ng-show="activePlan">
			<form class="form-inline">
			  <div class="form-group">
			    <label for="activePlan" class="sr-only">Plan:</label>
			    <select class="form-control" id="activePlan" ng-change="process(activePlan)" ng-model="activePlan" ng-options="plan as name for (name,plan) in availablePlans" ></select>
			  </div>			 		  
			</form>
			
			<p ng-show="day.actions.length"><i>{{ day.date | date }} / {{ day.location }}</i></p>			
			<p ng-hide="day.actions.length"><strong>No planned actions for today.</strong></p>			  
			<div style="height:20px" ng-repeat="action in day.actions | limitTo:8"  ng-style="style(action)">
			    {{ action.name }} {{ action.count }}
			</div>
			</div>
			<div ng-hide="activePlan" style="font-style: italic;color: #707070;font-size: 21px;text-align: center;margin-top:20px;">
			  In order to use the diary you need to have a training plan first!
			</div>
	   </div>
	</body>
</html>
