
<div ng-controller="AdminStudyCtrl" ng-cloak>

	<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.title"></div>
		<div class="body">
	<loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	<table class="table">
	  <tr>
	    <td translate="admin_study.name"></td>
	    <td>{{ study.name }}</td>
	  </tr>
	  <tr>
        <td translate="admin_study.created_at"></td>
        <td>{{ study.createdAt | date : 'dd.MM.yy' }}</td>
      </tr>
       <tr>
        <td translate="admin_study.created_by"></td>
        <td>{{ creator.firstname }} {{ creator.lastname }} ({{ creator.email }})</td>
      </tr>    
      <tr>
        <td translate="admin_study.description"></td>
        <td>{{ study.description }}</td>
      </tr>      
      <tr>
	    <td translate="admin_study.code"></td>
	    <td>{{ study.code }}</td>
	  </tr>
	  <tr>
	    <td translate="admin_study.startDate"></td>
	    <td>{{ study.startDate | date : 'dd.MM.yy' }}</td>
	  </tr>       
	  <tr>
	    <td translate="admin_study.endDate"></td>
	    <td>{{ study.endDate | date : 'dd.MM.yy'}}</td>
	  </tr>
	  <tr>
	    <td translate="admin_study.dataCreatedBefore"></td>
	    <td>{{ study.dataCreatedBefore | date }}</td>
	  </tr>
    </table>	
    </loader>
    </div>
    </div>
        
    <div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.required_information"></div>
		<div class="body">
		  <p><span translate="admin_study.required_information"></span>: <b>{{ study.requiredInformation }}</b></p>
		  <p><span translate="admin_study.required_assistance"></span>: <b>{{ study.assistance }}</b></p>
		  <p><span translate="admin_study.termsOfUse"></span>: <b><a ui-sref="^.terms({which:study.termsOfUse})">{{ study.termsOfUse }}</a></b></p>		  
		  <p><span translate="admin_study.sharing_query"></span>:</p>
		  <pre>{{ study.recordQuery | json }}
		  </pre>
		  <p translate="admin_study.requirements"></p>
		  <ul>
		    <li ng-repeat="req in study.requirements" translate="{{'enum.userfeature.'+req}}"></li>
		  </ul>
		</div>
	</div>
	
	 <div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.groups"></div>
		<div class="body">
		  <table class="table table-striped">
		      <tr>
		        <th translate="admin_study.group_name"></th>
		        <th translate="admin_study.group_description"></th>		        
		      </tr>
		      <tr ng-repeat="group in study.groups">
		        <td>{{ group.name }}</td>
		        <td>{{ group.description }}</td>		        
		      </tr>
         </table>
		</div>
	</div>
    
    <div class="panel panel-primary">
    <div class="panel-heading" translate="admin_study.history"></div>
    <div class="panel-body">
    <auditlog entity="{{ study._id }}"></auditlog>
    
    </div>
    </div>
    
  
    <a class="btn btn-default" ui-sref="admin.studies" translate="common.back_btn">Back</a> 
    <button ng-show="study.validationStatus == 'VALIDATION'" class="btn btn-primary" ng-click="finishValidation()" translate="admin_study.end_validation_btn"></button>    
    <button ng-show="study.validationStatus == 'VALIDATION'" class="btn btn-default" ng-click="backToDraft()" translate="admin_study.back_to_draft_btn"></button>
    <button ng-show="readyForDelete()" class="btn btn-danger" ng-click="delete()" translate="admin_study.delete_study_btn"></button>
    
</div>
