
<div ng-controller="AdminStudyCtrl" ng-cloak>

	<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.title"></div>
		<div class="body">
	<loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	<table class="table">
	  <tr>
	    <td translate="admin_study.name"></td>
	    <td>{{ study.name }}</td>
	  </tr>
	   <tr>
	    <td translate="admin_study.type"></td>
	    <td>{{ 'enum.studytype.' + study.type | translate }}</td>
	  </tr>
	  <tr>
        <td translate="admin_study.created_at"></td>
        <td>{{ study.createdAt | date : 'dd.MM.yy' }}</td>
      </tr>
       <tr>
        <td translate="admin_study.created_by"></td>
        <td>{{ creator.firstname }} {{ creator.lastname }} ({{ creator.email }})</td>
      </tr>    
      <tr>
        <td translate="admin_study.description"></td>
        <td>{{ study.description }}</td>
      </tr>      
      <tr>
	    <td translate="admin_study.code"></td>
	    <td>{{ study.code }}</td>
	  </tr>
	  <tr>
	    <td translate="admin_study.startDate"></td>
	    <td>{{ study.startDate | date : 'dd.MM.yy' }}</td>
	  </tr>       
	  <tr>
	    <td translate="admin_study.endDate"></td>
	    <td>{{ study.endDate | date : 'dd.MM.yy'}}</td>
	  </tr>
	  <tr>
	    <td translate="admin_study.dataCreatedBefore"></td>
	    <td>{{ study.dataCreatedBefore | date : 'dd.MM.yy' }}</td>
	  </tr>
	  <tr>
	    <td translate="admin_study.joinmethods"></td>
	    <td>
	      <ul>
		    <li ng-repeat="method in study.joinMethods" translate="{{'enum.joinmethod.'+method}}"></li>
		  </ul>
	    </td>
	  </tr>
	   <tr>
	    <td translate="admin_study.consent_observers"></td>
	    <td>
	      <ul>
		    <li ng-repeat="appName in study.consentObserverNames">{{ appName }}</li>
		  </ul>
	    </td>
	  </tr>
    </table>	
      
		  
    </loader>
    </div>
    </div>
    
    <div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.infos"></div>
		<div class="body">
		  <div ng-repeat="info in study.infos">
		    <h4 translate="{{ 'enum.infos.'+info.type }}"></h4>
		    <div ng-repeat="(k,v) in info.value">
		      <p><b>{{k}}:</b><br>{{v}}</p>
		    </div>
		  </div>
		</div>
	</div>
	
	<div class="panel panel-primary" ng-show="study.infosInternal.length">
		<div class="panel-heading" translate="admin_study.infos_internal"></div>
		<div class="body">
		  <div ng-repeat="info in study.infosInternal">
		    <h4 translate="{{ 'enum.infos.'+info.type }}"></h4>
		    <div ng-repeat="(k,v) in info.value">
		      <p><b>{{k}}:</b><br>{{v}}</p>
		    </div>
		  </div>
		</div>
	</div>
	     
	<div class="panel panel-primary" ng-show="study.infosPart.length">
		<div class="panel-heading" translate="admin_study.infos_part"></div>
		<div class="body">
		  <div ng-repeat="info in study.infosPart">
		    <h4 translate="{{ 'enum.infos.'+info.type }}"></h4>
		    <div ng-repeat="(k,v) in info.value">
		      <p><b>{{k}}:</b><br>{{v}}</p>
		    </div>
		  </div>
		</div>
	</div>      
        
    <div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.required_information"></div>
		<div class="body">
		  <p><span translate="admin_study.required_information"></span>: <b>{{ study.requiredInformation }}</b></p>
		  <p><span translate="admin_study.anonymous"></span>: <b translate="{{ 'common.yesno.'+study.anonymous }}"></b></p>
		  <p><span translate="admin_study.required_assistance"></span>: <b>{{ study.assistance }}</b></p>
		  <p><span translate="admin_study.termsOfUse"></span>: <b><a ui-sref="^.terms({which:study.termsOfUse})">{{ study.termsOfUse }}</a></b></p>		  
		  <p><span translate="admin_study.sharing_query"></span>:</p>
		  <accessquery query="study.recordQuery" details="true"></accessquery>
		  <pre>{{ study.recordQuery | json }}
		  </pre>
		  <p translate="admin_study.requirements"></p>
		  <ul>
		    <li ng-repeat="req in study.requirements" translate="{{'enum.userfeature.'+req}}"></li>
		  </ul>
		
		</div>
	</div>
	
	 <div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.groups"></div>
		<div class="body">
		  <table class="table table-striped">
		      <tr>
		        <th translate="admin_study.group_name"></th>
		        <th translate="admin_study.group_description"></th>		        
		      </tr>
		      <tr ng-repeat="group in study.groups">
		        <td>{{ group.name }}</td>
		        <td>{{ group.description }}</td>		        
		      </tr>
         </table>
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_study.team"></div>
		<div class="body">
	
		<table class="table table-striped">
			    <tr>
			      <th sortby="user.firstname" translate="common.user.firstname"></th>
			      <th sortby="user.lastname" translate="common.user.lastname"></th>
			      <th sortby="user.email" translate="common.user.email"></th>
			      <th sortby="role" translate="admin_study.role"></th>
			      <th></th>
			     
			    </tr>
				<tr ng-repeat="member in members|filter:{status:'ACTIVE'}|orderBy:sortby">
					<td>{{ member.user.firstname }}</td>
					<td>{{ member.user.lastname }}</td>
					<td>{{ member.user.email }}</td>
					<td>{{ member.role.roleName }}</td>
					<td>
					  {{ matrix(member.role) }}
					</td>					
				</tr>				
			</table>
      </div>
	</div>
	
	 <div class="panel panel-primary">
    <div class="panel-heading" translate="admin_study.links"></div>
    <div class="panel-body">
	
	  <p translate="studyactions.empty" ng-hide="links.length"></p>
	          <table class="table table-striped table-hover" ng-show="links.length">
	            <tr>
	              <th translate="studyactions.app"></th>
	              <th translate="studyactions.type"></th>
	              <th translate="studyactions.validation"></th>
	              <th></th>
	            </tr>
	            <tr ng-repeat="link in links">
	              <td ng-click="select(link);">{{ link.app.filename }}</td>
	                <td>
	                <div ng-repeat="type in link.type" translate="{{ 'studyactions.types_short.'+type }}"></span>
	              </td>
	              <td>
	                <div ng-show="link.validationResearch != 'VALIDATED'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.not_validated_research"></span>
	                </div>
	                <div ng-show="link.validationDeveloper != 'VALIDATED'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.not_validated_developer"></span>
	                </div>
	                <div ng-show="link.validationDeveloper == 'VALIDATED' && link.validationResearch == 'VALIDATED'">
	                  <span class="fas fa-check text-success"></span>
	                  <span translate="studyactions.status.validated"></span>
	                </div>
	                <div ng-show="link.usePeriod.indexOf(study.executionStatus)<0">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.study_wrong_status"></span>
	                </div>
	                <div ng-show="link.type.indexOf('REQUIRE_P')>=0 && study.participantSearchStatus != 'SEARCHING'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="error.closed.study"></span>
	                </div>
	                <div ng-show="(link.type.indexOf('REQUIRE_P')>=0 || link.type.indexOf('OFFER_P')>=0) && link.study.joinMethods.indexOf('APP') < 0">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.study_no_app_participation"></span>
	                </div>
	                
	              </td>
	              <td>	               
	                <button type="button" class="btn btn-sm btn-default" ng-click="validate(link);" translate="studyactions.validate_btn"></button>
	                <button type="button" class="btn btn-sm btn-danger" ng-click="remove(link);" translate="common.delete_btn"></button>
	              </td>
	            </tr>
	          </table>
	  </div>
	</div>
	
	
	
    
    <div class="panel panel-primary">
    <div class="panel-heading" translate="admin_study.history"></div>
    <div class="panel-body">
    <auditlog entity="{{ study._id }}"></auditlog>
    
    </div>
    </div>
    
  
    <a class="btn btn-default" ui-sref="admin.astudies" translate="common.back_btn">Back</a> 
    <button ng-show="study.validationStatus == 'VALIDATION'" class="btn btn-primary" ng-click="finishValidation()" translate="admin_study.end_validation_btn"></button>    
    <button ng-show="study.validationStatus == 'VALIDATION'" class="btn btn-default" ng-click="backToDraft()" translate="admin_study.back_to_draft_btn"></button>
    <button ng-show="study.validationStatus != 'DRAFT'" class="btn btn-default" ng-click="exportStudy()" translate="admin_study.export_btn"></button>
    <button ng-show="readyForDelete()" class="btn btn-danger" ng-click="delete()" translate="admin_study.delete_study_btn"></button>
    
</div>
