<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="AdminListStudiesCtrl" ng-cloak>
    <div class="panel panel-primary">
		<div class="panel-heading" translate="admin_studies.title"></div>
		<div class="body">
		
	 <form class="css-form form-horizontal">		   
		   <formrow myid="criteria" label="admin_studies.criteria">
		      <select  class="form-control" id="criteria" ng-change="doreload();" ng-model="selection.criteria" ng-options="crit as crit.id|translate for crit in searches"></select>
		   </formrow>		      
	  </form>	
		
	<loader busy="status.isBusy !== false">	
	<table ng-show="results.length > 0" class="table table-hover">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Type</th>
	      <th>Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="study in results | orderBy : 'createdAt' : true">
	      <td><a ui-sref="^.astudy({ studyId : study._id})">{{ study.name }}</a></td>	  
	      <td>{{ 'enum.studytype.' + study.type | translate }}</td>
	      <td>{{ study.createdAt | date : 'dd.MM.yy' }}</td>	         
	    </tr>
	  </tbody>
	</table>
	<p ng-hide="results.length" translate="admin_studies.empty"></p>
	
	 <a href="javascript:" ui-sref="^.definestudy" class="btn btn-default" translate="admin_studies.add_definition_btn"></a>
		
	</loader>
	</div>
	</div>
</div>	
