<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


	<div ng-controller="ImportRecordsCtrl" class="midata-overlay borderless">
	  <div class="overlay-body">
	   
	  <div class="panel panel-primary">
	  <div class="panel-heading"><span translate="importrecords.title"></span>
	    <a ng-click="goBack()" href="javascript:" class="close-icon float-right"><span class="fas fa-times"></span></a> 
	  </div>
	  <div class="panel-body">		    
		<loader busy="status.isBusy !== false">
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p translate="{{ error.code || error }}"></p>
			</div>
							
				<p ng-hide="authorized">
				  The MIDATA plugin called <b>{{ appName }}</b> needs authorization for access to an external site to import data on your behalf.
				  <br><br>
				  After clicking on "Authorize Now" you will be redirected to an external login page.
				</p>
				<button id="authorize" type="button" class="btn btn-success" ng-hide="authorized" ng-class="{'disabled': authorizing}" ng-click="authorize()" translate="importrecords.authorize_btn"></button>
				<!-- <button type="button" class="btn btn-success" ng-show="authorizingOAuth1" ng-click="authorizeOAuth1()">Sign in with {{appName}} and authorize access</button> -->
				<div class="extraspace"></div>				
				<p ng-show="message" class="alert alert-info">{{message}}</p>
				<div ng-if="authorized">			      	
				  <pluginframe id="myframe" mysrc="{{url}}" height="600px" width="100%" ></pluginframe>				  
				</div>
		</loader>
		</div>
	</div>
	</div>
	</div>
