<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Demo Kardiologische Risikoauswertung</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
	</head>
	<body>
		<div class="container" ng-app="jsonRecords" ng-controller="CreateCtrl" ng-cloak>
			<div class="col-xs-7 col-xs-offset-5 page-header">
				<h1>Demo Kardiologische Risikoauswertung (Member)</h1>
			</div>
			<div class="col-xs-7 col-xs-offset-5">
				<div class="alert alert-success alert-dismissable" ng-show="success">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{success}}
				</div>
				<div class="alert alert-danger alert-dismissable" ng-show="errors.server">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<p>{{errors.server}}</p>
				</div>
			</div>
			<form class="form-horizontal">
				<div class="form-group" ng-class="{'has-error has-feedback': errors.bloodpressureDia}">
					<label for="bloodpressureDia" class="col-xs-5 control-label">Blutdruck, diastolischer [mmHg]</label>
					<div class="col-xs-7">
						<input type="number" id="bloodpressureDia" class="form-control" placeholder="" ng-model="data.bloodpressureDia" autofocus>
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.bloodpressureDia}}" ng-show="errors.bloodpressureDia"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.bloodpressureSys}">
					<label for="bloodpressureSys" class="col-xs-5 control-label">Blutdruck, systolischer [mmHg]</label>
					<div class="col-xs-7">
						<input type="number" id="bloodpressureSys" class="form-control" placeholder="" ng-model="data.bloodpressureSys">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.bloodpressureSys}}" ng-show="errors.bloodpressureSys"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.weight}">
					<label for="weight" class="col-xs-5 control-label">Gewicht [kg]</label>
					<div class="col-xs-7">
						<input type="number" id="weight" class="form-control" placeholder="" ng-model="data.weight">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.weight}}" ng-show="errors.weight"></span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.heartrate}">
					<label for="heartrate" class="col-xs-5 control-label">Herzfrequenz Ruhepulse am morgen [1/min]</label>
					<div class="col-xs-7">
						<input type="number" id="heartrate" class="form-control" placeholder="" ng-model="data.heartrate">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.heartrate}}" ng-show="errors.heartrate"></span>
					</div>
				</div>				               							
				
				<div class="col-xs-7 col-xs-offset-5">
					<a href="" class="btn btn-primary" ng-class="{disabled: loading}" ng-click="validate()">Create</a>
				</div>
			</form>
		</div>
	</body>
</html>
