<div class="ignore autosize" ng-controller="SmallCirclesCtrl">
    <loader busy="status.isBusy !== false">
    <div ng-show="circles.length" class="body">{{ circles.length }} <span translate="member_othercircles.number_available"></span></div>
    <div class="body" ng-show="circles.length == 0" translate="member_othercircles.empty"></div>
    <p ng-hide="circles.length" class="body teaser">{{ view.teaser }}</p>
    <ul class="list-group" ng-show="circles.length > 0">
		<li class="list-group-item rotate truncate" ng-repeat="circle in circles | limitTo : limit">
		    <div class="pull-right" ng-if="view.setup.allowRemove">
			   <button type="button" class="btn btn-xs btn-danger" ng-click="removeRecord(record)">
				  <span class="glyphicon glyphicon-remove"></span>
			   </button>
			</div>			    			
			<span ng-show="circle.ownerName" class="label label-info">{{ circle.ownerName }}</span>					
			<a href="javascript:;" ng-click="showCircle(circle)">{{circle.name}}</a>
												
		</li>
	</ul>
	</loader>	
</div>