<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="ignore autosize" ng-controller="SmallCirclesCtrl">
    <loader busy="status.isBusy !== false">
    <div ng-show="circles.length" class="body">{{ circles.length }} <span translate="member_othercircles.number_available"></span></div>
    <div class="body" ng-show="circles.length == 0" translate="member_othercircles.empty"></div>
    <p ng-hide="circles.length" class="body teaser" translate="{{ view.teaser }}"></p>
    <ul class="list-group" ng-show="circles.length > 0">
		<li class="list-group-item rotate truncate" ng-repeat="circle in circles | limitTo : limit">
		    <div class="float-right" ng-if="view.setup.allowRemove">
			   <button type="button" class="btn btn-sm btn-danger" ng-click="removeRecord(record)">
				  <span class="fas fa-times"></span>
			   </button>
			</div>			    			
			<span ng-show="circle.ownerName" class="badge badge-info">{{ circle.ownerName }}</span>					
			<a href="javascript:;" ng-click="showCircle(circle)">{{circle.name}}</a>
												
		</li>
	</ul>
	</loader>	
</div>