
<div  ng-controller="AppStatsCtrl">
		
	<div class="panel panel-primary">
		<div class="panel-heading"><span translate="appstats.title"></span>: <b>{{ app.name }}</b> ({{ app.filename }})		  	
		</div>
		<div class="body">
           <loader busy="status.isBusy !== false">           
           <p ng-hide="calls.length" translate="appstats.empty"></p>
           <div ng-show="calls.length">
           <p><span translate="appstats.first"></span>: <b>{{ firstrun | date : 'dd.MM.yy HH:mm' }}</b></p>
           <table class="table table-striped" >
             
             <tr>
               <th translate="appstats.action"></th>
               <th translate="appstats.lastrun"></th>              
               <th colspan="2" translate="appstats.count"></th>
               <th colspan="2" translate="appstats.time"></th>
               <th><a href="javascript:" ng-click="showdb=true;">db</a></th>               
               <th translate="appstats.results"></th>
               
             </tr>
             <tr>
               <th></th>
               <th></th>              
               <th>run</th>               
               <th>retry</th>
               <th translate="appstats.avgtime"></th>
               <th translate="appstats.lasttime"></th>
               <th></th>
               <th></th>
             </tr>
           
             <tr ng-repeat="call in calls | orderBy : 'lastrun' : 1">
               <td>{{ call.action }}<span ng-show="call.params">?{{ call.params }}</span></td>               
               <td>{{ call.lastrun | date : 'dd.MM.yy HH:mm' }}</td>               
               <td>{{ call.count }}</td>              
               <td>{{ call.conflicts }}</td>
               <td>{{ (call.totalExecTime / call.count) | number : 0 }} ms</td>
               <td>{{ call.lastExecTime }} ms</td>
               <td>
                 <div ng-if="showdb">
                 <div ng-repeat="e in call.queries | orderBy : 'k'">{{ e.k }} : {{ (e.v / call.count) | number : 0 }}</div>
                 </div>
               </td>
               <td>
                 <div ng-repeat="(k,v) in call.resultCount" ng-class="{ 'text-danger' : (k>=400) }">status {{ k }} : {{ v }}</div>
                 <div class="text-info" ng-repeat="comment in call.comments">{{ comment }}</div>
               </td>
               
             </tr>
           </table>
           
           
 		   </div>
 		   <a class="btn btn-default" ui-sref="^.manageapp({ appId : appId })" translate="common.back_btn"></a>
		
		   <button type="button" class="btn btn-default" translate="appstats.reload_btn" ng-click="reload();"></button>
		   <button type="button" class="btn btn-default" translate="appstats.reset_btn" ng-click="reset();"></button>
		   
		   <div ng-show="calls.length">
			   <hr>
			   <div><code>run</code>: <span translate="appstats.run"></span></div>
	           <div><code>db</code>: <span translate="appstats.db"></span></div>           
	           <div><code>retry</code>: <span translate="appstats.retry"></span></div>
           </div>
           
           </loader>
		</div>
    </div>
</div>