<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


	<div ng-controller="VisualizationCtrl" class="midata-overlay borderless">
	  <div class="overlay-body" ng-hide="view.active">
		
		<div ng-cloak class="panel panel-primary">	
		  <div class="panel-heading"><span translate="visualization.title"></span>
		    <a ng-click="goBack()" href="javascript:" class="close-icon float-right"><span class="fas fa-times"></span></a> 
		  </div>	
		  <div class="panel-body">
		    <loader busy="status.isBusy !== false">
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p translate="{{ error.code }}"></p>
			</div>
			<div class="alert alert-success alert-dismissable" ng-show="success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p translate="visualization.success"></p>
			</div>
			
			<p class="lead">{{ visualization.i18n[translate.use()].name || visualization.name}}</p>
			<div class="row">
				<p class="col-sm-2" translate="visualization.created_by"></p>
				<p class="col-sm-10">{{visualization.creatorLogin}}</p>
			</div>
			<div class="row" ng-show="visualization.orgName">
				<p class="col-sm-2" translate="visualization.orgName"></p>
				<p class="col-sm-10">{{visualization.orgName}}</p>
			</div>
			<div class="row" ng-show="visualization.publisher">
				<p class="col-sm-2" translate="visualization.publisher"></p>
				<p class="col-sm-10">{{visualization.publisher}}</p>
			</div>
			<div class="row">
				<p class="col-sm-2" translate="visualization.description"></p>
				<p class="col-sm-10">{{ visualization.i18n[translate.use()].description || visualization.description}}</p>
			</div>
		
			<!--div class="row">
			    <p class="col-2" translate="visualization.tile_name"></p>
			    <p class="col-10">			      
			      <input class="form-control" type="text" ng-model="options.spaceName" />			
                </p>			    			        
			</div -->
			<!--div class="row" ng-show="beta">
			    <p class="col-2" translate="visualization.install_location">Location:</p>
			    <p class="col-10">			      
			      <select class="form-control" ng-model="options.context" ng-options="context.value as context.label | translate for context in contexts"/>			
                </p>			    			        
			</div-->
			
			<div ng-if="options.query" class="row">
				
			    <p class="col-2"></p>
			    <div class="col-10">
			      <label>
			        
			        <span translate="visualization.grant_access"></span>
			      </label>
			      <div class="">

				  <ul>
						<li ng-repeat="label in labels"><span>{{ label }}</span></li>						
                  </ul>
				  <p translate="oauth2.reshares_data" ng-show="app.resharesData"></p>
				  <p translate="oauth2.allows_user_search" ng-show="app.allowsUserSearch"></p>
                
			      			      
			      </div>
                </div>
			</div>
			  
		    <div ng-show="app.termsOfUse" class="row">
		        <div class="col-sm-2" translate="visualization.terms"></div>
			    <div class="col-sm-10">	
		      	    <div class="form-check">
                               <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" id="appAgb" name="appAgb" ng-model="options.appAgb">
                                  <span translate="registration.app_agb2"></span>
                                  <a ng-click="terms({which : app.termsOfUse })" href="javascript:" translate="registration.app_agb3"></a>
                               </label>
                    </div>
                </div>
			</div>
			
			<div class="extraspace"></div>
					
			<button type="button" ng-disabled="status.action == 'install' || (app.termsOfUse && !options.appAgb)" class="btn btn-primary" ng-click="install()" translate="visualization.install_btn"></button>			
			</loader>
			</div>
		</div>
	  </div>

	  <div class="container" ng-show="view.active">
		<div ng-include="'/views/shared/public/terms/terms-modal.html'"></div>
	  </div>
</div>