
	<div ng-controller="VisualizationCtrl">
		<div class="extraspace">
			  <button class="btn btn-default" ng-click="goBack();"><span class="glyphicon glyphicon-chevron-left"></span><span translate="common.back_btn"></span></button>
		</div>
		
		<div ng-cloak class="panel panel-primary">	
		  <div class="panel-heading" translate="visualization.title"></div>	
		  <div class="panel-body">
		    <loader busy="status.isBusy !== false">
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p translate="{{ error.code }}"></p>
			</div>
			<div class="alert alert-success alert-dismissable" ng-show="success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p translate="visualization.success"></p>
			</div>
			
			<p class="lead">{{ visualization.i18n[translate.use()].name || visualization.name}}</p>
			<div class="row">
				<p class="col-xs-2" translate="visualization.created_by"></p>
				<p class="col-xs-10">{{visualization.creator}}</p>
			</div>
			<div class="row">
				<p class="col-xs-2" translate="visualization.description"></p>
				<p class="col-xs-10">{{ visualization.i18n[translate.use()].description || visualization.description}}</p>
			</div>
		
			<div class="row">
			    <p class="col-xs-2" translate="visualization.tile_name"></p>
			    <p class="col-xs-10">			      
			      <input class="form-control" type="text" ng-model="options.spaceName" />			
                </p>			    			        
			</div>
			<div class="row" ng-show="beta">
			    <p class="col-xs-2" translate="visualization.install_location">Location:</p>
			    <p class="col-xs-10">			      
			      <select class="form-control" ng-model="options.context" ng-options="context.value as context.label | translate for context in contexts"/>			
                </p>			    			        
			</div>
			<div ng-if="options.query" class="row">
			    <p class="col-xs-2"></p>
			    <div class="col-xs-10">
			      <label>
			        <input type="checkbox" ng-model="options.applyRules">
			        <span translate="visualization.grant_access"></span>
			      </label>
			      <div class="alert alert-info">
			      <ul>
			        <li ng-repeat="(rule, params) in options.query">
			         <span ng-if="rule == 'format'"><span translate="studydetails.records_with_format"></span>
			            <ul>
			              <li ng-repeat="format in params">{{ format }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'format/*'"><span translate="studydetails.records_with_format"></span>
			            <ul>
			              <li ng-repeat="format in params">{{ format }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'content'"><span translate="studydetails.records_with_content"></span>
			            <ul>
			              <li ng-repeat="content in params">{{ content }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'content/*'"><span translate="studydetails.records_with_content"></span>
			            <ul>
			              <li ng-repeat="content in params">{{ content }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'group'"><span translate="studydetails.records_with_group"></span>
			            <ul>
			              <li ng-repeat="group in params">{{ group }}</li>
			            </ul> 
			          </span>
			        </li>
			      </ul>		
			      </div>
                </div>
			</div>
					
			<button type="button" ng-disabled="status.action == 'install'" class="btn btn-primary" ng-click="install()" translate="visualization.install_btn"></button>			
			</loader>
			</div>
		</div>
	</div>