
	<div ng-controller="VisualizationCtrl" class="midata-overlay borderless">
	  <div class="overlay-body">
		
		<div ng-cloak class="panel panel-primary">	
		  <div class="panel-heading"><span translate="visualization.title"></span>
		    <a ng-click="goBack()" href="javascript:" class="close-icon float-right"><span class="fas fa-times"></span></a> 
		  </div>	
		  <div class="panel-body">
		    <loader busy="status.isBusy !== false">
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p translate="{{ error.code }}"></p>
			</div>
			<div class="alert alert-success alert-dismissable" ng-show="success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p translate="visualization.success"></p>
			</div>
			
			<p class="lead">{{ visualization.i18n[translate.use()].name || visualization.name}}</p>
			<div class="row">
				<p class="col-2" translate="visualization.created_by"></p>
				<p class="col-10">{{visualization.creatorLogin}} <span ng-show="visualization.creator">({{visualization.creator}})</span></p>
			</div>
			<div class="row" ng-show="visualization.orgName">
				<p class="col-2" translate="visualization.orgName"></p>
				<p class="col-10">{{visualization.orgName}}</p>
			</div>
			<div class="row">
				<p class="col-2" translate="visualization.description"></p>
				<p class="col-10">{{ visualization.i18n[translate.use()].description || visualization.description}}</p>
			</div>
		
			<div class="row">
			    <p class="col-2" translate="visualization.tile_name"></p>
			    <p class="col-10">			      
			      <input class="form-control" type="text" ng-model="options.spaceName" />			
                </p>			    			        
			</div>
			<div class="row" ng-show="beta">
			    <p class="col-2" translate="visualization.install_location">Location:</p>
			    <p class="col-10">			      
			      <select class="form-control" ng-model="options.context" ng-options="context.value as context.label | translate for context in contexts"/>			
                </p>			    			        
			</div>
			<div ng-if="options.query" class="row">
			    <p class="col-2"></p>
			    <div class="col-10">
			      <label>
			        
			        <span translate="visualization.grant_access"></span>
			      </label>
			      <div class="">
			      <ul>
			        <li ng-repeat="(rule, params) in options.query">
			          <span ng-if="rule == 'app'"><span translate="studydetails.records_from_app"></span>
			            <ul>
			              <li ng-repeat="app in params">{{ app }}</li>
			            </ul> 
			          </span>
			         <span ng-if="rule == 'format'"><span translate="studydetails.records_with_format"></span>
			            <ul>
			              <li ng-repeat="format in params">{{ format }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'owner'"><span translate="studydetails.records_with_owner"></span>
			            <ul>
			              <li ng-repeat="owner in params" translate="{{ 'studydetails.owner_'+ owner }}"></li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'content'"><span translate="studydetails.records_with_content"></span>
			            <ul>
			              <li ng-repeat="content in params">{{ content }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'content/*'"><span translate="studydetails.records_with_content"></span>
			            <ul>
			              <li ng-repeat="content in params">{{ content }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'group'"><span translate="studydetails.records_with_group"></span>
			            <ul>
			              <li ng-repeat="group in params">{{ group }}</li>
			            </ul> 
			          </span>
			        </li>
			      </ul>		
			      </div>
                </div>
			</div>
			  
		    <div ng-show="app.termsOfUse" class="row>
		        <p class="col-2" translate="registration.appAgb"></p>
			    <p class="col-10">	
		      	    <div class="form-check">
                               <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" id="appAgb" name="appAgb" ng-model="options.appAgb">
                                  <span translate="registration.app_agb2"></span>
                                  <a ng-click="terms({which : app.termsOfUse })" href="javascript:" translate="registration.app_agb3"></a>
                               </label>
                    </div>
                </p>
		    </div>
					
			<button type="button" ng-disabled="status.action == 'install'" class="btn btn-primary" ng-click="install()" translate="visualization.install_btn"></button>			
			</loader>
			</div>
		</div>
	  </div>
	</div>