/*
 * This file is part of the Open MIDATA Platform.
 *
 * The Open MIDATA platform is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Platform is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * About mi-x-is_active
 *
 * The 'state-related' class mi-x-is_active
 * has to be added in the logic part of your code (JS)
 * on the currently active tab.
 * Some elements in this stylesheet depend on it.
 */

.mi-or-responsive_menu {
	@extend %mi-x-colored_gradient_background;
	position: relative;
	@include fluid-props(min-height, $fluid-min, $fluid-max, 164px, 150px);
	height: 100%;

	&__wrapper {
		position: absolute;
		top: 20px;
		@include fluid-props(left right, $fluid-min, $fluid-max, 22px, 40px);
		@include fluid-props(margin-left, $tablet-breakpoint, $fluid-max, 100px, 200px, false);
		@include fluid-props(margin-right, $tablet-breakpoint, $fluid-max, 60px, 200px, false);

		@include media($tablet-breakpoint) {
			position: relative;
			padding-bottom: 40px;
			top: initial;
			transform: none;
		}
	}

	.mi-or-responsive_menu__popover {
		display: none;
		height: 210px;
		width: 380px;
		position: absolute;
		z-index: 2;
		@include fluid-props(top, $fluid-min, $fluid-max, 95px, 88px);
		@include fluid-scaler(right, 2px);

		// box-shadow: 0px 0px 5px 1px $color-brand-grey-border; // you might like it

		&.mi-x-is_visible {
			display: block;
		}

		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 9px solid $color-brand-grey-button;
			top: -8px;
			@include fluid-scaler(right, 11px);
		}

		.mi-mo-menu_header {
			width: 380px;
			background: $color-brand-grey-button;
			height: calc(100% - 52px);

			&__data {
				padding-top: 30px;
				padding-left: 130px;
			}

			&__data_user::after {
				border-bottom-color: $color-brand-black;
			}
		}

		.mi-mo-menu_main_buttons {
			position: absolute;
			bottom: 0;
		}

		.mi-mo-menu_main_buttons,
		.mi-mo-flat_button {
			background-color: $color-brand-white;
		}

		.mi-at-text {
			color: $color-brand-black;
		}

		.mi-at-avatar {
			background-color: $color-brand-blue-primary;
			height: 64px;
			width: 64px;
			position: relative;
			top: 25px;
			left: -280px;
			cursor: pointer;

			&__initial {
				color: $color-brand-white;
			}
		}
	}

	.mi-at-avatar {
		@extend %mi-x-hidden_on_mobile;
		position: relative;
		float: right;
		right: 0;
		@include fluid-scaler(height width, 40px);

		&__initial {
			@include fluid-scaler(font-size, 24px);
		}

		&--invert {
			background-color: $color-brand-blue-primary;

			& .mi-at-avatar__initial {
				color: $color-brand-white;
			}
		}

		&:hover {
			@extend .mi-at-avatar--invert;
		}
	}

	&__logo {
		display: none;
		position: relative;
		@include fluid-scaler(top, 35px);
		@include fluid-scaler(left, -100px);
		@include fluid-scaler(height, 38px);
		@include fluid-scaler(width, 61px);

		@include media($tablet-breakpoint) {
			display: block;
		}
	}

	.mi-at-icon-notifications-white {
		@extend %mi-x-hidden_on_mobile;
		position: relative;
		float: right;
		@include fluid-scaler(right, 24px);
		@include fluid-props(top, $fluid-min, $fluid-max, 10px, 12px);
		height: 20px;

		svg {
			@include fluid-scaler(height, 20px);
		}

		.mi-at-icon__badge {
			@include fluid-props(font-size, $fluid-min, $fluid-max, $font-size-smallest, 10px);
			color: $color-brand-white;
			font-family: $font-normal;
			position: relative;
			@include fluid-scaler(top, -28px);
			@include fluid-props(left, $fluid-min, $fluid-max, 19px, 15px);
			z-index: 2;

			&::after {
				content: "";
				border-radius: 50%;
				background-color: $color-brand-red-primary;
				position: absolute;
				@include fluid-scaler(width height, 16px);
				@include fluid-scaler(top, -2px);
				@include fluid-scaler(left, -5px);
				z-index: -1;
			}
		}
	}

	.mi-at-icon-close {
		cursor: pointer;
	}

	.mi-at-icon-hamburger-white {
		display: inline-block;
		position: relative;
		padding-right: 25px;
		top: -5px;

		@include media($tablet-breakpoint) {
			display: none;
		}
	}

	a {
		text-decoration: none;
	}

	&__tabs {
		margin-top: 5px;
		position: relative;
		display: inline-block;
		@include fluid-scaler(height, 26px);
		overflow: hidden;

		@include media($tablet-breakpoint) {
			width: calc(100% - 120px); // leaves room for avatar and notifications
			max-width: calc(100% - 120px);
		}

		 > * {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		a {
			padding-bottom: 5px;
			@include fluid-props(padding-bottom, $fluid-min, $fluid-max, 5px, 18px);
			display: inline-block;

			@include media($tablet-breakpoint) {
				padding-right: 42px;
				font-weight: 700;
			}

			&:after {
				display: block;
				content: '';
				position: relative;
				top: 5px;
				border-bottom: solid 2px $color-brand-white;
				transform: scaleX(0);
				transition: 0.2s ease all;
			}

			&.mi-at-text {
				@include fluid-props(font-size, $fluid-min, $fluid-max, $font-size-normal, $font-size-big-title);

				@include media($tablet-breakpoint) {
					font-family: $font-bold !important;
				}
			}

			&:not(.mi-x-is_active) {
				@extend %mi-x-hidden_on_mobile;
			}

			&.mi-x-is_active {
				text-transform: uppercase;
				letter-spacing: 1px;
				font-family: $font-normal !important;

				@include media($tablet-breakpoint) {
					text-transform: none;
					letter-spacing: initial;
				}

				&:after {
					@include media($tablet-breakpoint) {
						transform: scaleX(1);
					}
				}
			}

			&:hover:after {
				transform: scaleX(1);
			}
		}

		li {
			display: inline-block;
		}
	}

	&__last_row {
		&:not(.mi-x-is_active) {
			display: none;
		}

		margin-top: 25px;

		@include media($tablet-breakpoint) {
			width: calc(100% - 120px); // leaves room for avatar and notifications
			max-width: calc(100% - 120px);
		}
	}

	&__plus_button {
		cursor: pointer;
		position: absolute;
		text-align: center;
		@include fluid-scaler(line-height, 40px);
		color: $color-brand-blue-primary;
		border-radius: 50%;
		@include fluid-scaler(height width, 40px);
		background-color: $color-brand-white;
		right: 0;

		&:before,
		&:after {
			content: '';
			position: absolute;
			background-color: $color-brand-blue-primary;
		}

		&:before {
			width: 40%;
			top: 50%;
			margin-left: -20%;
			height: 1px;
		}

		&:after {
			height: 40%;
			left: 48%;
			width: 1px;
			margin-top: 30%;
		}
		@include fluid-props(top, $tablet-breakpoint, $fluid-max, 220px, 220px, false);

		@include media($tablet-breakpoint) {
			background-color: $color-brand-blue-primary;
			@include fluid-scaler(height width, 57px);

			&:before,
			&:after {
				background-color: $color-brand-white;
			}

			&:hover {
				background-color: $color-brand-white;
				border: solid 1px $color-brand-blue-primary;

				&:before,
				&:after {
					background-color: $color-brand-blue-primary;
				}
			}
		}
	}
}
