
	<div  ng-controller="RegistrationCtrl" ng-cloak>
		<div class="mi-or-signup" ng-hide="view.active">
			<!-- Registration -->
			<div class="mi-or-signup__content" ng-class="{ 'mi-or-signup__content--two-columns' : flags.optional }">
			
			    <img src="/img/logo-midata--white.svg" alt="" class="mi-or-login__logo">
			
						                    	                     		
				<form name="myform" novalidate class="css-form form-horizontal" ng-submit="register()" role="form">
				
			
				<div class="mi-or-signup__fields">
				
				   <div class="mi-or-signup__description">
                      <span class="mi-at-text mi-at-text--smaller mi-at-text--white" translate="registration.mandantory_fields"></span>
                   </div>
            
				
		            				
							<div class="mi-or-signup__fields_required">
							  <div class="required">								  														  							  
							  							  
							  <formrowfloat myid="email" label="registration.email">
							    <input type="email" class="mi-at-input mi-at-input-text" id="email" name="email" ng-model="registration.email" required floating-label>
							    <form-error myid="email" type="email" message="error.invalid.email" ></form-error> 
							    <form-error myid="email" type="exists" message="error.exists.member"></form-error> 
							  </formrowfloat>
							  <formrowfloat myid="password" label="registration.password"> 
							    <input type="password" class="mi-at-input mi-at-input-password" id="password" name="password" ng-model="registration.password" required>
							    <form-error myid="password" type="compare" message="error.invalid.password_repetition"></form-error>  
							    <form-error myid="password" type="tooshort" message="error.tooshort.password"></form-error>
							    <form-error myid="password" type="tooweak" message="error.tooweak.password"></form-error>
							  </formrowfloat>
							  <formrowfloat myid="password2" label="registration.password_repetition"><input type="password" class="mi-at-input mi-at-input-password" id="password2" name="password2" ng-model="registration.password2" required></formrowfloat>
							  <formrowfloat myid="firstname" label="registration.firstname"><input type="text" class="mi-at-input mi-at-input-text" id="firstname" name="firstname" ng-model="registration.firstname" required></formrowfloat>
							  <formrowfloat myid="lastname" label="registration.lastname"><input type="text" class="mi-at-input mi-at-input-text" id="lastname" name="lastname" ng-model="registration.lastname" required></formrowfloat>
							  

							  <formrowfloat myid="gender" type="select"><select class="mi-at-select" id="gender" name="gender" ng-model="registration.gender" required><option value="" translate="registration.gender" selected disabled></option><option value="FEMALE" translate="enum.gender.FEMALE">female</option><option value="MALE" translate="enum.gender.MALE"></option><option value="OTHER" translate="enum.gender.OTHER"></option></select></formrowfloat>
							  <formrowfloat myid="birthday" label="registration.birthday">
								  <input required id="mi-at-input-date-of-birth" id="birthday" name="birthday" class="mi-at-input mi-at-input--date" type="date" value="" ng-model="registration.birthdayDate" floating-label placeholder="mm/dd/yyyy" />							 
							  
							     <form-error myid="birthday" type="date" message="error.invalid.date"></form-error>                                 
							  </formrowfloat>

							  <formrowfloat myid="language"  type="select"><select class="mi-at-select" id="language" ng-model="registration.language" ng-change="changeLanguage(registration.language);" ng-options="lang.value as lang.name | translate for lang in languages"><option value="" translate="registration.language" selected disabled></option></select></formrowfloat>
							  
							    <formrowfloat myid="country"  type="select"><select class="mi-at-select" id="country" name="country" ng-model="registration.country" required ng-options="country as ('enum.country.'+country)|translate for country in countries"><option value="" translate="registration.country" selected disabled></option></select></formrowfloat>
							  							 
							  </div>
							  
							  <div class="mi-or-signup__fields_optional_invite" ng-hide="flags.optional || addressNeeded() || phoneNeeded()">
                                <span class="mi-at-text mi-at-text--smallest mi-at-text--white">Have a few more seconds to spare? We&#x27;d be happy if you could give us a bit more details about you ☺️ </span>
                                <span class="mi-at-text mi-at-text--smallest mi-at-text--white" ng-click="flags.optional=true;">I&#x27;m feeling generous today, show me the fields!</span>
                              </div>
                              
                              </div>
							  
							   <div class="mi-or-signup__fields_optional" ng-show="flags.optional && !addressNeeded() && !phoneNeeded()">
                                  <div class="mi-or-signup__fields_optional_close">
                                     <span class="mi-at-text mi-at-text--smaller mi-at-text--white" ng-click="flags.optional=false;">Hide optional fields</span>

                                  </div>
							  
							  
							  <div ng-class="{ 'required' : addressNeeded() }">
							  <formrowfloat myid="address1" label="registration.address"><input type="address" class="mi-at-input mi-at-input-text mi-at-input--address" id="address1" floating-label name="address1" ng-model="registration.address1" ng-required="addressNeeded()"></formrowfloat>
							  </div>
							  <formrowfloat myid="address2" label=""><input type="text" class="mi-at-input mi-at-input-text" id="address2" name="address2" floating-label ng-model="registration.address2"></formrowfloat>
							  <div ng-class="{ 'required' : addressNeeded() }">
							  <formrowfloat myid="city" label="registration.city"><input type="text" class="mi-at-input mi-at-input-text" id="city" name="city" ng-model="registration.city" floating-label ng-required="addressNeeded()"></formrowfloat>
							  <formrowfloat myid="zip" label="registration.zip"><input type="text" class="mi-at-input mi-at-input-text" id="zip" name="zip" ng-model="registration.zip" floating-label ng-required="addressNeeded()"></formrowfloat>
							  </div>
							                        
                              <formrowfloat myid="phone" label="registration.phone"><input type="text" class="mi-at-input mi-at-input-text" id="phone" name="phone" floating-label ng-model="registration.phone"></formrowfloat>
                              <div ng-class="{ 'required' : phoneNeeded() }">
                              <formrowfloat myid="mobile" label="registration.mobile_phone"><input type="text" class="mi-at-input mi-at-input-text" id="mobile" name="mobile" floating-label ng-model="registration.mobile" ng-required="phoneNeeded()"></formrowfloat>
                              </div>
                              <div class="required" ng-if="app.unlockCode">
                              <formrowfloat myid="unlockCode" label="registration.unlock_code"><input type="text" class="mi-at-input mi-at-input-text" floating-label id="unlockCode" name="unlockCode" ng-model="registration.unlockCode" required>
                                 <form-error myid="unlockCode" type="invalid" message="error.invalid.unlock_code"></form-error>
                              </formrowfloat>
                              </div>
                              </div>
                              
                              </div>
                              
                              <div class="mi-or-signup__fields_checkboxes">
                                
                                <fieldset class="mi-at-input__fieldset mi-at-input--checkbox mi-at-input--checkbox-white">
                                   <input id="agb" name="agb" ng-model="registration.agb" class="mi-at-input mi-at-input--checkbox" type="checkbox" value="" floating-label />
                                   <label for="agb" class="mi-at-text">
		                              <span  translate="registration.agb2"></span>                                     
	                               </label>	                               
	                               
	                               <form-error myid="agb" type="mustaccept" message="error.missing.agb"></form-error>
                                </fieldset>
                                <div class="mi-or-signup__login_link">
                                <a class="mi-at-text mi-at-text--smallest mi-at-text--white" ng-click="terms({which : 'midata-terms-of-use'});" href="javascript:" translate="registration.agb3"></a>
                                </div>

                                <fieldset class="mi-at-input__fieldset mi-at-input--checkbox mi-at-input--checkbox-white">
                                   <input id="privacypolicy" name="privacypolicy" ng-model="registration.privacypolicy" class="mi-at-input mi-at-input--checkbox" type="checkbox" value="" floating-label />
                                   <label for="privacypolicy" class="mi-at-text">
		                               <span translate="registration.privacypolicy2"></span>                                       
	                               </label>
	                               <form-error myid="privacypolicy" type="mustaccept" message="error.missing.privacypolicy"></form-error>
                                </fieldset>
                                 <a class="mi-at-text mi-at-text--smallest mi-at-text--white" ng-click="terms({which : 'midata-privacy-policy'});" href="javascript:" translate="registration.privacypolicy3"></a>
            
                                <fieldset ng-show="app.termsOfUse" class="mi-at-input__fieldset mi-at-input--checkbox mi-at-input--checkbox-white">
                                   <input id="appAgb" name="appAgb" ng-model="registration.appAgb" class="mi-at-input mi-at-input--checkbox" type="checkbox" value="" floating-label />
                                   <label for="appAgb" class="mi-at-text">
		                              <span translate="registration.app_agb2"></span>
                                    
	                               </label>
	                               <form-error myid="appAgb" type="mustaccept" message="error.missing.agb"></form-error>
                                </fieldset>
                                <a ng-show="app.termsOfUse" class="mi-at-text mi-at-text--smallest mi-at-text--white" ng-click="terms({which : app.termsOfUse })" href="javascript:" translate="registration.app_agb3"></a>
            
                                <fieldset ng-show="app.linkedStudy" class="mi-at-input__fieldset mi-at-input--checkbox mi-at-input--checkbox-white">
                                   <input id="confirmStudy" name="confirmStudy" ng-model="registration.confirmStudy" class="mi-at-input mi-at-input--checkbox" type="checkbox" value="" floating-label />
                                   <label for="confirmStudy" class="mi-at-text">
		                               <span translate="oauth2.confirm_study"></span>:
	                               </label>
	                               <form-error myid="confirmStudy" type="mustaccept" message="error.missing.agb"></form-error>
	                                 <p class="help-block" ng-show="app.linkedStudyTermsOfUse">
		            	             <a ng-click="terms({which : app.linkedStudyTermsOfUse })" href="javascript:" translate="registration.study_agb"></a>
		            	           </p>
		            	           <p class="help-block">{{ app.linkedStudyName }}</p>
		            	           <p class="help-block">{{ app.linkedStudyDescription }}</p>
                                </fieldset>

                              </div>
                                       
                                       
                               <div class="mi-or-login__error" ng-show="error && !error.field">
                                  <span class="mi-at-text mi-at-text--smallest mi-at-text--white mi-at-text--highlighted"  translate="{{ error.code || error }}"></span>
                              </div>
                              <div class="mi-or-login__error" ng-show="offline">
                                   <span class="mi-at-text mi-at-text--smallest mi-at-text--white mi-at-text--highlighted"  translate="error.offline"></span>
                              </div>
                                                                                                                                                                                                                                                                                              
                               <button class="mi-mo-flat_button mi-mo-flat_button--rounded" type="submit" ng-disabled="status.action=='register'">
	                              <span class="mi-at-text" translate="registration.sign_up_btn">create account</span>	
                               </button>

                              <div class="mi-or-signup__login_link">
                                      <a ng-click="back();" href="javascript:"><span class="mi-at-text mi-at-text--smallest mi-at-text--white" translate="registration.already_have_account"></span>
                                      </a>
                               </div>
                                                           
                            </form>
		            	</div>			
				
			
	</div>
		
	   <div class="mi-or-signup" ng-show="view.active">      
	     <div  ng-include="'/views/shared/public/terms/terms-modal.html'"></div>	    	  
	   </div>
		
	</div>
	
