<div ng-cloak ng-controller="TermsCtrl">	 
 
 
           <div class="old">
			 <button class="btn btn-sm btn-primary" ng-click="close()" translate="terms.close_btn"></button>
			 <div class="extraspace"></div>
		</div>
					<div class="panel panel-primary mi-or-terms">
		            	<div class="panel-heading">
		            	    
		              		<h3 class="panel-title">{{ terms.title }}</h3>
		            	</div>
		            	<a class="new mi-mo-menu_item" ng-click="close()">
    <div class="mi-at-icon mi-at-icon-notifications" >
         <img src="/images/close.png">
    </div>
    <span class="mi-at-text" translate="terms.close_new_btn">Close</span>
</a>
		            	<div class="panel-body">		            	    
			              <div class="terms" ng-bind-html="terms.text"></div>
			              <div class="old">
			              <div class="extraspace"></div>
			              <button class="btn btn-primary" ng-click="close()" translate="terms.close_btn"></button>
			              </div>
			              <a class="new mi-mo-menu_item" ng-click="close()">
    <div class="mi-at-icon mi-at-icon-notifications" >
        <svg role="img">
		  <use xlink:href="/img/icons.svg#close" />
		</svg>
    </div>
    <span class="mi-at-text" translate="terms.close_new_btn">Close</span>
</a>			            	
		            	</div>
					</div>
					  
			 
			 
	 
</div>		

