<div ng-cloak ng-controller="TermsCtrl">	 
 
			 <button class="btn btn-xs btn-primary" ng-click="close()" translate="terms.close_btn"></button>
			 <div class="extraspace"></div>
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		            	    
		              		<h3 class="panel-title">{{ terms.title }}</h3>
		            	</div>
		            	<div class="panel-body">		            	    
			              <div ng-bind-html="terms.text"></div>
			              <div class="extraspace"></div>
			              <button class="btn btn-primary" ng-click="close()" translate="terms.close_btn"></button>			            	
		            	</div>
					</div>
					  
			 
			 
	 
</div>		

