<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Files</title>
		
		<!-- build:css assets/app.min.css -->
		<link rel="stylesheet" href="components/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="components/midata/css/app.css">
		<!-- endbuild -->
		
		<!-- build:js assets/app.min.js -->
		<script type="text/javascript" src="components/jquery/jquery.js" defer></script>
		<script type="text/javascript" src="components/bootstrap/js/bootstrap.js" defer></script>
		<script type="text/javascript" src="components/angular/angular.js" defer></script>
		<script type="text/javascript" src="components/angular-translate/angular-translate.js" defer></script>
		<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.js" defer></script>		
		<script type="text/javascript" src="components/midata/js/midata.js" defer></script>
		<script type="text/javascript" src="components/angular-file-upload/angular-file-upload.min.js" defer></script>
		<script type="text/javascript" src="app.js" defer></script>
		<!-- endbuild -->
	</head>
	<body>
		<div class="container" ng-app="files" ng-controller="FilesCtrl" ng-cloak>
							
				<div class="alert alert-danger alert-dismissable" ng-show="errors.server">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<p translate="{{errors.server}}"></p>
				</div>
			
			<form class="form" ng-submit="validate()">
				<div class="form-group" ng-class="{'has-error has-feedback': errors.title}">
					<label for="title" class="control-label" translate="title"></label>
					
						<input type="text" id="title" class="form-control" translate translate-attr-placeholder="title" ng-model="title" autofocus>
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.title | translate}}" ng-show="errors.title"></span>
					
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.description}">
					<label for="description" class="control-label" translate="description"></label>
					
						<textarea rows="2" id="description" class="form-control" translate translate-attr-placeholder="description2" ng-model="description"></textarea>
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.description | translate}}" ng-show="errors.description"></span>
					
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': errors.file}">
					<label for="file" class="control-label" translate="file"></label>
					
						<input type="file" id="file" nv-file-select="" uploader="uploader">
						<span class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="tooltip" title="{{errors.file | translate}}" ng-show="errors.file"></span>
					
				</div>
				<div ng-hide="uploading">					
					<a href="" class="btn btn-primary" ng-class="{disabled: loading}" ng-click="validate()" translate="save_btn"></a>					
				</div>
				<div ng-show="uploading">
					
							<div class="progress">
								<div class="progress-bar" role="progressbar" ng-style="{'width': uploader.progress + '%'}">
									{{uploader.progress + "%"}}
								</div>
							</div>
											
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
