<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


	<div class="container" ng-controller="AdminRegistrationCtrl" ng-cloak>
		<div class="row">
			<!-- Registration -->
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:630px; padding-top:30px; margin:0 auto;">
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		<h3 class="panel-title" translate="admin_registration.sign_up"></h3>
		            	</div>
		            	<div class="panel-body">
		            		<p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
	                        </p>	
	                        <p ng-show="offline" class="alert alert-danger" translate="error.offline"></p>		
	                        <p translate="admin_registration.description"></p>			
							<form name="myform" novalidate class="css-form form-horizontal" ng-submit="register()" role="form">								  
							  <formrow myid="email" label="registration.email">
							    <input type="email" class="form-control" id="email" name="email" translate translate-attr-placeholder="registration.email" ng-model="registration.email" required>
							    <formerror myid="email" type="email" message="error.invalid.email" ></formerror> 
							    <formerror myid="email" type="exists" message="error.exists.member"></formerror> 
							  </formrow>
							  <!-- <formrow myid="password" label="registration.password"> 
							    <input type="password" class="form-control" id="password" name="password" translate translate-attr-placeholder="registration.password" ng-model="registration.password" required>
							    <formerror myid="password" type="compare" message="error.invalid.password_repetition"></formerror>  
							    <formerror myid="password" type="tooshort" message="error.tooshort.password"></formerror>
							    <formerror myid="password" type="tooweak" message="error.tooweak.password"></formerror>
							  </formrow>
							  <formrow myid="password2" label="registration.password_repetition"><input type="password" class="form-control" id="password2" name="password2" translate translate-attr-placeholder="registration.password" ng-model="registration.password2" required></formrow>
							   -->
							  <formrow myid="firstname" label="registration.firstname"><input type="text" class="form-control" id="firstname" name="firstname" translate translate-attr-placeholder="registration.firstname" ng-model="registration.firstname" required></formrow>
							  <formrow myid="lastname" label="registration.lastname"><input type="text" class="form-control" id="lastname" name="lastname" translate translate-attr-placeholder="registration.lastname" ng-model="registration.lastname" required></formrow>
							  
							  <formrow myid="gender" label="registration.gender"><select class="form-control" id="gender" name="gender" ng-model="registration.gender"><option value="FEMALE" translate="enum.gender.FEMALE">female</option><option value="MALE" translate="enum.gender.MALE"></option><option value="OTHER" translate="enum.gender.OTHER"></option></select></formrow>
							 						  
							  <formrow myid="language" label="registration.language"><select class="form-control" id="language" ng-model="registration.language" ng-options="lang.value as lang.name | translate for lang in languages"></select></formrow>
							  							 
							  <formrow myid="country" label="registration.country"><select class="form-control" id="country" name="country" ng-model="registration.country" required ng-options="country as ('enum.country.'+country)|translate for country in countries"></select></formrow>
                                                           
                              <formrow myid="mobile" label="registration.mobile_phone"><input type="text" class="form-control" id="mobile" name="mobile" translate translate-attr-placeholder="registration.mobile_phone" ng-model="registration.mobile"></formrow>
                             
                              <div ng-repeat="subrole in subroles">
                                <formrow myid="{{subrole}}" label="">
                                  <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" id="{{subrole}}" name="{{subrole}}" ng-checked="hasSubRole(subrole)" ng-click="changeSubRole(subrole)">
                                    <span translate="{{ 'enum.subuserrole.'+subrole }}"></span>
                                  </label>
                                  </div>
                                </formrow>
                              </div>
                             <button type="submit" ng-disabled="status.action=='register'" class="btn btn-lg btn-primary btn-block" translate="registration.sign_up_btn"></button>
                            </form>
		            	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
