/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */


$enable-rounded:                              true;
$enable-shadows:                              true;
$primary: #1C4982;
$primary: #2E88CC;

$theme-colors: (
  "primary": #2E88CC,
  "secondary" : #333333,
  "info" : #E0A442
);


$input-btn-padding-y-sm:      0;
$input-btn-padding-x-sm:      .25rem;
$input-btn-font-size-sm:      .85rem;


$table-cell-padding:          .5rem !default;
$table-cell-padding-sm:       .2rem !default;
$nav-link-padding-y: 1rem;
@import "../../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path:                "/fonts";

@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

.glyphicon { @extend .fas }
.glyphicon-chevron-left { @extend .fa-chevron-left }
.glyphicon-chevron-right { @extend .fa-chevron-right }
.navbar-toggler-icon { @extend .fas; @extend .fa-list-alt; }
.btn-default { @extend .btn-outline-secondary }
.in { @extend .show }
 
.was-validated.has-error .form-control:valid { @extend .form-control.is-invalid } 
.has-error .invalid-feedback { display:block; }
.vishidden { visibility:hidden; } 
 

.borderless {
  @media (max-width: 767px) { margin-top:-10px; }
}

.navbar .nav-item {
  @media (max-width: 767px) { margin-left:10px;border-bottom:1px solid #e0e0e0; }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.panel-body {
    padding: 15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}


.midata-label {
  @include media-breakpoint-up(lg) {
    text-align: right;
  }
  font-weight: bold;   
}

.mark-danger .midata-label {
  padding-right:20px;
}

.navbar { margin-bottom: 20px; padding:0px; }


iframe { border:none; margin:none; padding:none }

html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-size: 14px;
}
#wrapper {
	min-height:100%;	
	position:relative;
}

#loader {
  text-align: center; 
  font-size: 60px; 
  color: #707070; 
  margin-top: -100px; 
  top: 50%; 
  width: 100%; 
  position: absolute;
}

#maincontent {
	padding-bottom:160px;   /* Height of the footer element */
}
#footer {
	width:100%;
	height:150px;
	position:absolute;
	bottom:0;
	left:0;
}


footer {
  background-color: #e0e0e0;
  border-top:1px solid #c0c0c0;
  padding-top:20px;
}

#mainheader {
		background: #32c6b6; 		
		background: radial-gradient(circle at top right, #32c6b6, #1490d1); 
    opacity: 1;
    width: 100%;
    h1 {
      font-size: 49px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      font-weight: 100;
      margin:0px;
      padding:0px;
      padding-bottom:10px;
    }
}

.margin-top { 
  margin-top:5px; 
} 
.margin-left { 
   margin-left:5px; 
} 

.fullheight { height: 100%; }

.nodata { color:#808080; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


footerwww {
 background-color:#333;
 overflow:hidden;
 padding-right:.9375rem;
 padding-left:.9375rem;

 a {
   color:#FFF !important;
   text-decoration:underline !important;
   font-size:.875rem;
   font-size:14px;
 }
 a:hover, a:visited, a:active {
   color:#FFF;
 }

 a:focus {
  outline: none;
 }

 p {
   color:#FFF;
   font-size:.875rem;
   font-size:14px;
 }
 .menu {
   margin:1rem 0;
  }
  @media print, screen and (min-width: 60em) {
    .menu {
      margin:0;
    }
  }

  .menu li {
     border-left:solid 1px #FFF;
     margin:.5rem 0;

     a {
       padding-top:0;
       padding-bottom:0;
     }
   }
   @media print, screen and (min-width: 60em) {
      .menu li {
        margin:0;

       a {
         padding-top:.7rem;
         padding-bottom:.7rem;
       }
      }
   }
   .menu li:first-child {
      border-left:0;
   }
   .menu li:first-child a {
      padding-left:0;
   }
}
@media print, screen and (min-width: 60em) {
  footerwww {
    height:100px;
    .menu {
      padding-top:30px
     }
    p {
      line-height:100px;
      text-align: right;
     }
   }
}

.cookie-bar {
    background-color: #333;
    padding: 1rem 0;

    p {
       color: #FFF;
       margin-bottom: 0;

       a {
         color: #FFF;
         text-decoration: underline;
       }
    }

    .cell {  
      padding-right: 15px;
      padding-left: 15px;
    }

   
	.btn-primary {
	    background-image: radial-gradient(circle at top right, #38bfb9, #4491f9) !important;
	    border: 0;
	    color: #FFF;
	    transition: color 0.25s ease-out, background-image 0.25s ease-out;
          
            border-radius: 8px;
            text-transform: uppercase;
            padding: 0.45em 2em;        


	}

	.btn-primary:hover {   
	    background-image: radial-gradient(circle at top left, #38bfb9, #4491f9) !important;
	    border: 0;
	    color: #000;
	}
}


.loader {
  min-height:300px;position:relative;
  
  div {
    text-align:center;margin-top:-40px;top:50%;width:100%;position:absolute;
  }
    
}

.clickable { cursor : pointer; }

.heading { font-weight : bold; }

.mainpart { min-height:500px; padding-bottom:10px; }

.greeting { display:none; }

.navbar { padding:0px; }

.navbar-brand { height : auto; line-height:inherit;padding-left:20px;margin-left:0px; }

.navbar .midata span {
    font-size: 50%;
}

.navbar .midata {   
		font-family: coco_gothicheavy, Sans-serif;   
}

tr .sort::after {
  content: " ";
  position:relative;
  display:inline-block;
  padding-left:5px;
  width:20px;
}

tr .desc::after {
  content: "▾";
  font-family: Arial, sans-serif;
}

tr .asc::after {
  content: "▴";
  font-family: Arial, sans-serif;
} 

.consenticon {
  width:75px;
  padding-right:5px;
}

.iconspace {
  padding-left:80px;
  min-height:80px;
}

.extraspace { margin-bottom: 10px; }
.space { margin-right:0.5em; }

.welcome h1 { color : #000000; }
.welcome h2 { color : #000000; }

.spacesiconbar {
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  height:140px;
}

.modal-lg { width:900px }

.smallpanel .autosize { 
  height:300px;
  position:relative;
   
  .body-center { 
    margin-top: -25%;
    margin-bottom: auto;
    position:absolute;
    top: 50%;
    width:100%;
  }
  
  .footer {
    margin-bottom: 0px;
    bottom: 0px;
    top: auto;
    position:absolute;
    text-align:center;
    width:100%;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teaser {
  font-style: italic;
  color: #707070;
  font-size: 21px;
  text-align: center;
  margin-top:20px;  
}

.dashnumber {
  font-size: 30px;
  color: #1C4982;
}

.bignumber {
  font-size: 100px;
  color: #1C4982;
  display:block;
}


.selectplaceholder	select.ng-invalid {
	  color: #a0a0a0;
}	

.selectplaceholder	option {
	  color: black;
}

.required label::after {
  content : "*"
}

.mark-danger .danger-change label.col-form-label::after {
  content: " !!";
  position:relative;
  top:0px;
  left:20px;
  margin-left:-20px;
  color: red;
  font-weight: bold;
}

.new { display: none }

.tree h1 { font-size:30px; }
.subtree { margin-left:22px; margin-right:20px; }
.subtree h1 { font-size:20px; }
.subtree .subtree h1 { font-size:20px; }
.tree .subtree .format { font-size:12px; color:#808080; margin-left: 20px;}
.tree .sharebox { margin-right:16px; }
.treehandle {
    border: 1px solid #808080;
    color: #808080;
    cursor: pointer;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    vertical-align: middle;
}
ul.nospaceafter { margin-bottom:-1px; }


.themeicon { padding-right:10px; }

/* body { background-color:#c6851d } */
body { background-color:#f0f0f0 }

.panel {
  background-color:#ffffff;

  @media (min-width: 768px) {
  -webkit-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #d0d0d0;
  }
  margin-bottom: 20px;
}

.tab-content {
   background-color:#ffffff;
  -webkit-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #e0e0e0;
  border-top: none;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 10px;
}

.tab-pane {
  padding: 10px 15px;
}

.panel-primary .panel-heading {
  /* background-color:#ffffff; */
  color: $primary;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: none;
}

.panel .body {
   padding: 0px 15px 15px 15px;
}

.modal .body {
    padding: 20px;
    position: relative;
}

.modal .panel {
  background-color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin: none;
  padding: none;
 }
 
.modal .panel .panel-heading { display:none; }

.panel .footer {
   padding: 15px;
}

.modal .footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
}

.page-header { margin:0px;padding:0px;border:none; }



.btn-danger {
    background-color: #A2680A;
    border-color: #794B00;
}

.frame { width : 100%; height: 600px }
.preview .frame { width: 100%; height:300px;overflow:hidden;padding:0px; }

.ignore > .list-group { margin-bottom:0px; }

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}

.smallpanel .wrap { width: 100%; height: 450px; padding: 0; overflow: hidden; }
.smallpanel .wrap .frame { 
       width: 133%; height: 600px;
    
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
}

a.navbar-brand {
	padding: 0;
	margin: 0px;
}

img.navbar-brand {
	height: 40px;
	width: auto;
	padding: 0;
}

.navbar .navbar-nav > .active > a {
	background-color: #e7e7e7;
}



body.modal-open {
	margin-right: 0px;
}

body.localhost {
    
  .navbar-light .navbar-brand {
    
          
     .midata::after {
       content : 'Local';
       font-size:75%;
       
        background-color : #c0c0ff;
        color:darkblue;
        border:1px solid darkblue;
        margin-left:5px;
        margin-right:20px;
        padding-left:10px;
        padding-right:10px;
     }
  }
}

body.test {
    
  .navbar-light .navbar-brand {   
          
     .midata::after {
       content : 'Test';
       font-size:75%;
       
        background-color : #ffc0c0;
        color:darkred;
        border:1px solid darkred;
        margin-left:5px;
        margin-right:20px;
        padding-left:10px;
        padding-right:10px;
     }
  }

}

body.demo {
    
  .navbar-light .navbar-brand {  
          
     .midata::after {
        content : 'Demo';
       font-size:75%;
       
       background-color : #e0ffe0;
       color:darkgreen;
       border:1px solid darkgreen;
        margin-left:5px;
        margin-right:20px;
        padding-left:10px;
        padding-right:10px;
     }
  }
	
}

#pubnavbar {
  margin-bottom:0px;
}

.ribbon {
  margin: 0;
  padding: 0;
  background: darkred;
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  z-index:100;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: darkred;
}
.ribbon:before {
  right:100%;
}

.ribbon:after {
  left:100%;
}

.terms > ol > li {
   font-weight:bold;
}

.terms > ol > li > * {
   font-weight:normal;
}

.terms {
   h1,h2,h3,h4 { text-align:center; }
   li { margin-bottom:10pt; }
   address { margin-top:10pt;margin-bottom:10pt; }
   ol {
     counter-reset: listenpunkt_ebene1;
     list-style-type: none;
     margin:30pt;
     padding:0px;
     margin-bottom:10pt;
     position:relative;
               
     ol {
        counter-reset:listenpunkt_ebene2;
        list-style-type:none;
        margin:0px;
        
     }
     ol > li::before {
        content: counter(listenpunkt_ebene1) "." counter(listenpunkt_ebene2) ". ";
        counter-increment:listenpunkt_ebene2;
        
     }
     
   }
   
   ol > li::before {
     content: counter(listenpunkt_ebene1) ". ";
     counter-increment: listenpunkt_ebene1;
     left:-30pt;
     position:absolute;
   }
      
}

.status-column { 
  text-align:right;
  .icon { font-size: 30px; } 
}

.newdesign {

  background-color:#ffffff; 

  .colored {
     background: #32c6b6 ; 
     background: -webkit-radial-gradient(top right,#32c6b6,#1490d1); 
     background: -o-radial-gradient(top right,#32c6b6,#1490d1);
     background: -moz-radial-gradient(top right,#32c6b6,#1490d1);
     background: radial-gradient(top right, #32c6b6, #1490d1);
     opacity: 1;
    
   }
   .mainpart { background-color: #ffffff; }
  
   .popoverbox { color: black; }
   
   #loader {  
     color: white;  
   }  
    
   .greeting { 
       color : white; 
       font-size: 25px;
        
       display: block;
         
       p {
         padding-top : 5px;
         padding-bottom : 25px;       
       }
    }
    
    .container {
      padding:0px 0px 0px 0px;      
      margin-left:50px;
      margin-right:50px;
      width:auto;
      
    }
    
    .borderless {
      margin-left:-50px;
      padding-left:50px;
      margin-right:-50px;
      padding-right:50px;
    }
    
    .container .body, .container .panel-body {
      padding-left:0px;
      padding-right:0px;
      background-color:#ffffff;
    }
    
    .container .panel-heading {
      padding-left:0px;
      padding-right:0px;
      background-color:inherit;
    }
    
   .extraspace { margin-top:10px; }
   .dashboard > .row { margin-top:10px;}

   .btn-default { border-color: #4692f9; color:#4692f9;text-transform:uppercase;  }
   .btn-danger { text-transform:uppercase;  }
   
   .icon { color:#4692f9; }
   
   #mainheader { 
     background:#e0e0e0;
     
   }
   
   .popoverbox .btn-default { border-radius:0; border:none; color:black;text-transform:none; }
   
   .btn-primary {
     background: #32c6b6 ; 
     background: -webkit-radial-gradient(top right,#32c6b6,#1490d1); 
     background: -o-radial-gradient(top right,#32c6b6,#1490d1);
     background: -moz-radial-gradient(top right,#32c6b6,#1490d1);
     background: radial-gradient(top right, #32c6b6, #1490d1);
     opacity: 1;
     border:none;
     border-radius:0;
     text-transform:uppercase;
   }

  .panel {
    background-color: inherit;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0px;
  }
  
  .panel-primary .panel-heading, th {
    color: #a0a0a0;
    font-size:15px;
    text-transform: uppercase;
    
  }
  
  .panel-heading {
    background-color: inherit;
  }
 
  .navbar-light {
     
     border: none;
     background: transparent;    
     padding-top:15px;
     padding-bottom: 15px;
    
    color:white;
  }
    
  .panel-body, .body {
    /*background-color:auto;*/
    color:#101010;
    padding: 0px; 
  }
  
  .modal-content .body {
    padding:15px 15px 15px 15px;
  }
  
  .navbar {
    margin-bottom: 0px;
  }
  
  .navbar .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 3px;
      margin-bottom: 12px;
      padding-right: 5px;    
      padding-left: 5px;
      margin-right: 10px;
      margin-left: 10px;
      color:white;
  } 
  
  .navbar .navbar-nav > .active > a {
    border-bottom: 3px solid white;
    margin-bottom: 9px;
    color:white;
    background-color: inherit;
  }
  
  .nav-tabs {
    border: none;
    background-color: #f9f9f9;
  }
  
  .nav-tabs>li>a {
    
    border:none;
    font-size:16px;
    color:black;
    padding-top: 15px;
      padding-bottom: 3px;
      margin-bottom: 12px;
      padding-right: 5px;    
      padding-left: 5px;
      margin-right: 10px;
      margin-left: 10px;
  }
  
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border:none;
    border-bottom: 2px solid #4692f9;
    margin-bottom: 9px;
    color:black;
    background-color: #f9f9f9;
  }
  
  .tab-content {
   background-color:#ffffff;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border: none;  
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 10px;
}

  .infopanel {
    background-color:#f9f9f9;
    .panel { padding:20px; }
    .panel-body { background-color:#f9f9f9; }
    .panel + .panel { border-top:1px solid #a0a0a0; }
  }
  
  .line {
    border-top:2px solid #4692f9;
    margin-bottom:20px;
    width:50px;
  }
  
  .midata-overlay {
    background-color:#f0f0f0;
    padding-top:50px;
    padding-bottom:220px;
    margin-bottom:-80px;
    .overlay-body { background-color:#ffffff;padding:20px;padding-top:10px; }
  }
  
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
  }
}

.midatalogo {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 213px;
}
