  <div ng-controller="SingleRecordController" class="container">
    
    <form class="form-horizontal">
      <div class="form-group">
         <label for="title" class="col-sm-2 control-label" translate="title"></label>
         <div class="col-sm-10">
           <input type="text" class="form-control" id="title" ng-model="record.data.description">
         </div>
      </div>
      
     <div class="form-group" ng-class="{'has-error has-feedback': errors.type}">
		<label for="type" class="col-xs-2 control-label" translate="type"></label>
		<div class="col-xs-10">
			<div class="form-control-static">{{ getCodeableConcept(record.data.type) }}</div>
		</div>
     </div>
     
     <div class="form-group">
		<label class="col-xs-2 control-label" for="created" translate="created"></label>
            <div class="col-xs-10">
			<div class="input-group">
				<input type="text" id="date" is-open="datePickers.dateOpened" datepicker-options="dateOptions" popup-placement="bottom-right"
					close-text="Close" uib-datepicker-popup="dd.MM.yyyy" class="form-control" placeholder="Date" autofocus
					ng-model="record.data.created"> <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="datePickers.dateOpened=true;">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
			</div>


		</div>
	
	 <div class="form-group">
         <label for="indexed" class="col-sm-2 control-label" translate="indexed"></label>
         <div class="col-sm-10">
           <div class="form-control-static">{{ record.data.indexed | date }}</div>
         </div>
      </div>
	
	 <a class="btn btn-default" translate="back_btn" ui-sref="^.overview"></a>
	 <button type="button" ng-click="download()" translate="download_btn" class="btn btn-default"></button>
	 <button type="button" ng-click="update()" translate="update_btn" class="btn btn-default"></button>
	 
	 <hr ng-show="isCDA">
	 <div id="myxml" class="cda"></div>
    </form> 
</div>