
	<div ng-controller="AppCtrl">
		<div class="page-header">
			<h1>Market <small>Apps</small></h1>
		</div>
		
		<div ng-cloak class="panel panel-primary">
		   <div class="panel-body">
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{error}}</p>
			</div>
			<div class="alert alert-success alert-dismissable" ng-show="success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>You have successfully installed a new app. Go to your <a ui-sref="^.records">records</a> now to import records.</p>
			</div>
			
			<p class="lead">{{app.name}}</p>
			<div class="row">
				<p class="col-xs-2">Created by:</p>
				<p class="col-xs-10">{{app.creator}}</p>
			</div>
			<div class="row">
				<p class="col-xs-2">Description:</p>
				<p class="col-xs-10">{{app.description}}</p>
			</div>
			
			<button type="button" class="btn btn-primary" ng-hide="app.installed" ng-click="install()">Install</button>
			<button type="button" class="btn btn-default" ng-show="app.installed" ng-click="uninstall()">Uninstall</button>
			<p></p>
			<div  ng-show="visualizations.length > 0">
			  <p class="lead">Recommended Visualizations</p>
			  <p>For viewing data created by this app these visualizations are recommended:</p>
			  <div ng-repeat="visualization in visualizations">
			     <button class="btn btn-default" ng-click="showVisualizationDetails(visualization)">{{ visualization.name }}</a>
			  </div>
			</div>
		</div>
		</div>
	</div>
	