<div id="clock-wrapper" class="">
    <div class="text-center">
        <svg id="clock">
            <g>
                <path class="clock-outer"></path>
            </g>
            <g id="clock-move-events"></g>
            <g id="clock-sleep-events"></g>
            <g>
                <path class="clock-inner"></path>

                <path class="clock-tick" ng-repeat="clockTick in clockTicks" d="M0 0L0 8" ng-attr-transform="translate({{center}}, {{center}}) rotate({{clockTick.angle}}) translate(0, {{clockInnerArc.outerRadius()() - 8}})"></path>

                <text class="clock-tick-text" ng-repeat="clockTick in clockTicks | clockTickFilter" ng-attr-transform="translate({{center}}, {{center}}) rotate({{clockTick.angle}}) translate(0, {{clockInnerArc.outerRadius()()-10}})" text-anchor="middle">{{clockTick.hour}}</text>
            </g>
        </svg>
    </div>
    
    <div class="text-center"><strong>{{ selectedDate | date }}</strong></div>
    
</div>