<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


   	<div class="welcome" ng-controller="LoginCtrl" ng-cloak >
		<div id="mainheader"><div class="container"><div class="row">
			<!-- Login -->
			<div class="col-sm-12 d-none d-md-block" style="margin-top:30px;margin-bottom:30px;font-family:Sans-serif;color:white">

              <div ng-hide="notPublic" style="margin-bottom:40px"></div>
              
              <h1 style="color:white;" translate="member_login.teaser"></h1>
              <div ng-show="notPublic">
              <div translate="member_login.info1"></div>
              <div translate="member_login.info2"></div>
              <div translate="member_login.info3"></div>             
              </div>
			  <a ui-sref="public.registration({action:action})" style="margin-top:10px;margin-bottom:40px;" class="btn btn-primary" ng-hide="offline||notPublic" translate="member_login.register_now"></a> 
			</div>
			</div></div>
		</div><div class="container"><div class="row">
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:330px; padding-top:30px; margin:0 auto;">
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		<h3 class="panel-title"><span translate="member_login.sign_in"></span><span ng-show="app"> - {{ app.i18n[translate.use()].name || app.name }}</span></h3>
		            	</div>
		            	<div class="panel-body">
		            	    <div class="alert alert-info" ng-show="serviceLogin && !app">
		            	      <strong class="alert-heading" translate="login.service_login"></strong>                 
                              <div ng-hide="app" translate="login.service_login2"></div>                                                     
                            </div>
                            
                            <div ng-if="app" class="extraspace">
                              <center><img ng-if="hasIcon()" ng-src="{{getIconUrl()}}"></center>																        
                            </div>
		            	
			            	<div ng-show="error" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
			            	  <span translate="{{ error.code || error }}"></span>
			            	  <span ng-if="error.code == 'error.invalid.credentials_hint'">
			            	    
			            	    <a class="alert-link" ui-sref="public_research.login" translate="enum.userrole.RESEARCH"></a>,
			                    <a class="alert-link" ui-sref="public_provider.login" translate="enum.userrole.PROVIDER"></a>
			                    <span translate="common.or"></span>
			                    <a class="alert-link" ui-sref="public_developer.login" translate="enum.userrole.DEVELOPER"></a>
			                    ?		
			            	   </span>                           
	                        </div>
	                        
	                        <p ng-show="offline" class="alert alert-danger" translate="error.offline"></p>
							<form class="form" ng-submit="dologin()" role="form" ng-hide="offline">
							    <div class="form-group">
								<input type="email" class="form-control" translate translate-attr-placeholder="login.email_address" ng-model="login.email" style="margin-bottom:5px;" autofocus>								
								<input type="password" class="form-control" translate translate-attr-placeholder="login.password" ng-model="login.password" style="margin-bottom:5px;">								
								<select class="form-control" ng-model="login.role" ng-options="role.value as role.name|translate for role in roles"></select>
								</div>
								
								<button type="submit" ng-disabled="status.action=='login'" class="btn btn-lg btn-primary btn-block" translate="login.sign_in_btn"></button>
								<div class="margin-top">
								  <a ui-sref='public.lostpw' translate="login.forgot_your_password"></a>
								</div>
								<div class="margin-top" ng-show="serviceLogin">
								  <hr>
								  <a class="btn btn-primary btn-block" ui-sref="^.registration({action:action})" translate="login.no_account"></a>
								</div>
							</form>
		            	</div>
					</div>
				</div>
			</div>
		
			
		</div>
	  </div>
	 
	</div>		

