<div ng-controller="NewConsentCtrl">
 <div class="panel panel-primary">
  <div class="panel-body">
  <form name="myform" class="css-form form-horizontal" ng-submit="create()" novalidate role="form">
    <formrow id="name" label="Name for consent">
      <input id="name" type="text" class="form-control" ng-model="consent.name">
    </formrow>
    <formrow id="type" label="Type of consent">
      <div class="radio">
	      <label>
	        <input type="radio" ng-model="consent.type" value="CIRCLE">
	        Circle: Share your data with other MIDATA members
	      </label>
      </div>
      <div class="radio">
	      <label>
	         <input type="radio" ng-model="consent.type" value="HEALTHCARE">
	         Share data with health professionals.
	      </label>
      </div>    
    </formrow>    
    <formrow id="passcode" label="Passcode">
      <div class="checkbox">
      <label> 
        <input type="checkbox" ng-model="consent.usepasscode">
        Add a passcode to this consent that you can give to a health professional.
      </label>
      </div>
      <div ng-show="consent.usepasscode">
	      <b>Choose a secure passcode:</b>
	      <input  id="passcode" type="text" class="form-control" ng-model="consent.passcode">
      </div>
    </formrow>    
    
    <div ng-repeat="person in authpersons">
      <p>Authorized Person:</p>
					<address>
						<strong>{{ person.firstname }} {{ person.lastname }}</strong><br> {{ person.address1 }}<br> {{ person.address2 }}<br> {{
						person.zip }} {{ person.city }}<br> {{ person.country }}<br> 						
						<span ng-show="person.email">Email: {{ member.email }}</span><br>
					</address>
				</div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>			
</div>
</div>
</div>
	