<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


<div class="tab-content">
  <div class="tab-pane active">
	
	<div ng-app="studies" ng-controller="StudyInfoCtrl" ng-cloak>
	<loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>	
	
	<p translate="studyinfo.introduction"></p>
	
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="submit()" role="form">
	  <formrow myid="visibility" label="studyinfo.visibility">
	    <select ng-model="selection.visibility" class="form-control" ng-options="vis as ('studyinfo.visibilities.'+vis) | translate for vis in visibilities"></select>
	  </formrow>
	  	  
	  <formrow myid="languages" label="studyinfo.showlanguages">
	    <div class="checkbox col-sm-12">
	      <label>
	        <input type="checkbox" ng-disabled="true" ng-checked="selection.langs.indexOf('int')>=0" ng-click="toggle(selection.langs, 'int');">
	        <span translate="enum.language.INT"></span>
	      </label>
	    </div>
	    <div ng-repeat="language in languages" class="checkbox col-sm-3">
	      <label>
	        <input type="checkbox" ng-checked="selection.langs.indexOf(language.value)>=0" ng-click="toggle(selection.langs, language.value);">
	        <span translate="{{ language.name }}"></span>
	      </label>
	    </div>
	  </formrow>
	  	  	
      <p translate="studyinfo.introduction2"></p>	  	  	
	  
	  <div ng-repeat="section in infos | filter : { visibility : selection.visibility }">
	    
	  <p><b translate="{{ 'enum.infos.'+section.type }}"></b></p>
	  
	    <div class="extraspace" ng-repeat="lang in selection.langs">
	      <div class="text-muted"><span translate="{{ 'enum.language.'+lang.toUpperCase() }}"></span>:</div>
	      <textarea class="form-control" ng-disabled="studyLocked()" ng-model="section.value[lang]">
	      </textarea>
	      </formrow>
	    </div>
	  
	    <hr>
	  </div>
    
      <div class="extraspace"></div>
      <button type="submit" class="btn btn-primary" ng-disabled="studyLocked()" translate="common.change_btn"></button>
      <span class="text-success" ng-show="requiredDataOk"><span class="fas fa-check"></span> <span translate="common.save_ok"></span></span>
    
    </form>
    
    </loader>
    </div>
  </div>	
</div>
