<div ng-controller="EditSurveyCtrl" class="container" ng-cloak>
    <form class="form-horizontal">
           <div class="form-group">
	         <label for="title" class="control-label col-sm-4" translate="editsurvey.name"></label>
	         <div class="col-sm-8">
	           <input id="title" class="form-control" type="text" ng-model="survey.name">
	         </div>		         
	       </div>	
	       <div class="form-group">
	         <label for="title" class="control-label col-sm-4" translate="editsurvey.title"></label>
	         <div class="col-sm-8">
	           <input id="title" class="form-control" type="text" ng-model="survey.title">
	         </div>		         
	       </div>	
	       <div class="form-group">
	         <label for="version" class="control-label col-sm-4" translate="editsurvey.version"></label>
	         <div class="col-sm-8">
	           <input id="version" class="form-control" type="text" ng-model="survey.version">
	         </div>		         
	       </div>
	       <div class="form-group">
	         <label for="publisher" class="control-label col-sm-4" translate="editsurvey.publisher"></label>
	         <div class="col-sm-8">
	           <input id="publisher" class="form-control" type="text" ng-model="survey.publisher">
	         </div>		         
	       </div>
	       <div class="form-group">
	         <label for="description" class="control-label col-sm-4" translate="editsurvey.description"></label>
	         <div class="col-sm-8">
	           <textarea id="description" class="form-control" ng-model="survey.description">
	           </textarea>
	         </div>		         
	       </div>
	       <div class="form-group">
	         <label for="purpose" class="control-label col-sm-4" translate="editsurvey.purpose"></label>
	         <div class="col-sm-8">
	           <textarea id="purpose" class="form-control" ng-model="survey.purpose">
	           </textarea>
	         </div>		         
	       </div>	       
	       <div class="form-group">
	         <label for="status" class="control-label col-sm-4" translate="editsurvey.status">Status</label>
	         <div class="col-sm-8">
	           <select id="status" class="form-control" ng-model="survey.status" ng-options="status as status | translate for status in stati"></select>
	         </div>		         
	       </div>	       	       	      
	       <div>
	         <button type="button" class="btn btn-primary" ng-click="save()" translate="editsurvey.save_btn">Save</button>		       		   
	         <button type="button" class="btn btn-default" ng-click="cancel()" translate="editsurvey.cancel_btn">Cancel</button>	         
	       </div>
    </form>	
</div>