<div ng-controller="TimelineCtrl">
  <div  class="midata-overlay borderless">
    		<div class="panel panel-primary">
			  <div class="panel-heading"><span translate="timeline.title"></span>
			     
			  </div>
			  <div class="panel-body">
			    <p translate="help_welcome.starts"></p>
    <div class="row">
      <div ng-show="role=='MEMBER'" class="col-6 col-md-3 col-lg-2 spacesiconbar" style="position:relative">
        <a href="javascript:" ng-click="use('fitness')"><img class="img-responsive" src="/images/fitness.jpeg"></a>
        <div class="position:relative"><a href="javascript:" ng-click="use('fitness')" translate="timeline.fitness">Fitness</a></div>
      </div>
      <div class="col-6 col-md-3 col-lg-2 spacesiconbar" style="position:relative">
        <a href="javascript:" ui-sref="^.market({ tag : 'Protocol', user : targetUser })"><img class="img-responsive" src="/images/papers.jpg"></a>
        <div class="position:relative"><a href="javascript:" ui-sref="^.market({ tag : 'Protocol' })" translate="timeline.health">Health Documentation</a></div>
      </div>
      <div class="col-6 col-md-3 col-lg-2 spacesiconbar" style="position:relative">
        <a href="javascript:" ui-sref="^.market({ tag : 'Analysis', user : targetUser })"><img class="img-responsive" src="/images/question.jpeg"></a>
        <div class="position:relative"><a href="javascript:" ui-sref="^.market({ tag : 'Analysis' })" translate="timeline.analyze">Analyze your Data</a></div>
      </div>
      <div class="col-6 col-md-3 col-lg-2 spacesiconbar" ng-repeat="space in spaces" style="position:relative">        			     
	    <a href="javascript:" ui-sref="^.spaces({ spaceId : space._id, user : targetUser })"><img class="img-responsive" ng-src="{{ getIconUrl(space) }}"></a>
	    <div class="position:relative">
	      <div style="position:absolute;right:16px;"><a href="javascript:" ng-click="deleteSpace(space);"><span class="fas fa-times-circle"></span></a></div>
	      <a href="javascript:" ui-sref="^.spaces({ spaceId : space._id })">{{ space.name}}</a>
	    </div>		 
	  </div>
    </div>
  
	<div class="row"><div class="col-sm-12">		    
	         	
					
								<!-- Visualization -->
								<loader busy="!space.trustedUrl">
								<div id="iframe-placeholder">
									<pluginframe id="iframe" height="600px" width="100%" mysrc="{{space.trustedUrl}}"></pluginframe>
								</div>
								</loader>											
						
				</div>
			 </div>							 				
		
		<modal>
	       <div ng-include="def.template"></div>
	    </modal>
		
		
		</div>
	</div>
	</div>
</div>