/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

.mi-at-icon {
	z-index: 1;

	svg {
		width: 24px;
		height: 24px;
	}

	&__badge {
		font-size: $font-size-tiny;
		color: $color-brand-white;
		font-family: $font-normal;
		position: relative;
		top: -21px;
		left: 13px;
		width: 10px;
		z-index: 2;

		&::after {
			content: "";
			border-radius: 50%;
			background-color: $color-brand-red-primary;
			height: 12px;
			width: 12px;
			position: absolute;
			top: -2px;
			left: -4px;
			z-index: -1;
		}
	}
}

