<div ng-controller="SpaceSummaryCtrl" class="ignore autosize">        

  <loader busy="status.isBusy !== false">
 
  <div ng-show="!url && previewType=='visualization'" class="body">
     <div class="text-center lead"><span class="bignumber">{{ count }}</span> <span translate="spacesummary.records_to_view"></span></div> 
     <div ng-show="last" class="text-center"><span translate="spacesummary.last_entry_at"></span> <b>{{ last | date }}</b>.</div>
     <div class="extraspace"></div>     
  </div>
  
  <div ng-show="!url && (previewType=='oauth2' || previewType=='oauth2' || previewType=='create') " class="body body-center">
     <div ng-hide="last" class="text-center lead" translate="spacesummary.no_entries_yet"></div>     
     <div ng-show="last" class="text-center lead" translate="spacesummary.newest_entry_from"></div>
     <div ng-show="last" class="text-center lead"><b>{{ last | date }}</b>.</div>
     <div class="extraspace"></div>     
  </div>
  
  <div ng-if="url" class="body"><div class="preview"><iframe class="frame" ng-src="{{url}}" ng-cloak></iframe></div></div>

  <div ng-if="!url || previewType != 'create'" class="footer text-center">      
      <button class="btn btn-default" ng-click="showSpace()" translate="spacesummary.view_btn"></button>
  </div>
  </loader>
</div>