<!DOCTYPE html>
<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<html>
	<head>
		<title>MIDATA.coop</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="MIDATA">		
	<!-- Favicon -->
   <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
   <link rel="manifest" href="/images/manifest.json">
		<!-- Clear CSS defaults -->
					
		<!-- Application style sheet -->
		<!-- build:css oauth.min.css -->	
		<!-- FROM WEBPACK	
		<link rel="stylesheet" href="/app2.css">
		-->
		<!-- endbuild -->
		
		<!--<script type="text/javascript" src="<!- - @echo BACKEND - ->/api/assets/javascripts/routes" defer></script>-->
		<script type="text/javascript" src="<%= htmlWebpackPlugin.options.BACKEND %>/api/assets/javascripts/routes" ></script>								
		<!-- <script type="text/javascript" src="components/jquery-ui/jquery-ui.js" defer></script>  -->  
		
		<!-- build:js oauth.min.js -->		
		<!-- FROM WEBPACK			
        <script type="text/javascript" src="components/angular/angular.js" defer></script>   
        <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.js" defer></script>             
        <script type="text/javascript" src="components/angular-translate/angular-translate.js" defer></script>
        <script type="text/javascript" src="components/angular-translate-loader-partial/angular-translate-loader-partial.js" defer></script>
        <script type="text/javascript" src="components/angular-translate-storage-cookie/angular-translate-storage-cookie.js" defer></script>
        <script type="text/javascript" src="components/angular-translate-storage-local/angular-translate-storage-local.js" defer></script>
        <script type="text/javascript" src="components/angular-cookies/angular-cookies.js" defer></script>        
        <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.js" defer></script> 
                                    		
		<script type="text/javascript" src="oauthapp.js" defer></script>
		-->
		<!-- endbuild -->
	</head>
	<!--<body ng-app="portal" ng-csp="no-unsafe-eval" class="<!- - @echo NAME - ->">-->
<body ng-app="portal" ng-csp="no-unsafe-eval" class="<%= htmlWebpackPlugin.options.NAME %>">
	
	  <div ng-if="false" class="fullheight start-color">	 
			<div style="position: relative;" class="fullheight">
				<div id="loader">
					<img src="/img/logo-midata--white.svg" width="180" alt="MIDATA"></div>
			</div>

	  </div>
    <div id="wrapper">
	  <div id="maincontent" ui-view ng-cloak></div>	 
	 </div>
	</body>
</html>
