<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="YourAppsCtrl">
		
  <div class="panel panel-primary">
    <div class="panel-heading" translate="developer_yourapps.title"></div>
    <div class="body">
      <loader busy="status.isBusy !== false">
      <table class="table" ng-show="apps.length > 0">
        <tr>
          <th translate="developer_yourapps.name">Name</th>
          <th translate="developer_yourapps.filename">Internal</th>
          <th translate="developer_yourapps.type">Type</th>
          <th translate="developer_yourapps.role">Target Role</th>
          <th></th>
        </tr>
        <tr ng-repeat="app in apps">
          <td><a ui-sref="^.manageapp({ appId : app._id })">{{  app.name }}</a></td>
          <td>{{ app.filename }}</td>
          <td translate="{{ 'enum.plugintype.'+app.type }}"></td>
          <td translate="{{ 'enum.userrole.'+app.targetUserRole }}"></td>
          <td><a class="btn btn-default btn-sm" ui-sref="^.manageapp({ appId : app._id })" translate="developer_yourapps.manage_btn">manage</a> <a class="btn btn-default btn-sm" ui-sref="^.appstats({ appId : app._id })" translate="developer_yourapps.debug_info_btn">debug info</a></td>
        </tr>
      </table>
      <p ng-show="apps.length == 0" translate="developer_yourapps.empty"></p>
      
      <a class="btn btn-default" ui-sref="^.registerapp" translate="developer_yourapps.register">Register a new plugin</a>
      </loader>		
    </div>
  </div>		

		  	
</div>
<div ng-include="'/views/developers/changelog/changelog.html'"></div>
	