@import views.html.details.flexiblestudies
@import views.html.details.flexiblerecords
@main("News") {
	<div ng-app="news" ng-controller="NewsCtrl">
		<div class="page-header">
			<h1>News</h1>
		</div>
		
		<div ng-cloak>
		   <div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{error}}</p>
			</div>
		   <div class="row">
		    <div class="col-md-6">
			<div ng-show="showAppTeaser" class="panel panel-primary">
			<div class="panel-heading">Welcome to MIDATA!</div>
			<div class="panel-body center-block" >		  
			  <p>To get started we recommend to install some applications from our market place!</p>
			  <div class="center-block">			  
			    <a ng-href="@routes.Market.index()" class="btn btn-primary">Take me to the market page.</a>
			  </div>			  
			</div>
			</div>
			
			<div ng-show="showVisualizationsTeaser" class="panel panel-primary">
			<div class="panel-heading">Add Visualizations!</div>
			<div class="panel-body" class="center-block" >		  
			  <p>Add Visualizations to improve your experience!</p>
			  <div class="center-block">			  
			    <a ng-href="@routes.Market.index()" class="btn btn-primary">Take me to the market page.</a>
			  </div>			  
			</div>
			</div>
			
			<!-- Records jumbotron -->
			<div ng-show="pushed.length || shared.length" class="panel panel-primary">
			<div class="panel-heading">What's new?</div>
			<div class="panel-body" >				
				<div ng-show="pushed.length">
					<a href="" ng-click="showPushed()">{{pushed.length}} new record<span ng-show="pushed.length > 1">s</span></a>
					<span ng-show="pushed.length === 1">has</span>
					<span ng-show="pushed.length > 1">have</span>
					been pushed to your account.
				</div>
				<div ng-show="shared.length">
					<a href="" ng-click="showShared()">{{shared.length}} record<span ng-show="shared.length > 1">s</span></a>
					<span ng-show="shared.length === 1">has</span>
					<span ng-show="shared.length > 1">have</span>
					been shared with you.
				</div>
				<div style="padding-bottom:10px;">
					<div class="pull-right">
						<button type="button" class="btn btn-primary" ng-click="showAll()">Show me all new records</button>
						<button type="button" class="btn btn-default" ng-click="clearAll()">Okay, got it!</button>
					</div>
				</div>
			</div>
			</div>
			
			<div ng-controller="FlexibleStudiesCtrl" viewid="2" title="New Studies:">
			  <div class="panel panel-primary">
			  <div class="panel-heading">{{ title }}</div>			  
			  @flexiblestudies()
			  </div>
			</div>	
			
			</div>			
		    <div class="col-md-6">						
						
			
			
			<div ng-controller="FlexibleRecordListCtrl" viewid="1" title="Records added this month:">
			  <div class="panel panel-primary">
			    <div class="panel-heading">{{ title }}</div>
			    @flexiblerecords()
			  </div>
			</div>		
			
			</div>
			</div>
			<div class="row"><div class="col-md-12">
			
			<!-- News -->
			<p ng-show="loading">Loading news...</p>
			<div ng-hide="loading">			
				<div class="panel panel-primary" ng-repeat="newsId in news" ng-show="news.length">
					<div class="panel-heading">
						{{newsItems[newsId.$oid].title}}
						<button type="button" class="close" aria-hidden="true" ng-click="hide(newsId)">&times;</button>
					</div>
					<div class="panel-body" style="white-space:pre-line;">{{newsItems[newsId.$oid].content}}</div>
				</div>
			</div>
			
			</div></div>
		</div>
	</div>
	
	<!-- Load news controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/date.js")" defer></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/views.js")" defer></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/news.js")" defer></script>
}
