@(role : String)
@pubmain("Password Assistance - Step 1") {
	
	<div class="container" ng-app="lostpw" ng-controller="LostPasswordCtrl" ng-cloak>
		<div class="row">
			<!-- Login -->
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:600px; padding-top:120px; margin:0 auto;">
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		<h3 class="panel-title">Password Assistance - Step 1</h3>
		            	</div>
		            	<div class="panel-body">
			            	<div class="alert alert-danger" ng-show="lostpw.error">
								<p>{{lostpw.error}}</p>
							</div>
							<div class="alert alert-success" ng-show="lostpw.success">
								<p>We have sent you an email with instructions on how to reset your password.</p>
							</div>
							<p>Enter the e-mail address associated with your account, then click Continue. We'll email you a link to a page where you can easily create a new password.</p>
							<form name="form" ng-submit="submit()" role="form">
								<input type="email" class="form-control" placeholder="Email address" ng-model="lostpw.email" style="margin-bottom:5px;" autofocus>
								<input type="hidden" name="role" value="@role" ng-init="role='@role'">								
								<button type="submit" class="btn btn-primary btn-block">Continue</button>
							</form>
		            	</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- Load login controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/lostpw.js")" defer></script>
}
