  
    <div class="panel-body" ng-show="records.length == 0">Empty</div>
    <ul class="list-group" ng-show="!loadingRecords && records.length > 0">
		<li class="list-group-item" ng-repeat="record in records">
		    <input type="checkbox" ng-model="record.marked" ng-if="view.setup.allowShare"/>
			<span class="label label-info">{{record.created | date }}</span>
			<span ng-show="record.owner.$oid != userId.$oid" class="label label-info">{{ record.ownerName }}</span>
			<span ng-show="record.creator.$oid != userId.$oid && record.creatorName" class="label label-info">by {{ record.creatorName }}</span>			
			<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>
			<div class="pull-right" ng-if="view.setup.allowRemove">
			   <button type="button" class="btn btn-xs btn-danger" ng-click="removeRecord(record)">
				  <span class="glyphicon glyphicon-remove"></span>
			   </button>
			</div>										
		</li>
	</ul>
	
	<div ng-class="{'panel-body' : !view.modal, 'modal-footer' : view.modal}" ng-show="view.setup.allowAdd || view.setup.allowShare">
	<button ng-click="addRecords()" ng-if="view.setup.allowAdd" class="btn btn-primary">Add Records...</button>
	<button ng-click="shareRecords()" ng-if="view.setup.allowShare" class="btn btn-primary">Share</button>
	</div>
