<div class="">
	<form class="form-horizontal" ng-submit="searchRecords()">
		<div class="form-group">
			<div class="col-xs-10">
				<input type="text" class="form-control" placeholder="Search in your records" ng-model="criteria.query" autofocus>
			</div>
			<div class="col-xs-2">
				<button type="submit" class="btn btn-primary form-control">Search</button>
			</div>
		</div>
	</form>
	<p ng-show="newest">Showing newest records from last month:</p>
	<p ng-show="searching">Searching...</p>
	<p ng-show="!searching && foundRecords.length === 0">No records matched your search.</p>
	
	 <ul class="list-group" ng-show="!searching && foundRecords.length > 0">
		<li class="list-group-item" ng-repeat="record in filteredRecords = (foundRecords | filter:isntInSpace)">
		    <input type="checkbox" ng-model="record.checked"/>	
		    <span class="label label-info">{{record.created | date }}</span>					
			<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>												
		</li>
	</ul>
	<p ng-show="filteredRecords.length === 0">All found records are already in this space.</p>
		
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" ng-click="shareRecords()">Add</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>