
<p ng-show="loadingSharing">Loading circles...</p>
<p ng-show="!loadingSharing && circles.length === 0">
	You have no circles yet. Go to <a href="@routes.Circles.index()">your circles</a> to create one.
</p>

<!--   <ul class="nav nav-tabs">
					      <li ng-class="{'active': tab=='circles'}">
					  	    <a href="javascript:;" ng-click="makeActive('circles')">Member Circles</a>
					      </li>
					      <li ng-class="{'active': tab=='memberkeys'}">
					  	    <a href="javascript:;" ng-click="makeActive('memberkeys')">Healthcare Provider</a>
					      </li>
					      <li ng-class="{'active': tab=='participations'}">
					  	    <a href="javascript:;" ng-click="makeActive('participations')">Research</a>
					      </li>
				        </ul> -->

<!--  <div class="tab-content">
						  <div class="tab-pane fade" ng-class="{'active in': tab == 'circles' }"> -->
<div ng-show="circles.length > 0">
	<p class="lead text-primary">Member Circles:</p>
	<div class="checkbox" ng-repeat="circle in circles">
		<label> <input type="checkbox" name="{{circle._id.$oid}}" ng-model="circle.checked"> {{circle.name}}
		</label>
	</div>
</div>
<!--  </div>
					    <div class="tab-pane" ng-class="{'active in': tab == 'memberkeys' }"> -->
<div ng-show="memberkeys.length > 0">
	<p class="lead text-primary">Healthcare Providers:</p>
	<div class="checkbox" ng-repeat="memberkey in memberkeys">
		<label> <input type="checkbox" name="{{memberkey._id.$oid}}" ng-model="memberkey.checked"> {{memberkey.name}}
		</label>
	</div>
</div>
<!-- </div>
						<div class="tab-pane" ng-class="{'active in': tab == 'participations' }"> -->
<div ng-show="participations.length > 0">
	<p class="lead text-primary">Studies:</p>
	<div class="checkbox" ng-repeat="participation in participations">
		<label> <input type="checkbox" name="{{participation._id.$oid}}" ng-model="participation.checked">
			{{participation.studyName}}
		</label>
	</div>
</div>
<!-- </div>
						</div> -->