<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->

   
<div ng-controller="StudyRecordsCtrl" ng-cloak>   
   <div class="tab-content">
    <div class="tab-pane active">
      <loader busy="status.isBusy !== false">
      <p class="alert alert-info" translate="studyrecords.empty" ng-show="study.myRole.export">Once data is available it can be downloaded here.</p>
      
      <p class="alert alert-warning" translate="studyrecords.wrongrole" ng-hide="study.myRole.export"></p>
      
      <p ng-show="error && !error.field" translate="{{error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	  </p>
      
      <form name="myform" novalidate class="form form-horizontal">
       <formrow myid="startDate" label="studyrecords.startDate">
	    <div class="input-group">
          <input id="startDate" name="startDate" type="text" class="form-control" placeholder="" uib-datepicker-popup="dd.MM.yyyy"  ng-model="filter.startDate" is-open="datePickers.startDate" no-time datepicker-options="dateOptions" ng-required="false" close-text="Close" />
          <span class="input-group-append">
             <button type="button"  class="btn btn-default" ng-click="datePickers.startDate=true;"><i class="fas fa-calendar"></i></button>
          </span>
        </div>
        <formerror myid="startDate" type="date" message="error.invalid.date"></formerror>
	  </formrow>
	  <!-- 
	  <formrow myid="endDate" label="studyrecords.endDate">
	    <div class="input-group">
          <input id="endDate" name="endDate" type="text" class="form-control" placeholder="" no-time uib-datepicker-popup="dd.MM.yyyy" ng-model="filter.endDate" is-open="datePickers.endDate" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
          <span class="input-group-append">
             <button type="button"  class="btn btn-default" ng-click="datePickers.endDate=true;"><i class="fas fa-calendar"></i></button>
          </span>
        </div>
        <formerror myid="endDate" type="date" message="error.invalid.date"></formerror>
	  </formrow>
      -->
      
      <table class="table table-striped" ng-show="infos.length">	
      <tr>
        <th translate="studyrecords.group">Data Group</th>
        <th translate="studyrecords.number_of_records"># Records</th>
        <th colspan="2">&nbsp;</th>
      </tr>
      <tr ng-repeat="info in infos">        
	      <td>{{ info.group }}</td>      
	      <td>{{ info.count | translate }}</td>
	      <td><button ng-disabled="status.action == 'download' || !study.myRole.export" ng-click="fhirDownload(info, 'pseudonymized')" href="javascript:" class="btn btn-sm btn-primary" translate="studyrecords.fhir_download_btn"></button>
	      <td><button ng-show="!study.myRole.pseudo" ng-disabled="status.action == 'download' || !study.myRole.export" ng-click="fhirDownload(info, 'original')" href="javascript:" class="btn btn-sm btn-primary" translate="studyrecords.fhir_download_original_btn"></button>
      </tr>
      </table>
      </form>
      <!-- 
	  <button ng-disabled="status.action == 'download'" ng-click="download()" href="javascript:" ng-show="infos.length" class="btn btn-primary" translate="studyrecords.download_btn">Download</button>
	   -->
	  </loader>
	</div>	
</div>
