<div ng-controller="CodesCtrl" ng-cloak>
   
	<div class="tab-content">
	<div class="tab-pane active">
	<p ng-show="blocked">
	  Participation codes may be used to recruit participants for the study.<br>
	</p>
	<p ng-show="error && !error.field" translate="{{error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	
	<div >
	<div ng-show="codes.length > 0">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Code</th>
	      <th>Group</th>
	      <th>Recruiter</th>
	      <th>Status</th>
	      <th>Created At</th>	      
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="code in codes">
	      <td>{{ code.code }}</td>	  
	      <td>{{ code.group }}</td>
	      <td>{{ code.recruiterName }}</td>
	      <td>{{ code.status }}</td>
	      <td>{{ code.createdAt | date : 'dd.MM.yy'}}</td>	         
	    </tr>
	  </tbody>
	</table>
	</div>
	<p ng-show="codes.length == 0">
	  No participation codes have been generated.
	</p>
		<div ng-hide="blocked">
		  <button class="btn btn-primary" ng-click="createnew = true;">Generate new codes</button>
		</div>
	</div>
	</div></div>
	<div ng-show="createnew" class="panel panel-primary">
	<div class="panel-heading">Create New Codes</div>
	<div class="panel-body">
	<p ng-show="newcodes.error" ng-class="{ 'alert-warning' : newcodes.error.level == 'warning', 'alert-danger' : !newcodes.error.level }" class="alert">
	  {{ newcodes.error.message || newcodes.error }}
	  </p>
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="generate()" role="form">
	
		<formrow myid="count" label="Number of Codes"> 
			<input type="number" class="form-control" id="count" name="count" placeholder="1" ng-model="newcodes.count" ng-required="true">
		    <formerror myid="count" type="toolow" message="Please enter a positive number."></formerror>
		    <formerror myid="count" type="toohigh" message="Please enter a lower number."></formerror> 
  	    </formrow>
  	    <formrow myid="group" label="Group">  	            	        
	       <select ng-model="newcodes.group" class="form-control" ng-options="group.name as group.name for group in study.groups"></select>
	    </formrow>
  	          	          	 
  	    <formrow myid="reuseable" label="Codes are reuseable?">
  	       <label class="radio-inline">
  	         <input type="radio" id="reuseable" name="reuseable" value="true" ng-model="newcodes.reuseable">
  	         yes
  	       </label>
  	       <label class="radio-inline">
  	         <input type="radio" name="reuseable" value="false" ng-model="newcodes.reuseable">
  	         no
  	       </label>
        </formrow>  	    
		<formrow myid="x" label="">
          <button type="submit" class="btn btn-primary">Generate</button>
        </formrow>
   </form>
   </div>
   </div>   
</div>
