<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="CodesCtrl" ng-cloak>
   
	<div class="tab-content">
	<div class="tab-pane active">
	<p translate="codes.intro">
	  Participation codes may be used to recruit participants for the study.<br>
	</p>
	
	
	<p ng-show="error && !error.field" translate="{{error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	
	<div >
	<div ng-show="codes.length > 0">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th translate="codes.code">Code</th>
	      <th translate="codes.group">Group</th>
	      <!-- <th translate="codes.recruiter">Recruiter</th>  -->
	      <th translate="codes.status">Status</th>
	      <th translate="codes.created_at">Created At</th>	      
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="code in codes">
	      <td>{{ code.code }}</td>	  
	      <td>{{ code.group }}</td>
	      <!-- <td>{{ code.recruiterName }}</td>  -->
	      <td><span translate="{{ 'enum.pcodestatus.'+code.status }}"></span></td>
	      <td>{{ code.createdAt | date : 'dd.MM.yy'}}</td>	         
	    </tr>
	  </tbody>
	</table>
	</div>
	<p ng-show="codes.length === 0" translate="codes.empty">
	  No participation codes have been generated.
	</p>
		<div ng-hide="blocked">
		  <button class="btn btn-primary" ng-click="showcreatenew()" translate="codes.showcreate_btn">Generate new codes</button>
		</div>
		
	</div>
	</div></div>
	<div ng-show="createnew" class="panel panel-primary">
	<div class="panel-heading" translate="codes.new_title">Create New Codes</div>
	<div class="panel-body">
	<p ng-show="newcodes.error" ng-class="{ 'alert-warning' : newcodes.error.level == 'warning', 'alert-danger' : !newcodes.error.level }" class="alert">
	  {{ newcodes.error.message || newcodes.error }}
	  </p>
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="generate()" role="form">
	
		<formrow myid="count" label="codes.number_of_codes"> 
			<input type="number" class="form-control" id="count" name="count" placeholder="1" ng-change="updateCodeCount()" ng-model="newcodes.count" ng-required="true">
		    <formerror myid="count" type="toolow" message="Please enter a positive number."></formerror>
		    <formerror myid="count" type="toohigh" message="Please enter a lower number."></formerror> 
  	    </formrow>
  	    <formrow myid="group" label="codes.group">  	            	        
	       <select ng-model="newcodes.group" class="form-control" ng-options="group.name as group.name for group in study.groups"></select>
	    </formrow>
  	          	          	 
  	    <formrow myid="reuseable" label="codes.reuseable">
  	       <label class="radio-inline">
  	         <input type="radio" id="reuseable" name="reuseable" value="true" ng-model="newcodes.reuseable">
  	         <span translate="codes.yes"></span>
  	       </label>
  	       <label class="radio-inline">
  	         <input type="radio" name="reuseable" value="false" ng-model="newcodes.reuseable">
  	         <span translate="codes.no"></span>
  	       </label>
        </formrow>  	
         <formrow myid="manually" label="codes.type_of_creation">
  	       <label class="radio-inline">
  	         <input type="radio" id="manually" name="manually" value="true" ng-change="updateCodeCount()" ng-model="newcodes.manually">
  	         <span translate="codes.manually"></span>
  	       </label>
  	       <label class="radio-inline">
  	         <input type="radio" name="generate" value="false" ng-change="updateCodeCount()" ng-model="newcodes.manually">
  	         <span translate="codes.generated"></span>
  	       </label>
        </formrow>  	    
        <formrow myid="codes" label="codes.codes" ng-if="newcodes.manually=='true'"> 
          <div ng-repeat="code in newcodes.codes track by $index">
			<input type="text" class="form-control" ng-model="newcodes.codes[$index]" ng-required="true">
		  </div>		    
  	    </formrow>
        
		<formrow myid="x" label="">
          <button type="submit" class="btn btn-primary" translate="codes.add_btn">Generate</button>
        </formrow>
   </form>
   
   
   </div>
   </div>   
</div>
