
    <div class="tab-content">
    <div class="tab-pane active">
	
	<div ng-app="studies" ng-controller="RequiredInformationCtrl" ng-cloak>
	<loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	<h2 translate="studyfields.required_data"></h2>
	<p class="alert alert-info" translate="studyfields.no_change_warning"></p>
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="setRequiredInformation()" role="form">
	  <formrow myid="identity" label="studyfields.member_identity">
	     <div class="radio">
  	       <label>
  	        <input type="radio" name="identity" value="RESTRICTED" ng-model="information.identity">
  	         <strong translate="studyfields.anonymous1"></strong><span translate="studyfields.anonymous2"></span>
  	       </label>
  	    </div>   	     
	  
	    <div class="radio">
		 <label>
  	        <input type="radio" id="identity" name="identity" value="DEMOGRAPHIC" ng-model="information.identity">
  	         <strong translate="studyfields.not_anonymous1"></strong><span translate="studyfields.not_anonymous2"></span>
  	     </label>
  	    </div>
      </formrow>
       <formrow myid="assistance" label="studyfields.assistance">
	     <div class="radio">
  	       <label>
  	        <input type="radio" name="assistance" value="NONE" ng-model="information.assistance">
  	         <strong translate="studyfields.no_assistance1"></strong><span translate="studyfields.no_assistance2"></span>
  	       </label>
  	    </div>   	     
	  
	    <div class="radio">
		 <label>
  	        <input type="radio" id="assistance" name="assistance" value="HCPROFESSIONAL" ng-model="information.assistance">
  	         <strong translate="studyfields.assistance1"></strong><span translate="studyfields.assistance2"></span>
  	     </label>
  	    </div>
      </formrow>
      <formrow myid="x" label="">
        <button type="submit" class="btn btn-primary" translate="common.change_btn"></button>
      </formrow>
    </form>
    
    <h2 translate="studyfields.groups"></h2>
    <p ng-hide="study.groups.length" translate="studyfields.groups_empty"></p>
    <table ng-show="study.groups.length" class="table table-striped">
      <tr>
        <th translate="studyfields.group_name"></th>
        <th translate="studyfields.group_description"></th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="group in study.groups">
        <td><input class="form-control" type="text"  ng-model="group.name"></td>
        <td><input class="form-control" type="text"  ng-model="group.description"></td>
        <td><button class="btn btn-danger btn-sm" ng-click="deleteGroup(group);" translate="common.delete_btn">Delete</button>
      </tr>
    </table>
    <button class="btn btn-default" ng-click="addGroup();" translate="studyfields.add_group_btn"></button>
    <button class="btn btn-primary" ng-click="saveGroups()" ng-disabled="status.action == 'groups'" translate="studyfields.save_changes_btn"></button>
        
    </loader>
    </div>
    </div>	
	</div>
