/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Colors
 */

$color-brand-blue-primary: #3f8efc;
$color-brand-blue-alt: #0879dd;

$color-brand-teal: #32c6b6;
$color-brand-yellow: #fae856;

$color-brand-red-primary: #f95428;
$color-brand-red-darker: #a81004;
$color-brand-red-rose: #f5515f;
$color-brand-red-salmon: #fb9f8e;

$color-brand-grey-button: #f9f9f9;
$color-brand-grey-label: #b3b3b3;
$color-brand-grey-border: #e6e6e6;
$color-brand-grey-separator: #e6e6e6;
$color-brand-grey-chat-bubble: #f4f4f4;

$color-brand-pastel-blue: #d4ecfc;
$color-brand-pastel-green: #c1e09b;
$color-brand-pastel-purple: #b19fd3;

$color-brand-white: #fff;
$color-brand-black: rgba(20%,20%,20%,1.00);
