.fullheight { height: 100%; }
.start-color { @extend %mi-x-colored_gradient_background; }

#loader {
  text-align: center; 
  font-size: 60px; 
  color: $color-brand-white; 
  margin-top: -100px; 
  top: 50%; 
  width: 100%; 
  position: absolute;
}

b { font-weight: bold; }

html, body { height:100% }

body.localhost .mi-or-login__instance::after {
    content : 'Instance: localhost';    
    @extend .mi-or-login__app;
    font-size: 12px;
    letter-spacing: .5px;
    color: white;
    font-family: "Roboto Book";
    -webkit-font-smoothing: antialiased;    
    margin-top:0px;
    margin-bottom:0px;
}

body.test .mi-or-login__instance::after {
  content : 'Instance: test.midata.coop';    
  @extend .mi-or-login__app;
  font-size: 12px;
  letter-spacing: .5px;
  color: white;
  font-family: "Roboto Book";
  -webkit-font-smoothing: antialiased;    
  margin-top:0px;
  margin-bottom:0px;
}

body.demo .mi-or-login__instance::after {
  content : 'Instance: demo.midata.coop';    
  @extend .mi-or-login__app;
  font-size: 12px;
  letter-spacing: .5px;
  color: white;
  font-family: "Roboto Book";
  -webkit-font-smoothing: antialiased;    
  margin-top:0px;
  margin-bottom:0px;
}

.required label::after {
  content : " *"
}

.old { display:none; }

.terms--white {
   color:#ffffff;
   p {
     color:#ffffff;
   }
}

.terms > ol > li {
   font-weight:bold;
}

.terms > ol > li > * {
   font-weight:normal;
}

.terms {
   h1,h2,h3,h4 { text-align:center; }
   h1 { font-size: $font-size-big-title; }
   h2 { font-size: $font-size-big-title; }
   h3 { font-size: $font-size-title; }
   li { margin-bottom:10pt; }
   address { margin-top:10pt;margin-bottom:10pt; }
   p + p { margin-top:10pt; }
   
   ul { 
     list-style-type: disc; 
     list-style-position: inside;
     margin-top:10pt; 
   }
    
   ol {
     counter-reset: listenpunkt_ebene1;
     list-style-type: none;
     margin:30pt;
     padding:0px;
     margin-bottom:10pt;
     position:relative;
               
     ol {
        counter-reset:listenpunkt_ebene2;
        list-style-type:none;
        margin:0px;
        
     }
     ol > li::before {
        content: counter(listenpunkt_ebene1) "." counter(listenpunkt_ebene2) ". ";
        counter-increment:listenpunkt_ebene2;
        
     }
     
   }
   
   ol > li::before {
     content: counter(listenpunkt_ebene1) ". ";
     counter-increment: listenpunkt_ebene1;
     left:-30pt;
     position:absolute;
   }
      
}
