p, body {
	font-size: $font-size-normal;

	color: $color-brand-black;
	font-family: $font-normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes autofill {
    to {
        color: $color-brand-white;
        background: transparent;
    }
}

.mi-or-login input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.mi-or-blue input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.mi-or-signup input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.mi-at-link {		
		text-align: center;
		width: $signup-min-width;

		a {
			display: inline-block;
			padding: 10px;
			text-decoration: underline;
			font-weight: bold;
			border-radius: 5px;
			color: $color-brand-white;

			&:hover {
				background-color: $color-brand-white;
				color: $color-brand-blue-primary;
			}
		}

		@include media($laptop-breakpoint) {
			width: $signup-max-width;
		}
}


.mi-or-blue {
  @extend .mi-or-signup;
  
  color: $color-brand-white;
  
  hr { display:none; }
  
  p {
    @extend .mi-at-text;
    @extend .mi-at-text--white;
  }
  
  .panel {
    @extend .mi-or-signup__content;
  }
  
  .panel-title {
	  @extend .mi-at-text;
	  @extend .mi-at-text--white;
	  @extend .mi-at-text--title;
	  margin-bottom: 10px;
  }
  
  .btn {
    @extend .mi-at-text;
    @extend .mi-at-text--white;
    @extend .mi-mo-flat_button;
    @extend .mi-mo-flat_button--rounded;
    @extend %mi-x-uppercase;
	text-align: center;	
	font-family: $font-bold;
	letter-spacing:  $letter-spacing-airy;		
	
	&:hover {
	  color: $color-brand-blue-primary;	
	}
    
  }
  
  .form {
    margin-top:10px;
  }
  
  .form-group {
    @extend .mi-at-input__fieldset;
    @extend .mi-at-input__fieldset--white;
    height: 55px;
    
    &::after {
			content: '';
			position: absolute;
			/* left: 23px; */
			margin-top: 40px;
			/* width: calc(100% - 26px); */

			border-bottom: solid 1px $color-brand-grey-border;
	}
    
    label {
      font-size: $font-size-smallest;
      position:absolute;
      top: 3px;
      /* left: 23px; */
    }
       
    
    .form-control {
      font-size: $font-size-normal;
      position:absolute;
      top: 16px;
      /* left: 23px; */
      caret-color: $color-brand-white;
      color: $color-brand-white;
      width: 280px;
      
      select {
        @extend .mi-at-select;
      }
      
      option {
        color: $color-brand-black;
      }
    }
          
    
  }
  
  .has-error .help-block {
      margin-top:100px;
   }
   
   .invalid-feedback {
      position:absolute;
      margin-top: 50px;
   }
  
  .dynheight {
    margin-bottom: 30px;
    margin-top: 30px;
    .form-group {
      height: auto;
      
      &::after {
			content: none;			
			border-bottom: none;
	  }
    }
    .form-group label {      
        /* font-size: $font-size-normal; */
        position : static;
        top:20px;
        padding-top: 10px;
        pointer-events : inherit;       
    }
    
    .form-check-label {
       font-size: $font-size-normal;
       
       span {
         margin-left:40px;
         display:block;
       }
    }
    
    .form-check-input {
       float:left;
    }
  }
  
  .form-control {
    @include reset-input;	
	caret-color: $color-brand-blue-primary;
	font-family: $font-normal;
	vertical-align: bottom;
    color: $color-brand-white;
  }
  
  .has-error .help-block, .alert-danger, .invalid-feedback {
    @extend .mi-at-text; 
    @extend .mi-at-text--smallest;
    @extend .mi-at-text--white;
    @extend .mi-at-text--highlighted;
    @extend .mi-or-login__error;
    color: $color-brand-red-darker;
	background-color: $color-brand-white;
	padding: 10px;
	border-radius: 8px;
    
  }
 
  .alert-success {
    @extend .mi-at-text; 
    @extend .mi-at-text--smallest;
    @extend .mi-at-text--white;
    @extend .mi-at-text--highlighted;
    @extend .mi-or-login__error;
    color: $color-brand-pastel-green;
	background-color: $color-brand-white;
	padding: 10px;
	border-radius: 8px;
    
  }
    
}


input[type=radio] {
		appearance: none;
		width: 20px;
		height: 20px;
		position: relative;
		left: 0px;
		border: solid 1px #ffffff;
		border-radius: 8px;

		&:after {
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 5px solid #ffffff;
			border-radius: 4px;
			background: transparent;
			opacity: 0;
			
		}

		&:hover {
			&::after {
				opacity: 0.5;
			}

			~ label {
				cursor: pointer;
				color: $color-brand-white;
			}
		}

		&:checked {
			&::after {
				opacity: 1;
			}
		}
	}

.form-check input[type=checkbox] {
		appearance: none;
		width: 20px;
		height: 20px;
		position: relative;
		left: 0px;
		border: solid 1px #ffffff;

		&:after {
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 5px solid #ffffff;

			background: transparent;
			opacity: 0;
			
		}

		&:hover {
			&::after {
				opacity: 0.5;
			}

			~ label {
				cursor: pointer;
				color: $color-brand-white;
			}
		}

		&:checked {
			&::after {
				opacity: 1;
			}
		}
	}
