/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * These placeholder classes define standards for commonly used styles.
 * They can be used anywhere with @extend %mi-x-[put_class_name_here]
 * to be applied to any element throughout the whole UX.
 * 
 * Reminder: SASS/SCSS placeholder classes ( = name starts with %)
 * are not printed in the final CSS unless used with @extend.
 *
 * Like 'state-related classes' you can find elsewhere in this styleguide
 * (e.g. .mi-x-is_first, .mi-x-is_last…)
 * these placeholder classes all include the mi-x- prefix to avoid conflicts
 * with other pre-existing classes when integrated in other codebases.
 */

/*
 ** Text-related classes
 */

%mi-x-uppercase {
	text-transform: uppercase;
}

/*
 ** Gradients
 */

%mi-x-colored_gradient_background {
	background: radial-gradient(ellipse at top right, $color-brand-teal, $color-brand-blue-alt);
}

%mi-x-fading_white_background {
	background: linear-gradient(180deg, $color-brand-white, rgba(255, 255, 255, 0));
}

%mi-x-hidden_on_mobile {
	display: none;

	@include media($tablet-breakpoint) {
		display: inline-block;
	}
}

%-mi-x-is_visible {
	display: block;
}
