/*
 * This file is part of the Open MIDATA Platform.
 *
 * The Open MIDATA platform is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Platform is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
 */

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

/**
 * Font families
 */
$font-normal: 'Roboto Regular';
$font-bold: 'Roboto Bold';

/**
	* Default font sizes
	*/
$font-size-normal: 16px;
$font-size-smaller: 14px;
$font-size-smallest: 12px;
$font-size-tiny: 10px;
$font-size-title: 18px;
$font-size-big-title: 24px;
$font-size-caps: 32px;
$font-size-caps-bigger: 40px;
$font-size-tiny: 7px;

/**
  * Letter spacings
  */
 $letter-spacing-airy: 0.6px;
