/*
 * This file is part of the Open MIDATA Platform.
 *
 * The Open MIDATA platform is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Platform is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Transitions
 */
$transition-fast: .2s;
$transition-mid: .4s;
$transition-slow: .8s;

/**
 * Minimal width for a menu that looks like in the mockups
 * On screens that have a width smaller than this value,
 * some non essential UI elements may be hidden.
 */
$min-fidelity-menu-width: 270px;
/**
	* Minimal width for a pretty menu
  * On screens that have a width smaller than this value,
	*	display elements are arranged 'at best'.
	*/
$min-pretty-menu-width: 230px;

/**
  * Viewport breakpoints
  * Used for media queries, see @mixin media in _mixins.scss file
  */
$tablet-breakpoint: 768px;
$big-tablet-breakpoint: 868px;
$laptop-breakpoint: 1024px;
$large-laptop-breakpoint: 1280px;
$desktop-breakpoint: 1680px;
$wide-breakpoint: 2560px;

$iphone4-screen-height: 480px;

$fluid-min: 320px;
$fluid-max: $desktop-breakpoint;
