
<div ng-controller="ChangePassphraseCtrl">

	<div ng-cloak class="panel panel-primary">
		<div class="panel-heading">Change Passphrase</div>
		<div class="panel-body">
			<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	            {{ error.message || error }}
	        </p>	
	        <div class="alert alert-success" ng-show="success">
			   Passphrase has been successfully changed!
			</div>
			<form ng-show="phase==0" name="myform" novalidate class="css-form form-horizontal" ng-submit="preparePassphrase()" role="form">
			   <input type="text" style="display: none" id="fakeUsername" name="fakeUsername" value="" />
               <input type="password" style="display: none" id="fakePassword" name="fakePassword" value="" />
			   <p>A passphrase is an additional protection for your data. It is not stored on our servers but is required for decrypting your data.
			     It is impossible to read your records (unless shared with another account) if the passphrase is not provided.			   
			   </p>
			   <p>If your account is not yet protected by a passphrase leave the old passphrase field empty.</p> 
			   <p class="alert alert-info">Please keep your passphrase at a save place as there is no recovery function for it. If you ever loose your passphrase you need to contact support@midata.coop.</p>
				<formrow myid="oldPassphrase" label="Old Passphrase">
				<input type="password" class="form-control" id="oldPassphrase" name="oldPassphrase" placeholder="Old Passphrase" ng-model="pw.oldPassphrase"
					autocomplete="off"></formrow>
				<formrow myid="passphrase" label="New Passphrase"> <input type="password" class="form-control" id="passphrase" name="passphrase"
					placeholder="Passphrase" ng-model="pw.passphrase" required autocomplete="off"> <formerror myid="passphrase" type="compare"
					message="Passphrase and passphrase repetition do not match!"></formerror> <formerror myid="passphrase" type="tooshort"
					message="Passphrases must be at least 8 characters long."></formerror> <formerror myid="passphrase" type="tooweak"
					message="Passphrases should contain of a mix of upper/lower case letters, numbers and special characters."></formerror> </formrow>
								
				<button type="submit" class="btn btn-primary">Change Passphrase</button>				
				
			</form>
			<form ng-show="phase==1" name="myform2" novalidate class="css-form form-horizontal" ng-submit="changePassphrase()" role="form">
			   <input type="text" style="display: none" id="fakeUsername" name="fakeUsername" value="" />
               <input type="password" style="display: none" id="fakePassword" name="fakePassword" value="" />
               <p>By repeating your new passphrase you make the change final.</p>			
					<formrow myid="passphrase2" label="Repeat New Passphrase">
				<input type="password" class="form-control" id="passphrase2" name="passphrase2" placeholder="Passphrase" ng-model="pw.passphrase2"
					required autocomplete="off"></formrow>
				
				<button type="submit" ng-disabled="status.action=='changePassphrase'" class="btn btn-primary">Confirm Passphrase</button>				
				
			</form>
            <p ng-show="phase==2">Your passphrase has been updated. </p>
		</div>
	</div>
</div>
