<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="ChangePassphraseCtrl">

	<div ng-cloak class="panel panel-primary">
		<div class="panel-heading" translate="changepassphrase.title"></div>
		<div class="panel-body">
			<p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	            
	        </p>	
	        <div class="alert alert-success" ng-show="success" translate="changepassphrase.success">			   
			</div>
			<form ng-show="phase==0" name="myform" novalidate class="css-form form-horizontal" ng-submit="preparePassphrase()" role="form">
			   <input type="text" style="display: none" id="fakeUsername" name="fakeUsername" value="" />
               <input type="password" style="display: none" id="fakePassword" name="fakePassword" value="" />
			   <p translate="changepassphrase.description"></p>
			   <p translate="changepassphrase.if_unprotected"></p> 
			   <p class="alert alert-info" translate="changepassphrase.keep_passphrase_safe"></p>
				<formrow myid="oldPassphrase" label="changepassphrase.old_passphrase">
				<input type="password" class="form-control" id="oldPassphrase" name="oldPassphrase" translate translate-attr-placeholder="changepassphrase.old_passphrase" ng-model="pw.oldPassphrase"
					autocomplete="off"></formrow>
				<formrow myid="passphrase" label="changepassphrase.new_passphrase"> <input type="password" class="form-control" id="passphrase" name="passphrase"
					translate translate-attr-placeholder="changepassphrase.new_passphrase" ng-model="pw.passphrase" required autocomplete="off"> 
					<formerror myid="passphrase" type="compare"	message="error.invalid.passphrase_repetition"></formerror>
					<formerror myid="passphrase" type="tooshort" message="error.tooshort.passphrase"></formerror>
					<formerror myid="passphrase" type="tooweak"	message="error.tooweak.passphrase"></formerror> </formrow>
								
				<button type="submit" class="btn btn-primary" translate="changepassphrase.change_passphrase_btn"></button>				
				
			</form>
			<form ng-show="phase==1" name="myform2" novalidate class="css-form form-horizontal" ng-submit="changePassphrase()" role="form">
			   <input type="text" style="display: none" id="fakeUsername" name="fakeUsername" value="" />
               <input type="password" style="display: none" id="fakePassword" name="fakePassword" value="" />
               <p translate="changepassphrase.repeat_finalizes"></p>			
					<formrow myid="passphrase2" label="changepassphrase.repeat_passphrase">
				<input type="password" class="form-control" id="passphrase2" name="passphrase2" translate translate-attr-placeholder="changepassphrase.repeat_passphrase" ng-model="pw.passphrase2"
					required autocomplete="off"></formrow>
				
				<button type="submit" ng-disabled="status.action=='changePassphrase'" class="btn btn-primary" translate="changepassphrase.confirm_btn"></button>				
				
			</form>            
		</div>
	</div>
</div>
