
	<div  ng-controller="ManageAppCtrl">
		
		<div class="panel panel-primary">
		<div class="panel-heading">
		  	<p ng-hide="app._id">Register a new plugin</p>
			<p ng-show="app._id">Manage Plugin</p>
		</div>
		<div class="body">
		<p ng-show="app._id" translate="manageapp.logout_explain"></p>
		<form name="myform" novalidate role="form" class="form-horizontal" ng-class="{ 'mark-danger' : app._id }" ng-submit="updateApp()">
		  <p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
	      </p>	
		  <formrow myid="filename" label="manageapp.filename" class="danger-change">
		    <input type="text" id="filename" name="filename" class="form-control" ng-change="requireLogout();" ng-model="app.filename" autofocus required>
		    <p class="help-block" translate="manageapp.info.filename"></p>
		  </formrow>
		  <formrow myid="targetUserRole" label="manageapp.targetUserRole" class="danger-change">
		    <select id="targetUserRole" name="targetUserRole" class="form-control" ng-change="requireLogout();" ng-model="app.targetUserRole" ng-options="role.value as role.label for role in targetUserRoles" required></select>
		    <p class="help-block" translate="manageapp.info.targetUserRole"></p>
		  </formrow>
		  <formrow myid="type" label="manageapp.type" class="danger-change">
		    <select id="type" name="type" class="form-control" ng-model="app.type" ng-change="requireLogout();" ng-options="type.value as ('enum.plugintype.'+type.value) | translate for type in types" required></select>
		    <p class="help-block" translate="manageapp.info.type"></p>
		  </formrow>
		  <formrow myid="requirements" label="Requirements" class="danger-change">
		    <div class="form-check" ng-repeat="req in requirements">
		      <label class="form-check-label">
		        <input class="form-check-label" type="checkbox" ng-checked="app.requirements.indexOf(req)>=0" ng-click="toggle(app.requirements, req);requireLogout();">
		        <span translate="{{ 'enum.userfeature.'+req }}"></span>
		      </label>
		    </div>
		  </formrow>		  		  
		  <hr>
		  <formrow myid="name" label="Name">
		    <input type="text" id="name" name="name" class="form-control" placeholder="Name" ng-model="app.name" required>
		    <p class="help-block" translate="manageapp.info.name"></p>
		  </formrow>
		  <formrow myid="description" label="Description">
		    <textarea rows="5" id="description" name="description" class="form-control" placeholder="Description" ng-model="app.description" required></textarea>
		    <p class="help-block" translate="manageapp.info.description"></p>
		  </formrow>
		  <formrow myid="defaultSpaceName" label="Tile Name" ng-show="app.type != 'mobile' && app.type != 'service'">
		    <input type="text" id="defaultSpaceName" name="defaultSpaceName" class="form-control" placeholder="Tile Name" ng-model="app.defaultSpaceName">
		    <p class="help-block" translate="manageapp.info.defaultSpaceName"></p>
		  </formrow>
		   <formrow myid="orgName" label="Organization Name">
		    <input type="text" id="orgName" name="orgName" class="form-control" placeholder="Name" ng-model="app.orgName">		 
		  </formrow>
		 
		 
		  <hr>
		  <formrow myid="x" label="Multi Language Support">
		    <div class="help-block">
		    <span ng-repeat="l in languages">
		      <span ng-show="app.i18n[l].name"><span class="fas fa-check" aria-hidden="true"></span>{{l}} </span>		      
		    </span>
		    </div>
		  </formrow>
		  <formrow myid="lang" label="I18n Language Selection">
		    <select id="lang" name="lang" class="form-control" ng-model="sel.lang" ng-options="lang for lang in languages"></select>		    
		  </formrow>
		  <formrow myid="name_i18n" label="I18n Name">		    
		    <input type="text" id="name_i18n" name="name_i18n" class="form-control" placeholder="Name" ng-model="app.i18n[sel.lang].name">
		  </formrow>
		  <formrow myid="description_i18n" label="I18n Description">
		    <textarea rows="5" id="description_i18n" name="description_i18n" class="form-control" placeholder="Description" ng-model="app.i18n[sel.lang].description"></textarea>
		  </formrow>
		  <formrow myid="defaultSpaceName_i18n" label="I18n Tile Name" ng-show="app.type != 'mobile' && app.type != 'service'">		    
		    <input type="text" id="defaultSpaceName_i18n" name="defaultSpaceName_i18n" class="form-control" placeholder="Tile Name" ng-model="app.i18n[sel.lang].defaultSpaceName">
		  </formrow>
		  <hr>		  
		  <formrow myid="tags" label="Tags">
		    <div class="form-check" ng-repeat="tagdef in tags">
		      <label class="form-check-label">
		        <input class="form-check-input" type="checkbox" ng-checked="app.tags.indexOf(tagdef)>=0" ng-click="toggle(app.tags, tagdef)">
		        {{ tagdef }}
		      </label>
		    </div>
		    <p class="help-block" translate="manageapp.info.tags"></p>
		  </formrow>  		
		
		  <formrow myid="url" label="URL" ng-hide="app.type == 'mobile' || app.type == 'service'">
		    <input type="text" id="url" name="url" class="form-control" placeholder="URL (must include &quot;:authToken&quot;)" ng-model="app.url">
		    <formerror myid="url" type="authToken" message="Url must contain ':authToken' to receive the authorization token required to create records." ></formerror>
		    <p class="help-block" translate="manageapp.info.url"></p>
		  </formrow>
		  <formrow myid="previewUrl" label="Dashboard Tile URL" ng-hide="app.type == 'mobile' || app.type == 'service'">
		    <input type="text" id="previewUrl" name="previewUrl" class="form-control" placeholder="URL (must include &quot;:authToken&quot;)" ng-model="app.previewUrl">
		    <p class="help-block" translate="manageapp.info.previewUrl"></p>
		  </formrow>		 
		  <formrow myid="defaultSpaceContext" label="Default Dashboard" ng-show="app.type != 'mobile' && app.type != 'service'">
		    <input type="text" id="defaultSpaceContext" name="defaultSpaceContext" class="form-control" placeholder="Dashboard Name" ng-model="app.defaultSpaceContext">
		    <p class="help-block" translate="manageapp.info.defaultSpaceContext"></p>
		  </formrow>		 
		  <formrow myid="defaultQuery" label="manageapp.access_query_json" class="danger-change" ng-if="app._id">
		    <accessquery query="app.defaultQuery" details="true" isapp="true"></accessquery>		    
		    <a href="javascript:" ng-click="go('^.appquery')" translate="manageapp.queryeditor_btn"></a>
		  </formrow>
		  <formrow myid="writes" label="manageapp.write_mode" class="danger-change">
		    <select class="form-control" name="writes" ng-model="app.writes" ng-change="requireLogout();" ng-options="mode as ('enum.writepermissiontype.'+mode)|translate for mode in writemodes"></select>
		  </formrow>
		   <formrow myid="noUpdateHistory" label="manageapp.no_update_history" ng-show="app.targetUserRole=='RESEARCH'">
		    <div class="form-check">
		    <label class="form-check-label">
		      <input class="form-check-input" type="checkbox" id="noUpdateHistory" name="noUpdateHistory" ng-model="app.noUpdateHistory" value="true">
		      <span translate="manageapp.info.no_update_history"></span>
		    </label>
		    </div>
		  </formrow>	
		  <formrow myid="resharesData" label="Resharing" class="danger-change">
		    <div class="form-check">
		    <label class="form-check-label">
		      <input class="form-check-input" type="checkbox" id="resharesData" name="resharesData" ng-change="requireLogout();" ng-model="app.resharesData" value="true">
		      <span translate="manageapp.info.resharesData"></span>
		    </label>
		    </div>
		  </formrow>
		   <formrow myid="allowsUserSearch" label="User Search" ng-show="app.type == 'mobile' || app.type == 'service'" class="danger-change">
		    <div class="form-check">
		    <label class="form-check-label">
		      <input class="form-check-input" type="checkbox" id="allowsUserSearch" name="allowsUserSearch" ng-change="requireLogout();" ng-model="app.allowsUserSearch" value="true">
		      <span translate="manageapp.info.allowsUserSearch"></span>
		    </label>
		    </div>
		  </formrow>	
		  
		
		  
		  <formrow myid="apiUrl" label="API Base URL" ng-show="app.type == 'oauth1' || app.type == 'oauth2'">
		    <input type="text" id="apiUrl" name="apiUrl" class="form-control" placeholder="API Base URL" ng-model="app.apiUrl">
		    <formerror myid="apiUrl" type="invalid" message="error.invalid.url"></formerror>
		  </formrow>	 
		  <formrow myid="authorizationUrl" label="Authorization URL" ng-show="app.type == 'oauth1' || app.type == 'oauth2'">
		    <input type="text" id="authorizationUrl" name="authorizationUrl" class="form-control" placeholder="Authorization URL" ng-model="app.authorizationUrl">
		  </formrow>
		  <formrow myid="accessTokenUrl" label="Access Token URL" ng-show="app.type == 'oauth1' || app.type == 'oauth2'">
		    <input type="text" id="accessTokenUrl" name="accessTokenUrl" class="form-control" placeholder="Access token URL" ng-model="app.accessTokenUrl">
		  </formrow>
		  <formrow myid="tokenExchangeParams" label="manageapp.tokenExchangeParams" ng-show="app.type == 'oauth2'">
		    <input type="text" id="tokenExchangeParams" name="tokenExchangeParams" class="form-control" ng-model="app.tokenExchangeParams">
		    <p class="help-block" translate="manageapp.info.tokenExchangeParams"></p>
		  </formrow>
		  <formrow myid="consumerKey" label="Consumer Key" ng-show="app.type == 'oauth1' || app.type == 'oauth2'">
		    <input type="text" id="consumerKey" name="consumerKey" class="form-control" placeholder="Consumer key" ng-model="app.consumerKey">
		  </formrow>
		  <formrow myid="consumerSecret" label="Consumer Secret" ng-show="app.type == 'oauth1' || app.type == 'oauth2'">
		    <input type="text" id="consumerSecret" name="consumerSecret" class="form-control" placeholder="Consumer secret" ng-model="app.consumerSecret">
		  </formrow>
		  <formrow myid="requestTokenUrl" label="Request Token URL" ng-show="app.type == 'oauth1'">
		    <input type="text" id="requestTokenUrl" name="requestTokenUrl" class="form-control" placeholder="Request token URL" ng-model="app.requestTokenUrl">
		  </formrow>
		  <formrow myid="scopeParameters" label="Scope Parameters" ng-show="app.type == 'oauth2'">
		    <input type="text" id="scopeParameters" name="scopeParameters" class="form-control" placeholder="Scope parameters" ng-model="app.scopeParameters">
		  </formrow>
		  <formrow myid="secret" label="Application Secret" ng-show="app.type == 'mobile' || app.type == 'service'">
		    <input type="text" id="secret" name="secret" class="form-control" placeholder="Secret" ng-model="app.secret">
		    <p class="help-block" translate="manageapp.info.secret"></p>
		  </formrow>
		  <formrow myid="redirectUri" label="Redirect URI (optional, required for OAuth2 login)" ng-show="app.type == 'mobile'">
		    <input type="text" id="redirectUri" name="redirectUri" class="form-control" placeholder="Redirect URI" ng-model="app.redirectUri">
		    <p class="help-block" translate="manageapp.info.redirectUri"></p>
		  </formrow>
		   <formrow myid="developmentServer" label="Development Server" ng-hide="app.type == 'mobile' || app.type == 'service' || !app.developmentServer">
		    <p class="form-control-plaintext">{{ app.developmentServer }}</p>
		  </formrow>
		   <formrow myid="unlockCode" label="manageapp.unlock_code" ng-show="app.type == 'mobile'">
		    <input type="text" id="unlockCode" name="unlockCode" class="form-control" ng-model="app.unlockCode">
		    <p class="help-block" translate="manageapp.info.unlock_code"></p>
		  </formrow>
		  
		  
		   <formrow myid="withLogout" label="manageapp.logout" ng-if="app._id">
		    <div class="form-check">
		      <label class="form-check-label">
		        <input class="form-check-input" type="checkbox" id="withLogout" name="withLogout" ng-model="app.withLogout" value="true" ng-required="logoutRequired">
		        <span translate="manageapp.pleaseLogout1"></span>
		        <span ng-show="app.targetUserRole=='RESEARCH'"> / </span>
		        <span ng-show="app.targetUserRole=='RESEARCH'" translate="manageapp.pleaseLogout2"></span>
		        <span class="text-danger" ng-show="logoutRequired" translate="manageapp.logout_required"></span>
		        <span class="text-success" ng-hide="logoutRequired" translate="manageapp.logout_optional"></span>
		      </label>
		    </div>
		    <div ng-show="app._id && (app.type=='mobile' || app.type=='service')  && app.withLogout" class="alert alert-warning">
		      <strong translate="manageapp.important"></strong>
		      <p ng-hide="app.targetUserRole=='RESEARCH'" translate="manageapp.logoutwarning"></p>
		      <p ng-show="app.targetUserRole=='RESEARCH'" translate="manageapp.researchwarning"></p>		    
		    </div>  		  
		  </formrow>
		  
		  <div ng-show="app.type == 'mobile' && app.targetUserRole != 'RESEARCH'">
		  <hr ng-show="app.type == 'mobile'">
		  <p class="alert alert-info" ng-show="app.type == 'mobile'" translate="manageapp.admin_only"></p>
		  <formrow myid="termsOfUse" label="manageapp.terms_of_use" class="danger-change">
		    <input id="termsOfUse" type="text" ng-disabled="!allowStudyConfig" name="termsOfUse" class="form-control" ng-change="requireLogout();" ng-model="app.termsOfUse" autocomplete="off" uib-typeahead="term.id as term.fullname for term in terms | filter:{fullname:$viewValue}">
		    
		     <p class="help-block" ng-show="app.termsOfUse"><a ui-sref="^.terms({ which:app.termsOfUse })" translate="manageapp.show_terms"></a></p> 
		  </formrow>		  
		  </div>
		
		  
		  <formrow myid="x" label="">
		    <a href="javascript:" ui-sref="^.manageapp({appId:app._id})" class="btn btn-default" translate="common.back_btn"></a>
		    <button type="submit" ng-disabled="status.action=='submit'" class="btn btn-primary">Submit</button>		    		   
		    <button type="button" class="btn btn-danger" ng-show="allowDelete" ng-click="doDelete()" ng-disabled="status.action=='delete'" translate="common.delete_btn"></button>		    
		  </formrow>		  
	     </form>	  
		  
		
	</div>
	</div>	 
	
	</div>