<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


	<div  ng-controller="ManageAppCtrl">
		
		<div class="panel panel-primary">
		<div class="panel-heading" translate="manageapp.overview">		  	
		</div>
		<div class="body">
	      <div class="float-left" ng-if="hasIcon()" style="margin-right:10px">
	        <img style="max-width:64px" ng-src="{{ getIconUrl() }}">
	      </div>	
		  <p class="lead">{{ app.name }}</p>
		  <p>{{ app.description }}</p>

          <table>
            <tr>
		      <td style="padding-right:130px" translate="manageapp.filename"></td>
		      <td><b>{{ app.filename }}</b></td>
		    </tr>
		    <tr>
		      <td translate="manageapp.type"></td>
			  <td><b translate="{{ 'enum.plugintype.' + app.type }}"></b>
			  <span ng-show="app.type=='external'"> - 
			  <a href="javascript:" ui-sref="^.servicekeys" translate="manageapp.manageyourkeys"></a>
			  </span>
			  </td>
		    </tr><tr>
		      <td translate="manageapp.targetUserRole"></td>
              <td><b translate="{{ 'enum.userrole.'+app.targetUserRole }}"></b></td>
            </tr><tr>
              <td translate="manageapp.status.title"></td>
              <td><b translate="{{ 'manageapp.status.'+app.status }}"></b></td>
            </tr>           
            <tr>
              <td translate="manageapp.creator"></td>
              <td>
                <span ng-if="hasSubRole('USERADMIN')"><a ui-sref="^.address({userId : app.creator })"><b>{{ app.creatorLogin }}</b></a></span>
                <span ng-if="!hasSubRole('USERADMIN')"><b>{{ app.creatorLogin }}</b></span>
              </td>
            </tr>
            <tr ng-if="app.developerTeamLogins.length">
              <td translate="manageapp.developerTeam"></td>
              <td>
                <div ng-repeat="login in app.developerTeamLogins">
                <span ng-if="hasSubRole('USERADMIN')"><a ui-sref="^.address({userId : app.developerTeam[$index] })"><b>{{ login }}</b></a></span>
                <span ng-if="!hasSubRole('USERADMIN')"><b>{{ login }}</b></span>
                </div>
              </td>
            </tr>
            <tr>
              <td translate="manageapp.organization"></td>
              <td><b>{{ app.orgName || "-" }}</b></td>
            </tr>
            <tr>
              <td translate="manageapp.publisher"></td>
              <td><b>{{ app.publisher || "-" }}</b></td>
            </tr>
            <tr>
              <td translate="manageapp.reviews"></td>
              <td><div class="container"><div class="row"><div ng-repeat="check in checks" class="col-lg-4"><span ng-class="{ 'text-success' : reviews[check] == 'ACCEPTED', 'text-danger' : reviews[check] == 'NEEDS_FIXING', 'text-dark' : !reviews[check] }"><span ng-show="reviews[check]=='ACCEPTED'" class="fas fa-check"></span><span ng-show="reviews[check]=='NEEDS_FIXING'" class="fas fa-exclamation"></span><span ng-hide="reviews[check]" class="fas fa-times"></span> <span translate="{{'appreviews.'+check}}"></span></span></div></div></div></td>
            </tr>
          </table>
          <div class="extraspace"></div>
		  
		  <p><b translate="manageapp.choose"></b></p>
		  <table class="table clickable">
			<tr>
			  <td ng-click="go('^.editapp')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/editapp.jpg"></div>														   
				<div><b translate="manageapp.edit_btn"></b> <span class="badge" ng-class="{ 'badge-success' : reviews.DESCRIPTION=='ACCEPTED', 'badge-danger' : reviews.DESCRIPTION=='NEEDS_FIXING', 'badge-light' : !reviews.DESCRIPTION }" style="margin-left:10px"><span ng-show="reviews.DESCRIPTION" translate="{{'manageapp.'+reviews.DESCRIPTION}}"></span><span ng-hide="reviews.DESCRIPTION" translate="manageapp.not_reviewed"></span></span></div>
				<div translate="manageapp.edit_help"></div>																
			  </td>
			</tr>
			<tr>
			  <td ng-click="go('^.appquery')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/question.jpg"></div>														   
				<div><b translate="manageapp.query_btn"></b><span class="badge" style="margin-left:10px" ng-show="hasCount(app.defaultQuery)">1 <span translate="manageapp.defined"></span></span><span class="badge badge-danger" style="margin-left:10px" ng-hide="hasCount(app.defaultQuery)">0 <span translate="manageapp.defined"></span></span> <span class="badge" ng-class="{ 'badge-success' : reviews.ACCESS_FILTER=='ACCEPTED', 'badge-danger' : reviews.ACCESS_FILTER=='NEEDS_FIXING', 'badge-light' : !reviews.ACCESS_FILTER }" style="margin-left:10px"><span ng-show="reviews.ACCESS_FILTER" translate="{{'manageapp.'+reviews.ACCESS_FILTER}}"></span><span ng-hide="reviews.ACCESS_FILTER" translate="manageapp.not_reviewed"></span></span></div>
				<div translate="manageapp.query_help"></div>																
			  </td>
			</tr>
			<tr ng-show="app.type!='endpoint'">
			  <td ng-click="go('^.appsubscriptions')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/trigger.jpg"></div>														   
				<div><b translate="manageapp.subscriptions_btn"></b><span class="badge" style="margin-left:10px">{{ app.defaultSubscriptions.length || 0 }} <span translate="manageapp.defined"></span></span> </div>
				<div translate="manageapp.subscriptions_help"></div>																
			  </td>
			</tr>
			<tr ng-show="app.type == 'visualization' || app.type == 'oauth1' || app.type == 'oauth2'">
			  <td ng-click="doInstall()">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/testfromlocal.jpg"></div>														   
				<div><b translate="manageapp.testfromlocal_btn"></b></div>
				<div translate="manageapp.testfromlocal_help"></div>																
			  </td>
			</tr>
			<tr ng-show="(app.type == 'oauth1' || app.type == 'oauth2')">
			  <td ng-click="go('^.autoimport')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/serverimport.jpg"></div>														   
				<div><b translate="manageapp.serverimport_btn"></b></div>
				<div translate="manageapp.serverimport_help"></div>																
			  </td>
			</tr>
			<tr ng-hide="app.type=='analyzer' || app.type=='external' || app.type=='endpoint'">
			  <td ng-click="go('^.applink')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/link.jpg"></div>														   
				<div><b translate="manageapp.link_btn"></b> <span class="badge" ng-class="{ 'badge-success' : reviews.PROJECTS=='ACCEPTED', 'badge-danger' : reviews.PROJECTS=='NEEDS_FIXING', 'badge-light' : !reviews.PROJECTS }" style="margin-left:10px"><span ng-show="reviews.PROJECTS" translate="{{'manageapp.'+reviews.PROJECTS}}"></span><span ng-hide="reviews.PROJECTS" translate="manageapp.not_reviewed"></span></span></div>
				<div translate="manageapp.link_help"></div>																
			  </td>
			</tr>
			<tr ng-hide="app.type=='endpoint'">
			  <td ng-click="go('^.repository')">				    
				<div class="float-left" ><img width="80" class="img-responsive" src="/images/repository.jpg"></div>														   
				<div><b translate="manageapp.repository_btn"></b><span class="badge" ng-class="{ 'badge-success' : reviews.CODE_REVIEW=='ACCEPTED', 'badge-danger' : reviews.CODE_REVIEW=='NEEDS_FIXING', 'badge-light' : !reviews.CODE_REVIEW }" style="margin-left:10px"><span ng-show="reviews.CODE_REVIEW" translate="{{'manageapp.'+reviews.CODE_REVIEW}}"></span><span ng-hide="reviews.CODE_REVIEW" translate="manageapp.not_reviewed"></span></span></div>
				<div translate="manageapp.repository_help"></div>																	
			  </td>
			</tr>
			<tr ng-hide="app.type=='endpoint'">
			  <td ng-click="go('^.appicon')">				    
				<div class="float-left" ><img width="80" class="img-responsive" src="/images/editicons.jpg"></div>														   
				<div><b translate="manageapp.icon_btn"></b><span class="badge" style="margin-left:10px">{{ app.icons.length || 0 }} <span translate="manageapp.defined"></span></span> <span class="badge" ng-class="{ 'badge-success' : reviews.ICONS=='ACCEPTED', 'badge-danger' : reviews.ICONS=='NEEDS_FIXING', 'badge-light' : !reviews.ICONS }" style="margin-left:10px"><span ng-show="reviews.ICONS" translate="{{'manageapp.'+reviews.ICONS}}"></span><span ng-hide="reviews.ICONS" translate="manageapp.not_reviewed"></span></span></div>
				<div translate="manageapp.icon_help"></div>	
																	
			  </td>
			</tr>
			<tr  ng-hide="app.type=='analyzer' || app.type=='external' || app.type=='endpoint'">
			  <td ng-click="go('^.appmessages')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/mail.jpg"></div>														   
				<div><b translate="manageapp.messages_btn"></b><span class="badge" style="margin-left:10px">{{ keyCount(app.predefinedMessages) }} <span translate="manageapp.defined"></span></span> <span class="badge" ng-class="{ 'badge-success' : reviews.MAILS=='ACCEPTED', 'badge-danger' : reviews.MAILS=='NEEDS_FIXING', 'badge-light' : !reviews.MAILS }" style="margin-left:10px"><span ng-show="reviews.MAILS" translate="{{'manageapp.'+reviews.MAILS}}"></span><span ng-hide="reviews.MAILS" translate="manageapp.not_reviewed"></span></span></div>
				<div translate="manageapp.messages_help"></div>																
			  </td>
			</tr>
			<tr>
			  <td ng-click="go('^.appstats')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/stats.jpg"></div>														   
				<div><b translate="manageapp.stats_btn"></b> <span class="badge" ng-class="{ 'badge-success' : reviews.QUERIES=='ACCEPTED', 'badge-danger' : reviews.QUERIES=='NEEDS_FIXING', 'badge-light' : !reviews.QUERIES }" style="margin-left:10px"><span ng-show="reviews.QUERIES" translate="{{'manageapp.'+reviews.QUERIES}}"></span><span ng-hide="reviews.QUERIES" translate="manageapp.not_reviewed"></span></span></div>
				<div translate="manageapp.stats_help"></div>																
			  </td>
			</tr>
			<tr ng-show="allowExport">
			  <td ng-click="go('admin.usagestats')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/usagestats.jpg"></div>														   
				<div><b translate="manageapp.usagestats_btn"></b></div>
				<div translate="manageapp.usagestats_help"></div>																
			  </td>
			</tr>			
			<tr>
			  <td ng-click="go('^.appdebug')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/apitest.jpg"></div>														   
				<div><b translate="manageapp.debug_btn"></b></div>
				<div translate="manageapp.debug_help"></div>																
			  </td>
			</tr>
			
			<tr ng-hide="app.type=='endpoint'">
			  <td ng-click="go('^.applicence')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/licence.jpg"></div>														   
				<div><b translate="manageapp.applicence_btn"></b></div>
				<div translate="manageapp.applicence_help"></div>																
			  </td>
			</tr>
			
			
			<tr ng-show="allowExport">
			  <td ng-click="exportPlugin()">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/export.jpg"></div>														   
				<div><b translate="manageapp.export_btn"></b></div>
				<div translate="manageapp.export_help"></div>																
			  </td>
			</tr>
			<tr>
			  <td ng-click="go('^.appreviews')">				    
				<div class="float-left"><img width="80" class="img-responsive" src="/images/checked.jpg"></div>														   
				<div><b translate="manageapp.appreviews_btn"></b></div>
				<div translate="manageapp.appreviews_help"></div>																
			  </td>
			</tr>
			
		 </table>
											    	 
		  
		
	</div>
	</div></div>