<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Surveys</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/shared/css/app.css">
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" defer></script>
		<script type="text/javascript" src="/shared/js/midata.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
	</head>
	<body>
		<div class="container-fluid" ng-app="surveys" ng-controller="SurveyCtrl" ng-cloak>
		
		  <div ng-if="edit && activeSurvey" class="well">
		    <form class="form-horizontal">
               <div class="form-group">
                 <label for="step" class="control-label col-sm-4">Step:</label>
                 <div class="col-sm-4">
                   <select id="step" class="form-control" ng-change="selectStep(editor.astep)" ng-model="editor.astep" ng-options="name(step) for step in editor.steps"></select>                   
                 </div>
                 <div class="col-sm-4">
		           <select id="steptype" class="form-control" ng-disabled="editor.astep.type=='survey' || editor.astep.type=='formitem'" ng-change="reformat(editor.astep);selectStep(editor.astep);" ng-model="editor.astep.type" ng-options="type.id as type.label for type in types"></select>
		         </div>
               </div>
               		       		      
		       
		       <div class="form-group">
		         <label for="itemId" class="control-label col-sm-4">ID / Title</label>
		         <div class="col-sm-2">
		           <input id="itemId" class="form-control" type="text" ng-model="selectedItem.id">
		         </div>
		         <div class="col-sm-6">
		           <input id="itemTitle" class="form-control" type="text" ng-model="selectedItem.title">
		         </div>
		       </div>		       
		       <div class="form-group">
		         <label for="itemText" class="control-label col-sm-4">Text</label>
		         <div class="col-sm-8">
		           <textarea id="itemText" class="form-control" ng-model="selectedItem.text"></textarea>
		         </div>
		       </div>
		       <div class="form-group" ng-show="selectedItem.type=='instructions' || selectedItem.type=='question'">
		         <label for="itemImg" class="control-label col-sm-4">Optional Image (URL)</label>
		         <div class="col-sm-8">
		           <input id="itemImg" class="form-control" ng-model="selectedItem.img"></textarea>
		         </div>
		       </div>
		       <div class="form-group" ng-show="selectedItem.type=='survey'">
		         <label for="frequency" class="control-label col-sm-4">Frequency</label>
		         <div class="col-sm-8">
		           <select id="frequency" class="form-control" ng-model="selectedItem.frequency" ng-options="type.id as type.label for type in frequencies"></select>
		         </div>
		       </div>
		       <div class="form-group" ng-show="selectedItem.type == 'question' || selectedItem.type == 'formitem'">
		         <label for="answerType" class="control-label col-sm-4">Answer Type:</label>
		         <div class="col-sm-8">
		           <select id="answerType" class="form-control" ng-change="reformatAnswer(selectedItem)" ng-model="selectedItem.answer.type" ng-options="type.id as type.label for type in answerTypes"></select>
		         </div>
		       </div>
		       <div class="form-group" ng-show="selectedItem.answer.type=='integerAnswerWithUnit'">
		          <label for="unit" class="control-label col-sm-4">Unit:</label>
		          <div class="col-sm-8">
		           <input id="unit" type="text" class="form-control" ng-model="selectedItem.answer.unit" >
		          </div>
		       </div>
		       <div class="form-group" ng-show="selectedItem.answer.type=='integerAnswerWithUnit'">
		          <label for="min" class="control-label col-sm-4">Min / Max:</label>
		          <div class="col-sm-4">
		           <input id="min" type="number" class="form-control" ng-model="selectedItem.answer.min" >
		          </div>		         
		          <div class="col-sm-4">
		            <input id="max" type="number" class="form-control" ng-model="selectedItem.answer.max" >
		          </div>
		       </div>
		       <div class="form-group" ng-show="selectedItem.answer.type=='textChoice' || selectedItem.answer.type=='multiTextChoice'">
		         <label class="control-label col-sm-4">Choices [ID/Text]</label>
		         <div class="col-sm-12" ng-repeat="choice in selectedItem.answer.choices">
		           <input type="text" ng-model="choice.value">		         
		           <input type="text" ng-model="choice.title">
		           <input type="text" ng-model="choice.text">
		           <a href="javascript:" ng-click="insertChoice($index)">add</a>
		           <a href="javascript:" ng-click="deleteChoice($index)">delete</a>		           
		         </div>
		       </div>	
		       <button class="btn btn-danger" ng-click="deleteStep()">Delete</button>
		       <div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Insert <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="javascript:" ng-click="insertStep('instructions');">Instructions</a></li>
				    <li><a href="javascript:" ng-click="insertStep('question');">Question</a></li>
				    <li><a href="javascript:" ng-click="insertStep('form');">Form</a></li>				    				    
				    <li><a href="javascript:" ng-click="insertStep('formitem', true);">Form Item</a></li>
				  </ul>
				</div>
		       		
		       <button class="btn btn-primary" ng-click="saveSurvey()">Save survey</button>	       		       
		  </div>
		
		  <div ng-show="surveys.length == 0">
		    <p class="head">Survey participation</p>
		    <p>This visualizations allows you to participate in surveys shared with you. You currently do not have any survey to participate.</p>
		  </div>
		  <div ng-show="activeSurvey==null && (surveys.length > 0 || edit)">
		      <h1>Select a survey</h1>
			  <ul class="list-group">
				  <li class="list-group-item" ng-repeat="survey in surveys">
				    <a href="javascript:" ng-click="startSurvey(survey);">{{ survey.title }}</a>				    
				    <span class="badge" ng-show="survey.answered">Last Answered: {{ survey.answered.created | date }}</span>
				    <span class="badge" ng-show="survey.frequency">{{ survey.frequency }}</span>
				  </li>
				  <li class="list-group-item" ng-show="edit"><a href="javascript:" ng-click="createNew();">Create new survey</a>
			  </ul>
		  </div>
		  <div ng-show="activeSurvey!=null && activeStep==null">
		    <h1>End of survey</h1>
		  </div>
		  <div ng-show="activeStep">
		      <div class="pull-left">
				 <a href="javascript:" ng-click="goBack();">Back</a>
			  </div>
			  <div class="pull-right">
				 <a href="javascript:" ng-click="cancel()">Cancel</a>
			  </div>
		      <p class="text-center">Step {{ (activeStepIdx + 1) }} of {{ activeSurvey.steps.length }}</p>
		      <form>
		      <h1>{{ activeStep.title }}</h1>	
		      <p>{{ activeStep.text }}</p>
		      <img ng-show="activeStep.img" ng-src="{{ activeStep.img }}">	      
			  <div ng-repeat="activeItem in activeItems">				
				<div ng-show="activeItem.type == 'question' || activeItem.type == 'formitem'">
				   
				   <div class="form-group">
					   <label ng-show="activeItem.type == 'formitem'">{{ activeItem.title }}</label>
					   <div ng-show="activeItem.answer.type == 'integerAnswerWithUnit'">
					       <div class="input-group">
							  <input class="form-control" type="number" ng-model="activeItem.result.value" />
							  <span class="input-group-addon">{{ activeItem.unit }}</span>
						   </div>					     
					       					     
					   </div>
					   <div ng-show="activeItem.answer.type == 'boolean'">
					     <div class="radio">
					     <label>
					       <input type="radio" value="true" ng-model="activeItem.result.value">
					       Yes
					     </label>
					     </div>
					     <div class="radio">
					     <label>
					       <input type="radio" value="false" ng-model="activeItem.result.value">
					       No
					     </label>			
					     </div>		     					     					     
					   </div>
					   <div ng-show="activeItem.answer.type == 'textChoice'">
					     <div class="radio" ng-repeat="choice in activeItem.answer.choices">
					     <label >
					       <input type="radio" ng-value="choice.value" ng-model="activeItem.result.value">
					       {{ choice.text }}
					     </label>			
					     </div>		     					     					     					    
					   </div>
					    <div ng-show="activeItem.answer.type == 'multiTextChoice'">
					     <div class="radio" ng-repeat="choice in activeItem.answer.choices">
					     <label >
					       <input type="checkbox" ng-checked="isChecked(activeItem, choice.value)" ng-changed="changeCheckbox(activeItem, choice.value)">
					       {{ choice.text }}
					     </label>			
					     </div>		     					     					     					    
					   </div>
					   <div ng-show="activeItem.answer.type == 'textLimited'">					     
					     <input class="form-control" type="text" ng-model="activeItem.result.value">					     					     					     					     					    
					   </div>
					   <div ng-show="activeItem.answer.type == 'textUnlimited'">					     
					     <textarea class="form-control" ng-model="activeItem.result.value"></textarea>					     					     					     					     					    
					   </div>
				   </div>
				</div>				
			  </div>
			  <button class="btn btn-primary" ng-click="okClick()">Next</button>			
			  <div ng-show="activeStep.skipable">
				  <a href="javascript:" ng-click="skip()">Skip this question</a>
			  </div>
			  </form>
		  </div>
	   </div>
	</body>
</html>
