   
<div ng-controller="StudyActionsCtrl">   
   <div class="tab-content"  ng-cloak>
	    <div class="tab-pane active">
	    <form name="myform" novalidate class="css-form form-horizontal" ng-submit="submit()" role="form">	
	       <loader busy="status.isBusy !== false">
	       
	          <p class="lead" translate="studyactions.related_apps"></p>
	
	          <div ng-hide="selection">
	          <p translate="studyactions.empty" ng-hide="links.length"></p>
	          <table class="table table-striped table-hover" ng-show="links.length">
	            <tr>
	              <th translate="studyactions.app"></th>
	              <th translate="studyactions.type"></th>
	              <th translate="studyactions.validation"></th>
	              <th></th>
	            </tr>
	            <tr ng-repeat="link in links">
	              <td ng-click="select(link);">{{ link.app.filename }}</td>
	                <td>
	                <div ng-repeat="type in link.type" translate="{{ 'studyactions.types_short.'+type }}"></span>
	              </td>
	              <td>
	                <div ng-show="link.validationResearch != 'VALIDATED'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.not_validated_research"></span>
	                </div>
	                <div ng-show="link.validationDeveloper != 'VALIDATED'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.not_validated_developer"></span>
	                </div>
	                <div ng-show="link.validationDeveloper == 'VALIDATED' && link.validationResearch == 'VALIDATED'">
	                  <span class="fas fa-check text-success"></span>
	                  <span translate="studyactions.status.validated"></span>
	                </div>
	                <div ng-show="link.usePeriod.indexOf(study.executionStatus)<0">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.study_wrong_status"></span>
	                </div>
	                <div ng-show="link.type.indexOf('REQUIRE_P')>=0 && study.participantSearchStatus != 'SEARCHING'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="error.closed.study"></span>
	                </div>
	                <div ng-show="(link.type.indexOf('REQUIRE_P')>=0 || link.type.indexOf('OFFER_P')>=0) && link.study.joinMethods.indexOf('APP') < 0">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.study_no_app_participation"></span>
	                </div>
	                
	              </td>
	              <td>
	                <button type="button" class="btn btn-sm btn-default" ng-click="select(link);" translate="studyactions.select_btn"></button>
	                <button type="button" class="btn btn-sm btn-default" ng-click="validate(link);" translate="studyactions.validate_btn"></button>
	                <button type="button" class="btn btn-sm btn-danger" ng-click="remove(link);" translate="common.delete_btn"></button>
	              </td>
	            </tr>
	          </table>
	         	
	          <button type="button" class="btn btn-primary" translate="common.add_btn" ng-click="addNew()"></button>
	         </div>
	         <div ng-show="selection">
	            <formrow myid="study" label="studyactions.study">
	               <p class="form-control-plaintext">{{ study.name }}</p>
	            </formrow> 
	            <formrow myid="app" label="studyactions.app">
	               <input type="text" class="form-control" ng-change="appselection()" autocomplete="off" typeahead-on-select="appselection()" ng-model-options="{ debounce: 500 }" ng-model="selection.app.filename" uib-typeahead="app.filename for app in apps | filter:$viewValue | limitTo:8">
	            </formrow>
	            <formrow myid="apptype" label="">
	               <p class="form-control-plaintext" ng-show="selection.app.type">
	                <span translate="{{ 'enum.plugintype.' + selection.app.type }}"></span>
	                <span translate="studyactions.for"></span>
		            <span translate="{{ 'enum.userrole.'+selection.app.targetUserRole }}"></span>	               
	               </p>
	               <p class="form-control-plaintext" ng-hide="selection.app.type" translate="studyactions.no_valid_app">
	               </p>
	            </formrow>
	            <formrow myid="type" label="studyactions.type">
	              <div ng-repeat="type in types" class="form-check">
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" ng-disabled="checkType(selection.app, type)" ng-checked="selection.type.indexOf(type)>=0" ng-click="toggle(selection.type, type);formChange();" >
	                  <span translate="{{ 'studyactions.types.'+type }}"></span>
	                </label>
	              </div>
	            </formrow>
	            <formrow myid="usePeriod" label="studyactions.use_period">
	              <div ng-repeat="period in periods" class="form-check">
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" ng-checked="selection.usePeriod.indexOf(period)>=0" ng-click="toggle(selection.usePeriod, period);formChange();" >
	                  <span translate="{{ 'studyactions.use_periods.'+period }}"></span>
	                </label>
	              </div>	              
	            </formrow>
	            <!-- <formrow myid="group" label="Group" ng-show="selection.type.indexOf('DATALINK')>=0">
	              <select ng-model="selection.studyGroup" class="form-control" ng-change="changedGroup()" ng-options="group.name as group.name for group in study.groups">
	                 <option value="" translate="studyactions.allgroups"></option>
	              </select>
	            </formrow>
	            <formrow myid="shareToStudy" label="studyactions.shareback" ng-show="selection.type.indexOf('DATALINK')>=0">
	               <div class="checkbox">
	                 <label>
	                   <input type="checkbox" name="shareToStudy" id="shareToStudy" ng-model="selection.shareToStudy">
	                 </label> 
	               </div>
	             </formrow>
	             <formrow myid="restrictRead" label="studyactions.restrict" ng-show="selection.studyGroup">
	               <div class="checkbox">
	                 <label>
	                   <input type="checkbox" name="restrictRead" id="restrictRead" ng-model="selection.restrictRead">
	                 </label> 
	               </div>
	             </formrow> -->
	             <formrow myid="x" label="">
	               <button class="btn btn-primary" type="submit" translate="common.submit_btn"></button>
	               <button class="btn btn-default" type="button" translate="common.cancel_btn" ng-click="cancel();"></button>
	             </formrow>
	           </div>
	     
   		   </loader>
   		   </form>       
		</div>	
	</div>
	<div ng-hide="selection">
	 <div ng-controller="StudyActionsCtrl2">
	<div class="panel panel-primary">
	    <div class="panel-heading" translate="studyactions.datalink"></div>
	    <div class="panel-body">  
	       <loader busy="status.isBusy !== false">	     
	       <p class="alert alert-info" translate="studyactions.description"></p>  	
	          	       
	       <div ng-show="study.validationStatus == 'VALIDATED'">
	       <p class="lead" translate="studyactions.aggregator_apps"></p>  
	       <form name="myform" role="form" class="css-form form-horizontal" novalidate ng-submit="addApplication(myform)">
	         <formrow myid="group" label="Group">
	           <select ng-model="crit.group" class="form-control" ng-change="changedGroup()" ng-options="group.name as group.name for group in study.groups">
	             <option value="" translate="studyactions.allgroups"></option>
	           </select>
	         </formrow>
	        
           <div>
             <formrow myid="plugin" label="studyactions.plugin">
               <select name="plugin" id="plugin" ng-model="crit.plugin" class="form-control" ng-options="plugin as plugin.name for plugin in plugins" required></select>
             </formrow>
             <formrow myid="device" label="studyactions.device" ng-if ="crit.plugin.type=='mobile'">
               <input type="text" id="device" name="device"  ng-model="crit.device" class="form-control" required>
             </formrow>
              <formrow myid="shareback" label="studyactions.shareback">
               <div class="form-check">
                
                   <input class="form-check-input" type="checkbox" name="shareback" id="shareback" ng-model="crit.shareback">
               
               </div>
             </formrow>
             <formrow myid="restrictread" label="studyactions.restrict" ng-show="crit.group">
               <div class="form-check">
                 
                   <input class="form-check-input" type="checkbox" name="restrictread" id="restrictread" ng-model="crit.restrictread">
                
               </div>
             </formrow>
            </div>
                       
            <button type="submit" class="btn btn-default" ng-disabled="(crit.plugin.type=='mobile' || crit.plugin.type=='service' || crit.plugin.type=='analyzer') && group == null" translate="studyactions.add_application_btn"></button>          
     
           </form>                   
           <a href="javascript:" ui-sref="research.servicekeys({ studyId : studyId })">Services</a>
           </div>
   		   </loader>
		</div>	
	</div>
	
	<div class="panel panel-primary" ng-show="me_menu.length">
	    <div class="panel-heading" translate="studyactions.linked_spaces">
	    </div>
	    <div class="panel-body">	
	       <table class="table table-striped"> 							
			<tr ng-repeat="entry in me_menu">
			  <td>
			  <a href="javascript:" ng-click="showSpace(entry)" translate="{{entry.name}}"></a>
			  <a href="javascript:" ng-click="deleteSpace(entry)" ng-disabled="status.action=='deleteConsent'" class="float-right btn btn-danger btn-sm" translate="common.delete_btn"></a>
			  </td>
			</tr>
			</table>
        </div>	
	</div>
	
	
	 <div class="panel panel-primary" ng-show="consents.length">
	    <div class="panel-heading" translate="studyactions.linked_apps">
	    </div>
	    <div class="panel-body">
		<table class="table table-striped" ng-show="consents.length">

				<tr>
					<th translate="consents.name"></th>					
					<th translate="consents.status"></th>					
					<th translate="consents.number_of_records"></th>
					<th></th>
				</tr>
				<tr ng-repeat="consent in consents | orderBy : 'name'" ng-class="{ 'table-warning' : consent.status == 'UNCONFIRMED' }">
					<td><a ng-click="editConsent(consent);" href="javascript:">{{ consent.name }}</a></td>					
					<td translate="{{ 'enum.consentstatus.'+consent.status }}"></td>					
					<td>{{ consent.records }}</td>
					<td><button ng-click="deleteConsent(consent)" ng-disabled="status.action=='deleteConsent'" class="btn btn-danger btn-sm" translate="common.delete_btn"></button>
				</tr>
			</table>
		</div>
	</div>
	
	</div>
	
	<div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
		</div>
</div>
