
	<div  ng-controller="UserCtrl">		
		
		<div ng-cloak class="panel panel-primary">
		  <div class="panel-heading">User</div>
		  <div class="panel-body">
			<loader busy="status.isBusy !== false">
			
			<div class="row">
				<p class="col-sm-2">Name:</p>
				<p class="col-sm-10">{{user.name}}</p>
			</div>
			<div class="row">
				<p class="col-sm-2">Email:</p>
				<p class="col-sm-10">{{user.email}}</p>
			</div>
			
			<div class="row" ng-show="isSelf">
			  <div class="col-sm-12">
			     <a class="btn btn-default" href="javascript:" ui-sref="^.changepassword">Change Password</a>
			     <a class="btn btn-default" href="javascript:" ui-sref="^.changepassphrase">Change Passphrase</a>
			     <a class="btn btn-default" href="javascript:" ng-click="fixAccount();">Fix Account</a>
			  </div>
			</div>
			</loader>
		</div>
		</div>
	</div>
	