 <div class="ignore autosize" ng-controller="FlexibleStudiesCtrl">
  <loader busy="status.isBusy !== false">
  <div class="body body-center text-center" ng-show="studies.length == 0" translate="flexiblestudies.empty"></div>
  <div ng-show="studies.length" class="body clearfix">   
     <div class="pull-left themeicon"><img src="/images/icons/research.png"></div>     
     <p><span class="dashnumber">{{ studies.length }}</span> <span translate="flexiblestudies.studies_found"></span></p>
   </div>
  
  <ul class="list-group" ng-show="studies.length > 0">
	<li class="list-group-item" ng-repeat="study in studies | limitTo : limit">					
	   <a href="javascript:;" ng-click="showDetails(study)">{{study.name}}</a>										
  	</li>
  </ul>
  <div class="footer"><!--  <button class="btn btn-default">More...</button> --></div>
  </loader>
</div>
