<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="ApiKeysCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="apikeys.title"></div>
		<div class="body">
            <loader busy="status.isBusy !== false">
                <p ng-show="services.length===0" translate="apikeys.empty"></p>
                <div ng-repeat="service in services">
                    <div class="row extraspace">
                        <div class="col-8"><b>{{ service.name }}</b></div>
                        <div class="col-4">
                            <button type="button" class="btn btn-default" translate="apikeys.add_btn" ng-click="addKey(service)"></button>                            
                            <button type="button" class="btn btn-danger" translate="apikeys.delete_btn" ng-show="service.linkedStudy" ng-click="deleteService(service);"></button>
                        </div>
                    </div>
                    <div ng-if="service.keys.length" class="row">
                        <div class="col-12">
                        <table class="table table-sm table-bordered">
                          <tr>
                              <th translate="apikeys.date"></th>
                              <th translate="apikeys.status"></th>
                              <th></th>
                          </tr>
                          <tr ng-repeat="key in service.keys">                        
                           <td>
                            {{ key.dateOfCreation | date : 'dd.MM.yyyy HH:mm:ss' }}
                           </td>
                           <td>
                            <span translate="{{ 'apikeys.'+key.status }}"></span>
                           </td>
                           <td>
                            <button type="button" class="btn btn-danger btn-sm" translate="apikeys.revoke_btn" ng-click="deleteKey(service, key);"></button>
                          </td>
                          </tr>
                    </table>
                </div>
                    </div>
                    <hr>
                </div>                
			</loader>
		</div>
    </div>
    
    <modal viewid="apikey">
        <div>
            <div translate="apikeys.instructions"></div>
            <hr>
            <div><b translate="apikeys.key"></b></div>
            <div translate="apikeys.instructions_key"></div>
            <input type="text" class="form-control" readonly ng-click="copyToClip($event)" ng-model="showkey.access_token">
            <hr>
            <div><b translate="apikeys.refresh"></b></div>
            <div translate="apikeys.instructions_refresh"></div>
            <input type="text" class="form-control" readonly ng-click="copyToClip($event)" ng-model="showkey.refresh_token">
            <hr>
            <div><b translate="apikeys.common_name"></b></div>
            <div translate="apikeys.instructions_common_name"></div>
            <input type="text" class="form-control" readonly ng-click="copyToClip($event)" ng-model="showkey.cn">
        </div>
    </modal>
</div>