<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="PatientsCtrl" ng-cloak>    
	<div class="panel panel-primary">
	    <div class="panel-heading" translate="provider_patients.title">    
       </div>
		<div class="panel-body">
		
		<loader busy="status.isBusy !== false">
	    <table class="table" ng-show="patients.length > 0">
	      <tr>
	        <th>Surname</th>
	        <th>Firstname</th>
	        <th>Birthday</th>	        
	      </tr>
	      <tr ng-repeat="patient in patients">
	        <td><a href="javascript:" ng-click="selectPatient(patient)">{{ patient.name[0].family }}</a></td>
	        <td>{{ patient.name[0].given[0] }}</td>
	        <td>{{ patient.birthDate | date : 'dd.MM.yy'}}</td>	        
	      </tr>
	    </table>
	    
	    <p ng-show="patients.length == 0">No patients found.</p>
	    </loader>	                  
	    </div>	
	</div>
</div>
