<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


            <loader busy="status.isBusy !== false">
			
			<div ng-if="log.length > 10">
              <dir-pagination-controls pagination-id="audit" current-page="page.nr" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
             </div>

			<div dir-paginate="entry in log | itemsPerPage : 10" pagination-id="audit" >
			  <div class="row">
			  <div class="col-sm-6 col-md-2" style="color:#707070">{{ entry.recorded | date : 'dd.MM.yyyy HH:mm' }}</div>
			  <div class="col-sm-6 col-md-3">
   			    
			    <span class="fas" ng-class="{ 'fa-wrench text-danger' : entry.outcome == 12, 'fa-exclamation-triangle text-danger' : entry.outcome == 8, 'fa-times text-warning' : entry.outcome == 4, 'fa-check text-success' : entry.outcome == 0 }"></span> <b><span translate="{{ 'enum.eventtype.'+entry.subtype[0].code }}"></span></b>
			    <div ng-hide="entry.extension[0].valueString">{{ entry.outcomeDesc }}</div>		
			    <div ng-show="entry.extension[0].valueString">{{ entry.extension[0].valueString | translate }}</div>	      			    			   
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div><span ng-hide="entry.agent[0].name=='?'">{{ entry.agent[0].name }}</span><span ng-show="entry.agent[0].name=='?'" translate="auditlog.anonymous"></span> <span ng-show="entry.agent[0].role[0].coding[0].code != 'MEMBER'" class="badge badge-info" translate="{{ 'enum.userrole.'+entry.agent[0].role[0].coding[0].code }}"></span></div>
			    <div class="text-primary">{{ entry.agent[0].altId }}</div>
			    <div ng-show="entry.agent.length>1"><i><span translate="auditlog.via"></span> {{ entry.agent[1].name }}</i></div>  
			  </div>			  
			  
			  <div class="col-sm-6 col-md-3">
			     <div ng-repeat="entity in entry.entity">
			       <div ng-if="entity.name">
			       <b ng-show="entity.type.code"><span translate="{{ 'auditlog.'+entity.type.code }}">{{ entity.type.code }}</span>:</b>
			       <div>{{ entity.name }}</div>
			       <div class="text-primary">{{ entity.what.display }}</div>
			       </div>
			     </div>
			  </div>
			  </div>			  			  
			  <div style="border-bottom: 1px solid #e0e0e0; margin-top:10px; margin-bottom:5px"></div>
			</div>
            
            <p ng-show="log.length==0" translate="auditlog.empty"></p>
			
			</loader>
		