<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->

<ul class="pagination" ng-if="1 < pages.length || !autoHide">
    <li class="page-item" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a class="page-link" href="" ng-click="setCurrent(1)">&laquo;</a>
    </li>
    <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a class="page-link" href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
    </li>
    <li class="page-item" ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a class="page-link" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
        <a class="page-link" href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
    </li>
    <li class="page-item" ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
        <a class="page-link" href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
    </li>
</ul>