
	<div ng-controller="RecordsCtrl">
		
		
	
		  
	<div class="panel panel-primary">
	  <div class="panel-heading">Your Data</div>
	  
	   
		  <div style="margin:10px">
		  
		  <div class="alert alert-info" ng-show="consent">
		    Please use the 'share' and 'unshare' buttons to select which records you want to share with consent <strong>{{ consent.name }}</strong>.<br>
		    This consent currently shares data with <strong>{{ consent.authorized.length }}</strong> people.<br><br>	
		    <a class="btn btn-default btn-sm" ui-sref="^.editconsent({ consentId : selectedAps._id.$oid })">Done</a>	     
		  </div>
		  		  
		<div class="row">	
			<div class="pull-right col-sm-4" ng-show="displayAps.owner && compare!=null">
			   <label for="selectedAps">Shared With:</label>
			  <select class="form-control" id="selectedAps" ng-model="selectedAps" ng-options="c.name for c in compare" ng-change="loadSharingDetails()"></select>
	        </div>	
	        <div class="pull-right col-sm-4" ng-show="compare==null && selectedAps!=null && selectedType=='spaces'">
			  <label for="selectedAps">Records used for app</label>	
			  <a class="btn btn-default" ui-sref="^.spaces({ spaceId : selectedAps._id.$oid })">Back to Visualization</a>		  
	        </div>		        
	        <div class="col-sm-4">
	           <label for="owner" ng-dblclick="showDebug()">Show:</label>
	           <select class="form-control" id="owner" ng-model="displayAps" ng-options="c.name for c in availableAps" ng-change="selectSet()"></select>
	        </div>			
        </div>	
        </div>
        <loader busy="status.isBusy !== false">					
		<script type="text/ng-template"  id="tree_item_renderer.html">
           <div class="pull-right sharebox" ng-show="selectedAps">	                				  
				<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-click="unshareGroup(data);" ng-show="isSharedGroup(data)">
					<span class="glyphicon glyphicon-picture"></span>unshare
				</button>
				<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-hide="isSharedGroup(data)" ng-click="shareGroup(data);">
					<span class="glyphicon glyphicon-share"></span>share
			    </button>
		   </div>	
           <h1 ng-class="{ 'text-success' : isSharedGroup(data), 'format': data.type == 'content' }"><span ng-click="setOpen(data,true);" ng-hide="data.open" class="treehandle glyphicon glyphicon-plus"></span><span ng-show="data.open && !data.type" ng-click="setOpen(data,false);" class="treehandle glyphicon glyphicon-minus"></span>{{data.fullLabel}} <small ng-dblclick="deleteGroup(data.name)">(<span ng-show="selectedAps">{{ data.countShared }} / </span>{{ data.count }})</small></h1>
           <div ng-show="data.open">

           <div ng-if="data.records.length > 10">
              <dir-pagination-controls pagination-id="data.name"></dir-pagination-controls>
            </div>

           <ul class="list-group" ng-if="data.records.length > 0">
				<li class="list-group-item" dir-paginate="record in data.records | itemsPerPage : 10" pagination-id="data.name" ng-class="{ 'list-group-item-success' : ( isShared(record)) }">
					<span class="label label-info" ng-dblclick="deleteRecord(record, data)">{{record.created | date}}</span>
					<span ng-show="record.owner.$oid != userId.$oid" class="label label-info">{{ record.ownerName }}</span>
					<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>
                    <div class="pull-right" ng-hide="selectedAps==null">					   
						<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-click="unshare(record, data);" ng-show="isShared(record)">
							<span class="glyphicon glyphicon-picture"></span>unshare
						</button>
						<button class="btn btn-xs btn-primary" ng-disabled="status.isBusy" ng-hide="isShared(record)" ng-class="{'disabled': !isOwnRecord(record)}" ng-click="share(record, data);">
							<span class="glyphicon glyphicon-share"></span>share
						</button>
					</div>										
				</li>
			</ul>
            
           <div class="subtree">
            <div ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"></div>
           </div>
           </div>
        </script>
        
        <div class="tree" ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></div>       		 
			
			<!-- Records -->
			
			<div class="panel-body" ng-show="tree.length === 0">No available records found.</div>
			
			</loader>
	             	</div>
		
	</div>
		
	</div>
	