<div ng-controller="NewConsentCtrl" class="midata-overlay borderless">
 <div class="overlay-body">
 <div class="panel panel-primary">
  <div class="panel-heading"><span translate="editconsent.title"></span>: {{ consent.name }}
  <a ng-click="goBack()" href="javascript:" class="close-icon float-right"><span class="fas fa-times"></span></a>    
  </div>
  <div class="panel-body">
  <loader busy="status.isBusy !== false">
  <p ng-hide="consent" class="alert alert-warning" translate="error.unknown.consent"></p>
  <form ng-show="consent" name="myform" class="css-form form-horizontal" ng-submit="create()" novalidate role="form">
    <div class="row">  
     
      
     
      
      <div class="col-sm-6">
      
        <div><small translate="editconsent2.status"></small></div>
        
      
        <span class="lead text-success" ng-show="consent.status == 'ACTIVE'" translate="editconsent2.status_active"></span>
        <span class="lead text-danger" ng-show="consent.status == 'EXPIRED'" translate="editconsent2.status_expired"></span>
        <span class="lead text-warning" ng-show="consent.status == 'UNCONFIRMED'" translate="editconsent2.status_unconfirmed"></span>    
        <span class="lead text-danger" ng-show="consent.status == 'REJECTED'" translate="editconsent2.status_rejected"></span>
        </div>
              
        <div class="col-sm-6">
        <div><small translate="editconsent2.duration"></small></div>
           <div class="lead">
    
       
         {{ consent.dateOfCreation | date : 'dd.MM.yy'}}
      
       -      
       <span ng-show="consent.validUntil"> 
       {{ consent.validUntil | date : 'dd.MM.yy'}}      
      </span>
      
         </div>
        
        
      </div>
      
     </div>	         
         <!-- 
     <div class="row">
     <div class="col-sm-12">
      <p class="form-control-plaintext" ng-show="consent.type == 'CIRCLE'" translate="editconsent.type_circle"></p>
      <p class="form-control-plaintext" ng-show="consent.type == 'HEALTHCARE'" translate="editconsent.type_healthcare"></p>
      <p class="form-control-plaintext" ng-show="consent.type == 'STUDYPARTICIPATION'" translate="editconsent.type_studyparticipation"></p>    
      <p class="form-control-plaintext" ng-show="consent.type == 'STUDYRELATED'" translate="editconsent.type_studyrelated"></p>
      <p class="form-control-plaintext" ng-show="consent.type == 'EXTERNALSERVICE'" translate="editconsent.type_externalservice"></p>
      <p class="form-control-plaintext" ng-show="consent.type == 'IMPLICIT'" translate="editconsent.type_implicit"></p>
      </div>
      </div>
       -->
    
     <div class="row">
       <div class="col-sm-5"> 
          <p><b translate="newconsent.who_is_owner"></b></p>
          
          <div class="well well-sm" ng-show="owner">
          <img ng-src="{{getIconRole(owner)}}" class="float-left consenticon">
          <div class="iconspace">
          <div translate="{{'enum.userrole.'+owner.role}}"></div>		  	
		  <address>
			<strong>{{ owner.firstname }} {{ owner.lastname }}</strong>
			<div ng-show="owner.email">{{ owner.email }}<br></div>
			<span ng-show="owner.address1 || owner.city || owner.country"><br>{{ owner.address1 }}<br>
			{{ owner.address2 }}<br>
			{{ owner.country }} {{ owner.zip }} {{ owner.city }}			
			</span>			
		  </address>
		  </div>
		</div>
		<div class="well well-sm" ng-show="consent.externalOwner">
		  <img ng-src="/images/external.jpg" class="float-left consenticon">
          <div class="iconspace">
		    <span translate="editconsent.external"></span>: <strong>{{ consent.externalOwner }}</strong>
		  </div>
		</div>
                        
       </div>
       <div class="col-sm-1">
         <div style="margin-top:60px" class="text-center">
           <span style="font-size:40px" class="fas fa-arrow-right"></span>
         </div>
       </div>
       <div class="col-sm-6">
         <p><b translate="editconsent.people"></b></p>
          <div class="well well-sm" ng-show="consent.type=='EXTERNALSERVICE'">
            <img ng-src="{{getIconRole('app')}}" class="consenticon float-left">
            <div class="iconspace">
              <strong translate="editconsent2.external"></strong>
            </div>
          </div>
          <div class="well well-sm" ng-show="consent.type=='STUDYRELATED'">
            <img ng-src="{{getIconRole('community')}}" class="consenticon float-left">
            <div class="iconspace">
               <strong translate="editconsent2.community"></strong>
            </div>
          </div>
         <div class="well well-sm" ng-repeat="person in authpersons">
          
		  <button type="button" ng-click="removePerson(person)" class="close" aria-label="Delete" ng-show="mayChangeUsers()"><span aria-hidden="true">&times;</span></button>
		  <img ng-src="{{getIconRole(person)}}" class="float-left consenticon">
		  <div class="iconspace">
		  <div translate="{{'enum.userrole.'+person.role}}"></div>		
		  <address>
			<strong>{{ person.firstname }} {{ person.lastname }}</strong>
			<div ng-show="person.email">{{ person.email }}<br></div>
			<span ng-show="person.address1 || person.city || person.country"><br>
			{{ person.address1 }}<br>
			{{ person.address2 }}<br>
			{{ person.country }} {{ person.zip }} {{ person.city }}	
			</span>			
		  </address>
		  </div>
		</div>
		<div class="well well-sm" ng-repeat="usergroup in authteams">
		  <button type="button" ng-show="mayChangeUsers" ng-click="removePerson(usergroup)" class="close" aria-label="Delete"><span aria-hidden="true">&times;</span></button>
		  <img ng-src="{{getIconRole('team')}}" class="float-left consenticon">
		  <div class="iconspace">
		    <div translate="editconsent2.team"></div>	
		    <strong>{{ usergroup.name }}</strong>
		  </div>
		</div>
		<div class="well well-sm" ng-repeat="person in consent.externalAuthorized">
		  <img ng-src="{{getIconRole('external')}}" class="float-left consenticon">
		  <div class="iconspace">
		    <div translate="editconsent.external"></div>
		    <strong>{{ person }}</strong>
		  </div>
		</div>
		<div class="well well-sm" ng-show="consent.reshare">
		  <img ng-src="{{getIconRole('reshare')}}" class="float-left consenticon">
		  <div class="iconspace">
		     <span translate="editconsent.reshare"></span>
		  </div>
		</div>
       </div>
     </div>
     
    <div class="row" ng-show="consent.type != 'EXTERNALSERVICE'">
      <div class="col-sm-12">   	
		<button type="button" class="btn btn-default" ng-show="mayChangeUsers()" ng-click="addPeople();" translate="editconsent.add_people_btn"></button>
		<button type="button" class="btn btn-default" ng-show="mayChangeUsers()" ng-click="addUserGroup();" translate="editconsent.add_usergroup_btn"></button>
	 </div>		
	
	</div>
	 <hr>

	
	
	<p><b translate="editconsent.what_is_shared"></b></p>
	  <!-- <div ng-show="groupLabels.length && groupLabels.length < 5">{{ groupLabels.join(", ") }}</div>  -->
	  <ul ng-show="groupLabels.length">
	    <li ng-repeat="label in groupLabels | orderBy : 'toString()'">{{ label }}</li>
	  </ul>
	  <div ng-show="groupExcludeLabels.length">
	    <span translate="editconsent2.exclude"></span>: {{ groupExcludeLabels.join(", ") }}
	  </div>
	
	  <p ng-show="sharing.records.length == 0 && !sharing.query.group.length" translate="editconsent.consent_empty"></p>
	  <p ng-show="sharing.records.length" translate="editconsent.shares_records" translate-value-count="{{ sharing.records.length }}"  ></p>
	  <p>{{ ('enum.writepermissiontype.'+(consent.writes || 'NONE'))|translate }}</p>
	  <p ng-show="consent.createdBefore"><span translate="editconsent.created_before"></span>:{{ consent.createdBefore | date : 'dd.MM.yy'}} 
	</p>
	
	 
	
	  
	  <button class="btn btn-default" ng-show="mayChangeData()" ui-sref="^.recordsharing({ selected : consentId, selectedType : 'circles' })" translate="editconsent.view_change_selection_btn"></button>
	
	
	

	<a  ui-sref="^.circles" class="btn btn-default" translate="common.back_btn"></a>
	<button type="button" ng-click="confirmConsent();" ng-show="mayConfirm()" class="btn btn-primary" translate="editconsent.confirm_btn"></button>
	<button type="button" ng-click="rejectConsent();" ng-show="mayReject()" class="btn btn-danger" translate="editconsent.reject_btn"></button>
    <button type="button" ng-click="deleteConsent();" ng-show="mayDelete()" class="btn btn-danger" translate="editconsent.delete_btn"></button>
    <!--  <button type="button" ng-click="showStudyDetails();" ng-show="consent.type == 'STUDYPARTICIPATION'" class="btn btn-default">Show Study</button> -->
  </form>	
  </loader>		
</div>
</div>
<div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
</div>
</div>
	
