<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="NewConsentCtrl" class="midata-overlay borderless">
 <div class="overlay-body">
 <div class="panel panel-primary">
  <div class="panel-heading"><span translate="editconsent.title"></span>
  <a ng-click="goBack()" href="javascript:" class="close-icon float-right"><span class="fas fa-times"></span></a>    
  </div>
  <div class="panel-body">
  <loader busy="status.isBusy !== false">
  <p ng-hide="consent" class="alert alert-warning" translate="error.unknown.consent"></p>
  <form ng-show="consent" name="myform" class="css-form form-horizontal" ng-submit="create()" novalidate role="form">
    <formrow id="name" label="editconsent.name">
      <p class="form-control-plaintext">{{ consent.name }}</p>
    </formrow>
    <formrow id="name" label="editconsent.date_of_creation">
      <p class="form-control-plaintext">{{ consent.dateOfCreation | date : 'dd.MM.yy'}}</p>
    </formrow>
    <formrow id="type" label="editconsent.type">
      <p class="form-control-plaintext" ng-show="consent.type == 'CIRCLE'" translate="editconsent.type_circle"></p>
      <p class="form-control-plaintext" ng-show="consent.type == 'HEALTHCARE'" translate="editconsent.type_healthcare"></p>
      <p class="form-control-plaintext" ng-show="consent.type == 'STUDYPARTICIPATION'" translate="editconsent.type_studyparticipation"></p>    
      <p class="form-control-plaintext" ng-show="consent.type == 'STUDYRELATED'" translate="editconsent.type_studyrelated"></p>
	  <p class="form-control-plaintext" ng-show="consent.type == 'EXTERNALSERVICE'" translate="editconsent.type_externalservice"></p>
	  <p class="form-control-plaintext" ng-show="consent.type == 'API'" translate="editconsent.type_api"></p>
      <p class="form-control-plaintext" ng-show="consent.type == 'IMPLICIT'" translate="editconsent.type_implicit"></p>
    </formrow>
    <formrow id="status" label="editconsent.status">
      <p class="form-control-plaintext" ng-show="consent.status == 'ACTIVE'" translate="editconsent.status_active"></p>
      <p class="form-control-plaintext" ng-show="consent.status == 'EXPIRED'" translate="editconsent.status_expired"></p>
      <p class="form-control-plaintext" ng-show="consent.status == 'UNCONFIRMED'" translate="editconsent.status_unconfirmed"></p>    
      <p class="form-control-plaintext" ng-show="consent.status == 'REJECTED'" translate="editconsent.status_rejected"></p>
    </formrow> 
    
    
     <formrow myid="owner" label="newconsent.who_is_owner">
		<div class="card" ng-show="owner">
		 <div class="card-body">		  	
		  <address>
			<strong>{{ owner.firstname }} {{ owner.lastname }}</strong>
			<span ng-show="owner.address1 || owner.city || owner.country"><br>{{ owner.address1 }}<br>
			{{ owner.address2 }}<br>
			{{ owner.zip }} {{ owner.city }}<br>
			{{ owner.country }}<br>
			</span>
			<span ng-show="owner.email"><span translate="common.user.email"></span>: {{ owner.email }}<br></span>
		  </address>
		  </div>
		</div>
		<div class="card" ng-show="consent.externalOwner">
		  <div class="card-body">
		    <span translate="editconsent.external"></span>: <strong>{{ consent.externalOwner }}</strong>
		  </div>
		</div>				
	</formrow>
    
   <formrow id="share" label="editconsent.people" ng-show="consent.type != 'EXTERNALSERVICE' && consent.type != 'API'">
		<div class="card" ng-repeat="person in authpersons">
		  <div class="card-body">
		  <button type="button" ng-click="removePerson(person)" class="close" aria-label="Delete" ng-show="mayChangeUsers()"><span aria-hidden="true">&times;</span></button>	
		  <address>
			<strong>{{ person.firstname }} {{ person.lastname }} ({{ person.role }})</strong>
			<span ng-show="person.address1 || person.city || person.country"><br>
			{{ person.address1 }}<br>
			{{ person.address2 }}<br>
			{{ person.zip }} {{ person.city }}<br>
			{{ person.country }}<br>
			</span>
			<span ng-show="person.email"><span translate="common.user.email"></span>: {{ person.email }}<br></span>
		  </address>
		  </div>
		</div>
		<div class="card" ng-repeat="usergroup in authteams">
		 <div class="card-body">
		  <button type="button" ng-show="mayChangeUsers" ng-click="removePerson(usergroup)" class="close" aria-label="Delete"><span aria-hidden="true">&times;</span></button>	
		  {{ usergroup.name }}
		  </div>
		</div>
		<div class="card" ng-repeat="person in consent.externalAuthorized">
		  <div class="card-body">
		    <span translate="editconsent.external"></span>: <strong>{{ person }}</strong>
		  </div>
		</div>
		<div class="margin-top">
		  <button type="button" class="btn btn-default" ng-show="mayChangeUsers()" ng-click="addPeople();" translate="editconsent.add_people_btn"></button>
		  <button type="button" class="btn btn-default" ng-show="mayChangeUsers()" ng-click="addUserGroup();" translate="editconsent.add_usergroup_btn"></button>
		</div>		
	</formrow>
	<formrow id="reshare" label="editconsent.reshare" ng-show="consent.type != 'EXTERNALSERVICE'">
	  <div class="form-check">
	    <label class="form-check-label">
	      <input class="form-check-input" type="checkbox" ng-model="consent.reshare" ng-disabled="!mayChangeData()" translate="editconsent.reshare2">
	    </label>
	  </div>
	</formrow>

	<formrow myid="validUntil" label="editconsent.expiration_date">
	  <div class="input-group">
        <input id="validUntil" ng-disabled="true" type="text" class="form-control" placeholder="Leave empty if none" no-time uib-datepicker-popup="dd.MM.yyyy" ng-model="consent.validUntil" is-open="datePickers.validUntil" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
        <span class="input-group-append">
           <button type="button" ng-disabled="true" class="btn btn-default" ng-click="datePickers.validUntil=true;"><i class="fas fa-calendar"></i></button>
        </span>
      </div>
	</formrow>
	<formrow myid="createdBefore" label="editconsent.created_before">
	  <div class="input-group">
        <input id="createdBefore" ng-disabled="true" type="text" class="form-control" placeholder="Leave empty if none" no-time uib-datepicker-popup="dd.MM.yyyy" ng-model="consent.createdBefore" is-open="datePickers.createdBefore" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
        <span class="input-group-append">
           <button type="button" ng-disabled="true" class="btn btn-default" ng-click="datePickers.createdBefore=true;"><i class="fas fa-calendar"></i></button>
        </span>
      </div>
	</formrow>
	
	<formrow id="what" label="editconsent.what_is_shared">
	  <p class="form-control-plaintext" ng-show="sharing.records.length == 0 && !sharing.query.group.length" translate="editconsent.consent_empty"></p>
	  <div class="well well-sm" ng-show="sharing.records.length || sharing.query.group.length">
	  <p class="form-control-plaintext" ng-show="sharing.records.length" translate="editconsent.shares_records" translate-value-count="{{ sharing.records.length }}"  ></p>
	  <div ng-repeat="group in groupLabels" translate="editconsent.shares_group" translate-value-group="{{ group }}"></div>
	  <div ng-repeat="group in groupExcludeLabels" translate="editconsent.excludes_group" translate-value-group="{{ group }}"></div>
	  </div>
	  <button class="btn btn-default" ng-show="mayChangeData()" ui-sref="^.recordsharing({ selected : consentId, selectedType : 'circles' })" translate="editconsent.view_change_selection_btn"></button>
	</formrow>
	
	<formrow id="writes" label="editconsent.writes">
	  <p class="form-control-plaintext">{{ ('enum.writepermissiontype.'+consent.writes)|translate }}</p>
	</formrow>
	<a  ui-sref="^.circles" class="btn btn-default" translate="common.back_btn"></a>
	<button type="button" ng-click="confirmConsent();" ng-show="mayConfirm()" class="btn btn-primary" translate="editconsent.confirm_btn"></button>
	<button type="button" ng-click="rejectConsent();" ng-show="mayReject()" class="btn btn-danger" translate="editconsent.reject_btn"></button>
    <button type="button" ng-click="deleteConsent();" ng-show="mayDelete()" class="btn btn-danger" translate="editconsent.delete_btn"></button>
    <!--  <button type="button" ng-click="showStudyDetails();" ng-show="consent.type == 'STUDYPARTICIPATION'" class="btn btn-default">Show Study</button> -->
  </form>	
  </loader>		
</div>
</div>
<div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
</div>
</div>
	
