<div ng-controller="NewConsentCtrl">
 <div class="panel panel-primary">
  <div class="panel-heading" translate="newconsent.title">    
  </div>
  <div class="panel-body">
  <form name="myform" class="css-form form-horizontal" ng-submit="create()" novalidate role="form">
    <p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
	</p>	
    <formrow myid="name" label="newconsent.name">
      <input id="name" name="name" type="text" class="form-control" ng-model="consent.name" required>
    </formrow>
    <formrow myid="type" label="newconsent.type">
      <div class="radio">
	      <label>
	        <input type="radio" ng-model="consent.type" value="CIRCLE">
	        <span translate="newconsent.share_with_members"></span>
	      </label>
      </div>
      <div class="radio">
	      <label>
	         <input type="radio" ng-model="consent.type" value="HEALTHCARE">
	         <span translate="newconsent.share_with_provider"></span>
	      </label>
      </div>    
    </formrow>    
    <formrow myid="passcode" label="newconsent.use_passcode" ng-show="consent.type == 'HEALTHCARE'">
      <div class="checkbox">
      <label> 
        <input type="checkbox" ng-model="consent.usepasscode">
        <span translate="newconsent.use_passcode2"></span>
      </label>
      </div>
    </formrow>
    <formrow myid="passcode2" label="newconsent.choose_passcode" ng-if="consent.usepasscode">	      
	   <input  id="passcode2" name="passcode2" type="text" class="form-control" ng-model="consent.passcode" required>     
    </formrow>    
    
   <formrow myid="share" label="newconsent.which_persons" ng-hide="consent.usepasscode && consent.type == 'HEALTHCARE'">
		<div class="well well-sm" ng-repeat="person in authpersons">
		  <button type="button" ng-click="removePerson(person)" class="close" aria-label="Delete"><span aria-hidden="true">&times;</span></button>	
		  <address>
			<strong>{{ person.firstname }} {{ person.lastname }}</strong>
			<span ng-show="person.address1 || person.city || person.country"><br>{{ person.address1 }}<br>
			{{ person.address2 }}<br>
			{{ person.zip }} {{ person.city }}<br>
			{{ person.country }}<br>
			</span>
			<span ng-show="person.email"><span translate="common.user.email"></span>: {{ member.email }}<br></span>
		  </address>
		</div>
		<button type="button" class="btn btn-default" ng-click="addPeople();" translate="newconsent.add_person_btn"></button>
	</formrow>
	<formrow myid="reshare" label="newconsent.reshare">
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" ng-model="consent.reshare"><span translate="newconsent.reshare2"></span>
	    </label>
	  </div>
	</formrow>
	<!-- 
	<formrow myid="validUntil" label="newconsent.expiration_date">
	  <div class="input-group">
        <input id="validUntil" type="text" class="form-control" placeholder="Leave empty if none" uib-datepicker-popup="dd.MM.yyyy" ng-model="consent.validUntil" is-open="datePickers.validUntil" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
        <span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="datePickers.validUntil=true;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
	</formrow>
	<formrow myid="createdBefore" label="newconsent.created_before">
	  <div class="input-group">
        <input id="createdBefore" type="text" class="form-control" placeholder="Leave empty if none" uib-datepicker-popup="dd.MM.yyyy" ng-model="consent.createdBefore" is-open="datePickers.createdBefore" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
        <span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="datePickers.createdBefore=true;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
	</formrow>
	 -->
	<formrow myid="what" label="newconsent.share_what">
	  <p class="form-control-static" translate="newconsent.consent_empty"></p>
	</formrow>
    <button type="submit" class="btn btn-primary" translate="newconsent.create_btn"></button>
  </form>			
</div>
</div>
<div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
</div>
	