/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 ** This SCSS file includes 'state-related classes'
 *  whose name is prefixed with .mi-x-.
 *  They describe the state of an element.
 *  Examples: .mi-is_first, .mi-is_last, .mi-is_typing…
 *  They are provided and documented here but have to be added using JS.
 *
 *  ---
 ** A NOTE ABOUT BORDER RADIUSES
 *  ---
 *  Chat bubbles have different border radius depending on whether they are the first
 		or last message of the group of messages from the same sender:

 		* the first message has all borders round except for
	 		the bottom one (bottom left for MIDATA messages, bottom right for user messages) 

 		* the last message has all borders round except for
	 		the top one (top left for MIDATA messages, top right for user messages) 

	 	* messages that are neither the first nor the last from the group
	 		have round borders on the inside (MIDATA: top and bottom left,
	 		user: top and bottom right) and straight borders on the outside

	 	This CSS does not handle any logic, of course.
	 	So you have to dynamically add and remove relevant classes:

		* for MIDATA messages:
		 	* mi-is_first_midata for the first message in the group
		 	* mi-is_last_midata for the last message in the group

		* for user messages:
	  	* mi-is_first_user for the first message in the group
	  	* mi-is_last_user for the last message in the group
	*
	*
	*  ---
	** WHEN SOMEONE IS TYPING
	*  ---
	*  The 'state-related' class .mi-x-is_typing
	*  has to be added using JS.
	*
	*  What it does:
	*  hides the "mi-at-chat_bubble__message" span
	*  and replaces it with three animated dots.
	*/


.mi-at-chat_bubble {
	font-size: $font-size-normal;
	width: 245px;
	padding: 8px;

	border-radius: 8px;
	font-family: $font-normal;

	&--midata {
		margin-top: 5px;

		background-color: $color-brand-grey-chat-bubble;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;

		&.mi-x-is_first_midata {
			margin-top: 16px;

			border-bottom-left-radius: 0;
			border-top-left-radius: 8px;
		}

		&.mi-x-is_last_midata {
			border-bottom-left-radius: 8px;
			border-top-left-radius: 0;
		}
	}

	&--user {
		margin-top: 5px;
		margin-right: 0;
		margin-left: auto;

		background-color: $color-brand-blue-primary;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		color: $color-brand-white;

		&.mi-x-is_first_user {
			margin-top: 16px;
			margin-right: 0;
			margin-left: auto;

			border-bottom-right-radius: 0;
			border-top-right-radius: 8px;
		}

		&.mi-x-is_last_user {
			margin-right: 0;
			margin-left: auto;

			border-bottom-right-radius: 8px;
			border-top-right-radius: 0;
		}
	}

	&.mi-x-is_typing {
		display: table;
		position: relative;
		margin-top: 16px;
		height: 28px;
		width: 56px;

		border-radius: 8px;

		span {
			margin: 10px 2px;
			height: 8px;
			width: 8px;

			background-color: #333;
			border-radius: 50%;
			float: left;
			opacity: .4;
			@for $i from 2 through 4 {
				&:nth-of-type(#{$i}) {
					animation: 2s blink infinite ($i * .5s) ease-in;
				}
			}

			&:nth-of-type(2) {
				margin-left: 4px;
			}
		}

		.mi-at-chat_bubble__message {
			display: none;
		}
	}

	&--choice {
		font-size: $font-size-smaller;
		display: block;
		margin-bottom: 8px;
		height: 36px;
		width: 235px;

		border: solid 1px $color-brand-blue-primary;
		border-radius: 8px;
		color: $color-brand-blue-primary;
		line-height: 36px;
		text-align: center;
		text-decoration: none;

		&:first-of-type {
			margin-top: 16px;
		}
	}

	@keyframes blink {
		25% {
			opacity: .4;
		}
		50% {
			opacity: .6;
		}
		75% {
			opacity: .8;
		}
		100% {
			opacity: .4;
		}
	}
}
