
<div ng-app="market" ng-controller="MarketCtrl" class="midata-overlay borderless">
	<div class="overlay-body">

		<div class="alert alert-danger alert-dismissable" ng-show="error" ng-cloak>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p translate="{{ error.code }}"></p>
		</div>

		<!-- Visualizations -->

		
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span translate="{{ 'enum.tags.'+(tag || 'Available') }}"></span> <a ng-click="goBack()" href="javascript:"
							class="close-icon pull-right"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
					<div class="panel-body">
						<p ng-hide="visualizations.spotlighted.length" translate="market.no_spotlighted_plugins"></p>
						<table class="table table-hover clickable">
						<tr ng-click="install(visualization)" ng-repeat="visualization in visualizations.spotlighted | filter : hasTag">
							<!--  a class="pull-left" href="javascript:;" ng-click="showVisualizationDetails(visualization)"> <img class="media-object"
								ng-src="{{ getVisualizationImage(visualization) }}" alt="Icon">
							</a -->
							<td>
							    <!--  div class="pull-right">
								<button ng-click="showVisualizationDetails(visualization)" class="btn btn-xs btn-default" translate="market.install_now_btn"></button>
								</div -->
								<b>{{ visualization.i18n[translate.use()].name ||
									visualization.name}}</b>
								<p>{{visualization.i18n[translate.use()].description || visualization.description}}</p>
								
							</td>
						</div>
						</table>
					</div>
				</div>
			</div>

</div>

