
	<div ng-app="market" ng-controller="MarketCtrl">
		<div class="page-header">			
			<h1>Market</h1>
		</div>
		
		<div class="alert alert-danger alert-dismissable" ng-show="error" ng-cloak>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>{{error}}</p>
		</div>
			
		<!-- Visualizations -->
		<div class="page-header">
			<h1><small>Categories</small></h1>
		</div>
		
		<div class="row" ng-cloak>
		  
		    
		    <div class="col-sm-2" ng-repeat="tag in tags"><a class="btn btn-default btn-block" href="javascript:" ng-click="setTag(tag);">{{ tag }}</a></div>
		    
		 
		</div>
		
		<div class="page-header">
			<h1><small>Plugins</small></h1>
		</div>
		
		<div class="row" ng-cloak>
			<div ng-class="{ 'col-md-6' : beta, 'col-md-12' : !beta }">
			  <div class="panel panel-primary">
				<div class="panel-heading">{{ tag || 'Spotlight' }}</div>
				<div class="panel-body">
				<p ng-hide="visualizations.spotlighted.length">There are no spotlighted plugins yet.</p>
				<div class="media" ng-repeat="visualization in visualizations.spotlighted | filter : hasTag">
					<a class="pull-left" href="javascript:;" ng-click="showVisualizationDetails(visualization)">
						<img class="media-object" ng-src="{{ getVisualizationImage(visualization) }}" alt="Icon">
					</a>
					<div class="media-body">
						<a href="javascript:;" ng-click="showVisualizationDetails(visualization)">{{visualization.name}}</a>
						<p>{{visualization.description}}</p>
					</div>
				</div>
				</div>
				</div>
			</div>
			<div ng-show="beta" class="col-md-6">
			    <div class="panel panel-primary">
				<div class="panel-heading">Plugins you may like</div>
				<div class="panel-body">
				<p ng-hide="visualizations.suggested.length">We have no recommendations for you yet.</p>
				<div class="media" ng-repeat="visualization in visualizations.suggested">
					<a class="pull-left" href="javascript:;" ng-click="showVisualizationDetails(visualization)">
						<img class="media-object" ng-src="{{ getVisualizationImage(visualization) }}" alt="Icon">
					</a>
					<div class="media-body">
						<a href="javascript:;" ng-click="showVisualizationDetails(visualization)">{{visualization.name}}</a>
						<p>{{visualization.description}}</p>
					</div>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	
