<div ng-controller="UsageStatsCtrl">

   
	<div class="panel panel-primary">
		<div class="panel-heading" translate="usagestats.title"></div>
		<div class="body">
		  		  
		  <p ng-show="app.name" class="lead">{{ app.name }}</p>
		  
		    <form class="row">
		    <div class="col-sm-2 form-group">
		    <label>From:</label>
		    <div class="form-control-plaintext">{{ criteria.from | date : "dd.MM.yyyy" }}</div>
		    </div>
            
            <div class="col-sm-2 form-group">
            <label>Days:</label>
            <input type="number" ng-change="recalc()" ng-model="criteria.days">
            </div>
            
            <div class="col-sm-2 form-group">
            <label>Until:</label>
             <div class="input-group">
				  <input type="text" id="date" ng-change="recalc()" is-open="datePickers.dateOpened" datepicker-options="dateOptions" close-text="Close" no-time uib-datepicker-popup="dd.MM.yyyy" class="form-control" placeholder="Date" autofocus ng-model="criteria.to">
				  <span class="input-group-append">
                      <button type="button" class="btn btn-default" ng-click="datePickers.dateOpened=true;"><i class="fas fa-calendar"></i></button>
                  </span>
             </div>             
            </div> 
              	    	    
             </form>           
		  
		  
		  <table class="table table-striped table-sm">
		    <tr>
		      <th sortby="date" translate="usagestats.date"></th>
		      <th sortby="object" translate="usagestats.object"></th>		      
		      <th sortby="actions.REGISTRATION.count" translate="usagestats.REGISTRATION"></th>		      
		      <th sortby="actions.LOGIN.count" translate="usagestats.LOGIN"></th>
		      <th sortby="actions.REFRESH.count" translate="usagestats.REFRESH"></th>
		      <th sortby="actions.INSTALL.count" translate="usagestats.INSTALL"></th>
		      <th sortby="actions.GET.count" translate="usagestats.GET"></th>
		      <th sortby="actions.POST.count" translate="usagestats.POST"></th>
		      <th sortby="actions.PUT.count" translate="usagestats.PUT"></th>
		      <th sortby="actions.DELETE.count" translate="usagestats.DELETE"></th>
		      
		    </tr>
		    <tr ng-repeat="entry in result| orderBy : sortby">
		      <td>{{ entry.date }}</td>
		      <td><a href="javascript:" ui-sref="^.manageapp({ appId : entry.object })">{{ entry.objectName }}</a></td>
		      <td ng-repeat="ac in actions">
		        {{ entry.actions[ac].count }}
		      </td>
		    </tr>
		  </table>
        </div>
	</div>
</div>