<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="AppsCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="apps.title"></div>
		<div class="body">
						          
            <loader busy="status.isBusy !== false">
			<p translate="apps.count" translate-value-count="{{ apps.length }}"></p>

			<table class="table table-hover clickable" ng-show="apps.length">
				
				<tr ng-repeat="app in apps | orderBy : 'name'" ng-class="{ 'table-warning' : app.status == 'UNCONFIRMED' }" ng-click="editConsent(app);">
					<td>{{ app.name }}</td>				
					<td class="status-column">
					  <span class="icon fas fa-check-circle" ng-show="app.status == 'ACTIVE'"></span>
	                  <span class="icon fas fa-question-circle" ng-show="app.status == 'UNCONFIRMED'"></span>
	                  <span class="icon fas fa-times-circle" ng-show="study.status == 'REJECTED'"></span>
	    
					</td>
					
					
				</tr>
			</table>
			
			</loader>
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading" translate="apps.services"></div>
		<div class="body">
		   <loader busy="status.isBusy !== false">
		      <table class="table table-hover clickable" ng-show="services.length">
		        <tr ng-repeat="visualization in services | orderBy : 'name'" ng-click="install(visualization)">
		          <td>
		            {{ visualization.i18n[translate.use()].name || visualization.name}}
		          </td>
		          <td class="status-column">
		            <span  class="icon fas fa-check-circle" ng-show="pluginToSpace[visualization._id]"></span>
		            <button class="btn btn-sm btn-default" ng-hide="pluginToSpace[visualization._id]" translate="{{visualization.type=='visualization'?'apps.use_btn':'apps.connect_btn'}}"></button>
		          </td>
		        </tr>
		      </table>		      
	       </loader>
		</div>
	</div>
	<div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
</div>