<div ng-controller="ConsentsCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="consents.title"></div>
		<div class="body">
		  <form class="form" ng-if="role!='RESEARCH'">
		    <div class="form-check">
		      <label class="form-check-label">
                <input class="form-check-input" type="radio" name="consenttype" value="option1" checked> <span class="margin-left" translate="consents.where_owner"></span> 
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="consenttype" value="option2" ng-click="changeView()"> <span class="margin-left" translate="consents.where_authorized"></span>
              </label>
            </div>
          </form>
		
		
            <p translate="consents.description"></p>
            <loader busy="status.isBusy !== false">
			<p translate="consents.count" translate-value-count="{{ consents.length }}"></p>

			<table class="table table-striped" ng-show="consents.length">

				<tr>
					<th sortby="name" translate="consents.name"></th>
					<th sortby="dateOfCreation" translate="consents.date_of_creation"></th>
					<th sortby="type" translate="consents.type"></th>
					<th sortby="status" translate="consents.status"></th>
					<th translate="consents.number_of_people"></th>
					<th translate="consents.number_of_records"></th>
				</tr>
				<tr ng-repeat="consent in consents | orderBy : sortby" ng-class="{ 'table-warning' : consent.status == 'UNCONFIRMED' }">
					<td><a ng-click="editConsent(consent);" href="javascript:">{{ consent.name }}</a></td>
					<td>{{ consent.dateOfCreation | date : 'dd.MM.yy' }}</td> 
					<td translate="{{ 'enum.consenttype.'+consent.type }}"></td>
					<td translate="{{ 'enum.consentstatus.'+consent.status }}"></td>
					<td>{{ consent.authorized.length }}</td>
					<td>{{ consent.records | translate }}</td>
				</tr>
			</table>

			<button class="btn btn-primary" ng-click="addConsent();" ng-show="role!='RESEARCH'" translate="consents.add_new_btn"></button>
			</loader>
		</div>
	</div>
</div>