<div ng-controller="ConsentsCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading" translate="consents.title"></div>
		<div class="body">
		  <form class="form">
		    <div class="radio">
		      <label>
                <input type="radio" name="consenttype" value="option1" checked> <span translate="consents.where_owner"></span> 
              </label>
            </div>
            <div class="radio">
              <label class="radio-inline">
                <input type="radio" name="consenttype" value="option2" ng-click="changeView()"> <span translate="consents.where_authorized"></span>
              </label>
            </div>
          </form>
		
		
            <p translate="consents.description"></p>
            <loader busy="status.isBusy !== false">
			<p translate="consents.count" translate-value-count="{{ consents.length }}"></p>

			<table class="table table-striped" ng-show="consents.length">

				<tr>
					<th translate="consents.name"></th>
					<th translate="consents.type"></th>
					<th translate="consents.status"></th>
					<th translate="consents.number_of_people"></th>
					<th translate="consents.number_of_records"></th>
				</tr>
				<tr ng-repeat="consent in consents | orderBy : 'name'" ng-class="{ 'warning' : consent.status == 'UNCONFIRMED' }">
					<td><a ng-click="editConsent(consent);" href="javascript:">{{ consent.name }}</a></td>
					<td translate="{{ 'enum.consenttype.'+consent.type }}"></td>
					<td translate="{{ 'enum.consentstatus.'+consent.status }}"></td>
					<td>{{ consent.authorized.length }}</td>
					<td>{{ consent.records | translate }}</td>
				</tr>
			</table>

			<button class="btn btn-primary" ng-click="addConsent();" translate="consents.add_new_btn"></button>
			</loader>
		</div>
	</div>
</div>