<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="ChangeLogCtrl" ng-cloak>
	
			
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		Server Change Log
		            	</div>
		            	<div class="panel-body">
		            	
		            	  <div ng-repeat="entry in changelog" class="row">
		            	    <div class="col-2"><br>{{ entry.published | date : 'dd.MM.yyyy HH:mm' }}</div>
		            	    <div class="col-10">
		            	      <div class="text-muted" translate="{{ 'changelog.'+entry.type }}"></div>
		            	      <b>{{ entry.title }}</b>
		            	      <p>{{ entry.description }}</p>
		            	    </div>
		            	  </div>
		            	</div>
		            </div>
		     
		   
</div>
		    