
	<div class="container" ng-controller="AddParticipantCtrl" ng-cloak>
		<div class="row">
			<!-- Registration -->
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:630px; padding-top:30px; margin:0 auto;">
					<div class="panel panel-primary">
		            	<div class="panel-heading">
		              		<h3 class="panel-title" translate="addparticipant.sign_up"></h3>
		            	</div>
		            	<div class="panel-body">
		            		<p ng-show="error && !error.field" translate="{{ error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
	                        </p>		                       			
	                        <p ng-show="success" translate="addparticipant.success" class="alert alert-success"></p>	
							<form name="myform" novalidate class="css-form form-horizontal" ng-submit="register()" role="form">
							
							
							 <formrow myid="studyname" label="addparticipant.study">
	                           <p class="form-control-plaintext">{{ study.name }}</p>
	                         </formrow>							
									
							<div ng-class="{ 'required' : emailNeeded() }">						  
							  <formrow myid="email" label="registration.email">
							    <input type="email" class="form-control" id="email" name="email" translate translate-attr-placeholder="registration.email" ng-required="emailNeeded()" ng-model="registration.email">
							    <formerror myid="email" type="email" message="error.invalid.email" ></formerror> 
							    <formerror myid="email" type="exists" message="error.exists.member"></formerror> 
							  </formrow>
							 </div>
							  							  
			                  <div class="required">
							  <formrow myid="firstname" label="registration.firstname"><input type="text" class="form-control" id="firstname" name="firstname" translate translate-attr-placeholder="registration.firstname" ng-model="registration.firstname" required></formrow>
							  <formrow myid="lastname" label="registration.lastname"><input type="text" class="form-control" id="lastname" name="lastname" translate translate-attr-placeholder="registration.lastname" ng-model="registration.lastname" required></formrow>
							  
							  <formrow myid="gender" label="registration.gender"><select class="form-control" id="gender" name="gender" ng-model="registration.gender" required><option value="female" translate="enum.gender.FEMALE">female</option><option value="male" translate="enum.gender.MALE"></option><option value="other" translate="enum.gender.OTHER"></option></select></formrow>
							  
							
							    <formrow myid="birthday" label="registration.birthday">
									
							      <div class="row">										
							        <div class="col-3 col-sm-3">
										<input type="text" maxlength="2" class="form-control" id="birthday" name="birthday" translate translate-attr-placeholder="registration.day" ng-model="registration.birthdayDay" required pattern="[0123]?[0-9]">
							        </div>											
									<div class="col-5 col-sm-6 selectplaceholder">
							          <select  id="birthdayMonth" class="form-control" name="birthdayMonth" ng-model="registration.birthdayMonth" required><option ng-repeat="month in months" ng-value="month" translate="{{ 'enum.month.'+month }}"></option><option value="" selected disabled hidden translate="registration.month"></option></select>
							        </div>											
							        <div class="col-4 col-sm-3">
									  <input type="text" maxlength="4" class="form-control" id="birthdayYear" name="birthdayYear" translate translate-attr-placeholder="registration.year" ng-model="registration.birthdayYear" required>
							        </div>
							     </div>
							  
							     <formerror myid="birthday" type="date" message="error.invalid.date"></formerror>                                 
							  </formrow>
													  
							  <formrow myid="language" label="registration.language"><select class="form-control" id="language" ng-model="registration.language" ng-options="lang.value as lang.name | translate for lang in languages"></select></formrow>
							  </div>
							  
							  <div ng-class="{ 'required' : addressNeeded() }">
							  <formrow myid="address1" label="registration.address"><input type="text" class="form-control" id="address1" name="address1" translate translate-attr-placeholder="registration.address_line1" ng-model="registration.address1" ng-required="addressNeeded()"></formrow>
							  <formrow myid="address2" label=""><input type="text" class="form-control" id="address2" name="address2" translate translate-attr-placeholder="registration.address_line2" ng-model="registration.address2"></formrow>
							  <formrow myid="city" label="registration.city"><input type="text" class="form-control" id="city" name="city" translate translate-attr-placeholder="registration.city" ng-model="registration.city" ng-required="addressNeeded()"></formrow>
							  <formrow myid="zip" label="registration.zip"><input type="text" class="form-control" id="zip" name="zip" translate translate-attr-placeholder="registration.zip" ng-model="registration.zip" ng-required="addressNeeded()"></formrow>
							  </div>
							 <div class="required">
							  <formrow myid="country" label="registration.country"><select class="form-control" id="country" name="country" ng-model="registration.country" required ng-options="country as ('enum.country.'+country)|translate for country in countries"></select></formrow>
							 </div> 							  
                              <formrow myid="phone" label="registration.phone"><input type="text" class="form-control" id="phone" name="phone" translate translate-attr-placeholder="registration.phone" ng-model="registration.phone"></formrow>
                              <div ng-class="{ 'required' : phoneNeeded() }">   
                              <formrow myid="mobile" label="registration.mobile_phone"><input type="text" class="form-control" id="mobile" name="mobile" translate translate-attr-placeholder="registration.mobile_phone" ng-required="phoneNeeded()" ng-model="registration.mobile"></formrow>
                             </div>
                             <formrow myid="agb" label="registration.agb">
                                 <div class="form-check">
                                   <label class="form-check-label">
                                     <input class="form-check-input" type="checkbox" id="agb" name="agb" ng-model="registration.agb">
                                     <span translate="addparticipant.hasaccepted"></span>:
                                        <a ng-click="terms({which : 'midata-terms-of-use'});" href="javascript:" translate="registration.agb3"></a>
                                   </label>
                                 </div>
                                <formerror myid="agb" type="mustaccept" message="error.missing.agb"></formerror>
                              </formrow>
                               <formrow myid="privacypolicy" label="">
                                 <div class="form-check">
                                   <label class="form-check-label">
                                     <input class="form-check-input" type="checkbox" id="privacypolicy" name="privacypolicy" ng-model="registration.privacypolicy">
                                     <span translate="addparticipant.hasaccepted"></span>:
                                        <a ng-click="terms({which : 'midata-privacy-policy'});" href="javascript:" translate="registration.privacypolicy3"></a>
                                   </label>
                                 </div>
                                <formerror myid="privacypolicy" type="mustaccept" message="error.missing.privacypolicy"></formerror>
                              </formrow>
                             
                             <button type="submit" ng-disabled="status.action=='register'" class="btn btn-lg btn-primary btn-block" translate="registration.sign_up_btn"></button>
                            </form>
		            	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
