<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Import Fitbit Data</title>
		<link rel="stylesheet" href="/shared/css/app.css">
		<link rel="stylesheet" href="css/datepicker3.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<style>
		  table .checkbox { margin:0px; }
		</style>
		<!-- jQuery needed for Bootstrap's JavaScript plugins -->
		<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" defer></script>
		<!-- Ignoring locales for now -->
		<script type="text/javascript" src="js/bootstrap-datepicker.js" defer></script>
		<script type="text/javascript" src="/shared/js/midata.js" defer></script>
		<script type="text/javascript" src="js/controller.js" defer></script>
	</head>
	<body>
		<div ng-app="fitbit" ng-controller="ImportCtrl" ng-cloak>
		   <div class="container">
			<p class="lead">Import Records from your Fitbit Account</p>
			
			<hr>
			<div class="row">
			<span class="col-sm-3">Fitbit Account:</span><span><b>{{ importer.user.fullName }}</b></</span>
			</div><div class="row">
			<span class="col-sm-3">Member since:</span><span><b>{{ importer.user.memberSince | date }}</b></span>
			</div> 
			<hr>
			<p>Please select which measurements you want to import:</p>			
			<form class="form">
			  <table class="table">
			  <tr>
			    <th>Measurement</th>
			    <th>Imported</th>
			    <th>From Date</th>
			    <th>To Date</th>
			  </tr>
			  <tr ng-repeat="measurement in importer.measurements" ng-class="{ 'success' : measurement.from > measurement.to }">
			  <td>
			  <div class="checkbox"  >
			    <label><input type="checkbox" ng-model="measurement.import">{{ measurement.name }}</label>			  
			  </div>
			  </td>
			  <td>
			   {{ measurement.imported }}
			  </td>
			  <td>
			    {{ measurement.from | date }}
			  </td>
			  <td>
			    {{ measurement.to | date }}
			  </td>
			  </tr>
			  <tr>
			    <td>
				    <div class="checkbox"  >
				      <label><input type="checkbox" ng-model="importer.autoimport">Automatically import measurements once per day</label>			  
				    </div>
			    </td>
			    <td colspan="3"></td>
			  </tr>
			  </table>
 			<button type="button" class="btn btn-primary" ng-click="submit()" ng-disabled="saving">Import data</button>
			</form>
			<hr>
			<div class="alert alert-danger alert-dismissable" ng-show="importer.error.message || importer.error.messages.length">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{importer.error.message}}</p>
				<ul>
					<li ng-repeat="err in importer.error.messages">{{err}}</li>
				</ul>
			</div>
			<p ng-show="importer.status" class="alert alert-info">{{importer.status}}</p>
			
			<div ng-show="importer.saving" class="progress">
			  <div class="progress-bar" role="progressbar" ng-style="progress()">
			    <span class="sr-only"></span>
			  </div>
			</div>
			<p ng-show="importer.saving">
			  Requested {{importer.requested}} records from Fitbit. {{importer.saved}} records saved to database.
			</p>			
		</div>
		</div>
	</body>
</html>