<div ng-controller="MembersListCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading">Member List</div>
		<div class="body">
		    <form class="css-form form-horizontal">
		      <formrow myid="role" label="Role">
		        <select class="form-control" id="role" ng-change="reload();" ng-model="criteria.role" ng-options="role for role in roles"></select>
		      </formrow>
		      <formrow myid="status" label="Status">
		        <select class="form-control" id="status" ng-change="reload();" ng-model="criteria.status" ng-options="status for status in stati"></select>
		      </formrow>
		    </form>
		            
            <loader busy="status.isBusy !== false">
			

			<table class="table table-striped">

				<tr>
					<th>midataID</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>EMail</th>
					<th>Role</th>
					<th>Status</th>
				</tr>
								
				<tr ng-repeat="member in members">
					<td><a href="javascript:">{{ member.midataID }}</a></td>
					<td>{{ member.firstname }}</td>
					<td>{{ member.lastname }}</td>
					<td>{{ member.email }}</td>
					<td>{{ member.role }}</td>
					<td><select ng-change="changeUser(member);" ng-model="member.status" class="form-control" ng-options="status for status in stati"></select></td>
				</tr>
			</table>

			
			</loader>
		</div>
	</div>
</div>