<div ng-controller="MembersListCtrl">

	<div class="panel panel-primary">
		<div class="panel-heading">Member List</div>
		<div class="body">
		    <form class="css-form form-horizontal">
		      <formrow myid="search" label="Search">
		        <select class="form-control" id="search" ng-change="reload(search);" ng-model="search" ng-options="search as search.name for search in searches"></select>
		      </formrow>
		      <formrow myid="role" label="Role" ng-show="search.changeable">
		        <select  class="form-control" id="role" ng-change="reload();" ng-model="search.criteria.role" ng-options="role for role in roles"></select>
		      </formrow>
		      <formrow myid="status" label="Status" ng-show="search.changeable">
		        <select  class="form-control" id="status" ng-change="reload();" ng-model="search.criteria.status" ng-options="status for status in stati"></select>
		      </formrow>
		      <formrow myid="lastname" label="Lastname" ng-show="search.searchable">
		        <div class="input-group">
		        <input type="text" class="form-control" id="lastname" ng-model="search.criteria.lastname" >
		        <div class="input-group-btn">
		          <button class="btn btn-primary" ng-click="reload()">Search</button>
		        </div>
		        </div>
		      </formrow>
		      <formrow myid="email" label="EMail" ng-show="search.searchable">
		        <div class="input-group">
		        <input type="text" class="form-control" id="email" ng-model="search.criteria.email" >
		        <div class="input-group-btn">
		          <button class="btn btn-primary" ng-click="reload()">Search</button>
		        </div>
		        </div>
		      </formrow>
		    </form>
		            
            <loader busy="status.isBusy !== false">
			
			<div ng-if="members.length > 10">
              <dir-pagination-controls pagination-id="membertable"></dir-pagination-controls>
             </div>

			<table class="table table-striped" ng-show="members.length">

				<tr>
					<th>midataID</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>EMail</th>
					<th>Role</th>
					<th>Status</th>
				</tr>
								
				<tr dir-paginate="member in members | itemsPerPage : 10" pagination-id="membertable">
					<td><a href="javascript:" ui-sref="^.address({ userId : member._id.$oid })">{{ member.midataID || 'none' }}</a></td>
					<td>{{ member.firstname }}</td>
					<td>{{ member.lastname }}</td>
					<td>{{ member.email }}</td>
					<td>{{ member.role }}</td>
					<td><select ng-change="changeUser(member);" ng-model="member.status" class="form-control" ng-options="status for status in stati"></select></td>
				</tr>
			</table>

            <p ng-show="members.length === 0">No matching users found.</p>
			
			</loader>
		</div>
	</div>
</div>