@(dashid: String, title: String) 
@providermain(title) {
		
    <div ng-app="patientapp">		
		
    
    @views.html.details.dashboard(dashid)
     
    </div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")" defer></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/views.js")" defer></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dashboards.js")" defer></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/members/healthprovider.js")" defer></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/members/participation.js")" defer></script>
}