@(active: String)(content: Html)

@setup(active) {
	<!-- Navbar -->
	<header id="navbar" class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
	  <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="@routes.News.index()">
           		<img width="40%" src="@routes.Assets.at("images/logo2.png")" alt="Midata.coop" />
           	</a>
		</div>
		<nav class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">            	
				<li @if("Messages".equals(active)){class="active"}><a href="@routes.ProviderFrontend.messages()">Messages</a></li>
				<li @if("Patient Search".equals(active)){class="active"}><a href="@routes.ProviderFrontend.search()">Patient Search</a></li>				
				<li @if("Market".equals(active)){class="active"}><a href="@routes.ProviderFrontend.market()">Market</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-cloak>
				<li>{{user.name}}</li>
				<li><a href="@routes.Application.logout()">
					<span class="glyphicon glyphicon-off"></span> Sign out
				</a></li>
		    </ul>
	    </nav>	    
	   </div>
	</header>
	
	<div class="container mainpart">
		@content
	</div>
	
	@footer()	
	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/navbar.js")" defer></script>
	
}