@import views.html.help.formrow
@import views.html.help.formerror
@providermain("Patient Search") {
<div ng-app="search" ng-controller="MemberSearchCtrl" ng-cloak>
	<h1>Patient Search</h1>
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="dosearch()" role="form">								  	  
	  @formrow("midataID","Midata ID") {  <input type="text" class="form-control" id="midataID" name="midataID" ng-model="criteria.midataID" > }
	  @formrow("birthday","Birthday") {  <input type="text" class="form-control" id="birthday" name="birthday" ng-model="criteria.birthday" > }							  							  	  
      @formrow("x","") {
        <button type="submit" class="btn btn-primary">Search</button>
      }
    </form>
    
    <div ng-show="member">
    <address>	
	  <strong>{{ member.firstname }} {{ member.sirname }}</strong><br>
	{{ member.address1 }}<br>
	{{ member.address2 }}<br>
	{{ member.zip }} {{ member.city }}<br>
	{{ member.country }}<br>
	  <span ng-show="member.phone">Phone: {{ member.phone }}</span><br>
	  <span ng-show="member.mobile">Mobile: {{ member.mobile }}</span><br>
	  <span ng-show="member.ssn">SSN: {{ member.ssn }}</span><br>
	  <span ng-show="member.email">Email: {{ member.email }}</span><br>
    </address>	
    </div>
    
	<p ng-show="loading">Searching...</p>
</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/providers/search.js")" defer></script>
}
