@providermain("Visualization") {

    <div ng-app="spaces" ng-controller="VisualizationCtrl">
        <div class="extraspace">
          <a ng-href="{{ memberUrl }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to records</a>
        </div>
		<!-- Visualization -->
		<p ng-hide="space.trustedUrl">Loading Visualization...</p>
		<div id="iframe-placeholder">
			<iframe id="iframe" height="600px" width="100%" ng-show="space.trustedUrl"></iframe>
		</div>
	</div>

	<!-- Load records controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/spaces.js")" defer></script>
	
}