
<div ng-controller="ChangeAddressCtrl">

	<div ng-cloak class="panel panel-primary">
		<div class="panel-heading" translate="changeaddress.title"></div>
		<div class="panel-body">
			<p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
            </p>	
            <div class="alert alert-success" ng-show="success" translate="changeaddress.success">			   
			</div>
            <p ng-show="offline" class="alert alert-danger" translate="error.offline"></p>					
			<form name="myform" novalidate class="css-form form-horizontal" ng-submit="changeAddress()" role="form">								  
			  <formrow myid="email" label="registration.email">
			    <p class="form-control-plaintext">{{  registration.email }} <button class="btn btn-sm btn-default" translate="common.change_btn" ng-click="changeEmail();"></button></p>
			  </formrow>  
			  <formrow myid="firstname" label="registration.firstname"><input type="text" class="form-control" id="firstname" name="firstname" translate translate-attr-placeholder="registration.firstname" ng-change="adrChange();" ng-model="registration.firstname" required></formrow>
			  <formrow myid="lastname" label="registration.lastname"><input type="text" class="form-control" id="lastname" name="lastname" translate translate-attr-placeholder="registration.lastname" ng-change="adrChange();" ng-model="registration.lastname" required></formrow>
			  
			  <formrow myid="gender" label="registration.gender"><select class="form-control" id="gender" name="gender" ng-change="adrChange();" ng-model="registration.gender"><option value="FEMALE" translate="enum.gender.FEMALE">female</option><option value="MALE" translate="enum.gender.MALE"></option><option value="OTHER" translate="enum.gender.OTHER"></option></select></formrow>
			  <formrow myid="birthday" label="registration.birthday" ng-if="registration.birthday">			
				  <div class="row">										
					  <div class="col-3 col-sm-3">
							<input type="text" maxlength="2" class="form-control" id="birthday" name="birthday" translate translate-attr-placeholder="registration.day" ng-change="birthChange();" ng-model="registration.birthdayDay" required pattern="[0123]?[0-9]">
					  </div>											
					  <div class="col-5 col-sm-6 selectplaceholder">
						   <select  id="birthdayMonth" class="form-control" name="birthdayMonth" ng-change="birthChange();" ng-model="registration.birthdayMonth" required><option ng-repeat="month in months" ng-value="month" translate="{{ 'enum.month.'+month }}"></option><option value="" selected disabled hidden translate="registration.month"></option></select>
					  </div>											
					  <div class="col-4 col-sm-3">
						   <input type="text" maxlength="4" class="form-control" id="birthdayYear" name="birthdayYear" translate translate-attr-placeholder="registration.year" ng-change="birthChange();" ng-model="registration.birthdayYear" required>
					  </div>
				  </div>							 
				  <formerror myid="birthday" type="date" message="error.invalid.date"></formerror>                                 
			  </formrow>
			   
			  <formrow myid="address1" label="registration.address"><input type="text" class="form-control" id="address1" name="address1" translate translate-attr-placeholder="registration.address_line1" ng-change="adrChange();" ng-model="registration.address1"></formrow>
			  <formrow myid="address2" label=""><input type="text" class="form-control" id="address2" name="address2" translate translate-attr-placeholder="registration.address_line2" ng-change="adrChange();" ng-model="registration.address2"></formrow>
			  <formrow myid="city" label="registration.city"><input type="text" class="form-control" id="city" name="city" translate translate-attr-placeholder="registration.city" ng-change="adrChange();" ng-model="registration.city"></formrow>
			  <formrow myid="zip" label="registration.zip"><input type="text" class="form-control" id="zip" name="zip" translate translate-attr-placeholder="registration.zip" ng-change="adrChange();" ng-model="registration.zip"></formrow>
			  <formrow myid="country" label="registration.country"><select class="form-control" id="country" name="country" ng-change="adrChange();" ng-model="registration.country" required><option value="CH" translate="enum.country.CH"></option></select></formrow>
                         
              <formrow myid="phone" label="registration.phone"><input type="text" class="form-control" id="phone" name="phone" translate translate-attr-placeholder="registration.phone" ng-change="adrChange();" ng-model="registration.phone"></formrow>
              <formrow myid="mobile" label="registration.mobile_phone"><input type="text" class="form-control" id="mobile" name="mobile" translate translate-attr-placeholder="registration.mobile_phone" ng-change="adrChange();" ng-model="registration.mobile"></formrow>
                         
              <button type="submit" ng-disabled="status.action=='changeAddress'" class="btn btn-primary" translate="changeaddress.update_btn"></button>
            </form>
		</div>
	</div>
</div>
