<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="ServiceLeaveCtrl">
<div class="container"><div class="row">
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:330px; padding-top:30px; margin:0 auto;">


	<div class="panel panel-primary">
		<div class="panel-heading" translate="serviceleave.title"></div>
		<div class="body">
		
		   <p translate="serviceleave.thankyou"></p>
		   
		   <div ng-show="!callback">
		     <p translate="serviceleave.continue">		   
		     </p>
		     <button type="button" class="btn btn-primary" translate="serviceleave.logout_btn" ng-click="logout();"></button>
		   </div>
		   <div ng-show="callback=='close'">
		     <button class="btn btn-primary" translate="serviceleave.goodbye_btn" ng-click="close();"></button>
		   </div>
		   
		   <div ng-show="callback && callback!='close'">
		      <p translate="serviceleave.logoutreturn"></p>
		      <button class="btn btn-primary" translate="serviceleave.return_btn" ng-click="leave();"></button>
		   </div>
		   
		</div>
	</div>
	
	</div></div></div></div>
</div>