   
<div ng-controller="AppLinkCtrl">   
   	<div class="panel panel-primary">
		<div class="panel-heading">
		  	<span translate="applink.title"></span>		  	
		</div>
		<div class="body">
	    <form name="myform" novalidate class="css-form form-horizontal" ng-submit="submit()" role="form">	
	       <loader busy="status.isBusy !== false">
	       	         	
	          <div ng-hide="selection">
	          <p translate="studyactions.empty" ng-hide="links.length"></p>
	          <table class="table table-striped table-hover" ng-show="links.length">
	            <tr>
	              <th translate="applink.target"></th>
	              <th translate="studyactions.type"></th>
	              <th translate="studyactions.validation"></th>
	              <th></th>
	            </tr>
	            <tr ng-repeat="link in links">
	              <td ng-click="select(link);">{{ link.study.code }} {{ link.study.name }} {{ link.provider.name }} {{ link.serviceApp.name }}<span ng-show="link.userLogin">({{ link.userLogin }})</span></td>
	              <td>
	                <div ng-repeat="type in link.type" translate="{{ 'studyactions.types_short.'+type }}"></span>
	              </td>
	              <td>
	                <div ng-show="link.validationResearch != 'VALIDATED'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.not_validated_research"></span>
	                </div>
	                <div ng-show="link.validationDeveloper != 'VALIDATED'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.not_validated_developer"></span>
	                </div>
	                <div ng-show="link.validationDeveloper == 'VALIDATED' && link.validationResearch == 'VALIDATED'">
	                  <span class="fas fa-check text-success"></span>
	                  <span translate="studyactions.status.validated"></span>
	                </div>
	                <div ng-if="link.linkTargetType=='STUDY'">
	                <div ng-show="link.usePeriod.indexOf(link.study.executionStatus)<0">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.study_wrong_status"></span>
	                </div>
	                <div ng-show="link.type.indexOf('REQUIRE_P')>=0 && link.study.participantSearchStatus != 'SEARCHING'">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="error.closed.study"></span>
	                </div>
	                <div ng-show="(link.type.indexOf('REQUIRE_P')>=0 || link.type.indexOf('OFFER_P')>=0) && link.study.joinMethods.indexOf('APP') < 0 && link.study.joinMethods.indexOf('APP_CODE') < 0">
	                  <span class="fas fa-times text-danger"></span>
	                  <span translate="studyactions.status.study_no_app_participation"></span>
	                </div>
	                </div>
	              </td>
	              <td>
	                <button type="button" class="btn btn-sm btn-default" ng-click="select(link);" translate="studyactions.select_btn"></button>
	                <button type="button" class="btn btn-sm btn-default" ng-click="validate(link);" translate="studyactions.validate_btn"></button>
	                <button type="button" class="btn btn-sm btn-danger" ng-click="remove(link);" translate="common.delete_btn"></button>
	              </td>
	            </tr>
	          </table>
	          <a href="javascript:" ui-sref="^.manageapp({appId:app._id})" class="btn btn-default" translate="common.back_btn"></a>
			  <button type="button" class="btn btn-primary" translate="applink.add_research_btn" ng-click="addNewResearch()"></button>
			  <button type="button" class="btn btn-primary" translate="applink.add_service_btn" ng-click="addNewService()"></button>
	          <button type="button" class="btn btn-primary" translate="applink.add_provider_btn" ng-click="addNewProvider()"></button>
	         </div>
	         <div ng-show="selection.linkTargetType=='STUDY'">
	            <formrow myid="study" label="studyactions.study">
	              <div class="row">
	               <div class="col-sm-3">
	               <input type="text" class="form-control" ng-change="studyselection()" autocomplete="off" typeahead-on-select="studyselection()" ng-model-options="{ debounce: 500 }" ng-model="selection.study.code" uib-typeahead="study.code for study in studies | filter:$viewValue | limitTo:8">
	               </div>
	               <div class="col-sm-9">
	                 <p class="form-control-plaintext">{{ selection.study.name }}</p>
	               </div>
	              </div>
	            </formrow> 	          
	            <formrow myid="app" label="studyactions.app">
	               <p class="form-control-plaintext">{{ app.filename }}</p>	               
	            </formrow>	            
	            <formrow myid="type" label="studyactions.type">
	              <div ng-repeat="type in types" class="form-check">
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" ng-disabled="checkType(app, type)" ng-checked="selection.type.indexOf(type)>=0" ng-click="toggle(selection.type, type);formChange();" >
	                  <span translate="{{ 'studyactions.types.'+type }}"></span>
	                </label>
	              </div>
	            </formrow>
	            <formrow myid="usePeriod" label="studyactions.use_period">
	              <div ng-repeat="period in periods" class="form-check">
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" ng-checked="selection.usePeriod.indexOf(period)>=0" ng-click="toggle(selection.usePeriod, period);formChange();" >
	                  <span translate="{{ 'studyactions.use_periods.'+period }}"></span>
	                </label>
	              </div>	              
	            </formrow>
	       
	             <formrow myid="x" label="">
	               <button class="btn btn-primary" type="submit" translate="common.submit_btn"></button>
	               <button class="btn btn-default" type="button" translate="common.cancel_btn" ng-click="cancel();"></button>
	             </formrow>
	           </div>
	           
	           
	           <div ng-if="selection.linkTargetType=='ORGANIZATION'">
	            <formrow myid="provider" label="applink.provider">	  				   
				   <input type="text" class="form-control" ng-model="selection.userLogin">	              	                  
	            </formrow> 	          
	            <formrow myid="app" label="studyactions.app">
	               <p class="form-control-plaintext">{{ app.filename }}</p>	               
	            </formrow>	       
	            <formrow myid="identifier" label="applink.identifier">
	               <input type="text" class="form-control" ng-model="selection.identifier">
	            </formrow>
	            <formrow myid="termsOfUse" label="applink.terms_of_use" >	    
	               <input id="termsOfUse" type="text" name="termsOfUse" class="form-control" ng-model="selection.termsOfUse" autocomplete="off" uib-typeahead="term.id as term.fullname for term in terms | filter:{fullname:$viewValue}">		    
	                  <p class="form-text text-muted" ng-show="selection.termsOfUse"><a ui-sref="^.terms({ which:selection.termsOfUse })" translate="applink.show_terms"></a></p>
	                  <p class="form-text text-muted" translate="applink.terms_of_use_hint"></p> 
	            </formrow>	            
	            <formrow myid="type" label="studyactions.type">
	              <div ng-repeat="type in types2" class="form-check">
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" ng-disabled="checkType(app, type)" ng-checked="selection.type.indexOf(type)>=0" ng-click="toggle(selection.type, type);formChange();" >
	                  <span translate="{{ 'applink.types.'+type }}"></span>
	                </label>
	              </div>
	            </formrow>
	           	       
	             <formrow myid="x" label="">
	               <button class="btn btn-primary" type="submit" translate="common.submit_btn"></button>
	               <button class="btn btn-default" type="button" translate="common.cancel_btn" ng-click="cancel();"></button>
	             </formrow>
			   </div>
			   
			   <div ng-if="selection.linkTargetType=='SERVICE'">
	            <formrow myid="serviceApp" label="applink.service_app">	   
				   <input type="text" class="form-control" ng-change="serviceappselection()" autocomplete="off" typeahead-on-select="serviceappselection()" ng-model-options="{ debounce: 500 }" ng-model="selection.serviceApp.filename" uib-typeahead="app.filename for app in apps | filter:$viewValue | limitTo:8">                       
	               
	            </formrow> 	          
	            <formrow myid="app" label="studyactions.app">
	               <p class="form-control-plaintext">{{ app.filename }}</p>	               
	            </formrow>	       	                  
	            <formrow myid="type" label="studyactions.type">
	              <div ng-repeat="type in types2" class="form-check">
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" ng-disabled="checkType(app, type)" ng-checked="selection.type.indexOf(type)>=0" ng-click="toggle(selection.type, type);formChange();" >
	                  <span translate="{{ 'applink.types.'+type }}"></span>
	                </label>
	              </div>
	            </formrow>
	           	       
	             <formrow myid="x" label="">
	               <button class="btn btn-primary" type="submit" translate="common.submit_btn"></button>
	               <button class="btn btn-default" type="button" translate="common.cancel_btn" ng-click="cancel();"></button>
	             </formrow>
	           </div>
	     
   		   </loader>
   		   </form>       
		</div>	
	</div>
	
</div>
