   
<div ng-controller="AppLinkCtrl">   
   	<div class="panel panel-primary">
		<div class="panel-heading">
		  	<span translate="applink.title"></span>		  	
		</div>
		<div class="body">
	    <form name="myform" novalidate class="css-form form-horizontal" ng-submit="submit()" role="form">	
	       <loader busy="status.isBusy !== false">
	       	         	
	          <div ng-hide="selection">
	          <p translate="studyactions.empty" ng-hide="links.length"></p>
	          <table class="table table-striped table-hover" ng-show="links.length">
	            <tr>
	              <th translate="studyactions.study"></th>
	              <th translate="studyactions.type"></th>
	              <th translate="studyactions.validation"></th>
	              <th></th>
	            </tr>
	            <tr ng-repeat="link in links">
	              <td ng-click="select(link);">{{ link.study.code }} {{ link.study.name }}</td>
	              <td>
	                <div ng-repeat="type in link.type" translate="{{ 'studyactions.types_short.'+type }}"></span>
	              </td>
	              <td>
	                <div ng-show="link.validationResearch != 'VALIDATED'">
	                  <span class="glyphicon glyphicon-remove text-danger"></span>
	                  <span translate="studyactions.status.not_validated_research"></span>
	                </div>
	                <div ng-show="link.validationDeveloper != 'VALIDATED'">
	                  <span class="glyphicon glyphicon-remove text-danger"></span>
	                  <span translate="studyactions.status.not_validated_developer"></span>
	                </div>
	                <div ng-show="link.validationDeveloper == 'VALIDATED' && link.validationResearch == 'VALIDATED'">
	                  <span class="glyphicon glyphicon-ok text-success"></span>
	                  <span translate="studyactions.status.validated"></span>
	                </div>
	                <div ng-show="link.usePeriod.indexOf(link.study.executionStatus)<0">
	                  <span class="glyphicon glyphicon-remove text-danger"></span>
	                  <span translate="studyactions.status.study_wrong_status"></span>
	                </div>
	                <div ng-show="link.type.indexOf('REQUIRE_P')>=0 && link.study.participantSearchStatus != 'SEARCHING'">
	                  <span class="glyphicon glyphicon-remove text-danger"></span>
	                  <span translate="error.closed.study"></span>
	                </div>
	                <div ng-show="(link.type.indexOf('REQUIRE_P')>=0 || link.type.indexOf('OFFER_P')>=0) && link.study.joinMethods.indexOf('APP') < 0">
	                  <span class="glyphicon glyphicon-remove text-danger"></span>
	                  <span translate="studyactions.status.study_no_app_participation"></span>
	                </div>
	                
	              </td>
	              <td>
	                <button type="button" class="btn btn-xs btn-default" ng-click="select(link);" translate="studyactions.select_btn"></button>
	                <button type="button" class="btn btn-xs btn-default" ng-click="validate(link);" translate="studyactions.validate_btn"></button>
	                <button type="button" class="btn btn-xs btn-danger" ng-click="remove(link);" translate="common.delete_btn"></button>
	              </td>
	            </tr>
	          </table>
	          <a href="javascript:" ui-sref="^.manageapp({appId:app._id})" class="btn btn-default" translate="common.back_btn"></a>
	          <button type="button" class="btn btn-primary" translate="common.add_btn" ng-click="addNew()"></button>
	         </div>
	         <div ng-show="selection">
	            <formrow myid="study" label="studyactions.study">
	              <div class="row">
	               <div class="col-sm-3">
	               <input type="text" class="form-control" ng-change="studyselection()" autocomplete="off" typeahead-on-select="studyselection()" ng-model-options="{ debounce: 500 }" ng-model="selection.study.code" uib-typeahead="study.code for study in studies | filter:$viewValue | limitTo:8">
	               </div>
	               <div class="col-sm-9">
	                 <p class="form-control-static">{{ selection.study.name }}</p>
	               </div>
	              </div>
	            </formrow> 	          
	            <formrow myid="app" label="studyactions.app">
	               <p class="form-control-static">{{ app.filename }}</p>	               
	            </formrow>	            
	            <formrow myid="type" label="studyactions.type">
	              <div ng-repeat="type in types" class="checkbox">
	                <label>
	                  <input type="checkbox" ng-disabled="checkType(app, type)" ng-checked="selection.type.indexOf(type)>=0" ng-click="toggle(selection.type, type);formChange();" >
	                  <span translate="{{ 'studyactions.types.'+type }}"></span>
	                </label>
	              </div>
	            </formrow>
	            <formrow myid="usePeriod" label="studyactions.use_period">
	              <div ng-repeat="period in periods" class="checkbox">
	                <label>
	                  <input type="checkbox" ng-checked="selection.usePeriod.indexOf(period)>=0" ng-click="toggle(selection.usePeriod, period);formChange();" >
	                  <span translate="{{ 'studyactions.use_periods.'+period }}"></span>
	                </label>
	              </div>	              
	            </formrow>
	            <!-- <formrow myid="group" label="Group" ng-show="selection.type.indexOf('DATALINK')>=0">
	              <select ng-model="selection.studyGroup" class="form-control" ng-change="changedGroup()" ng-options="group.name as group.name for group in study.groups">
	                 <option value="" translate="studyactions.allgroups"></option>
	              </select>
	            </formrow>
	            <formrow myid="shareToStudy" label="studyactions.shareback" ng-show="selection.type.indexOf('DATALINK')>=0">
	               <div class="checkbox">
	                 <label>
	                   <input type="checkbox" name="shareToStudy" id="shareToStudy" ng-model="selection.shareToStudy">
	                 </label> 
	               </div>
	             </formrow>
	             <formrow myid="restrictRead" label="studyactions.restrict" ng-show="selection.studyGroup">
	               <div class="checkbox">
	                 <label>
	                   <input type="checkbox" name="restrictRead" id="restrictRead" ng-model="selection.restrictRead">
	                 </label> 
	               </div>
	             </formrow> -->
	             <formrow myid="x" label="">
	               <button class="btn btn-primary" type="submit" translate="common.submit_btn"></button>
	               <button class="btn btn-default" type="button" translate="common.cancel_btn" ng-click="cancel();"></button>
	             </formrow>
	           </div>
	     
   		   </loader>
   		   </form>       
		</div>	
	</div>
	
</div>
