@import views.html.help.formrow
@pubmain("Research Login") {	

	<div class="container" ng-app="login" ng-controller="LoginCtrl" ng-cloak>
		<div class="row">
			<!-- Login -->
			<div class="col-sm-12">
				<div class="panel-container" style="max-width:630px; padding-top:120px; margin:0 auto;">
					<div class="panel panel-default">
		            	<div class="panel-heading">
		              		<h3 class="panel-title">Research Login</h3>
		            	</div>
		            	<div class="panel-body">
		            		<div class="alert alert-danger" ng-show="login.error">
								<p>{{login.error}}</p>
							</div>							
							<form name="form" novalidate class="css-form form-horizontal" ng-submit="dologin()" role="form">							  
							  @formrow("email","Email") {  <input type="email" class="form-control" id="email" placeholder="Email" ng-model="login.email" required> }
							  @formrow("password","Password") {  <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.password" required> }							  
                             <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                            </form>
                            <div class="margin-top">
							   <a href="@routes.Application.lostpw()">Forgot your password?</a>
							   <a href="/research/register">No Account yet?</a>
							</div>
		            	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Load login controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/research/login.js")" defer></script>
}
