@import views.html.help.formrow
@import views.html.help.formerror
@researchmain("Study Details") {

    @studynav("Study Details")
	<h1>Study Details</h1>
	<div ng-app="studies" ng-controller="RequiredInformationCtrl" ng-cloak>
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	<h2>Required demographic data</h2>
	<p class="alert alert-info">This setup cannot be changed anymore after Study has been validated.</p>
	<form name="myform" novalidate class="css-form form-horizontal" ng-submit="setRequiredInformation()" role="form">
	  @formrow("identity","Member Identity") { 
	    <div class="radio">
		 <label>
  	        <input type="radio" id="identity" name="identity" value="FULLNAME" ng-model="information.identity">
  	         Full Name
  	     </label>
  	    </div>
  	    <div class="radio">
  	     <label>
  	        <input type="radio" name="identity" value="GENDER" ng-model="information.identity">
  	         Gender only
  	     </label>
  	     </div> 
  	     <div class="radio">
  	     <label>
  	        <input type="radio" name="identity" value="NONE" ng-model="information.identity">
  	         No information (anonymized ID used for this study only)
  	     </label>
  	     </div>
      }
      @formrow("birthday", "Birthday") {
         <div class="radio">
         <label>
  	        <input type="radio" id="birthday" name="birthday" value="BIRTHDAY" ng-model="information.birthday">
  	         Exact birthday
  	     </label>
  	     </div>
  	     <div class="radio">
  	     <label>
  	        <input type="radio" name="birthday" value="AGE" ng-model="information.birthday">
  	         Age in years only
  	     </label> 
  	     </div>
  	     <div class="radio">
  	     <label>
  	        <input type="radio" name="birthday" value="NONE" ng-model="information.birthday">
  	         No age information
  	     </label>
  	     </div>
      }
      @formrow("location", "Location") {
         <div class="radio">
         <label>
  	        <input type="radio" id="location" name="location" value="ADDRESS" ng-model="information.location">
  	         Address
  	     </label>
  	     </div>
  	     <div class="radio">
  	     <label>
  	        <input type="radio" name="location" value="COUNTRY" ng-model="information.location">
  	         Country only
  	     </label> 
  	     </div>
  	     <div class="radio">
  	     <label>
  	        <input type="radio" name="location" value="NONE" ng-model="information.location">
  	         No location information
  	     </label>
  	     </div>
      }
      @formrow("contact", "Contact") {
        <div class="radio">
         <label>
  	        <input type="radio" id="contact" name="contact" value="PHONE" ng-model="information.contact">
  	         Phone &amp; Email
  	     </label>
  	     </div>
  	     <div class="radio">
  	     <label>
  	        <input type="radio" name="contact" value="EMAIL" ng-model="information.contact">
  	         Email only
  	     </label> 
  	     </div>
  	     <div class="radio">
  	     <label>
  	        <input type="radio" name="contact" value="NONE" ng-model="information.contact">
  	         Over MIDATA platform only
  	     </label>
  	     </div>
      }
      @formrow("other", "Other") {
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ssn" value="true" ng-model="information.ssn">
            Social Security Number
          </label>
        </div>
      }
      @formrow("x", "") {
        <button type="submit" class="btn btn-primary">Change</button>
      }
    </form>	
	</div>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/research/studies.js")" defer></script>
}