@(active: String) 

<ul class="nav nav-tabs">
  <li @if("Study Overview".equals(active)){class="active"}><a href="overview">Overview</a></li>
  <li @if("Study Details".equals(active)){class="active"}><a href="fields">Details</a></li>
  <li @if("Study Participation Rules".equals(active)){class="active"}><a href="rules">Rules</a></li>
  <li @if("Study Participants".equals(active)){class="active"}><a href="participants">Participants</a></li>
  <li @if("Study Messages".equals(active)){class="active"}><a href="messages">Messages</a></li>
  <li @if("Study Records".equals(active)){class="active"}><a href="records">Records</a></li>
  <li @if("Study Results".equals(active)){class="active"}><a href="results">Results</a></li>
</ul>