<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="ignore autosize" ng-controller="FlexibleRecordListCtrl">
    <loader busy="status.isBusy !== false">
    <div ng-show="records.length" class="body"><span class="dashnumber">{{ records.length }}</span> <span translate="flexiblerecords.records_available"></span></div>
    <div class="body text-center" ng-show="records.length == 0" translate="flexiblerecords.empty"></div>
    <p ng-hide="records.length" class="body teaser" translate="{{ view.teaser }}"></p>
    
    
    <ul class="list-group" ng-show="records.length > 0">
		<li class="list-group-item rotate truncate" ng-repeat="record in records | limitTo: limit">
		    <div class="float-right" ng-if="view.setup.allowRemove">
			   <button type="button" class="btn btn-sm btn-danger" ng-click="removeRecord(record)">
				  <span class="fas fa-times"></span>
			   </button>
			</div>	
		    <input type="checkbox" ng-model="record.marked" ng-if="view.setup.allowShare"/>
			<span class="badge badge-info">{{record.created | date : 'dd.MM.yy'}}</span>
			<span ng-show="record.owner != userId" class="badge badge-info">{{ record.ownerName }}</span>
			<span ng-show="record.creator != userId && record.creatorName" class="label label-info">by {{ record.creatorName }}</span>			
			<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>
												
		</li>
	</ul>
	
	<div class="footer" ng-if="view.setup.allowBrowse || view.setup.allowAdd || view.setup.allowShare">
	<a ui-sref="^.records" ng-if="view.setup.allowBrowse" class="btn btn-default" translate="flexiblerecords.browse_btn"></a>
	<button ng-click="addRecords()" ng-if="view.setup.allowAdd" class="btn btn-primary" translate="flexiblerecords.add_btn"></button>
	<button ng-click="shareRecords()" ng-if="view.setup.allowShare" class="btn btn-primary" translate="flexiblerecords.share_btn"></button>
	</div>
	</loader>
</div>