<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FHIR</title>
		
	   <!-- build:css assets/app.min.css -->
		<link rel="stylesheet" href="components/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="components/angular-chart.js/angular-chart.css" />
		<link rel="stylesheet" href="components/midata/css/app.css">
		<!-- endbuild -->
		
		<!-- build:js assets/app.min.js -->
		<script type="text/javascript" src="components/angular/angular.js" defer></script>
		<script type="text/javascript" src="components/angular-translate/angular-translate.js" defer></script>
		<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.js" defer></script>		
		<script type="text/javascript" src="components/midata/js/midata.js" defer></script>
	    <script type="text/javascript" src="components/Chart.js/Chart.js" defer></script>
        <script type="text/javascript" src="components/angular-chart.js/angular-chart.js" defer></script>
		<script type="text/javascript" src="i18n.js" defer></script>
		<script type="text/javascript" src="app.js" defer></script>
		<!-- endbuild -->
						
		<style>
		  table .checkbox { margin:0px; }
		</style>
			
	</head>
	<body>	
		<div ng-app="fhir" ng-cloak class="container">
		 <div ng-controller="ObservationCtrl">
		  		
		  <div ng-if="mode=='chart' && !data.records.length" class="row">
		    <div class="extraspace"></div>
		    <p class="col-sm-12" translate="empty"></p>
		  </div>
		  
		  <div ng-if="mode=='chart' && data.records.length" class="row">
		  <div class="col-sm-8">
		  <div ng-controller="ChartCtrl">		  
            <canvas id="line" class="chart chart-bar" data="data"
             labels="labels" legend="true" series="series"
             click="onClick">
            </canvas> 		  		  
		  </div>
          </div><div class="col-sm-4">		  		  		  		
		  		  		  		  
		  
		    <table class="table">
		      <tr ng-repeat="record in data.records | limitTo : 9">
		        <td><a href="javascript:" ng-click="showSingle(record);">{{ record.data.effectiveDateTime | date }}</a></td>
		        <td>
		            <div ng-show="record.data.component">
		              <span ng-repeat="comp in record.data.component">{{ comp.valueQuantity.value }} {{ comp.valueQuantity.unit }}
		              </span>
		            </div>
		            <div ng-show="record.data.valueQuantity">{{ record.data.valueQuantity.value }} {{ record.data.valueQuantity.unit }}</div>
                    <div ng-show="record.data.valueString">{{ record.data.valueString }}</div>
                    <div ng-show="record.data.valueCodeableConcept">{{ getCodeableConcept(record.data.valueCodeableConcept) }}</div>
                </td>      
		      </tr>
		    </table>
		  </div>
		  </div>
		 
		  
		  <div ng-if="mode=='record'">
		  	 
		    <div class="text-center" ng-show="record.data.category"><span translate="category"></span> <b>{{ getCodeableConcept(record.data.category)  }}</b></div>		    
		    <div ng-hide="record.data.component" class="text-center text-primary"><b>{{ getCodeableConcept(record.data.code)  }}</b></div>                       
            <div class="text-center lead" ng-show="record.data.valueQuantity"><span style="color: #1c4982;display: block;font-size: 80px;">{{ record.data.valueQuantity.value }}</span>{{ record.data.valueQuantity.unit }}</div>
            <div ng-show="record.data.component" class="row">
               <div ng-repeat="comp in record.data.component" class="col-xs-6">
                 <div class="text-center text-primary"><b>{{ getCodeableConcept(comp.code)  }}</b></div>
                 <div class="text-center lead">
                   <span style="color: #1c4982;display: block;font-size: 80px;">{{ comp.valueQuantity.value }}</span>{{ comp.valueQuantity.unit }}
                 </div>
               </div>
            </div>
            <div class="row" ng-show="record.data.valueString"><div class="well text-center"><b>{{ record.data.valueString }}</b></div></div>
            <div class="text-center lead" ng-show="record.data.valueCodeableConcept"><span style="color: #1c4982;display: block;">{{ getCodeableConcept(record.data.valueCodeableConcept) }}</span></div>
            <div class="text-center"><span translate="date"></span> <strong>{{ record.data.effectiveDateTime | date }}</strong></div>
            <div class="text-center" ng-show="record.data.status"><span translate="status"></span> <b translate="{{ record.data.status }}"></b></div>            
                        
          </div>
		
		
		
	   </div>
	   </div>
	</body>
</html>