<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FHIR</title>
		
	   <!-- build:css assets/app.min.css -->
		<link rel="stylesheet" href="components/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="components/angular-chart.js/angular-chart.css" />
		<link rel="stylesheet" href="components/midata/css/app.css">
		<!-- endbuild -->
		
		<!-- build:js assets/app.min.js -->
		<script type="text/javascript" src="components/angular/angular.js" defer></script>
		<script type="text/javascript" src="components/angular-translate/angular-translate.js" defer></script>
		<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.js" defer></script>		
		<script type="text/javascript" src="components/midata/js/midata.js" defer></script>
	    <script type="text/javascript" src="components/Chart.js/Chart.js" defer></script>
        <script type="text/javascript" src="components/angular-chart.js/angular-chart.js" defer></script>
		<script type="text/javascript" src="i18n.js" defer></script>
		<script type="text/javascript" src="app.js" defer></script>
		<!-- endbuild -->
						
		<style>
		  table .checkbox { margin:0px; }
		</style>
			
	</head>
	<body>	
		<div ng-app="fhir" ng-cloak class="container">
		 <div ng-controller="ObservationCtrl">
		  		
		 
         		  		  		  		
		  		  		  		  
		  
		    <table class="table">
		      <tr ng-repeat="record in data.records">
		        <td>{{ getCodeableConcept(record.data.code) }}</td>		        
		        <td>
		            <div ng-show="record.data.component">
		              <span ng-repeat="comp in record.data.component" alt="{{ getCodeableConcept(comp.code) }} "><b>{{ comp.valueQuantity.value }} {{ comp.valueQuantity.unit }}</b>
		               <span ng-hide="$last">/ </span>
		              </span>
		            </div>
		            <div ng-show="record.data.valueQuantity"><b>{{ record.data.valueQuantity.value }} {{ record.data.valueQuantity.unit }}</b></div>
                    <div ng-show="record.data.valueString"><b>{{ record.data.valueString }}</b></div>
                    <div ng-show="record.data.valueCodeableConcept"><b>{{ getCodeableConcept(record.data.valueCodeableConcept) }}</b></div>
                </td>     
                <td><button class="btn btn-default btn-xs" ng-click="showAddPopup(record)"><span class="glyphicon glyphicon-plus"></span> add</button>
                    <button class="btn btn-default btn-xs" ng-click="showDetailsPopup(record)"><span class="glyphicon glyphicon-search"></span> view</button></td>
                <td><a href="javascript:" ng-click="showSingle(record);">{{ record.data.effectiveDateTime | date }}</a></td> 
		      </tr>
		    </table>
		 
		
	   </div>
	   </div>
	</body>
</html>