<div ng-controller="PreviewCtrl">

	<div class="text-center"><img src="images/person.png" width="280"></div>
	<div ng-repeat="entry in tiles" ng-style="getStyle(entry)" ng-click="showDetailsPopup(entry)">
	  <div style="position:relative">
	    <img width="40" ng-src="{{ 'images/'+entry.icon }}">
	    <div style="position:absolute;top:0px;left:40px;width:100px">{{ entry.display }}</div>
	    <div style="position:absolute;top:20px;left:40px;width:100px">{{ entry.value }}</div>
	  </div>
	  
	</div>	    
</div>