<div ng-controller="MessagesCtrl" class="autosize">
   <div class="clearfix body">
   <div class="pull-left themeicon"><img src="/images/icons/email.png"></div>
       <p ng-hide="inbox.length">You have no new messages.</p>
	   <p ng-show="inbox.length">You have <span class="dashnumber">{{ inbox.length }}</span> new messages:</p>
   </div>
   <p ng-hide="inbox.length" class="body teaser">{{ view.teaser }}</p>
		
	<ul class="list-group" ng-show="inbox.length">
		<li class="list-group-item" ng-repeat="message in messages"><a href="javascript:;"
				ng-click="showMessage(message._id.$oid)">{{message.title}}</a>				
		</li>
	</ul>
	
	<div class="footer">
	  <a href="/members/messages/create" class="btn btn-primary">
		<span class="glyphicon glyphicon-pencil"></span> Write a new message
	  </a>
	</div>
</div>