<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="MessagesCtrl" class="autosize">
   <div class="clearfix body">
   <div class="float-left themeicon"><img src="/images/icons/email.png"></div>
       <p ng-hide="inbox.length">You have no new messages.</p>
	   <p ng-show="inbox.length">You have <span class="dashnumber">{{ inbox.length }}</span> new messages:</p>
   </div>
   <p ng-hide="inbox.length" class="body teaser">{{ view.teaser }}</p>
		
	<ul class="list-group" ng-show="inbox.length">
		<li class="list-group-item" ng-repeat="message in messages"><a href="javascript:;"
				ng-click="showMessage(message._id)">{{message.title}}</a>				
		</li>
	</ul>
	
	<div class="footer">
	  <a ui-sref="^.createmessage" class="btn btn-primary">
		<span class="fas fa-pencil-alt"></span> Write a new message
	  </a>
	</div>
</div>