<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="UserGroupsCtrl">
		
 	<div class="panel panel-primary">
		<div class="panel-heading" translate="provider_usergroups.title"></div>
		<div class="body">
      <loader busy="status.isBusy !== false">
      <table class="table" ng-show="usergroups.length > 0">
        <tr>
          <th translate="provider_usergroups.name"></th>
          <th translate="provider_usergroups.searchable"></th>
          <th translate="provider_usergroups.status"></th>  
          <th></th>        
        </tr>
        <tr ng-repeat="item in usergroups|orderBy:'name'">
          <td><a ui-sref="^.editusergroup({ groupId : item._id })">{{ item.name }}</a></td>
          <td><input type="checkbox" disabled ng-model="item.searchable"></td>
          <td translate="{{ 'enum.userstatus.'+item.status }}"></td>          
          <td><button class="btn btn-danger btn-sm" ng-show="item.status != 'DELETED'" ng-disabled="status.action=='delete'" translate="common.delete_btn" ng-click="deleteGroup(item)"></button></td>
        </tr>
      </table>
      <p ng-show="usergroups.length == 0" translate="provider_usergroups.empty"></p>
      
      <a class="btn btn-primary" translate="common.add_btn" ui-sref="^.newusergroup"></a> 
            
      </loader>		
    </div>
  </div>		

		  	
</div>