<div ng-controller="ListHealthProviderCtrl"  class="body autosize">
  <loader busy="status.isBusy !== false">
  <div ng-show="results.length > 0">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th translate="providers.name"></th>
	      <th translate="providers.status"></th>
	      <th translate="providers.confirmation_date"></th>	      	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="memberkey in results">
	      <td><a ng-click="showRecords(memberkey)" href="javascript:">{{ memberkey.name }}</a></td>	  
	      <td><span translate="{{ 'enum.consentstatus.'+memberkey.status }}"></span>
	        <button ng-show="mayConfirm(memberkey)" class="btn btn-primary btn-xs" ng-click="confirm(memberkey)" translate="providers.confirm_btn"></button>
	        <button ng-show="mayReject(memberkey)" class="btn btn-danger btn-xs" ng-click="reject(memberkey)" translate="providers.reject_btn"></button>
	      </td>	      	         
	      <td>{{ memberkey.confirmDate | date : 'dd.MM.yy' }}</td>
	    </tr>
	  </tbody>
	</table>
	</div>
  <p ng-show="results.length == 0" translate="providers.empty">    
  </p>
  <p ng-hide="results.length" class="body teaser" translate="{{ view.teaser }}"></p>
  </loader>
</div>