<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="body">
	<form class="form-horizontal" ng-submit="searchRecords()">
		<div class="form-group form-row">
			<div class="col-10">
				<input type="text" class="form-control" placeholder="Search in your records" ng-model="criteria.query" autofocus>
			</div>
			<div class="col-2">
				<button type="submit" class="btn btn-primary form-control">Search</button>
			</div>
		</div>
	</form>
	<p ng-show="newest">Showing newest records from last month:</p>
	<p ng-show="status.isBusy">Searching...</p>
	<p ng-show="!status.isBusy && foundRecords.length === 0">No records matched your search.</p>
	
	 <ul class="list-group" ng-show="!searching && foundRecords.length > 0">
		<li class="list-group-item" ng-repeat="record in filteredRecords = (foundRecords | filter:isntInSpace)">
		    <input type="checkbox" ng-model="record.checked"/>	
		    <span class="badge badge-info">{{record.created | date : 'dd.MM.yy' }}</span>					
			<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>												
		</li>
	</ul>
	<p ng-show="filteredRecords.length === 0">All found records are already in this space.</p>
		
</div>
<div class="footer">
	<button type="submit" class="btn btn-primary" ng-click="shareRecords()">Add</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>