
.margin-top { 
  margin-top:5px; 
} 

footer {
  background-color: #e0e0e0;
  border-top:1px solid #c0c0c0;
  padding-top:20px;
}

.mainpart { min-height:500px; padding-bottom:10px; }

.extraspace { margin-bottom: 10px; }

.welcome h1 { color : #000000; }
.welcome h2 { color : #000000; }

.modal-lg { width:900px }

/* body { background-color:#c6851d } */
body { background-color:#f0f0f0 }

.panel {
  background-color:#ffffff;
  -webkit-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
}

.tab-content {
   background-color:#ffffff;
  -webkit-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 4px -4px rgba(0,0,0,0.5);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #e0e0e0;
  border-top: none;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 10px;
}

.tab-pane {
  padding: 10px 15px;
}

.panel-primary .panel-heading {
  background-color:#c6851d;
  color: #ffffff;
  padding: 10px 15px;
}

.btn-primary {
  background-color: #1C4982;
  border-color: #0F376A;
}

a { color: #1C4982; }

.label-info { background-color: #E0A442; }

.btn-danger {
    background-color: #A2680A;
    border-color: #794B00;
}