<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="ProviderSearchResultsCtrl">

	<div ng-cloak class="panel panel-primary">
		<div class="panel-heading" translate="providersearch.title"></div>
		<div class="body">

			<form class="css-form form-horizontal">
				<formrow myid="name" label="providersearch.name">
				  <input type="text" class="form-control" translate translate-attr-placeholder="providersearch.name" ng-model="criteria.name"> 
				</formrow>
				<formrow myid="city" label="providersearch.city_or_zip"> 
				  <input type="text" class="form-control" translate translate-attr-placeholder="providersearch.city_or_zip" ng-model="criteria.city"> 
				</formrow>
				<formrow myid="restrict" label="" ng-show="role=='MEMBER'">
				  <div class="form-check">				
				    <label class="form-check-label">
				      <input class="form-check-input" type="checkbox" ng-model="criteria.onlymine"><span translate="providersearch.only_with_contact"></span> 
				    </label>
				  </div>
				</formrow>
				<formrow myid="x" label=""> 
				  <button ng-click="search()" class="btn btn-default" translate="common.search_btn"></button>
				</formrow>
			</form>
			
			<loader busy="status.isBusy !== false">
			<table class="table" ng-show="providers.length > 0">
	      <tr>
	        <th translate="common.user.lastname">Surname</th>
	        <th translate="common.user.firstname">Firstname</th>
	        <th translate="common.user.zip">ZIP</th>
	        <th translate="common.user.city">City</th>
	        <th translate="common.user.street">Street</th>
	        <th>-</th>
	      </tr>
	      <tr ng-repeat="provider in providers">
	        <td>{{ provider.lastname }}</td>
	        <td>{{ provider.firstname }}</td>
	        <td>{{ provider.zip }}</td>
	        <td>{{ provider.city }}</td>
	        <td>{{ provider.address1 }}</td>
	        <td><a href="javascript:" ng-click="addConsent(provider)" translate="providersearch.add_consent_btn"></a></td>
	      </tr>
	    </table>
	    
	    <p ng-show="providers.length == 0" translate="providersearch.empty_result"></p>
	    </loader>
		</div>
	</div>
</div>
