/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

.mi-mo-menu_header {
	position: absolute;
	top: 0;
	height: 162px;
	width: 100%;
	// min-width: 290px;

	background: linear-gradient(90deg, $color-brand-teal, $color-brand-blue-alt);

	.mi-at-avatar {
		position: absolute;
		left: 22px;
		top: 22px;
	}

	.mi-at-text {
		display: block;
	}

	&__data {
		position: relative;
		height: calc(100% - 22px);
		padding-top: 22px;
		padding-left: 93px;

		&_user {
			max-width: calc(100% - 40px);
			padding-top: 10px;
			padding-bottom: 15px;

			 > * {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 26px;
				padding-top: 15px;

				border-bottom: solid 1px $color-brand-white;
			}
		}

		&_connections {
			width: 100%;
			padding-top: 15px;

			li {
				span:nth-child(1) {
					width: 22px;

					float: left;
				}
			}
		}
	}

	> .mi-at-icon {
		position: absolute;
		right: 20px;
		top: 20px;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
