<div ng-controller="AdminStatsCtrl">

    <div class="panel panel-primary">
		<div class="panel-heading" translate="admin_stats.health.title"></div>
		<div class="body">
		   <table class="table table-striped table-condensed">
		     <tr>
		       <td translate="admin_stats.health.servicekey"></td>
		       <td>
		         <span class="glyphicon glyphicon-ok text-success" ng-show="health.servicekey"></span>
		         <span class="glyphicon glyphicon-remove text-danger" ng-hide="health.servicekey"></span>
		         {{ health.servicekey }}
		         <button class="btn btn-primary btn-xs" translate="admin_stats.health.requestkey_btn" ng-disabled="status.action=='key'" ng-click="requestKey()" ng-hide="health.servicekey"></button>
		       </td>
		     </tr>
		     <tr>
		       <td translate="admin_stats.health.cluster"></td>
		       <td>
		         <div ng-repeat="member in health.cluster">
		           <span class="glyphicon glyphicon-ok text-success" ng-show="member.status=='Up'"></span>
		           <span class="glyphicon glyphicon-remove text-danger" ng-hide="member.status=='Up'"></span>
		           {{ member.status }} :
		           {{ member.address }}
		         </div>		        
		     </tr>
		   </table>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_stats.title"></div>
		<div class="body">
		  <p class="lead">{{ today.date | date : 'dd.MM.yyyy HH:mm' }}</p>
		  <table class="table table-striped table-condensed">
		     <tr>
		       <th></th>
		       <th class="text-right" translate="admin_stats.value"></th>
		       <th class="text-right" translate="admin_stats.diff_yesterday"></th>
		       <th class="text-right" translate="admin_stats.diff_week"></th>
		     </tr>
		  
		     <tr class="info">
		       <td translate="admin_stats.recordCount"></td>
		       <td class="text-right">{{ today.recordCount  }}</td>
		       <td class="text-right">{{ today.recordCount - yesterday.recordCount }}</td>
		       <td class="text-right">{{ today.recordCount - week.recordCount }}</td>
		     </tr>
		     
		     
		     <tr>
		       <td translate="admin_stats.appCount"></td>
		       <td class="text-right">{{ today.appCount }}</td>
		       <td class="text-right">{{ today.appCount - yesterday.appCount }}</td>
		       <td class="text-right">{{ today.appCount - week.appCount }}</td>
		     </tr>
		     
		     <tr>
		       <td translate="admin_stats.runningStudyCount"></td>
		       <td class="text-right">{{ today.runningStudyCount }}</td>
		       <td class="text-right">{{ today.runningStudyCount - yesterday.runningStudyCount }}</td>
		       <td class="text-right">{{ today.runningStudyCount - week.runningStudyCount }}</td>
		     </tr>
		     
		     <tr>
		       <td translate="admin_stats.groupCount"></td>
		       <td class="text-right">{{ today.groupCount }}</td>
		       <td class="text-right">{{ today.groupCount - yesterday.groupCount }}</td>
		       <td class="text-right">{{ today.groupCount - week.groupCount }}</td>
		     </tr>
		     
		     <tr>
		       <td translate="admin_stats.auditEventCount"></td>
		       <td class="text-right">{{ today.auditEventCount }}</td>
		       <td class="text-right">{{ today.auditEventCount - yesterday.auditEventCount }}</td>
		       <td class="text-right">{{ today.auditEventCount - week.auditEventCount }}</td>
		     </tr>
		     		     
		     <tr>
		       <td translate="admin_stats.vRecordCount"></td>
		       <td class="text-right">{{ today.vRecordCount  }}</td>
		       <td class="text-right">{{ today.vRecordCount - yesterday.vRecordCount }}</td>
		       <td class="text-right">{{ today.vRecordCount - week.vRecordCount }}</td>
		     </tr>
		     
		     <tr>
		       <td translate="admin_stats.indexPageCount"></td>
		       <td class="text-right">{{ today.indexPageCount  }}</td>
		       <td class="text-right">{{ today.indexPageCount - yesterday.indexPageCount }}</td>
		       <td class="text-right">{{ today.indexPageCount - week.indexPageCount }}</td>
		     </tr>
		     
		     <tr>
		       <th translate="admin_stats.users"></th>
		       <th class="text-right" translate="admin_stats.value"></th>
		       <th class="text-right" translate="admin_stats.diff_yesterday"></th>
		       <th class="text-right" translate="admin_stats.diff_week"></th>
		     </tr>
		     
		     <tr ng-repeat="(role,v) in today.userCount" ng-class="{ 'info' : role == 'MEMBER' }" ng-hide="role=='ANY'">
		       <td translate="{{'enum.userrole.'+role }}"></td>
		       <td class="text-right">{{ today.userCount[role] }}</td>
		       <td class="text-right">{{ today.userCount[role] - yesterday.userCount[role] }}</td>
		       <td class="text-right">{{ today.userCount[role] - week.userCount[role] }}</td>
		     </tr>
		     
		     <tr>
		       <th translate="admin_stats.languages"></th>
		       <th class="text-right" translate="admin_stats.value"></th>
		       <th class="text-right" translate="admin_stats.diff_yesterday"></th>
		       <th class="text-right" translate="admin_stats.diff_week"></th>
		     </tr>
		     
		     <tr ng-repeat="(lang,v) in today.languages">
		       <td translate="{{'enum.language.'+lang.toUpperCase() }}"></td>
		       <td class="text-right">{{ today.languages[lang] }}</td>
		       <td class="text-right">{{ today.languages[lang] - (yesterday.languages[lang] || 0) }}</td>
		       <td class="text-right">{{ today.languages[lang] - (week.languages[lang] || 0) }}</td>
		     </tr>
		     
		     <tr>
		       <th translate="admin_stats.consents"></th>
		       <th class="text-right" translate="admin_stats.value"></th>
		       <th class="text-right" translate="admin_stats.diff_yesterday"></th>
		       <th class="text-right" translate="admin_stats.diff_week"></th>
		     </tr>
		     
		     <tr ng-repeat="(type,v) in today.consentCount">
		       <td translate="{{'enum.consenttype.'+type }}"></td>
		       <td class="text-right">{{ today.consentCount[type] }}</td>
		       <td class="text-right">{{ today.consentCount[type] - yesterday.consentCount[type] }}</td>
		       <td class="text-right">{{ today.consentCount[type] - week.consentCount[type] }}</td>
		     </tr>
		     
		  </table>
		  
	
          	
        </div>
	</div>
</div>