<div ng-hide="error.show">  
   <weight-scale style="display: block; height: 100px"
      weight={{latestMeasurement.weight}}
      bmi={{latestMeasurement.bmi}}></weight-scale>      
    <hr>  
    <div class="text-center">
    <dl>          
          <dl>{{latestMeasurement.date | date : mediumDate}}</dl>
          <dt>Weight / BMI</dt>
          <dl>{{latestMeasurement.weight  | number : 1}} kg / {{latestMeasurement.bmi | number : 1}}</dl>          
    </dl>  
    </div>
</div>
<div ng-show="error.show">
  <div class="alert alert-danger">
    {{error.msg}}
  </div>
</div>