<!DOCTYPE html>
<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->
<html lang="en">
<head>
  <head>
		<title><%= htmlWebpackPlugin.options.PLATFORM %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="MIDATA">		
	<!-- Favicon -->
   <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
   <link rel="manifest" href="/images/manifest.json">
   <script type="text/javascript" src="<%= htmlWebpackPlugin.options.BACKEND %>/api/assets/javascripts/routes" ></script>
	</head>
	<body class="<%= htmlWebpackPlugin.options.NAME %>">    
    <div id="app"></div>  
	</body>

</html>

