
<div class="ignore autosize" ng-controller="AddTaskCtrl">
  <div class="body">
    <form class="form-horizontal">
      <formrow myid="type" label="addtask.task_type">
        <select id="type" class="form-control" ng-change="prepare(task.type);" ng-model="task.type" ng-options="tasktemplate as tasktemplate.name | translate for tasktemplate in tasks"></select>
      </formrow>
      <formrow myid="title" label="addtask.task_title">
        <input type="text" class="form-control" ng-model="task.title">
      </formrow>
      <formrow myid="description" label="addtask.description">
        <textarea class="form-control" ng-model="task.description"></textarea>
      </formrow>
      <formrow myid="frequency" label="addtask.frequency">
        <select id="frequency" class="form-control" ng-model="task.frequency" ng-options="freq.value as freq.label | translate for freq in frequencies"></select>
      </formrow>
    </form>
    
  </div>
<div class="footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit()" translate="common.add_btn"></button>
	<button type="button" class="btn btn-default" data-dismiss="modal" translate="common.cancel_btn"></button>
</div>
</div>