
	<!-- Navbar -->
	<div id="navbar" class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
	  <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only" translate="navbar.toggle_navigation"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="https://www.midata.coop">
	           	  <span class="midata" id="logotype">MIDATA<span>.COOP</span></span>
	           	</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
			    <li ui-sref-active="active"><a ui-sref="member.overview" translate="navbar.me"></a></li>
            	<li ng-show="beta" ui-sref-active="active"><a ui-sref="member.dashboard({ dashId : 'overview' })" translate="navbar.overview"></a></li>            	
				<!-- <li ui-sref-active="active"><a ui-sref="member.messages">Messages</a></li> -->				
				<li ui-sref-active="active"><a ui-sref="member.records" translate="navbar.my_data"></a></li>				
				<li ui-sref-active="active"><a ui-sref="member.circles" translate="navbar.consents"></a></li>
				<li ng-hide="beta" ui-sref-active="active"><a ui-sref="member.dashboard({ dashId : 'studiessmall' })" translate="navbar.research"></a></li>
				<li ui-sref-active="active"><a ui-sref="member.dashboard({ dashId : 'help' })" translate="navbar.help"></a></li>				
			</ul>
			<!-- 
			<form class="navbar-form navbar-left" ng-submit="startSearch()">
				<div class="form-group">
					<input type="text" typeahead="res.value for res in search($viewValue)" typeahead-on-select="startSearch();" class="form-control" placeholder="Search in your data" ng-model="query">
				</div>
				<button type="submit" class="btn btn-primary">Go!</button>
			</form>
			 -->
			<ul class="nav navbar-nav navbar-right" ng-cloak>
			    <li><a>{{user.midataID}}</a></li>
				<li><a ui-sref=".user({ userId : user._id.$oid})">{{user.name}}</a></li>
				<li><a ng-click="logout()" href="javascript:">
					<span class="glyphicon glyphicon-off"></span> <span translate="navbar.sign_out"></span>
				</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	  </div>
	</div>
	
	<div class="container">
	  <div ui-view></div>
	</div>
	