<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id="maincontent">
	<div class="colored">
		<!-- Navbar -->
		<header id="navbar" class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" ng-controller="NavbarCtrl">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"
						aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
						<span class="fas fa-list"></span>
					</button>
					<a class="navbar-brand" ng-click="home('provider.patientsearch');" href="javascript:"> <span class="midata" id="logotype"><img
							src="/images/logo.png" style="height: 36px;"></span>
					</a>
				</div>
				<nav class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav mr-auto" ng-class="{'vishidden':locked()}">
						<!--  <li ui-sref-active="active"><a ui-sref="provider.messages">Messages</a></li> -->
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="provider.patientsearch" translate="provider_navbar.new_patient"></a></li>
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="provider.patients" translate="provider_navbar.patients"></a></li>
						<!-- <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="provider.dashboard({ dashId : 'research' })" translate="provider_navbar.research"></a></li>  -->
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="provider.dashboard({ dashId : 'workspace' })" translate="provider_navbar.workspace"></a></li>
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="provider.circles" translate="navbar.consents"></a></li>

						<li ui-sref-active="active" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:"
							data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="provider_navbar.org"></span><span
								class="caret"></span></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" ui-sref="provider.organization"
									translate="provider_navbar.organization"></a> <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show"
									ui-sref="provider.usergroups" translate="provider_navbar.usergroups"></a>
							</div></li>

						<!-- <li ui-sref-active="active"><a ui-sref="provider.market({ context : 'PROVIDER' })" translate="provider_navbar.market"></a></li>  -->
					</ul>
					<ul class="nav navbar-nav" ng-cloak>
						<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref=".user({ userId : user._id})">{{user.name}}</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" ng-click="logout()"
							href="javascript:"> <span class="fas fa-power-off"></span> <span translate="navbar.sign_out"></a></li>
					</ul>
				</nav>
			</div>
		</header>
	</div>
	<div class="container mainpart">
		<div ui-view></div>
	</div>
</div>
<footer id="footer">
	<div class="container">
		<p translate="footer.copyright" translate-value-now="{{ currentDate | date:'yyyy' }}"> </p>

		<ul>
			<li><a href="@HOMEPAGE" translate="footer.homepage">MIDATA Homepage</a></li>
			<li><a ui-sref=".terms({which : 'midata-terms-of-use'})"><span translate="registration.agb3">Terms of Use</span> (<span translate="enum.userrole.PROVIDER"></span>)</a></li>
			<li><a ui-sref=".terms({which : 'midata-privacy-policy'})"><span translate="registration.privacypolicy3">Privacy Policy</span> (<span translate="enum.userrole.PROVIDER"></span>)</a></li>

		</ul>
	</div>
</footer>
