<div><div id="maincontent">
	<!-- Navbar -->
	<div class="colored">
		<header ng-controller="PublicNavbarCtrl">

			<div class="cookie-bar" ng-hide="hideCookieBar">
				<div class="row align-items-center">
					<div class="col">
						<p class="cell">
							<span translate="navbar.cookiebanner">Diese Website verwendet Cookies. Weitere Informationen finden Sie unter</span> <a
								class="ctcc-more-info-link" tabindex="0" href="javascript:" ui-sref="public.terms({which : 'midata-privacy-policy'})"
								translate="navbar.privacypolicy">Datenschutzerklärung</a>.
						</p>
					</div>
					<div class="col-auto">
						<div class="cell">
							<a class="btn btn-primary" href="javascript:" ng-click="dismissCookieBar()" translate="navbar.cookiebanner_close_btn">Schliessen</a>
						</div>
					</div>
				</div>
			</div>

			<div id="pubnavbar" class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">



				<div class="container">


					<div class="navbar-header">

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"
							aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
							<span class="fas fa-list"></span>
						</button>

						<a class="navbar-brand" ui-sref="public.info"> <span class="midata" id="logotype"><img src="/images/logo.png"
								style="height: 36px;"></span>
						</a>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav mr-auto">
							<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
								ui-sref=".login({action:action})" translate="navbar.login"></a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" ng-hide="notPublic"
								ui-sref=".registration({action:action})" translate="navbar.sign_up"></a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
								ng-click="changeLanguage('en')" href="javascript:">en</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
								ng-click="changeLanguage('de')" href="javascript:">de</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
								ng-click="changeLanguage('fr')" href="javascript:">fr</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
								ng-click="changeLanguage('it')" href="javascript:">it</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
	</div>
	<div style="position: relative; overflow: hidden;">
		<!-- <h4 class="ribbon" translate="navbar.ribbon">Pilot Phase</h4>  -->

		<div ui-view></div>
	</div>
</div>
<footer id="footer">
	<div class="container">
		<p translate="footer.copyright" translate-value-now="{{ currentDate | date:'yyyy' }}">(c) ETH Zürich</p>

		<ul>
			<li><a href="https://www.midata.coop" translate="footer.homepage">MIDATA Homepage</a></li>			
			<li><a ui-sref=".terms({which : 'midata-terms-of-use'})" translate="registration.agb3">Terms of Use</a></li>
			<li><a ui-sref=".terms({which : 'midata-privacy-policy'})" translate="registration.privacypolicy3">Privacy Policy</a></li>

		</ul>
	</div>
</footer></div>