<div id="maincontent">
	<div class="colored">
		<!-- Navbar -->
		<header id="navbar" class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" ng-controller="NavbarCtrl">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"
						aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
						<span class="fas fa-list"></span>
					</button>
					<a class="navbar-brand" ng-click="home('research.studies');" href="javascript:"> <span class="midata" id="logotype"><img
							src="/images/logo.png" style="height: 36px;"></span>
					</a>
				</div>
				<nav class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav mr-auto" ng-class="{'vishidden':locked()}">
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="research.studies" translate="researcher_navbar.studies"></a></li>
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="research.circles" translate="navbar.consents"></a></li>
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="research.dashboard({ dashId : 'workspace' })" translate="researcher_navbar.workspace"></a></li>
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="research.records" translate="researcher_navbar.data"></a></li>
						<li class="nav-item" ui-sref-active="active"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref="research.organization" translate="researcher_navbar.organization"></a></li>
					</ul>
					<ul class="nav navbar-nav" ng-cloak>
						<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
							ui-sref=".user({ userId : user._id})">{{user.name}}</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" ng-click="logout()"
							href="javascript:"> <span class="fas fa-power-off"></span> <span translate="navbar.sign_out"></span>
						</a></li>
					</ul>
				</nav>
			</div>
		</header>
	</div>
	<div class="container mainpart">
		<div ui-view></div>
	</div>
</div>
<footer id="footer">
	<div class="container">
		<p translate="footer.copyright" translate-value-now="{{ currentDate | date:'yyyy' }}">(c) ETH Zürich</p>

		<ul>
			<li><a href="https://www.midata.coop" translate="footer.homepage">MIDATA Homepage</a></li>
			<li><a ui-sref=".terms({which : 'midata-terms-of-use'})"><span translate="registration.agb3">Terms of Use</span> (<span translate="enum.userrole.RESEARCH"></span>)</a></li>
			<li><a ui-sref=".terms({which : 'midata-privacy-policy'})"><span translate="registration.privacypolicy3">Privacy Policy</span> (<span translate="enum.userrole.RESEARCH"></span>)</a></li>

		</ul>
	</div>
</footer>
