
<div ng-controller="MemberDetailsCtrl" ng-cloak>    
	<div class="panel panel-primary">
	<div class="panel-heading">{{ member.firstname }} {{ member.lastname }}</div>
	<div class="panel-body">
	 <loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	 <address>	
	  <strong>{{ member.firstname }} {{ member.lastname }}</strong><br>
	<span ng-show="member.address1">{{ member.address1 }}<br></span>
	<span ng-show="member.address2">{{ member.address2 }}<br></span>
	<span ng-show="member.zip||member.city">{{ member.zip }} {{ member.city }}<br></span>
	{{ member.country }}<br>
	  <span ng-show="member.phone">Phone: {{ member.phone }}<br></span>
	  <span ng-show="member.mobile">Mobile: {{ member.mobile }}<br></span>	  
	  <span ng-show="member.email">Email: {{ member.email }}<br></span>
    </address>
      <p>Pick consent:</p>
      <div class="row">
      <div class="col-sm-7">
      <select class="form-control" ng-change="selectConsent(data.consent)" ng-model="data.consent" ng-options="consent.name for consent in consents"></select>
      </div><div class="col-sm-5">
      <button class="btn btn-default" ng-click="addData();" ng-hide="hideAdd">Share Data With Patient</button>
      
      <button class="btn btn-default" ui-sref="^.newconsent({ owner : member._id })" translate="provider_memberdetails.propose_consent"></button>
      </div>
      </div>
      </loader>
    </div>
    
    
      </div>
      
    
    <div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
       
    
    
               <div class="btn-group" ng-show="!loadingApps && apps.length > 0 && consent!=null">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="fas fa-plus"></span> Create or import a new record
					</button>
					<div class="dropdown-menu" role="menu">
						<a class="dropdown-item" ng-repeat="app in apps" href="javascript:;" ng-click="createOrImport(app)">{{app.name}}</a>						
					</div>
			   </div>
			   
			    <div class="btn-group" ng-show="!loadingVisualizations && visualizations.length > 0 && consent!= null">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="fas fa-plus"></span> Use a visualization
					</button>
					<div class="dropdown-menu" role="menu">
						<a class="dropdown-item" ng-repeat="visualization in visualizations" href="javascript:;" ng-click="useVisualization(visualization)">{{visualization.name}}</a>
					</div>
			   </div>
    <a ui-sref="^.patientsearch" class="btn btn-default">Back</a>
    
            
</div>
