
<div ng-controller="MemberDetailsCtrl" ng-cloak>    
	<div class="panel panel-primary">
	<div class="panel-heading">{{ member.firstname }} {{ member.lastname }}</div>
	<div class="panel-body">
	 <loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">
	   {{ error.message || error }}
	</p>
	 <address>	
	  <strong>{{ member.firstname }} {{ member.lastname }}</strong><br>
	<span ng-show="member.address1">{{ member.address1 }}<br></span>
	<span ng-show="member.address2">{{ member.address2 }}<br></span>
	<span ng-show="member.zip||member.city">{{ member.zip }} {{ member.city }}<br></span>
	{{ member.country }}<br>
	  <span ng-show="member.phone"><span translate="common.user.phone"></span>: {{ member.phone }}<br></span>
	  <span ng-show="member.mobile"><span translate="common.user.mobile"></span>: {{ member.mobile }}<br></span>	  
	  <span ng-show="member.email"><span translate="common.user.email"></span>: {{ member.email }}<br></span>
    </address>
      <p translate="provider_memberdetails.pick_consent">Pick consent:</p>
      <div class="row">
      <div class="col-sm-7">
      <select class="form-control" ng-change="selectConsent(data.consent)" ng-model="data.consent" ng-options="consent.name for consent in consents"></select>
      </div><div class="col-sm-5">
      <button class="btn btn-default" ng-click="addData();" ng-hide="hideAdd" translate="provider_memberdetails.share_btn">Share Data With Patient</button>
      
      <button class="btn btn-default" ui-sref="^.newconsent({ owner : member._id })" translate="provider_memberdetails.propose_consent"></button>
            
      </div>
      </div>
      </loader>
    </div>
    
    
      </div>
      
    
    <div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
    <div ng-include="'/views/shared/timeline/timeline.html'"></div>
       
                     
    <a ui-sref="^.patientsearch" class="btn btn-default" translate="common.back_btn">Back</a>
    
            
</div>
