<div class="ignore autosize" ng-controller="SmallCirclesCtrl">
    <div class="body body-center text-center" ng-show="status.isBusy">Please wait...</div>
    <div ng-show="circles.length" class="body"><span class="dashnumber">{{ circles.length }}</span> Circles available:</div>
    <div class="body text-center" ng-show="!status.isBusy && circles.length == 0">You do not have any circles.</div>
    <p ng-hide="status.isBusy || circles.length" class="body teaser">{{ view.teaser }}</p>
    <ul class="list-group" ng-show="!status.isBusy && circles.length > 0">
		<li class="list-group-item rotate truncate" ng-repeat="circle in circles | limitTo : limit">
		    <div class="pull-right" ng-if="view.setup.allowRemove">
			   <button type="button" class="btn btn-xs btn-danger" ng-click="removeRecord(record)">
				  <span class="glyphicon glyphicon-remove"></span>
			   </button>
			</div>			    			
			<span ng-show="circle.ownerName" class="label label-info">{{ circle.ownerName }}</span>					
			<a href="javascript:;" ui-sref="^.circles({ circleId : circle._id.$oid })">{{circle.name}}</a>
												
		</li>
	</ul>
	<div class="footer container">
	  
	   <div class="form-group" ng-class="{'has-error has-feedback': errors.newCircleName}">
	    <div class="col-xs-8">
	   <div class="input-group" >
          <input type="text" class="form-control" ng-model="form.newCircleName" placeholder="Circle Name">          
          <span class="input-group-btn">
             <button ng-click="createCircle();" class="btn btn-default" type="button">Add</button>
          </span>          
       </div>       
       </div>
	   <div class="col-xs-4">
	     <a class="btn btn-default" ui-sref="^.circles">Manage</a>
	   </div>
	  </div>
	</div>	
</div>