
	<div  ng-controller="AddLicenceCtrl">
		
		<div class="panel panel-primary">
		<div class="panel-heading">
		  	<p ng-hide="licence._id" translate="admin_addlicence.title1"></p>
			<p ng-show="licence._id" translate="admin_addlicence.title2"></p>
		</div>
		<div class="body">
		
		<form name="myform" novalidate role="form" class="form-horizontal" ng-submit="updateLicence()">
		  <p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
	      </p>	
	      
		  <formrow myid="appId" label="admin_addlicence.app">		     
	          <input type="text" class="form-control" ng-change="appselection(licence.appName, 'appId');" autocomplete="off" typeahead-on-select="appselection(licence.appName, 'appId')" ng-model-options="{ debounce: 500 }" ng-model="licence.appName" uib-typeahead="app.filename for app in apps | filter:$viewValue | limitTo:8" required>	          	          
	          <p class="form-text text-muted">{{ app.name }} {{ app.orgName }}</p>
		  </formrow>
		  
		  <formrow myid="licenseeType" label="admin_addlicence.licenseeType">
		    <select class="form-control" ng-model="licence.licenseeType" ng-options="entity as 'enum.entitytype.'+entity | translate for entity in entities" required></select>		 
		  </formrow>
		  
		  <formrow myid="role" label="admin_addlicence.role" ng-show="licence.licenseeType=='USER'">
		    <select class="form-control" ng-model="licence.role" ng-options="role as 'enum.userrole.'+role | translate for role in roles"></select>		 
		  </formrow>
		  
		  <formrow myid="licenseeId" label="admin_addlicence.licensee">
		    <input type="text" class="form-control" ng-model="licence.licenseeName" ng-model-options="{ debounce: 500 }" ng-change="licenseeChange()" required>
		    <p class="form-text text-muted">{{ user.firstname }} {{ user.lastname }}</p>
		    <p class="form-text text-muted">{{ usergroup.name }}</p>
		  </formrow>
		  
		  <formrow myid="expireDate" label="admin_addlicence.expireDate">
		    <div class="input-group">
				  <input type="text" id="expireDate" is-open="datePickers.dateOpened" no-time datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="dd.MM.yyyy" class="form-control" ng-model="licence.expireDate">
				  <span class="input-group-append">
                      <button type="button" class="btn btn-default" ng-click="datePickers.dateOpened=true;"><i class="fas fa-calendar"></i></button>
                 </span>
            </div>
		  </formrow>
		  		  
		  <formrow myid="x" label="">
		    <button type="submit" ng-disabled="status.action=='submit'" class="btn btn-primary" translate="common.submit_btn"></button>		    
		    <button type="button" class="btn btn-danger" ng-show="allowDelete" ng-click="doDelete()" ng-disabled="status.action=='delete'" translate="common.delete_btn"></button>
		  </formrow>
        </form>	  
		  
		
	</div>
	</div></div>