<div ng-controller="EditUserGroupCtrl">
 <div class="panel panel-primary">
  <div class="panel-heading" translate="provider_editusergroup.title">    
  </div>
  <div class="panel-body">
  <loader busy="status.isBusy !== false">
  <form name="myform" class="css-form form-horizontal" ng-submit="create()" novalidate role="form">
    <formrow id="name" label="provider_editusergroup.name">
      <p class="form-control-plaintext">{{ usergroup.name }}</p>
    </formrow>    
    <formrow id="status" label="provider_editusergroup.status">
      <p class="form-control-plaintext" translate="{{ 'enum.userstatus.'+usergroup.status }}"></p>               
    </formrow> 
  </form>	                
  
  <table class="table table-striped">
    <tr ng-repeat="member in members|filter:{status:'ACTIVE'}|orderBy:'lastname'">
      <td>{{ member.user.firstname }}</td>
      <td>{{ member.user.lastname }}</td>
      <td>{{ member.user.email }}</td>
      <td>
        <button type="button" ng-show="member.member != user._id" ng-click="removePerson(member)" class="close" aria-label="Delete"><span aria-hidden="true">&times;</span></button>
      </td>
    </tr>  
  </table>
  
  
     
	<a  ui-sref="^.usergroups" class="btn btn-default" translate="common.back_btn"></a>
	<button type="button" class="btn btn-default" ng-show="usergroup.status == 'ACTIVE'" ng-click="addPeople();" translate="editconsent.add_people_btn"></button>
	
  
  </loader>		
</div>
</div>

 <div class="panel panel-primary" ng-show="(members|filter:{status:'EXPIRED'}).length">
    <div class="panel-heading" translate="provider_editusergroup.former_members">    
    </div>
    <div class="panel-body">
  
   <table class="table table-striped">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th translate="provider_editusergroup.startDate"></th>
      <th translate="provider_editusergroup.endDate"></th>
    </tr>
    <tr ng-repeat="member in members|filter:{status:'EXPIRED'}|orderBy:'lastname'">
      <td>{{ member.user.firstname }}</td>
      <td>{{ member.user.lastname }}</td>
      <td>{{ member.user.email }}</td>
      <td>{{ member.startDate | date : 'dd.MM.yy' }}</td>
      <td>{{ member.endDate | date : 'dd.MM.yy' }}</td>      
    </tr>  
  </table>
   </div>
  </div>
<div ng-include="'/views/shared/dashboard/dashboard.html'"></div>
</div>