<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="EditUserGroupCtrl">
 <div class="panel panel-primary">
  <div class="panel-heading" translate="provider_newusergroup.title">    
  </div>
  <div class="panel-body">
   
  <form name="myform" class="css-form form-horizontal" ng-submit="create()" novalidate role="form">
    <p ng-show="error && !error.field" translate="{{ error.code }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	                          
	</p>	
    <formrow myid="name" label="provider_newusergroup.name">
      <input id="name" name="name" type="text" class="form-control" ng-model="usergroup.name" required>
    </formrow>
               	
    <button type="submit" class="btn btn-primary" translate="provider_newusergroup.create_btn"></button>
  </form>			
  </div>
 </div>
</div>
	