
<div ng-controller="ListParticipantsCtrl" ng-cloak>   
   <div class="tab-content">
    <div class="tab-pane active">
    
     <form class="css-form form-horizontal">
		      <formrow myid="search" label="studyparticipants.search_type">
		        <select class="form-control" id="search" ng-change="reload(searchName);" ng-model="searchName" ng-options="search.name as search.name | translate for search in searches"></select>
		      </formrow>	
     </form>
    
	<loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" translate="{{error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	
	<p translate="studyparticipants.total" translate-value-count="{{ total }}"></p>
	
	<div ng-show="results.length > 0">
	<div ng-if="results.length > 10">
       <dir-pagination-controls pagination-id="membertable" current-page="page.nr"></dir-pagination-controls>
    </div>
	
	
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th translate="studyparticipants.name"></th>
	      <th ng-hide="study.myRole.pseudo" translate="studyparticipants.partName"></th>
	      <th translate="studyparticipants.group"></th>
	      <th translate="studyparticipants.status"></th>
	      <th translate="studyparticipants.recruiter"></th>
	      <th></th>	      	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr dir-paginate="participant in results | itemsPerPage : 10" pagination-id="membertable" current-page="page.nr">
	      <td><a ui-sref="research.study.participant({ studyId : studyid, participantId : participant._id})">{{ participant.ownerName }}</a></td>
	      <td ng-hide="study.myRole.pseudo">{{ participant.partName }}</td>	  
	      <td><select ng-model="participant.group" class="form-control" ng-change="changeGroup(participant)" ng-options="group.name as group.name for group in study.groups"></select></td>
	      <td translate="{{ 'enum.participationstatus.'+ participant.pstatus }}"></td>
	      <td>{{ participant.recruiterName }}</td>
	      <td>
	        <button ng-show="mayApproveParticipation(participant)" ng-click="approveParticipation(participant)" class="btn btn-success btn-xs" translate="studyparticipants.accept_btn"></button>
	        <button ng-show="mayRejectParticipation(participant)" ng-click="rejectParticipation(participant)" class="btn btn-danger btn-xs" translate="studyparticipants.reject_btn"></button>
	      </td>	      	        
	    </tr>
	  </tbody>
	</table>
	</div>
	<p ng-show="results.length == 0" translate="studyparticipants.empty">	  
	</p>	
	<button ng-show="mayAddParticipants()" ui-sref="^.addparticipant"  class="btn btn-default" translate="studyparticipants.add_participant_btn"></button>
	</div></div>
		
	<div class="panel panel-primary">
		<div class="panel-heading" translate="studyparticipants.acceptall"></div>
		<div class="body">
	
	<form class="form form-horizontal">
	 
	  <formrow myid="autoJoinGroup" label="studyparticipants.group">
	    <select ng-model="acceptall.autoJoinGroup" class="form-control" ng-options="group.name as group.name for group in study.groups"></select>
	  </formrow>
	  <formrow myid="autoJoin" label="studyparticipants.autojoin">
	    <div class="checkbox">
	      <label>
	        <input type="checkbox" ng-model="acceptall.autoJoin">
	        <span translate="studyparticipants.autojoin2"></span>
	      </label>
	    </div>
	  </formrow>
	  <formrow myid="x" label="">
	    <button type="button" class="btn btn-primary" ng-disabled="status.action=='change'" translate="common.submit_btn" ng-click="acceptAll()"></button>
	    <span class="text-success" ng-show="saveOk"><span class="glyphicon glyphicon-ok"></span> <span translate="common.save_ok"></span></span>
	  </formrow>
	</form>
	</loader>
	</div>	
	</div>	
</div>
