
<div ng-controller="ListParticipantsCtrl" ng-cloak>   
   <div class="tab-content">
    <div class="tab-pane active">
	<loader busy="status.isBusy !== false">
	<p ng-show="error && !error.field" translate="{{error.code || error }}" ng-class="{ 'alert-warning' : error.level == 'warning', 'alert-danger' : !error.level }" class="alert">	   
	</p>
	<div ng-show="results.length > 0">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th translate="studyparticipants.name"></th>
	      <th translate="studyparticipants.group"></th>
	      <th translate="studyparticipants.status"></th>
	      <th translate="studyparticipants.recruiter"></th>
	      <th></th>	      	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="participant in results">
	      <td><a ui-sref="research.study.participant({ studyId : studyid, participantId : participant._id})">{{ participant.ownerName }}</a></td>	  
	      <td><select ng-model="participant.group" class="form-control" ng-change="changeGroup(participant)" ng-options="group.name as group.name for group in study.groups"></select></td>
	      <td translate="{{ 'enum.participationstatus.'+ participant.pstatus }}"></td>
	      <td>{{ participant.recruiterName }}</td>
	      <td>
	        <button ng-show="mayApproveParticipation(participant)" ng-click="approveParticipation(participant)" class="btn btn-success btn-xs" translate="studyparticipants.accept_btn"></button>
	        <button ng-show="mayRejectParticipation(participant)" ng-click="rejectParticipation(participant)" class="btn btn-danger btn-xs" translate="studyparticipants.reject_btn"></button>
	      </td>	      	        
	    </tr>
	  </tbody>
	</table>
	</div>
	<p ng-show="results.length == 0" translate="studyparticipants.empty">	  
	</p>
	</loader>
	</div>	
	</div>	
</div>
