    <div ng-controller="UseVisualizationCtrl">
        <div class="extraspace">
          <a ui-sref="^.memberdetails({ memberId : memberId })" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to records</a>
        </div>
		<!-- Visualization -->
		<div class="panel panel-primary">
		  <div class="body">
		<p ng-hide="space.trustedUrl">Loading Visualization...</p>
		<div id="iframe-placeholder">
			<iframe id="iframe" height="600px" width="100%" ng-show="space.trustedUrl"></iframe>
		</div>
		</div>
		</div>
	</div>
