    <div ng-controller="UseVisualizationCtrl">
        <div class="extraspace">
          <a ui-sref="^.memberdetails({ memberId : memberId })" class="btn btn-default"><span class="fas fa-arrow-left"></span> Back to records</a>
        </div>
		<!-- Visualization -->
		<div class="panel panel-primary">
		  <div class="body">
		    <loader busy="!space.trustedUrl">
		
		<div id="iframe-placeholder">
			<pluginframe id="iframe" height="600px" width="100%" mysrc="{{space.trustedUrl}}"></pluginframe>
		</div>
		</loader>
		</div>
		</div>
	</div>
