<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

	<!-- Content -->
	<div class="container" ng-controller="GuideCtrl">
		<div class="page-header">
		
		
			<h1>Developer's Guide</h1>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<ul class="nav nav-pills nav-flex nav-fill">
					<li class="nav-item" ng-init="tab='home'"><a ng-class="{ 'active' : tab=='home' }" class="nav-link" href="javascript:" ng-click="tab='home';">Home</a></li>
					<li class="nav-item"><a ng-class="{ 'active' : tab=='accounts' }" class="nav-link" href="javascript:" ng-click="tab='accounts';">Developer Accounts</a></li>
					<li class="nav-item"><a ng-class="{ 'active' : tab=='mobile' }" class="nav-link" href="javascript:" ng-click="tab='mobile';">Mobile Apps / External Apps</a></li>	
					<li class="nav-item"><a ng-class="{ 'active' : tab=='visualizations' }" class="nav-link" href="javascript:" ng-click="tab='visualizations';">Plugins</a></li>										
					<li class="nav-item"><a ng-class="{ 'active' : tab=='fhir' }" class="nav-link" href="javascript:" ng-click="tab='fhir';">FHIR API</a></li>
					<li class="nav-item"><a ng-class="{ 'active' : tab=='midata' }" class="nav-link" href="javascript:" ng-click="tab='midata';">MIDATA API</a></li>								
					<li class="nav-item"><a ng-class="{ 'active' : tab=='formats' }" class="nav-link" href="javascript:" ng-click="tab='formats';">Format/Content List</a></li>
				</ul>
			</div>
			<div class="col-sm-10">
				<div class="tab-content">
					<div id="home" class="tab-pane " ng-class="{ 'active in' : tab=='home' }">
					   			
						<h2>Overview</h2>
						<p>The developer's guide explains the general architecture of the
							platform, how mobile apps and plugins interact with it and 
							how plugins and mobile apps bring in and display data.
						</p>
						
						<p>For any type of development you need a <b>Developer Account</b> first.</p>
						
						
						<p>If you want to develop a SMART on FHIR app, please read
						  <a href="javascript:" ng-click="tab='mobile';">Mobile Apps / External Apps</a> and <a href="javascript:" ng-click="tab='fhir';">FHIR API</a>. You may need to look at the <a href="javascript:" ng-click="tab='formats';">Format/Content List</a>.
						</p>
						
						<p>For mobile or desktop apps in general, please read
						  <a href="javascript:" ng-click="tab='mobile';">Mobile Apps / External Apps</a>, <a href="javascript:" ng-click="tab='midata';">MIDATA API</a>, <a href="javascript:" ng-click="tab='fhir';">FHIR API</a> and <a href="javascript:" ng-click="tab='formats';">Format/Content List</a>.
						</p>
						
						<p>If you want to develop a plugin for the MIDATA platform please contact us for additional information.
						</p>
					</div>
					<div id="accounts" class="tab-pane " ng-class="{ 'active in' : tab=='accounts' }">
						<h2>Developer Accounts</h2>
						<p>If you want to develop a MIDATA plugin or mobile app you need a developer account.
						   Please click on "Sign Up" on the top of this page and create your account. Using the 
						   developer account you can register a new plugin or mobile app and manage it. 
						</p>
						<p>If you are developing a plugin you can test your development version running on your own computer 
						   using the developer portal. When you are done with development you need to send the code to us for review
						   and final integration.
						</p> 
					</div>
					<div id="fhir" class="tab-pane " ng-class="{ 'active in' : tab=='fhir' }">
						<h2>FHIR API</h2>
						<p class="alert alert-info">Please note that the API runs at <strong>{{ENV.apiurl}}/fhir</strong></p>
						<p>The platform currently implements a limited version of the <a target="_blank" href="https://www.hl7.org/fhir">FHIR</a> API and supports <a target="_blank" href="http://docs.smarthealthit.org/">SMART on FHIR</a> authentication using the <b>public standalone</b> launch sequence.</p>
						<p>Here are some links that may help you during development:</p>
						<ul>
						  <li><a target="_blank" href="https://www.hl7.org/fhir/http.html">RESTful API description from hl7</a></li>
						  <li><a target="_blank" href="https://www.hl7.org/fhir/resourcelist.html">FHIR resources list from hl7</a></li>
						  <li><a target="_blank" href="http://docs.smarthealthit.org/authorization/">SMART App Authorization Guide</a></li>
						</ul>
						<p>Here is a link to the conformance statement of the platform: <a target="_blank" ng-href="{{ENV.apiurl}}/fhir/metadata">Conformance Statement</a></p>
					</div>					
					<div id="visualizations" class="tab-pane " ng-class="{ 'active in' : tab=='visualizations' }">
						<h2>Plugins</h2>
						<p>Plugins run in the browser and have read and write access to a set of records. The set of records
						available may be changed by the user. The application developer can propose a query that - if accepted by the user - 
						determines the initially available set of records.
						</p>
						<p>The platform promises not to give data out. To adhere to that 
							promise, plugins may only connect to the web application server and not to other domains of the internet. 
						</p>
					
					    <h3>Registration using the developer account</h3>					
						<p>Each plugin needs to have an internal name that is used by the platform to identify that app.
						The plugin developer also needs to specify a public name for the marked place and a textual description, that describe
						what it does. This is shown to the user and 
						should capture the purpose and capabilities of the visualization best. </p>
						<p>To register your plugin, log in into your developer account. On the "Your Plugins" page click on "Register a new plugin" and fill out the form.
						   Choose "Visualization" as "type" of the plugin. 						   
						   Click on "Submit" when you are done.
						</p>
						<p>Plugins may be registered via your developer account but the final code version needs to be
						   deployed by us on the plugin server.</p>					
						<h4>URL</h4>
						<p>The third property that has to be specified is the URL that will be 
						called with the records selected to be displayed by the app. The URL is 
						relative to the visualization's base directory and can be chosen 
						arbitrarily. It only has to include a part that contains the string
						<code>:authToken</code>. This part will be replaced with an authentication token that needs
						to be passed to the server with every API request.</p>
						<p>So if the main file in located in a 'dist' subdirectory and is called index.html your URL may look like this:</p>
						<pre>dist/index.html#:authToken</pre>
						<h3>Creating new Records</h3>
						<p class="alert alert-info">Please note that the API runs at <strong>{{ENV.apiurl}}</strong></p>
						<p>The Endpoint is at:</p>
						<pre><i>POST</i> /v1/plugin_api/records/create</pre>
						<p>For a detailed description of the parameters see <a ng-click="tab='midata'">MIDATA API</a>.</p>
						<h3>Retrieving existing records</h3>
						<p>The Endpoint is at:</p>
						<pre><i>POST</i> /v1/plugin_api/records/search</pre>
						<p>For a detailed description of the parameters see <a ng-click="tab='midata'">MIDATA API</a>.</p>
						<h3>Writing a configuration object</h3>
						<p>Each plugin may store a configuration JSON on the server. This piece of information may only be read by the plugin itself and is updateable.
						To store a configuration call:
						</p>
						<pre><i>POST</i> /v1/plugins_api/config/set</pre>
						<p>Pass these parameters as JSON body:</p>
<pre>{
  "authToken" : The authentication token you got
  "config" : A JSON object you want to store as your configration
}</pre>
                        <p>You will receive an empty status 200 response.</p>
						<h3>Reading your configuration object</h3>
						<p>To read a configutation object previously stored, call:</p>
						<pre><i>POST</i> /v1/plugins_api/config/get</pre>
						<p>with this JSON body:</p>
<pre>{
  "authToken" : The authentication token you got
}</pre>						
                        <p>As response you will receive your configuration JSON back. If no configuration
                        has been stored you will receive an empty status 200 response.</p>						
						<h3>Cloning your plugin with a different configuration</h3>
						<p>Your plugin may clone itself with a different configuration and dashboard tile title. To do this call:
						<pre><i>POST</i> /v1/plugins_api/clone</pre>
						<p>Use these parameters as JSON body:</p>
<pre>{
  "authToken" : The authentication token you got
  "name" : A title for the new dashboard tile
  "config" : A JSON object you want to store as configration for the new plugin instance
}</pre>						
						
					</div>
					<div id="mobile" class="tab-pane " ng-class="{ 'active in' : tab=='mobile' }">
						<h2>Mobile Apps / External Apps</h2>
						<p>Mobile Apps are external applications that provide and/or query records from the platform.</p>
						<h3>Registration using the developer account</h3>					
						<p>Each app needs to have an internal name that is used by the platform to identify that app.
						The app developer also needs to specify a public name for the marked place and a textual description, that describe
						what it does. Also a secret key needs to be entered that is known to the mobile app but should not be made public.</p>
						<p>To register your app, log in into your developer account. On the "Your Plugins" page click on "Register a new plugin" and fill out the form.
						   Choose "Mobile App" as "type" of the plugin. 						   
						   Click on "Submit" when you are done.
						</p>
						<p>If you want to use SMART on FHIR authentication the <b>Internal Name</b> must match the <code>client_id</code> parameter your app will send during authentication. For the MIDATA API it must match the <code>appname</code> parameter during authentication.</p>
						<p>The <b>Application Secret</b> is required for authentication with the MIDATA API and for SMART on FHIR <b>confidential</b> launch.
						You can choose the secret freely.
						</p>
						<p>The <b>Redirect URI</b> is used for the SMART on FHIR <b>public</b> launch sequence. The redirect URI must match the redirect URI your app will provide during authentication.</p>				
						<h3>API</h3>
						<p>
						  For the development of mobile/external apps you may use the <a href="javascript:" ng-click="tab='fhir';">FHIR API</a> and/or the <a href="javascript:" ng-click="tab='midata';">MIDATA API</a>. 
						  The session and refresh tokens obtained from the SMART on FHIR authentication are also useable the the MIDATA API and
						  tokens obtained from the MIDATA API are useable with the FHIR API.
						</p>		
					</div>
					<div id="midata" class="tab-pane " ng-class="{ 'active in' : tab=='midata' }">
					    <h2>MIDATA API</h2>
						<p class="alert alert-info">Please note that the API runs at <strong>{{ENV.apiurl}}</strong></p>										
                        <h3>Authentication (Login)</h3>						
						<p>A mobile app needs to authenticate using a users credentials to the platform before providing or querying records.
						To authenticate call:</p> 
						<pre><i>POST</i> /v1/auth</pre>
						<p>with these parameters as JSON body:</p>
<pre>{ 
      "appname" : internal name of the application,
      "secret" : the secret key that has been chosen on the development portal,
      "device" : a string that identifies the device,  
      "username" : the email of the user, 
      "password" : password of user,
      "role" : the role of the user (optional, default is "member") 
}</pre>						
                        <p>The <code>device</code> string may be generated from a unique device ID or may be some random string that is stored on the device. Must not be shorter than 10 characters.</p>
					    <p>As result you either get a 400 status with an error message or a session tokens that can be used for further requests.</p>
					    <p>Possible values for <code>role</code> are:
					    <ul>
					      <li><code>member</code> for members of the cooperative (default value)</li>
					      <li><code>provider</code> for healthcare providers</li>
					      <li><code>developer</code> for developers</li>
					      <li><code>research</code> for researchers</li>
					    </ul>
						<p>An example response looks like this:</p>
<pre>{
      "authToken" : "014760...",
      "refreshToken" : "6756756756....",
      "status" : "ACTIVE",
      "owner" : "4563453454"
}</pre>
                        <p>After the first login of a user using the mobile app a new "<b>consent</b>" is automatically created in the users MIDATA account.
                           This consent may be used by the user to select which data he/she wants to share with your mobile app.
                           As long as this consent has not been accepted by the member it does not share any data so that your app will see a blank account. The app is not allowed to create
                           records until the consent is confirmed.
                        </p>  
                        <p>If the consent has been accepted the returned <code>status</code> is <i>ACTIVE</i> otherwise it is <i>UNCONFIRMED</i>, <i>REJECTED</i> or <i>EXPIRED</i>.</p> 
                        <p>The "<code>password</code>" is the same password as used for the portal.                            
                        </p>
                        <p>The "<code>authToken</code>" needs to be passed to all other API functions for authentication. The "<code>refreshToken</code>" may be used to skip the login process the next time.
                        To reauthenticate issue this request:</p>
                        <pre><i>POST</i> /v1/auth</pre>
						<p>with these parameters as JSON body:</p>
<pre>{ 
      "appname" : internal name of the application,
      "secret" : the secret key that has been chosen on the development portal  
      "refreshToken" : the refresh token from last login 	  
}</pre>                
                        <p>The result is the same as for the initial login. Please note that a new refreshToken will be returned every call to /v1/auth and only the last returned token is valid.
                           Previously returned refreshTokens are invalidated.                           
                        </p>  
                        
                        <p>The "<code>owner</code>" is the ID of the current user.</p>
                        <p>The "<code>status</code>" is <i>ACTIVE</i> if the consent has been accepted by the user. Initially it is <i>UNCONFIRMED</i> and may become <i>REJECTED</i> or <i>EXPIRED</i>.</p> 
                        <p>API calls will return a status code of <code>401</code> if a relogin is required.</p>
                                                                                        
						<h3>Creating new records</h3>
						<p>To create a new record call this endpoint:</p>
						<pre><i>POST</i> /v1/records/create</pre>
						<p>The request needs a JSON body with these parameters:</p>
<pre>{
     "authToken" : the token from the authentication request, 
     "name" : a name for the record, 
     "description" : a description for the record,
     "format" : a string describing the technical data format,   
     "code" : a string or an array of strings describing the data content (each string contains system and code),
     "owner" : the id of the owner of the record. (optional, default is "self")
     "data" : JSON string containing the record itself 
}</pre>		
<p>For a list of available values for code see <a href="javascript:" ng-click="tab='formats';">Format/Content List</a>
                        <p>If the operation is successful the API call will return with status code <code>200</code> and a JSON body like this:</p>
<pre>{
     "_id": the id of the new record
     "created": the creation timestamp of the new record (in milliseconds after 01.Jan.1970 UTC)
}</pre>
<p>In order to create a record for another account than the logged in used these conditions must be met:
  <ul>
    <li>The id of the user the record should be created for must be passed as "owner" field</li>
    <li>The logged in user must have role "provider", e.g it must be a healthcare provider</li>
    <li>The "owner" of the record must have an active consent with the logged in healthcare provider</li> 
  </ul>
</p>                         				

						<h3>Updating an existing record</h3>
						<p>In order to update an existing record call this endpoint:</p>
						<pre><i>POST</i> /v1/records/update</pre>
						<p>The request needs a JSON body with these parameters:</p>
<pre>{
     "authToken" : the token from the authentication request, 
     "_id" : the identifier of the record you want to change, 
     "version" : the version field of the record that you have read before     
     "data" : JSON string containing the new content of the record itself 
}</pre>						
                        <p>To update a record you first need to read it, so that you know the <code>_id</code> and <code>version</code> of the particular record. 
                           During the update a new version is assigned to the record. The update operation will fail with a HTTP status code of <code>409</code>(Conflict) if the records version field does not match the version field stored in the database. 
                           So the call will fail if the record has been modified by another API call since your last read.
                        </p>
                        <p>Only the data of a record may be changed. The other fields as format or name are immutable.</p> 
                        <p>After a successful update the new version string will be returned together with HTTP status <code>200</code>:</p>
<pre>{
     "version" : "12345"
}</pre>                        

                        <h3>Retrieving existing records</h3>
                        <p>To retrieve records call this endpoint:</p>
                        <pre><i>POST</i> /v1/records/search</pre>
                        <p>The request needs a JSON body with these parameters:</p>
<pre>{
     "authToken": the token from the authentication request,
     "fields" : a string array of field names to return,
     "properties" : a key-value map with restrictions. (May be empty) 
}</pre>           
<p>Possible values for <code>fields</code> are:
  <ul>  
    <li><code>_id</code> - the internal id of the record</li>    
    <li><code>owner</code> - the id of the owner of the record (or null if not public)</li>
    <li><code>ownerName</code> - the owner of the record as string (firstname lastname)</li>
    <li><code>creator</code> - the id of the creator of the record (or null if not public)</li>
    <li><code>creatorName</code> - the creator of the record as string (firstname lastname)</li>
    <li><code>format</code> - the technical format of the record</li>
    <li><code>content</code> - the semantical format of the record (see <a href="javascript:" ng-click="tab='formats';">Format/Content List</a>)</li>
    <li><code>code</code> - the exact codes using a codesystem for the semantical format of the record (example "http://loinc.org 3141-9")</li>
    <li><code>group</code> - the name of the group where this record is listed in the data tree</li>
    <li><code>app</code> - the id of the app that created this record</li>
    <li><code>created</code> - the date of creation of this record</li>
    <li><code>name</code> - the name of this record</li>
    <li><code>description</code> - the description of this record</li>
    <li><code>tags</code> - an array of tags for this record</li>
    <li><code>version</code> - a string identifying the current version of this record</li>
    <li><code>data</code> - the data of this record as string or json</li>
 </ul>
<p>Each key in the properties map restricts the returned records by one criteria.</p>
<p>Each values in the properties map may be either a single value or an array of multiple values.
In the array case each record must match one entry in the array to qualify for the query.</p>
<p>Possible keys for <code>properties</code> are: (only those listed that are currently supported)
  <ul>  
    <li><code>_id</code> - (id) restrict by id of the record</li>        
    <li><code>owner</code> - (id/string) restrict by owner id of the record. The following special string values are allowed as value for this restriction:
       <ul>
         <li><code>self</code> - only records from the account owner</li>
         <li><code>other</code> - only records not from the account owner</li>
         <li><code>shared</code> - only records from the account owner that have been shared</li>         
       </ul>
    </li>           
    <li><code>format</code> - (string) the technical format of the record</li>
    <li><code>content</code> - (string) the semantical format of the record (similar values use same name, example: <i>"body/weight"</i>)</li>
    <li><code>code</code> - (string) the semantical format code of the record (example: <i>"http://loinc.org 3141-9"</i>)</li>
    <li><code>app</code> - (id or string) the id or internal name of the app that created the record.</li>
    <li><code>group</code> - (string) the group of the record may be one of the given groups or a child of those.</li>
    <li><code>group-system</code> - (string) the grouping system to be used. ("v1" is the name of the current default system) </li>
    <li><code>group-strict</code> - (string) the group of the record must be one of the given groups.</li>
    <li><code>group-exclude</code> - (string) the group of the record must NOT be one of the given groups or a child of those.</li>    
    <li><code>created-after</code> - (date) only records created after the given date/time</li>
    <li><code>created-before</code> - (date) only records created earlier than the given date/time</li>
    <li><code>updated-after</code> - (date) only records last updated after the given date/time</li>
    <li><code>updated-before</code> - (date) only records last updated earlier than the given date/time</li>
    <li><code>max-age</code> - (integer) only records not older than the given amount of seconds</li>
    <li><code>creator</code> - (id) only records with a specific creator</li>
    <li><code>limit</code> - (integer) the maximum count of records you want to receive</li>
    <li><code>sort</code> - (field name asc/desc) sort results ascending or descending by a field. Use prefix <code>data.</code> to sort by a field inside the record content.</li>
    <li><code>data</code> - (JSON expression) restriction on the record content</li>
    <li><code>index</code> - (JSON expression) restriction on the record content, backed up by an index
    <li><code>version</code> - (string) return a specific version of the queried record</li>
    <li><code>history</code> - (boolean) return the history of the queried records</li>     
 </ul>
 <p>The response to the query is an array of records having only the fields you requested.</p>  
 <p>You directly restrict on the content of the record using the "<code>data</code>" or "<code>index</code>" property. As value for the property pass
 an expression like a mongoDB query.</p>
 <p>Example: select records with "format"="fhir/Observation" who belong to the users account and have content with a
  field "status" with value either "final" or "preliminary" and a field "valueQuantity" with an object with field "value" which
  needs to have a value greater than 1000.</p> 
 <pre>{
     "authToken": "absdfsdfsef2456",
     "fields" : ["name", "data"],     
     "properties" : { 
        "format" : "fhir/Observation",
        "owner" : "self",
        "data" : {
          "status" : { "$in" : ["final", "preliminary"] },
          "valueQuantity" : { "value" : { "$gt" : 1000 } }
        }
     } 
}  
 </pre>   
 <p>Supported operators are a subset of operators supported by mongoDB. Currently working operators are:
 <ul>
   <li><code>$gt</code> - greater than</li>
   <li><code>$ge</code> - greater or equal</li> 
   <li><code>$lt</code> - less than</li>
   <li><code>$le</code> - less or equal</li>
   <li><code>$ge</code> - greater or equal</li>
   <li><code>$in</code> - one of the values in the array</li>
 </ul>
 Please tell us if you need another operator from mongoDB. 
 </p>
<p>If you need to search a probably large number of records try to use the "index" property for the restriction instead of the "data" property. This will
use or create an index. <b>This feature is still experimental, contact us on how you want to use it.</b>
</p>
<p>Example query using index: (get records with format=fhir/Observation with a field "effectiveDateTime" with a date between 01.01.2015 and 01.01.2016(excluded) and a field status with values "preliminary" or "final". Use an index for "effectiveDateTime")</p>
<pre>{
     "authToken": "absdfsdfsef2456",
     "fields" : ["name", "data"],     
     "properties" : { 
        "format" : "fhir/Observation",       
        "index" : {
          "effectiveDateTime" : { "$ge" : "2015-01-01", "$lt" : "2016-01-01" }          
        },
        "data" : {
          "status" : { "$in" : ["final", "preliminary"] },
        }
     } 
}  
 </pre>   













<h3>Summary Query</h3>
  <p>If the app needs an overview about how many records are there, what formats or groups they belong to and/or how old
     they are a summary query may help. Please note that on larger data sets a summary query will be executed much faster than
     a regular query.</p>
  <p>For a summary query call this endpoint:</p>
  <pre><i>POST</i> /v1/records/summary</pre>
                        <p>The request needs a JSON body with these parameters:</p>
<pre>{
     "authToken": the token from the authentication request,
     "summarize" : the level of grouping required,
     "properties" : a key-value map with restrictions. (May be empty) 
}</pre>           
<p>Possible values for <code>summarize</code> parameter are:
  <ul>  
    <li><code>ALL</code> - returns one entry summarizing everything</li>    
    <li><code>GROUP</code> - returns one entry for each group</li>
    <li><code>FORMAT</code> - returns one entry for each format used</li>
    <li><code>CONTENT</code> - returns one entry for each content (type) used</li>
    <li><code>SINGLE</code> - returns one entry for each different type of record</li>    
 </ul>
<p>Each key in the properties map restricts the returned records by one criteria.</p>
<p>Each values in the properties map may be either a single value or an array of multiple values.
In the array case each record must match one entry in the array to qualify for the query.</p>
<p>Possible keys for <code>properties</code> are: (only those listed that are currently supported)
  <ul>      
    <li><code>format</code> - (string) the technical format of the record</li>
    <li><code>content</code> - (string) the semantical format of the record</li>
    <li><code>group</code> - (string) the group of the record may be one of the given groups or a child of those.</li>
    <li><code>app</code> - (string) the app that created the record</li>       
 </ul>
 <p>The response to the query is an array of information objects looking like that:</p>  
<pre>
 [
   {
      "count" : 10000,
      "oldest" : 1442491494782,
      "newest" : 1442491882705,
      "calculated" : 1447336206527,
      "formats" : ["measurements"],
      "contents" : ["food/water"],
      "groups" : ["nutrition"],
      "apps" : ["abc1234"],
      "newestRecord" : "midata:/55faadeae4b0b22590969f44"
   },
   {
      "count" : 101,
      "oldest" : 1442491223087,
      "newest" : 1442491287684,
      "calculated" : 1447336206862,
      "formats" : ["measurements"],
      "contents" : ["activities/fairly-active","activities/more-active"],
      "apps" : ["abc123"],
      "groups": ["movement"],
      "newestRecord" : "midata:/55faab97e4b0b2259096744a"
   }
 ]
</pre>                                  
<p>The grouping of records into summary objects depend on the "summarize" parameter. In the example they are summarized by "GROUP". 
   The meaning of the fields are:</p>
<ul>
  <li><code>count</code> The number of records</li>
  <li><code>oldest</code> timestamp of the oldest record</li>
  <li><code>newest</code> timestamp of the newest record</li>
  <li><code>calculated</code> calculation timestamp (internally used)</li>
  <li><code>formats</code> list of different formats of the records summarized in this entry</li>
  <li><code>contents</code> list of different contents of the records summarized in this entry</li>
  <li><code>groups</code> list of different groups of the records summarized in this entry</li>
  <li><code>newestRecord</code> _id of newest record in this group. May be used to fetch it in a separate search query</li> 
</ul>   
   
   
   
   
   
   
                                   
					</div>
					<div id="formats" class="tab-pane " ng-class="{ 'active in' : tab=='formats' }">
						<h2>List of formats, contents and codes</h2>
						<p>The list of supported data formats is directly queried from the server and may be extended any time.</p>
						<h3>Possible value for "format" field</h3>
						<p>These technical data formats are currently recognized by the server. The list contains development artifacts and may be cleaned up in the future.</p>
						<table width="100%">		
						  <tr>
						    <th>Format Name</th>
						    <th>Comment</th>
						    <th>Default Plugin used</th>
						  </tr>
						  <tr ng-repeat="format in formats | orderBy : 'format'">
						    <td><code>{{ format.format }}</code></td>
						    <td>{{ format.comment }}</td>
						    <td>{{ format.visName }}</td>
						  </tr>
						</table>
						<h3>Possible values for "code" fields</h3>
						<p>All content codes have the format "&lt;system&gt; &lt;code&gt;" where <i>system</i> is the name of the code system used and <i>code</i> is a code from the system.</p>
						<p>Codes need to be preregistered into the platform to be accepted.</p> 
						 						
						<table width="100%">						 
						  <tr>
						    <th>System</th>
						    <th>Code</th>						    
						    <th>Midata Content Type</th>
						    <th>Display Name</th>
						    
						  </tr>
						  <tr ng-repeat="code in codes | orderBy : 'code'">
						    <td><code>{{ code.system }}</code></td>
						    <td><code>{{ code.code }}</code></td>
						    <td>{{ code.content }}</td>
						    <td>{{ code.display }}</td>
						  </tr>
						</table>
						
						<h3>Possible values for "content" fields</h3>
						<table width="100%">						 
						  <tr>
						    <th>Name</th>						    
						    <th>Label</th>
						    <th>Default Code</th>						    
						  </tr>
						  <tr ng-repeat="content in contents | orderBy : 'content'">
						    <td><code>{{ content.content }}</code></td>
						    <td>{{ content.label["en"] }}</td>
						    <td>{{ content.defaultCode }}</td>
						  </tr>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</div>
