<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-controller="SmallStudiesCtrl" ng-cloak class="autosize body">
    <loader busy="status.isBusy !== false">
    <div class="">
    <ul class="borderless nav nav-tabs">
  <li class="nav-item" role="presentation"><a ng-class="{'active' : tab==0 }" class="nav-link" href="javascript:" ng-click="setTab(0)" translate="smallstudies.recruiting">Home</a></li>
  <li class="nav-item" role="presentation"><a ng-class="{'active' : tab==1 }"class="nav-link" href="javascript:" ng-click="setTab(1)" translate="smallstudies.ongoing">Profile</a></li>
  <li class="nav-item" role="presentation"><a ng-class="{'active' : tab==2 }" class="nav-link" href="javascript:" ng-click="setTab(2)" translate="smallstudies.completed">Messages</a></li>
  <li class="nav-item" role="presentation"><a ng-class="{'active' : tab==3 }" class="nav-link" href="javascript:" ng-click="setTab(3)" translate="smallstudies.stopped">Messages</a></li>
    </ul>
    </div>
     <div class="tab-content">
	    <div class="tab-pane active">	
	<div class="" ng-show="filteredStudies.length > 0">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th translate="smallstudies.studies"></th>
	      <th class="status-column" translate="smallstudies.status"></th>	      	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="clickable" ng-repeat="study in filteredStudies = (results|filter : selection | orderBy : 'createdAt' : true )" ui-sref="^.studydetails({ studyId : study.study })">
	      <td>	         
	         <b>{{ study.studyName }}</b> - <span class="small text-muted" translate="{{ 'enum.studytype.'+study.type }}"></span>
	         <p>{{ getSummary(study) }}</p>
	      </td>	  
	      <td class="status-column">
	        <span class="icon fas fa-check-circle" ng-show="study.pstatus == 'ACCEPTED'"></span>
	        <span class="icon fas fa-question-circle" ng-show="study.pstatus == 'REQUEST'"></span>
	        <span class="icon fas fa-times-circle" ng-show="study.pstatus == 'MEMBER_REJECTED' || study.pstatus == 'RESEARCH_REJECTED'"></span>
	        <button ui-sref="^.studydetails({ studyId : study.study })" class="btn btn-small btn-default" ng-show="study.pstatus == 'MATCH'" translate="smallstudies.infoapply">apply</button>
	        <button ui-sref="^.studydetails({ studyId : study.study })" class="btn btn-small btn-default" ng-show="study.pstatus == 'INFO'" translate="smallstudies.infoonly">info</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
	</div>
	<div class="section" ng-show="filteredStudies.length == 0">
	  <div class="extraspace"></div>
	  <span translate="flexiblestudies.empty"></span>	  
	</div>	
	 </div>
	 </loader>
</div>