<div ng-controller="SmallStudiesCtrl" ng-cloak class="autosize body">
    <loader busy="status.isBusy !== false">
    <div class="">
    <ul class="borderless nav nav-tabs">
  <li role="presentation" ng-class="{'active' : tab==0 }"><a href="javascript:" ng-click="setTab(0)" translate="smallstudies.recruiting">Home</a></li>
  <li role="presentation" ng-class="{'active' : tab==1 }"><a href="javascript:" ng-click="setTab(1)" translate="smallstudies.ongoing">Profile</a></li>
  <li role="presentation" ng-class="{'active' : tab==2 }"><a href="javascript:" ng-click="setTab(2)" translate="smallstudies.completed">Messages</a></li>
  <li role="presentation" ng-class="{'active' : tab==3 }"><a href="javascript:" ng-click="setTab(3)" translate="smallstudies.stopped">Messages</a></li>
    </ul>
    </div>
     <div class="tab-content">
	    <div class="tab-pane active">	
	<div class="" ng-show="filteredStudies.length > 0">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th translate="smallstudies.studies"></th>
	      <th class="status-column" translate="smallstudies.status"></th>	      	     
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="clickable" ng-repeat="study in filteredStudies = (results|filter : selection)" ui-sref="^.studydetails({ studyId : study.study })">
	      <td>
	         <b>{{ study.studyName }}</b>
	         <p>{{ study.description }}</p>
	      </td>	  
	      <td class="status-column">
	        <span class="icon glyphicon glyphicon-ok-sign" ng-show="study.pstatus == 'ACCEPTED'"></span>
	        <span class="icon glyphicon glyphicon-ok-circle" ng-show="study.pstatus == 'REQUEST'"></span>
	        <span class="icon glyphicon glyphicon-ban-circle" ng-show="study.pstatus == 'MEMBER_REJECTED' || study.pstatus == 'RESEARCH_REJECTED'"></span>
	        <button ui-sref="^.studydetails({ studyId : study.study })" class="btn btn-small btn-default" ng-show="study.pstatus == 'MATCH'">apply</button>
	      </td>
	    </tr>
	  </tbody>
	</table>
	</div>
	<div class="section" ng-show="filteredStudies.length == 0">
	  <div class="extraspace"></div>
	  <span translate="flexiblestudies.empty"></span>	  
	</div>	
	 </div>
	 </loader>
</div>