/*
 * This file is part of the Open MIDATA Server.
 *
 * The Open MIDATA Server is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * The Open MIDATA Server is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
 */

.mi-or-mobile_menu {
	height: 100vh;
	width: 100%;
	overflow: hidden;

	whitespace: nowrap;

	.mi-mo-menu_header {
		position: relative;
		z-index: 1;
	}

	.mi-mo-main_menu_buttons {
		position: relative;
	}

	.mi-mo-menu_items_list {
		position: relative;
		left: 21px;
		top: 15px;
		/** 162px : header height
		 * 52px : flat buttons height
		 * 60px : footer height
		 * and added 50px more to truncate the last item
		 * so that user understands there is more below
		 */
		// TODO: account for possible variant without flat buttons?
		height: calc(100vh - 162px - 52px - 60px - 40px);

	}

	.mi-mo-menu_footer {
		bottom: 0;
	}
}
