
<div ng-controller="ContentEditorCtrl">
		
  <div class="panel panel-primary">
    <div class="panel-heading">Content Types Editor</div>
    <div class="body">
      <loader busy="status.isBusy !== false">
         <select ng-model="lang" ng-options="l for l in languages"></select>
         <button class="btn btn-primary" ng-click="newCode();">New Code</button>
         <button class="btn btn-primary" ng-click="addGroup();">New Group</button>
         <button class="btn btn-primary" ng-click="save();">Save Changes</button>
         <button class="btn btn-primary" ng-click="translate()">Translate</button>
         
         <script type="text/ng-template"  id="item_renderer.html">
         <div ng-repeat="group in groups | filter : { parent : fParent } | orderBy : 'name'">
           <h3 ng-style="getStyle(group)">{{ group.name }}, {{ group.label[lang] }} <span class="badge" style="background-color:red" ng-show="group.problem">{{ group.problem }}</span><small>{{ getParents(group.parent) }}</small><button class="btn btn-sm btn-default" ng-click="editGroup(group)">edit</button><button class="btn btn-sm btn-default" ng-click="deleteGroup(group)">delete</button></h3>
         <ul>
         <li ng-repeat="contentEntry in group.contentEntries | orderBy : 'content'">
           <b ng-style="getStyle(contentEntry)">{{ contentEntry.content }}</b>
           {{ contentEntry.label[lang] }}
           ({{ contentEntry.security }})	           
	       <button class="btn btn-sm btn-default" ng-click="addCode(contentEntry);">add</button>
	       <button class="btn btn-sm btn-default" ng-click="editContent(contentEntry);">edit</button>
	       <button class="btn btn-sm btn-default" ng-click="deleteContent(contentEntry);">delete</button>
	           
           <ul>
             <li ng-repeat="code in codes | filter : { content : contentEntry.content } : true | orderBy : 'code' ">
               {{ code.system }} {{ code.version }} : <b ng-style="getStyle(code)">{{ code.code }}</b> = {{ code.display }}
               <button class="btn btn-sm btn-default" ng-click="editCode(code);">edit</button>
               <button ng-disabled="isDefaultFor(code, contentEntry)" class="btn btn-sm btn-default" ng-click="makeDefaultCode(code, contentEntry);">default</button>
               <button class="btn btn-sm btn-default" ng-click="deleteCode(code);">delete</button>
             </li>
           </ul>
                    
         </li>
         </ul>
           <div style="margin-left:20px" ng-include="'item_renderer.html'" ng-init="fParent=group.name;"></div>
         </div>
         </script>
         <div ng-include="'item_renderer.html'" ng-init="fParent='all';"></div>
            
         <modal viewid="editCode">
            <div ng-controller="EditCodeCtrl">
              <form class="form-horizontal">
              <formrow myid="system" label="System">
                <input name="system" class="form-control" type="text" ng-model="code.system" >
              </formrow>
              <formrow myid="version" label="Version">
                <input name="version" class="form-control" type="text" ng-model="code.version" >
              </formrow>
              <formrow myid="code" label="Code">
                <input name="code" class="form-control" type="text" ng-model="code.code" >
              </formrow>
              <formrow myid="display" label="Display">
                 <input name="display" class="form-control" type="text" ng-model="code.display" >
              </formrow>
              <formrow myid="content" label="MIDATA Content">
                <input name="content" class="form-control" type="text" ng-model="code.content" >
              </formrow>
              <formrow myid="x" label="">
                <button class="btn btn-primary" ng-click="submit()">Submit</button>
              </formrow>
              </form>
            </div>
         </modal>
         
          <modal viewid="editContent">
            <div ng-controller="EditContentCtrl">
              <form class="form-horizontal">
                <formrow myid="content" label="MIDATA Content">
	             <input class="form-control" type="text" ng-model="contentEntry.content">
	           </formrow>
	           <formrow myid="label" label="Label">
	             <input class="form-control" type="text" ng-model="contentEntry.label[lang]">
	           </formrow>
	           <formrow myid="security" label="Security">
	             <select class="form-control" type="text" ng-model="contentEntry.security" ng-options="sec for sec in security"></select>
	           </formrow>
              <formrow myid="group" label="Group">
	             <select class="form-control" type="text" ng-model="contentEntry.group" ng-options="grp.name as grp.name for grp in groups | orderBy : 'name'"></select>
	           </formrow>
	           <formrow myid="resourceType" label="FHIR Resource Type">
	             <input  class="form-control" type="text" ng-model="contentEntry.resourceType">
	           </formrow>
	           <formrow myid="category" label="Category">
	             <select class="form-control" type="text" ng-model="contentEntry.category" ng-options="category for category in categories"></select>
	           </formrow>
	           <formrow myid="subType" label="Sub-Type">
	             <select class="form-control" type="text" ng-model="contentEntry.subType" ng-options="type for type in subTypes"></select>
	           </formrow>
	           <formrow myid="defaultUnit" label="Default Unit">
	             <input type="text" class="form-control" ng-model="contentEntry.defaultUnit">
	           </formrow>
	           <formrow myid="source" label="Source">
	             <input type="text" class="form-control" ng-model="contentEntry.source">
	           </formrow>
	           <formrow myid="x" label="">
	             <button class="btn btn-default" ng-click="submit()">Submit</button>
	             <button class="btn btn-default" ng-click="addGroup()">Add Group</button>
	           </formrow>
              </form>
            </div>
          </modal>
          
          <modal viewid="editGroup">
            <div ng-controller="EditGroupCtrl">
              <form class="form-horizontal">
                <formrow myid="name" label="Name">
	             <input class="form-control" type="text" ng-model="group.name">
	           </formrow>
	           <formrow myid="label" label="Label">
	             <input class="form-control" type="text" ng-model="group.label[lang]">
	           </formrow>
	           <formrow myid="parent" label="Parent">
	             <select class="form-control" type="text" ng-model="group.parent" ng-options="grp.name as grp.label[lang] for grp in groups | orderBy : 'label.en'"></select>
	           </formrow>
	           <formrow myid="system" label="Group System">
	             <input class="form-control" type="text" ng-model="group.system">
	           </formrow>
	           <formrow myid="x" label="">
	             <button class="btn btn-default" ng-click="submit()">Submit</button>
	           </formrow>
              </form>
            </div>
          </modal>
          
          <modal viewid="translate">
            <div ng-controller="TranslateCtrl" style="overflow:scroll;max-height:700px">
             <table class="table table-striped">
               <tr>
                 <th>Group</th>
                 <th>EN Label</th>
                 <th>Label</th>
               </tr>
               <tr ng-repeat="group in groups | orderBy : 'name'">
                 <td>{{ group.name }}</td>
                 <td>{{ group.label['en'] }}</td>
                 <td><input class="form-control" type="text" ng-change="changed(group)" ng-model="group.label[lang]"></td>
               </tr>
               <tr>
                 <th>Content</th>
                 <th>EN Label</th>
                 <th>Label</th>
               </tr>
                <tr ng-repeat="content in contents | orderBy : 'content'">
                 <td>{{ content.content }}</td>
                 <td>{{ content.label['en'] }}</td>
                 <td><input class="form-control" type="text" ng-change="changed(content)" ng-model="content.label[lang]"></td>
               </tr>
             </table>
              <button class="btn btn-default" ng-click="submit()">Submit</button>
            </div>
          </modal>
      </loader>		
    </div>
  </div>		

		  	
</div>
	