<!--
 This file is part of the Open MIDATA Server.
 
 The Open MIDATA Server is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Server is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA Server.  If not, see <http://www.gnu.org/licenses/>.
-->


<div ng-controller="AdminTermsCtrl">
		
 	<div class="panel panel-primary">
		<div class="panel-heading" translate="admin_terms.title">Terms</div>
		<div class="body">
      <loader busy="status.isBusy !== false">
      <form class="form-horizontal">
      <formrow myid="name" label="admin_terms.restrict_name">
        <input type="text" class="form-control" ng-model="filter.name">
      </formrow>
      </form>
      
      <table class="table" ng-show="terms.length > 0">
        <tr>
          <th translate="admin_terms.name"></th>
          <th translate="admin_terms.version"></th>
          <th translate="admin_terms.language"></th>
          <th translate="admin_terms.createdAt"></th>  
          <th></th>        
        </tr>
        <tbody ng-repeat="byname in terms | filter : byName">
         <tr ng-repeat="byversion in byname">
           <td><span ng-show="$first">{{ byversion[0].name }}</span></td>
           <td>{{ byversion[0].version }}</td>
           <td>
             <span ng-repeat="term in byversion">
               <a ui-sref="^.terms({ which : name(term), lang : term.language })">{{ term.language }}</a>
             </span>
           </td>
           <td>{{ byversion[0].createdAt | date : 'dd.MM.yy' }}</td>
         </tr>
        </tbody>         
      </table>
      <p ng-show="terms.length == 0" translate="admin_terms.empty"></p>
      
      <a class="btn btn-primary" translate="common.add_btn" ui-sref="^.newterms"></a> 
            
      </loader>		
    </div>
  </div>		

		  	
</div>
	