<!--
 This file is part of the Open MIDATA Platform.
 
 The Open MIDATA platform is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 any later version.
 
 The Open MIDATA Platform is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with the Open MIDATA platform.  If not, see <http://www.gnu.org/licenses/>.
-->


	<div  ng-controller="ManageNewsCtrl">
		
		<div class="panel panel-primary">
		<div class="panel-heading">
		  	<p ng-hide="newsItem._id" translate="admin_managenews.title1"></p>
			<p ng-show="newsItem._id" translate="admin_managenews.title2"></p>
		</div>
		<div class="body">
		
		<form class="form-horizontal" ng-submit="updateNews()">
		  <formrow myid="title" label="admin_managenews.title">
		    <input type="text" id="title" class="form-control" ng-model="newsItem.title" autofocus>
		  </formrow>
		  
		  <formrow myid="date" label="admin_managenews.date">
		      <div class="input-group">
				  <input type="text" id="date" is-open="datePickers.dateOpened" no-time datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="dd.MM.yyyy" class="form-control" autofocus ng-model="newsItem.date">
				  <span class="input-group-append">
                      <button type="button" class="btn btn-default" ng-click="datePickers.dateOpened=true;"><i class="fas fa-calendar"></i></button>
                  </span>
               </div>				  		  
		  </formrow>
		
		  <formrow myid="language" label="admin_managenews.language">
		    <select id="language" class="form-control" ng-model="newsItem.language" ng-options="lang for lang in languages"></select>		    
		  </formrow>
		
		  <formrow myid="content" label="admin_managenews.content">
		    <textarea rows="5" id="content" class="form-control" ng-model="newsItem.content"></textarea>
		  </formrow>
		  
		  <formrow myid="url" label="admin_managenews.url">
		    <input type="text" id="url" class="form-control" ng-model="newsItem.url">
		  </formrow>
		  
		  <hr>
		  
		  <formrow myid="expires" label="admin_managenews.expires">
		      <div class="input-group">
				  <input type="text" id="date" is-open="datePickers.expiresOpened" no-time datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="dd.MM.yyyy" class="form-control" placeholder="Date" autofocus ng-model="newsItem.expires">
				  <span class="input-group-append">
                      <button type="button" class="btn btn-default" ng-click="datePickers.expiresOpened=true;"><i class="fas fa-calendar"></i></button>
                  </span>
               </div>				  		  
		  </formrow>
		  
		  <formrow myid="layout" label="admin_managenews.layout">
		    <select id="layout" class="form-control" ng-model="newsItem.layout" ng-options="layout as ('admin_managenews.layouts.'+layout) | translate for layout in layouts"></select>		    
		  </formrow>
		  
		  <formrow myid="study" label="admin_managenews.studyId">
	          <div class="row">
	             <div class="col-sm-3">
	               <input type="text" class="form-control" ng-change="studyselection(selection.study, 'studyId');" autocomplete="off" typeahead-on-select="studyselection(selection.study, 'studyId')" ng-model-options="{ debounce: 500 }" ng-model="selection.study.code" uib-typeahead="study.code for study in studies | filter:$viewValue | limitTo:8">
	             </div>
	             <div class="col-sm-9">
	                 <p class="form-control-plaintext">{{ selection.study.name }}</p>
	             </div>
	          </div>
	      </formrow> 	  
		
		<formrow myid="appId" label="admin_managenews.appId">
	          <div class="row">
	             <div class="col-sm-3">
	               <input type="text" class="form-control" ng-change="appselection(selection.app, 'appId');" autocomplete="off" typeahead-on-select="appselection(selection.app, 'appId')" ng-model-options="{ debounce: 500 }" ng-model="selection.app.filename" uib-typeahead="app.filename for app in apps | filter:$viewValue | limitTo:8">
	             </div>
	             <div class="col-sm-9">
	                 <p class="form-control-plaintext">{{ selection.app.name }} {{ selection.app.orgName }}</p>
	             </div>
	          </div>
	      </formrow> 	
		
		<!-- 
		  <formrow myid="onlyParticipantsStudyId" label="admin_managenews.onlyParticipantsStudyId">
	          <div class="row">
	             <div class="col-sm-3">
	               <input type="text" class="form-control" ng-change="studyselection(selection.onlyStudy, 'onlyParticipantsStudyId');" autocomplete="off" typeahead-on-select="studyselection(selection.onlyStudy, 'onlyParticipantsStudyId')" ng-model-options="{ debounce: 500 }" ng-model="selection.onlyStudy.code" uib-typeahead="study.code for study in studies | filter:$viewValue | limitTo:8">
	             </div>
	             <div class="col-sm-9">
	                 <p class="form-control-plaintext">{{ selection.onlyStudy.name }}</p>
	             </div>
	          </div>
	      </formrow> 	  
		
		<formrow myid="onlyUsersOfAppId" label="admin_managenews.onlyUsersOfAppId">
	          <div class="row">
	             <div class="col-sm-3">
	               <input type="text" class="form-control" ng-change="appselection(selection.onlyApp, 'onlyUsersOfAppId');" autocomplete="off" typeahead-on-select="appselection(selection.onlyApp, 'onlyUsersOfAppId')" ng-model-options="{ debounce: 500 }" ng-model="selection.onlyApp.filename" uib-typeahead="app.filename for app in apps | filter:$viewValue | limitTo:8">
	             </div>
	             <div class="col-sm-9">
	                 <p class="form-control-plaintext">{{ selection.onlyApp.name }} {{ selection.onlyApp.orgName }}</p>
	             </div>
	          </div>
	      </formrow> 	
		-->
		  <formrow myid="x" label="">
		    <button type="submit" ng-disabled="status.action=='submit'" class="btn btn-primary" translate="common.submit_btn"></button>		    
		    <button type="button" class="btn btn-danger" ng-show="allowDelete" ng-click="doDelete()" ng-disabled="status.action=='delete'" translate="common.delete_btn"></button>
		  </formrow>
	     </form>	  
		  
		
	</div>
	</div></div>