<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Import Nokia Health Data</title>

	<!-- build:css assets/app.min.css -->
	<link rel="stylesheet" href="components/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="components/midata/css/app.css">
	<!-- endbuild -->

	<!-- build:js assets/app.min.js -->
	<script type="text/javascript" src="components/angular/angular.js" defer></script>
	<script type="text/javascript" src="components/angular-translate/angular-translate.js" defer></script>
	<script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.js" defer></script>
	<script type="text/javascript" src="components/midata/js/midata.js" defer></script>
	<script type="text/javascript" src="i18n.js" defer></script>
	<!--<script type="text/javascript" src="helpers.js" defer></script>-->
	<script type="text/javascript" src="definitions.js" defer></script>
	<script type="text/javascript" src="app.js" defer></script>
	<script type="text/javascript" src="controller.js" defer></script>
	<!-- endbuild -->
</head>

<body>
	<!--
	<div ng-app="nokiaHealth" ng-controller="ImportController" ng-cloak class="container">
		<h2 translate="{{ worldVar }}"></h2>
		<button ng-click="startImport()" class="btn btn-primary" translate="start_import"></button>
		<button ng-click="testImport()" class="btn btn-primary" translate="test_import"></button>
		<div class="extraspace"></div>
		<p ng-show="status" class="alert alert-info">{{ status }}</p>
	</div>-->

	<div ng-app="nokiaHealth" ng-controller="ImportController" ng-cloak>
		<div class="container">
			<p class="lead" translate="title"></p>

			<hr>
			<!--
			<div class="row">
				<span class="col-sm-3" translate="account"></span><span><b>{{ importer.user.fullName }}</b></</span>
			</div>
			<div class="row">
				<span class="col-sm-3" translate="member_since"></span><span><b>{{ importer.user.memberSince | date }}</b></span>
			</div>-->
			<hr>
			<p translate="which_measurements"></p>
			<form class="form">
				<table class="table">
					<tr>
						<th translate="measurement"></th>
						<th translate="imported"></th>
						<th translate="from_date"></th>
						<!--<th translate="to_date"></th>-->
					</tr>
					<tr ng-repeat="measurement in importer.allMeasureTypes"> <!--ng-class="{ 'success' : measurement.from > measurement.to }">-->
						<td>
							<div class="checkbox">
								<label><input type="checkbox" ng-model="measurement.import"><span translate="{{ measurement.id }}"></span></label>
							</div>
						</td>
						<td>
							{{ measurement.imported }}
						</td>
						<td>
							{{ measurement.from | date }}
						</td>
						<!--<td>
							{{ measurement.to | date }}
						</td>-->
					</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" ng-model="importer.autoimport"><span translate="autoimport"></span></label>
							</div>
						</td>
						<td colspan="3"></td>
					</tr>
				</table>
		<button ng-click="Import()" class="btn btn-primary" translate="import_now"></button>
			</form>
			<hr>
			<div class="alert alert-danger alert-dismissable" ng-show="importer.error.message || importer.error.messages.length">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{importer.error.message}}</p>
				<ul>
					<li ng-repeat="err in importer.error.messages">{{err}}</li>
				</ul>
			</div>
			<p ng-show="importer.status" class="alert alert-info" translate="{{importer.status}}"></p>
			<!--<p ng-show="!importer.requesting" class="alert alert-info" translate="done"></p>
			<p ng-show="importer.requesting" class="alert alert-info" translate="importing"></p>-->

			<div ng-show="importer.saving" class="progress">
				<div class="progress-bar" role="progressbar" ng-style="progress()">
					<span class="sr-only"></span>
				</div>
			</div>
			<p ng-show="importer.saving" translate="progress" translate-value-requested="{{importer.requested}}" translate-value-saved="{{importer.saved}}">
			</p>
		</div>
	</div>
</body>

</html>
