
	<div ng-app="details" ng-controller="VisualizationCtrl">
		<div class="page-header">
			<h1>Market <small>Visualizations</small></h1>
		</div>
		
		<div ng-cloak class="panel panel-primary">
		  <div class="panel-body">
			<div class="alert alert-danger alert-dismissable" ng-show="error">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>{{error}}</p>
			</div>
			<div class="alert alert-success alert-dismissable" ng-show="success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p>You have successfully installed a new visualization. Go to your <a href="@routes.Spaces.index()">spaces</a> now to take a look.</p>
			</div>
			
			<p class="lead">{{visualization.name}}</p>
			<div class="row">
				<p class="col-xs-2">Created by:</p>
				<p class="col-xs-10">{{visualization.creator}}</p>
			</div>
			<div class="row">
				<p class="col-xs-2">Description:</p>
				<p class="col-xs-10">{{visualization.description}}</p>
			</div>
		
			<div class="row">
			    <p class="col-xs-2">Tile Name:</p>
			    <p class="col-xs-10">			      
			      <input type="text" ng-model="options.spaceName" />			
                </p>			    			        
			</div>
			<div class="row">
			    <p class="col-xs-2">Location:</p>
			    <p class="col-xs-10">			      
			      <input type="text" ng-model="options.context" />			
                </p>			    			        
			</div>
			<div ng-if="options.query" class="row">
			    <p class="col-xs-2"></p>
			    <div class="col-xs-10">
			      <label>
			        <input type="checkbox" ng-model="options.applyRules">
			        Grant this visualization access to: 
			      </label>
			      <div class="alert alert-info">
			      <ul>
			        <li ng-repeat="(rule, params) in options.query">
			          <span ng-if="rule == 'format'">Records that have format:
			            <ul>
			              <li ng-repeat="format in params">{{ format }}</li>
			            </ul> 
			          </span>
			          <span ng-if="rule == 'group'">Records that belong to group:
			            <ul>
			              <li ng-repeat="group in params">{{ group }}</li>
			            </ul> 
			          </span>
			        </li>
			      </ul>		
			      </div>
                </div>
			</div>
					
			<button type="button" class="btn btn-primary" ng-click="install()">Add Visualization</button>
			<button type="button" class="btn btn-default" ng-show="visualization.installed" ng-click="uninstall()">Uninstall Visualization</button>
			</div>
		</div>
	</div>
	
	<!-- Load details controller -->
	<script type="text/javascript" src="@routes.Assets.at("javascripts/details.js")" defer></script>