<div class="ignore autosize" ng-controller="FlexibleRecordListCtrl">
    <div class="body body-center text-center" ng-show="status.isBusy">Please wait...</div>
    <div ng-show="records.length" class="body">{{ records.length }} Records available:</div>
    <div class="body text-center" ng-show="!status.isBusy && records.length == 0">Empty</div>
    <p ng-hide="status.isBusy || records.length" class="body teaser">{{ view.teaser }}</p>
    <ul class="list-group" ng-show="!status.isBusy && records.length > 0">
		<li class="list-group-item rotate truncate" ng-repeat="record in records | limitTo : limit">
		    <div class="pull-right" ng-if="view.setup.allowRemove">
			   <button type="button" class="btn btn-xs btn-danger" ng-click="removeRecord(record)">
				  <span class="glyphicon glyphicon-remove"></span>
			   </button>
			</div>	
		    <input type="checkbox" ng-model="record.marked" ng-if="view.setup.allowShare"/>
			<span class="label label-info">{{record.created | date }}</span>
			<span ng-show="record.owner.$oid != userId.$oid" class="label label-info">{{ record.ownerName }}</span>
			<span ng-show="record.creator.$oid != userId.$oid && record.creatorName" class="label label-info">by {{ record.creatorName }}</span>			
			<a href="javascript:;" ng-click="showDetails(record)">{{record.name}}</a>
												
		</li>
	</ul>
	
	<div class="footer" ng-if="view.setup.allowBrowse || view.setup.allowAdd || view.setup.allowShare">
	<a href="/members/records" ng-if="view.setup.allowBrowse" class="btn btn-default">Browse Records</a>
	<button ng-click="addRecords()" ng-if="view.setup.allowAdd" class="btn btn-primary">Add Records...</button>
	<button ng-click="shareRecords()" ng-if="view.setup.allowShare" class="btn btn-primary">Share</button>
	</div>
</div>