<div ng-controller="ShowSpaceCtrl" class="ignore">        

  <div class="body" ng-show="status.isBusy">Please wait...</div>
  <div class="ignore" ng-hide="showspace">
	  <div class="body" ng-show="!status.isBusy && spaces.length == 0">You do not have any spaces.</div>
	  
	  <ul class="list-group" ng-show="!status.isBusy && spaces.length > 0">
		<li class="list-group-item" ng-repeat="space in spaces">					
		   <a href="javascript:;" ng-click="selectSpace(space._id.$oid, space.name)">{{space.name}}</a>										
	  	</li>
	  </ul>
  </div>
  
  <div ng-if="showspace" class="body"><div class="wrap"><iframe class="frame" ng-src="{{url}}" ng-cloak></iframe></div></div>	 
  
  <div ng-show="showspace && view.setup.allowSelection" class="body"><button class="btn btn-default" ng-click="showSpaceList()">Back to list</button></div>

</div>