<div ng-controller="SpaceSummaryCtrl" class="ignore autosize">        

  <div class="body" ng-show="status.isBusy">Please wait...</div>
 
  <div ng-show="!status.isBusy && !url" class="body">
     <div class="text-center lead"><span class="bignumber">{{ count }}</span> Records to view.</div> 
     <div ng-show="last" class="text-center">Last entry at <b>{{ last | date }}</b>.</div>
     <div class="extraspace"></div>     
  </div>
  
  <div ng-if="url" class="body"><div class="preview"><iframe class="frame" ng-src="{{url}}" ng-cloak></iframe></div></div>

  <div class="footer text-center"> 
      <button ng-show="view.setup.appId" class="btn btn-default" ng-click="showCreate()">Add</button>
      <button class="btn btn-default" ng-click="showSpace()">View</button>
  </div>
</div>