<div ng-controller="AnswerCtrl" class="container" ng-cloak>
         
           
   <script type="text/ng-template"  id="display_head.html">
     <span class="display">
      <span class="prefix">{{ item.prefix }}</span>
      <span class="display_text">
        {{ item.text }}
      </span>
     </span>
   </script>
   <script type="text/ng-template"  id="display_body.html">
     <p></p>
   </script>
   <script type="text/ng-template"  id="string_body.html">
      <input class="form-control" type="text" ng-model="item._answer" ng-required="item.required">
   </script>
   <script type="text/ng-template"  id="decimal_body.html">
      <input class="form-control" type="text" ng-model="item._answer" ng-required="item.required">
   </script>
   <script type="text/ng-template"  id="integer_body.html">
      <input class="form-control" type="text" ng-model="item._answer" ng-pattern="onlyNumbers" ng-required="item.required">
   </script>   
   <script type="text/ng-template"  id="date_body.html">
      <div class="input-group">
		<input type="text" is-open="question.dateOpened" datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="dd.MM.yyyy" class="form-control" placeholder="Date" autofocus ng-model="item._answer" ng-required="item.required">
		<span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="question.dateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>	
   </script>
   <script type="text/ng-template"  id="text_body.html">
      <textarea class="form-control" ng-model="item._answer" ng-required="item.required"></textarea>
   </script>
   <script type="text/ng-template"  id="choice_body.html">
    
      <div ng-if="!item.repeats">
          <div class="radio" ng-repeat="choice in item.option">
		     <label >
			       <input type="radio" ng-value="choice.valueCoding" ng-model="item._answer" ng-required="item.required">
			       {{ choice.valueCoding.display }}					        
		     </label>					     			
		  </div>		
      </div>
      <div ng-if="item.repeats">
         <div class="radio" ng-repeat="choice in item.option">
	        <label >
		       <input type="checkbox" ng-model="choice._dummy" ng-checked="isChecked(item, choice)" ng-change="changeChecked(item, choice)">
		       {{ choice.valueCoding.display }}					       
		    </label>			
		 </div>		
      </div>
   </script>
   <script type="text/ng-template"  id="open-choice_body.html">
     
     <div ng-if="!item.repeats">
        <div class="radio" ng-repeat="choice in item.option">
	      <label >
	       <input type="radio" ng-value="choice.valueCoding" ng-model="item._answer" ng-required="item.required">
		       {{ choice.valueCoding.display }}					        
	      </label>					     			
	    </div>	
        <div class="radio">
	      <label >
	       <input type="radio" ng-value="item._answerStr" ng-model="item._answer" ng-required="item.required">
		   <input type="text" class="form-control" ng-model="item._answerStr.valueString" >					        
	      </label>					     			
	    </div>	
     </div>
     <div ng-if="item.repeats">
       <div class="checkbox" ng-repeat="choice in item.option">
	     <label >
	       <input type="checkbox" ng-model="choice._dummy" ng-checked="isChecked(item, choice)" ng-change="changeChecked(item, choice)">
	       {{ choice.valueCoding.display }}					       
	     </label>			
	   </div>		
        <div class="checkbox">
	     <label >
	       <input type="checkbox" ng-model="choice._dummy" ng-checked="isChecked(item, item._answerStr)" ng-change="changeChecked(item, item._answerStr)">
	       <input type="text" class="form-control" ng-model="item._answerStr.valueString" >					       
	     </label>			
	   </div>
    </div>
   </script>
   <script type="text/ng-template"  id="boolean_body.html">
      <div class="radio">
		<label>
		  <input type="radio" value="true" ng-model="item._answer" ng-required="item.required">
	       Yes
		</label>
	  </div>
	  <div class="radio">
		<label>
		  <input type="radio" value="false" ng-model="item._answer" ng-required="item.required">
 	       No
  	    </label>			
	  </div>		    
  </script>
  
  <script type="text/ng-template"  id="group_body.html">
    <p></p>
    <div ng-repeat="item in item.item" class="form-group">    
       <label for="{{ item._id }}" class="control-label" ng-include="getHeadTemplate(item)"></label>                     
       <div ng-include="getBodyTemplate(item)"></div>     
    </div>    
   
  </script>
   
  <div class="pull-left">
	 <a href="javascript:" ng-click="prev();" translate="back">Back</a>
  </div>
  <div class="pull-right">
	 <a href="javascript:" ng-click="cancel()" translate="cancel">Cancel</a>
  </div>
  <p class="text-center">Page {{ (page + 1) }}</p>	 
   
  <form novalidate class="form" ng-submit="next()" name="form" ng-class="{ 'submitted' : submitted }"> 
  <div ng-include="getHeadTemplate(item)"></div>
  <div ng-include="getBodyTemplate(item)"></div>     
 
  <div class="extraspace"></div>
  <button class="btn btn-primary" type="submit" translate="next">next</button>
  <button class="btn btn-default" type="button" ng-hide="item.required" ng-click="skip()" translate="skip">skip</button>
   </form>      
</div>