<div ng-controller="PreviewSurveyCtrl" class="container" ng-cloak>
   <button class="btn btn-primary" ng-click="save()">Save and Exit</button>
   <button class="btn btn-default" ng-click="editHeader()">Edit Header</button>
   <button class="btn btn-default" ng-click="cancel()">Cancel</button>
         
   <script type="text/ng-template"  id="edit.html">
     <button class="btn btn-default btn-sm" ng-click="edit(item);" type="button">edit</button>
     <button class="btn btn-default btn-sm" ng-click="add(item._parent, $index)">insert before</button> 
     <button class="btn btn-default btn-sm" ng-click="delete(item);" type="button">delete</button>
   </script>
         
   <script type="text/ng-template"  id="display_head.html">
     <span class="display" uib-popover-template="'edit.html'" popover-trigger="outsideClick" >
      <span class="prefix">{{ item.prefix }}</span>
      <span class="display_text">
        {{ item.text }}
      </span>
     </span>
   </script>
   <script type="text/ng-template"  id="display_body.html">
   </script>
   <script type="text/ng-template"  id="string_body.html">
      <input class="form-control" type="text">
   </script>
   <script type="text/ng-template"  id="decimal_body.html">
      <input class="form-control" type="text">
   </script>
   <script type="text/ng-template"  id="integer_body.html">
      <input class="form-control" type="text">
   </script>   
   <script type="text/ng-template"  id="date_body.html">
      <div class="input-group">
		<input type="text" is-open="question.dateOpened" datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="dd.MM.yyyy" class="form-control" placeholder="Date" autofocus ng-model="question.rQuestion.answer[0].valueDate">
		<span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="question.dateOpened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>	
   </script>
   <script type="text/ng-template"  id="text_body.html">
      <textarea class="form-control"></textarea>
   </script>
   <script type="text/ng-template"  id="choice_body.html">
      <div ng-if="!item.repeats">
          <div class="radio" ng-repeat="choice in item.option">
		     <label >
			       <input type="radio" ng-value="choice">
			       {{ choice.valueCoding.display }}					        
		     </label>					     			
		  </div>		
      </div>
      <div ng-if="item.repeats">
         <div class="radio" ng-repeat="choice in item.option">
	        <label >
		       <input type="checkbox" >
		       {{ choice.valueCoding.display }}					       
		    </label>			
		 </div>		
      </div>
   </script>
   <script type="text/ng-template"  id="open-choice_body.html">
     <div ng-if="!item.repeats">
        <div class="radio" ng-repeat="choice in item.option">
	      <label >
	       <input type="radio" ng-value="choice">
		       {{ choice.valueCoding.display }}					        
	      </label>					     			
	    </div>		
     </div>
     <div ng-if="item.repeats">
       <div class="radio" ng-repeat="item.option">
	     <label >
	       <input type="checkbox" >
	       {{ choice.valueCoding.display }}					       
	     </label>			
	   </div>		
    </div>
   </script>
   <script type="text/ng-template"  id="boolean_body.html">
      <div class="radio">
		<label>
		  <input type="radio" value="true" >
	       Yes
		</label>
	  </div>
	  <div class="radio">
		<label>
		  <input type="radio" value="false">
 	       No
  	    </label>			
	  </div>		    
  </script>
  
  <script type="text/ng-template"  id="group_body.html">
    <form class="form">
    <div ng-repeat="item in item.item" class="form-group">    
       <label for="{{ item._id }}" class="control-label" ng-include="getHeadTemplate(item)"></label>                     
       <div ng-include="getBodyTemplate(item)"></div>     
    </div>
    <button class="btn btn-default btn-xs" ng-click="add(item)">add to page</button>
    </form>
  </script>
   
   
   <div ng-repeat="item in items">
     <hr><span class="pagenr"><span translate="page"></span> {{ ($index + 1) }}</span>
         
     <div ng-include="getHeadTemplate(item)"></div>
     <div ng-include="getBodyTemplate(item)"></div>     
   </div>
   
   <hr>
   <button class="btn btn-default btn-xs" ng-click="add()">add page</button>
</div>