<div ng-controller="ShareCtrl">
<div class="body autosize">
   <p>Do you want to share all records that are created with this plugin with a consent?</p>
   
   <div class="form-group">
     <label for="consent">Consent:</label>
     <select id="consent" class="form-control" ng-model="selectedConsent" ng-options="consent.name for consent in consents"></select>
   </div>
   
    <div ng-show="selectedConsent.isNew" class="form-group" ng-class="{'has-error has-feedback': errors.newCircleName}">
	   
	   <div class="input-group" >
          <input type="text" class="form-control" ng-model="form.newCircleName" placeholder="Circle Name">          
          <span class="input-group-btn">
             <button ng-click="createCircle()" class="btn btn-default" type="button">Add</button>
          </span>          
       </div>       
       	   
	</div>
	
	<div ng-show="success" class="alert alert-success">Data has been shared.</div>
</div>
<div class="footer">
	<button type="submit" ng-disabled="selectedConsent.isNew || success" class="btn btn-primary" ng-click="share()">Share</button>
	<a class="btn btn-default" ng-show="success" ui-sref="^.circles({ circleId : selectedConsent._id })">Manage Consent</a>
	<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
</div>