<div class="container" ng-controller="QueryCtrl" ng-cloak>
   <div >
		   
		   
		   <h3>Query {{ makeLabel(resourceType) }}</h3>

<label>Query:</label>		   
		   <pre>
/fhir/{{resourceType}}{{queryStr}}
		   </pre>
		   
		   <button class="btn btn-primary" ng-click="runQuery()">Run Query</button>
		   <div class="extraspace"></div>
		   
<script type="text/ng-template"  id="query-string.html">
   <div class="row">
   <div ng-if="def.modifier" class="col-xs-2">
     <select class="form-control" ng-model="access.modifier" ng-options="x for x in def.modifier"></select>
   </div>
   <div ng-if="def.comparator" class="col-xs-2">
     <select class="form-control" ng-model="access.comparator" ng-options="x for x in def.comparator"></select>
   </div>
   <div class="col-xs-8">
     <input type="text" class="form-control" ng-change="change()" ng-model="access.value"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
   </div>                         
</script>

<script type="text/ng-template"  id="query-quantity.html">
   <div class="row">
   <div ng-if="def.modifier" class="col-xs-2">
     <select class="form-control" ng-model="access.modifier" ng-options="x for x in def.modifier"></select>
   </div>
   <div ng-if="def.comparator" class="col-xs-2">
     <select class="form-control" ng-model="access.comparator" ng-options="x for x in def.comparator"></select>
   </div>
   <div class="col-xs-2">
     <input placeholder="value" type="text" class="form-control" ng-change="change()" ng-model="access.value"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
    <div class="col-xs-3">
     <input placeholder="unit system" type="text" class="form-control" ng-change="change()" ng-model="access.unitsystem"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
   <div class="col-xs-3">
     <input placeholder="unit code" type="text" class="form-control" ng-change="change()" ng-model="access.unit"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
   </div>                         
</script>

<script type="text/ng-template"  id="query-token.html">
   <div class="row">
   <div ng-if="def.modifier" class="col-xs-2">
     <select class="form-control" ng-model="access.modifier" ng-options="x for x in def.modifier"></select>
   </div>
   <div ng-if="def.comparator" class="col-xs-2">
     <select class="form-control" ng-model="access.comparator" ng-options="x for x in def.comparator"></select>
   </div>
   <div class="col-xs-4">
     <input placeholder="system" type="text" class="form-control" ng-change="change()" ng-model="access.system"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
   <div class="col-xs-4">
     <input placeholder="value" type="text" class="form-control" ng-change="change()" ng-model="access.value"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
   </div>                         
</script>

<script type="text/ng-template"  id="query-reference.html">
   <div class="row">
   <div class="form-control" ng-if="def.modifier" class="col-xs-2">
     <select ng-model="access.modifier" ng-options="x for x in def.modifier"></select>
   </div>
   <div class="form-control" ng-if="def.comparator" class="col-xs-2">
     <select ng-model="access.comparator" ng-options="x for x in def.comparator"></select>
   </div>
   <div class="col-xs-4">
     <input placeholder="chain (optional)" type="text" class="form-control" ng-change="change()" ng-model="access.chain"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
   <div class="col-xs-4">
     <input placeholder="target" type="text" class="form-control" ng-change="change()" ng-model="access.value"  popover-placement="auto top" popover-trigger="'mouseenter'" popover-title="{{ def.description }}" uib-popover="{{ def.code }}">
   </div>
   </div>                         
</script>
		   
		   
		   <label>Edit Query Parameters:</label>
		    <form class="form-horizontal">
		       <div ng-repeat="(key,val) in editQuery" class="row">
		            <label class="col-sm-2 control-label">{{ key }}</label>
		            <div class="col-sm-10">
		              <div ng-include="getTemplate(val.def)" ng-init="access=val;def=val.def"></div>
		            </div>                 
		       </div>		    
		       
		     </form>
		   
		   <div class="extraspace"></div>  
		     <label>Add Query Parameter:</label>
		     <table class="table">
		       <tr ng-repeat="res in searches | orderBy : 'code'">
		         
		         <td><a href="javascript:"  uib-popover="{{ res.description }}" popover-title="{{ res.code }}" popover-trigger="'mouseenter'" popover-placement="auto top-left" ng-click="addToQuery(res)">{{ res.code }}</a></td>
		         <td>{{ res.type }}</td>
		         <td>{{ res.description }}</td>
		         </tr>
		     </table>
		   
		   		  
		   </div>     
		    
</div>