<div class="container" ng-controller="ResourcesCtrl" ng-cloak>
   
		     <h3>Select a resource to edit</h3>
		     <div class="list-group">
		       <a class="list-group-item" ng-repeat="(id, res) in pool" href="javascript:" ng-click="editResource(id)">
		         <h4>{{ makeHRName(res) }}</h4>		         
		         <p class="list-group-item-text">{{ makeLabel(res.resourceType) }}</p>
		       </a>
		     </div>
		     
		     <pre>
{{ transaction | json }}
		     </pre>
		     
    <button class="btn btn-primary" ng-click="saveAllModified()">Save</button>		     	
	<a href="javascript:" ui-sref="list" class="btn btn-primary">Create New</a>   
</div>